<form class="well filter-form qiResults-outgoingQualityReport-filter">
  <div class="form-group">
    <label for="<%- idPrefix %>-week"><%- helpers.t('report:oql:week') %></label>
    <input id="<%- idPrefix %>-week" name="week" class="form-control" type="text" autocomplete="new-password" style="width: 100px">
  </div>
  <div class="form-group filter-actions">
    <button type="submit" class="btn btn-default"><i class="fa fa-filter"></i><span><%- t('reports', 'filter:submit') %></span></button>
  </div>
</form>
