<div class="panel panel-<%- panelType %> mechOrders-details">
  <div class="panel-heading"><%- panelTitle %></div>
  <div class="panel-details">
    <%- helpers.props(model, [
      {id: '_id', value: function() { return model._id || model.nc12; }},
      'name',
      'materialNorm',
      'mrp',
      'importTs'
    ]) %>
  </div>
</div>
