<div>
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitle %></div>
    <div class="panel-details">
      <%- helpers.props(model, [
        'date',
        'workplace',
        'department',
        '!leader',
        'shift',
        {id: '!members', value: members =>
        {
          if (!members.length)
          {
            return '';
          }

          if (members.length === 1)
          {
            return members[0];
          }

          let html = '<ul>';

          members.forEach(u => html += `<li>${u}`);

          return `${html}</ul>`;
        }}
      ]) %>
    </div>
  </div>
</div>
