<div class="panel panel-primary">
  <div class="panel-heading"><%- panelTitle %></div>
  <div class="panel-details">
    <%- helpers.props(model, [
      'name',
      'label',
      'tags',
      {id: '!special', value: model.special ? ('<pre><code>' + _.escape(model.special) + '</code></pre>') : ''}
    ]) %>
  </div>
</div>
