<div class="panel panel-primary">
  <div class="panel-heading"><%- panelTitle %></div>
  <div class="panel-details">
    <%- helpers.props(model, [
      {id: '_id', className: 'licenses-id'},
      {id: 'appId', className: 'licenses-id'},
      'appName',
      'appVersion',
      'date',
      'expireDate',
      'licensee',
      '!features',
      {id: '!key', value: function(key) { return '<pre>' + key + '</pre>'; }}
    ]) %>
  </div>
</div>
