<tr data-id="<%- id %>">
  <td class="is-number"><%- no %>.</td>
  <td><%= answer %></td>
  <td class="actions">
    <button type="button" class="btn btn-default" data-action="up"><i class="fa fa-arrow-up"></i></button>
    <button type="button" class="btn btn-default" data-action="down"><i class="fa fa-arrow-down"></i></button>
    <button type="button" class="btn btn-default" data-action="remove"><i class="fa fa-remove"></i></button>
  </td>
</tr>
