<div class="panel panel-primary">
  <div class="panel-heading">
    <%- t('xiconfComponentWeights', 'PANEL:TITLE:details') %>
  </div>
  <div class="panel-details">
    <div class="props first">
      <% ['nc12', 'description', 'weight'].forEach(function(k) { %>
      <div class="prop">
        <div class="prop-name"><%- t('xiconfComponentWeights', 'PROPERTY:' + k) %></div>
        <div class="prop-value"><%= model[k] || '-' %></div>
      </div>
      <% }) %>
    </div>
  </div>
</div>

