<div class="panel panel-default">
  <div class="panel-heading is-with-actions">
    <span class="panel-heading-title"></span>
    <% include _stationPanelActions.ejs %>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <label for="<%- idPrefix %>-lampIp" class="control-label is-required"><%- helpers.t('PROPERTY:stations:lampIp') %></label>
      <input id="<%- idPrefix %>-lampIp" class="form-control" type="text" name="stations[<%- stationIndex %>].lampIp" required style="width: 150px">
    </div>
  </div>
</div>
