<div class="form-group">
  <label for="<%- idPrefix %>-lampControllerIp" class="control-label"><%- helpers.t('PROPERTY:common:lampControllerIp') %></label>
  <input id="<%- idPrefix %>-lampControllerIp" class="form-control" type="text" name="common.lampControllerIp" style="width: 150px">
</div>
