<div>
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitle %></div>
    <div class="panel-details">
      <%- helpers.props(model, [
        '_id',
        'active',
        'type',
        'stationCount',
        {
          id: 'common:lampControllerIp',
          value: model.common.lampControllerIp,
          visible: type === 'inveo' || type === 'balluff'
        }
      ]) %>
    </div>
  </div>
  <% model.stations.forEach(function(station, stationIndex) { %>
  <% if (type === 'inveo') { %>
  <% include inveo/details.ejs %>
  <% } else if (type === 'luma2') { %>
  <% include luma2/details.ejs %>
  <% } else if (type === 'balluff') { %>
  <% include balluff/details.ejs %>
  <% } %>
  <% }) %>
</div>
