<form id="<%- idPrefix %>-corroborate" class="prodDowntimes-corroborate" method="post">
  <div class="form-group">
    <label for="<%- idPrefix %>-comment" class="control-label"><%- t('prodDowntimes', 'corroborate:comment') %></label>
    <textarea id="<%- idPrefix %>-comment" class="form-control prodDowntimes-corroborate-comment" name="comment" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary"></button>
</form>
