<div>
  <% include detailsProps.ejs %>
  <div id="<%- idPrefix %>-history" class="panel panel-default prodDowntimes-history">
    <div class="panel-heading"><%- helpers.t('PANEL:TITLE:history') %></div>
    <% model.history.forEach(function(item, itemIndex) { %>
    <% include historyItem.ejs %>
    <% }) %>
    <% if (!model.pressWorksheet && user.isLoggedIn()) { %>
    <% include corroborate.ejs %>
    <% } %>
  </div>
</div>
