.hourlyPlan,
.hourlyPlan th {
  text-align: center!important;
}
.table.hourlyPlan > thead > tr > th {
  vertical-align: bottom;
}
.hourlyPlan th:first-child,
.hourlyPlan td:first-child {
  text-align: left!important;
}
.hourlyPlan-noPlan-container,
.hourlyPlan-noPlan {
  cursor: pointer;
}
.hourlyPlan .even {
  background-color: #f5f5f5;
}
.hourlyPlan tr:hover td.even {
  background-color: #efefef;
}
.hourlyPlan-rotated {
  height: 90px;
  width: 1em;
  vertical-align: bottom!important;
}
.hourlyPlan-rotated span {
  display: block;
  white-space: nowrap;
  -webkit-transform: rotate(-90deg);
  width: 1em;
}
.hourlyPlan-column-noPlan,
.hourlyPlan-column-level {
  width: 1%;
  white-space: nowrap;
}
.hourlyPlan-cell-count {
  width: 50px;
}
.hourlyPlan-count {
  text-align: center;
  padding: 6px 2px;
}
.hourlyPlan .is-focused {
  background: #FFFFD6;
}
.hourlyPlan > tbody > tr:hover > td.is-focused {
  background: #FFFFA6!important;
}
