.dailyMrpPlans > .message {
  margin-bottom: 15px;
}
.dailyMrpPlans-filter .fa {
  min-width: 14px;
}
.dailyMrpPlan {
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px dotted #ccc;
  line-height: 1;
}
.dailyMrpPlan:first-child {
  margin-top: 0;
  padding-top: 0;
  border-top: 0;
}
.dailyMrpPlan-toolbar {
  float: right;
}
.dailyMrpPlan-toolbar .btn {
  min-width: 40px;
}
.dailyMrpPlan-toolbar .dropdown-menu {
  min-width: 100px;
}
.dailyMrpPlan-hd {
  margin-top: 5px;
  margin-bottom: 5px;
}
.dailyMrpPlan-hd-id {
  font-size: 24px;
}
.dailyMrpPlan-hd-name {
  font-size: 12px;
}
.dailyMrpPlan-bd + .dailyMrpPlan-bd {
  margin-top: -1px;
}
.dailyMrpPlan-list-container {
  display: flex;
  font-size: 16px;
}
.dailyMrpPlan-list-container + .dailyMrpPlan-list-container {
  margin-top: -1px;
}
.dailyMrpPlan-list-hd {
  padding: 0 5px;
  line-height: 24px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-right: 0;
  flex: 0 0 auto;
  width: 100px;
  height: 26px;
  box-shadow: inset -3px -3px 24px #ccc;
  overflow: hidden;
}
.dailyMrpPlan-list {
  position: relative;
  display: flex;
  overflow-x: auto;
  border: 1px solid #ccc;
  border-bottom: 0;
}
.wrap .dailyMrpPlan-list {
  flex-wrap: wrap;
}
.wrap .dailyMrpPlan-list-action {
  border-right: 0;
  width: 31px;
}
.wrap .dailyMrpPlan-list-action + .dailyMrpPlan-list {
  border-left: 1px solid #ccc;
}
.dailyMrpPlan-list::-webkit-scrollbar {
  display: none;
}
.dailyMrpPlan-list-item {
  font-size: 14px;
  background: #FFF;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.dailyMrpPlan-list-item:hover {
  background: #eee;
}
.dailyMrpPlan-list-item.is-selectable {
  cursor: pointer;
}
.dailyMrpPlan-list-item.is-completed {
  background-color: #DFF0D8;
  border-color: #999;
}
.dailyMrpPlan-list-item.is-completed:hover {
  background-color: #D0E9C6;
}
.dailyMrpPlan-list-item.is-invalid {
  background-color: #FFE8E8;
}
.dailyMrpPlan-list-item.is-invalid:hover {
  background-color: #FFD1D1;
}
.dailyMrpPlan-list-item.is-selected,
.dailyMrpPlan-list-item.is-selected:hover {
  background-color: #0AF!important;
  color: #FFF;
}
.dailyMrpPlan-list-item.is-highlighted {
  background-color: #FFFFA6!important;
  color: #333;
}
.dailyMrpPlan-list-item-inner {
  padding: 0 5px;
  line-height: 24px;
}
.dailyMrpPlan-list-item-inner.is-cnf {
  line-height: 22px;
  border-bottom: 2px solid #AA00FF;
}
.dailyMrpPlan-list-item-inner.is-dnf {
  line-height: 22px;
  border-bottom: 2px solid #FF007F;
}
.dailyMrpPlan-list-item-inner.is-cnf.is-dnf {
  line-height: 20px;
  border-top: 2px solid #AA00FF;
  border-bottom: 2px solid #FF007F;
}
.is-selected > .is-cnf {
  line-height: 24px;
  border-bottom: 0;
}
.is-selected > .is-dnf {
  line-height: 24px;
  border-top: 0;
}
.is-selected > .is-cnf.is-dnf {
  line-height: 24px;
  border-top: 0;
  border-bottom: 0;
}
.dailyMrpPlan-list-ending {
  width: 15px;
  flex: 1 0 auto;
  box-shadow: inset -3px -3px 24px #ccc;
  border-bottom: 1px solid #ccc;
}
.dailyMrpPlan-list-action {
  flex: 0 0 auto;
  height: 26px;
  width: 32px;
  padding: 0;
  line-height: 24px;
}
.dailyMrpPlan-list-action + .dailyMrpPlan-list {
  border-left: 0;
}
.dailyMrpPlan-list-scrollIndicator {
  position: absolute;
  top: 1px;
  left: 132px;
  width: 80px;
  height: 24px;
  background: linear-gradient(to right, #ccc, rgba(204,204,204,0.1));
}
.dailyMrpPlan-list-container > .select2-container {
  flex: 1 1 auto;
  min-height: 24px;
  z-index: 1;
}
.dailyMrpPlan-list-container > .select2-dropdown-open {
  z-index: 10000;
}
.dailyMrpPlan-list-container > input[tabindex="-1"] + .dailyMrpPlan-list {
  flex: 0 0 auto;
  width: 16px;
  border-left: 0;
}
.dailyMrpPlan-list-container > .select2-container .select2-choices {
  height: 24px;
  min-height: 24px;
}
.dailyMrpPlan-list-container .select2-input {
  padding: 3px 5px!important;
  font-size: 14px!important;
}
.dailyMrpPlan-list-container .select2-search-choice {
  padding: 2px 5px 2px 18px!important;
  font-size: 12px!important;
  line-height: 1!important;
}
.dailyMrpPlan-list-container .select2-search-choice-close {
  top: 1px!important;
}
.dailyMrpPlan-list-property {
  margin-left: 4px;
}
.dailyMrpPlan-list-property.is-invalid {
  color: #E00;
}
.dailyMrpPlan-list-property > span {
  margin-left: 3px;
}
.dailyMrpPlan-orders .dailyMrpPlan-list-item {
  min-width: 73px;
  font-size: 12px;
  text-align: center;
}
.dailyMrpPlan-lineOrders-container + .dailyMrpPlan-lineOrders-container {
  margin-top: -1px;
}
.dailyMrpPlan-lineOrders-container + .dailyMrpPlan-lineOrders-container > .dailyMrpPlan-lineOrders:first-child > .dailyMrpPlan-lineOrders-list {
  border-top-color: #999;
}
.dailyMrpPlan-lineOrders .dailyMrpPlan-list {
  width: 100%;
  background-color: #ccc;
}
.wrap .dailyMrpPlan-lineOrders .dailyMrpPlan-list {
  flex-wrap: nowrap;
}
.dailyMrpPlan-list-item.is-lineOrder {
  overflow: hidden;
  background-color: #DFF0D8;
  cursor: pointer;
}
.dailyMrpPlan-list-item.is-lineOrder:hover {
  background-color: #D0E9C6;
}
.dailyMrpPlan-list-item.is-lineOrder.is-incomplete {
  background-color: #fcf8e3;
}
.dailyMrpPlan-list-item.is-lineOrder.is-incomplete:hover {
  background-color: #faf2cc;
}
.is-lineOrder > .dailyMrpPlan-list-item-inner {
  font-size: 12px;
  white-space: nowrap;
}
.dailyMrpPlan-lineOrders-shift {
  flex: 0 0 auto;
  height: 26px;
  width: 32px;
  padding: 0;
  line-height: 24px;
  font-family: "Times New Roman", serif;
  text-align: center;
  background: #FFF;
  border: 1px solid #ccc;
}
.dailyMrpPlan-lineOrders-shift:first-child {
  margin-left: 100px;
}
.dailyMrpPlan-lineOrders-shift + .dailyMrpPlan-list {
  border-left: 0;
}
.dailyMrpPlan-popover {
  max-width: none;
  font-size: 12px;
  pointer-events: none;
}
.dailyMrpPlan-popover-editable {
  pointer-events: auto;
}
.dailyMrpPlan-popover .popover-content {
  padding: 5px 10px;
}
.dailyMrpPlan-popover th {
  padding-right: 5px;
  vertical-align: middle;
  height: 24px;
}
.dailyMrpPlan-popover td {
  padding-right: 5px;
  vertical-align: middle;
  height: 24px;
}
.dailyMrpPlan-popover-value {
  display: block;
  max-width: 250px;
}
.dailyMrpPlan-popover .is-completed {
  color: #00af00;
}
.dailyMrpPlan-popover .dailyMrpPlan-popover-input {
  line-height: 1;
}
.dailyMrpPlan-popover .orderStatus {
  margin-left: 0!important;
  padding: 1px 3px;
  font-weight: normal;
}
.dailyMrpPlans-import-mrps {
  display: flex;
  flex-wrap: wrap;
}
.dailyMrpPlans-import-mrps .checkbox-inline {
  width: 100px;
  flex: 0 0 auto;
  line-height: 24px;
}
.dailyMrpPlans-import-mrps .checkbox-inline:hover {
  font-weight: bold;
}
.dailyMrpPlans-import-mrps input[type="checkbox"] {
  margin-top: 6px;
}
.dailyMrpPlans-import-mrps .checkbox-inline + .checkbox-inline {
  margin-left: 0;
}
.dailyMrpPlan-timeline {
  display: flex;
  margin-left: 131px;
  height: 7px;
  border: 1px solid #ccc;
  border-top: 0;
  border-left: 0;
  margin-bottom: 30px;
}
.dailyMrpPlan-timeline-h {
  flex: 0 0 auto;
  padding-top: 7px;
  width: 12.5%;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  border-left: 1px solid #ccc;
}
.dailyMrpPlan-crosshair {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  pointer-events: none;
  background: #E00;
}
