<div>
  <%- t('kanbanPrintQueues', 'ignore:message:' + type) %>
  <div class="form-actions">
    <button class="btn btn-warning dialog-answer" type="button" autofocus data-answer="yes"><%- t('kanbanPrintQueues', 'ignore:yes') %></button>
    <button class="btn btn-link cancel" type="button"><%- t('kanbanPrintQueues', 'ignore:no') %></button>
  </div>
</div>
