<div>
  <%- t('kanbanPrintQueues', 'restore:message') %>
  <div class="form-actions">
    <button class="btn btn-primary dialog-answer" type="button" autofocus data-answer="yes"><%- t('kanbanPrintQueues', 'restore:yes') %></button>
    <button class="btn btn-link cancel" type="button"><%- t('kanbanPrintQueues', 'restore:no') %></button>
  </div>
</div>
