<div>
  <p><%- t('mor', 'removeSection:message', {section: section}) %></p>
  <div class="form-actions">
    <button class="btn btn-danger dialog-answer" type="button" autofocus data-answer="yes"><%- t('mor', 'removeSection:yes') %></button>
    <button class="btn btn-link cancel" type="button"><%- t('mor', 'removeSection:no') %></button>
  </div>
</div>
