<div>
  <p><%- t('mor', 'removeMrp:message', {division: division, mrp: mrp}) %></p>
  <div class="form-actions">
    <button class="btn btn-danger dialog-answer" type="button" autofocus data-answer="yes"><%- t('mor', 'removeMrp:yes') %></button>
    <button class="btn btn-link cancel" type="button"><%- t('mor', 'removeMrp:no') %></button>
  </div>
</div>
