<div>
  <p><%- t('mor', 'removeWatch:message', {user: user}) %></p>
  <div class="form-actions">
    <button class="btn btn-danger dialog-answer" type="button" autofocus data-answer="yes"><%- t('mor', 'removeWatch:yes') %></button>
    <button class="btn btn-link cancel" type="button"><%- t('mor', 'removeWatch:no') %></button>
  </div>
</div>
