.page[data-id="isa"] > .bd {
  margin-left: 0;
  margin-right: 0;
}
.isa {
  display: flex;
  width: 100%;
}
.isa-section {
  display: flex;
  flex-direction: column;
  flex: 1 1 0px;
  margin: 0 15px;
  height: 100%;
}
.isa-section-header {
  flex: 0 0 auto;
  margin: 0 0 10px 0;
  font-size: 34px;
  font-weight: bold;
  line-height: 1;
}
.isa-section-header > .btn-link {
  float: right;
  margin: 4px 0 0 8px;
  padding: 0;
  width: 36px;
  font-size: 28px;
  line-height: 1;
}
.isa-attract {
  animation-name: isa-attract;
  animation-delay: 250ms;
  animation-direction: alternate;
  animation-duration: 250ms;
  animation-iteration-count: 6;
  animation-timing-function: ease;
}
@keyframes isa-attract {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}
.isa-shiftPersonnel.isa-attract {
  color: #d00;
}
.isa-shiftPersonnel.isa-attract:hover {
  color: #f00;
}
.isa-selectedResponder {
  font-size: 14px;
  font-weight: normal;
  font-style: oblique;
}
.isa-section-body {
  flex: 1 1 auto;
  padding-bottom: 30px;
  overflow-y: scroll;
  border: 1px solid #333;
  box-shadow: 0 6px 12px #666;
  background: #fff;
}
.isa-events-table > thead > tr > th:last-child,
.isa-events-table > tbody > tr > td:last-child {
  border-right: 1px solid #333;
}
.isa-is-mobile .isa-events-table > thead > tr > th:last-child,
.isa-is-mobile .isa-events-table > tbody > tr > td:last-child {
  border-right: 0;
}
.isa-events-table {
  background: #fff;
  border-top: 0;
  border-left: 0;
  border-color: #333;
}
.isa-events-table > thead > tr > th,
.isa-events-table > tbody > tr > td {
  border-left: 0;
  border-color: #333;
}
.isa-is-disconnected .isa-lineStates {
  opacity: 0.33;
}
.isa-empty {
  display: none;
  padding: 10px;
}
.isa-empty:only-child {
  display: block;
}
.isa-lineState {
  display: flex;
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
}
.isa-is-mobile .isa-lineState {
  border-right: 0;
}
.isa-lineState:hover {
  background-color: #eee;
}
.isa-lineState[data-request-type="pickup"] {
  background: #D9EBD9;
}
.isa-lineState[data-request-type="pickup"]:hover {
  background: #B4D8B4;
}
.isa-lineState[data-request-type="delivery"] {
  background: #FBEAD2;
}
.isa-lineState[data-request-type="delivery"]:hover {
  background: #F7D5A5;
}
.isa-lineState-requestType {
  flex: 0 0 auto;
  width: 20px;
  border-right: 1px solid #333;
}
.isa-lineState[data-request-type="pickup"] > .isa-lineState-requestType {
  background: #449D44;
}
.isa-lineState[data-request-type="delivery"] > .isa-lineState-requestType {
  background: #EC971F;
}
.isa-lineState-info {
  flex: 1 1 auto;
  color: #000;
}
.isa-lineState-actions {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 60px;
  border-left: 1px solid #333;
}
.isa-lineState-actions > .btn {
  position: relative;
  flex: 1 1 auto;
  font-size: 25px;
  padding: 0;
}
.isa-lineState-hotkey {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 2px 0;
  width: 15px;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  background: #000;
  display: none;
}
.isa-lineState-hotkey:empty {
  display: none!important;
}
.isa-hotkey-ShiftLeft > .isa-section-requests .btn-success > .isa-lineState-hotkey,
.isa-hotkey-AltLeft > .isa-section-responses .btn-success > .isa-lineState-hotkey,
.isa-hotkey-AltRight > .isa-section-requests .btn-danger > .isa-lineState-hotkey,
.isa-hotkey-ShiftRight > .isa-section-responses .btn-danger > .isa-lineState-hotkey {
  display: block;
}
.isa-lineState-header {
  margin: 10px 10px 5px 10px;
  line-height: 1;
  font-size: 24px;
  text-transform: uppercase;
}
.isa-lineState-props {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0 5px 10px;
  line-height: 1;
}
.isa-lineState-prop {
  flex: 0 0 auto;
  margin: 0 10px 0 0;
}
.isa-lineState-prop-name {
  display: block;
  text-transform: uppercase;
  font-variant: small-caps;
}
.isa-lineState-prop-value {
  display: block;
  white-space: nowrap;
  max-width: 280px;
  line-height: 1.4;
  text-overflow: ellipsis;
  overflow: hidden;
}
.isa-lineState.is-moving {
  opacity: 0;
  border: 1px solid #000;
  position: absolute;
  animation-name: isa-move;
  animation-delay: 0s;
  animation-direction: normal;
  animation-duration: 750ms;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.is-moving .isa-responderPicker {
  display: none;
}
@keyframes isa-move {
  0% {
    opacity: 1;
  }
  33% {
    transform: translate(100%, 0) scale(1.2);
  }
  100% {
    transform: translate(100%, 0) scale(0);
  }
}
.isa-is-fullscreen {
  margin: 0 10px;
  overflow: hidden;
}
.isa-is-fullscreen .hd,
.isa-is-fullscreen .ft {
  display: none;
}
.isa-tabs {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #444;
}
.isa-tab {
  flex: 1 1 0px;
  font-size: 32px;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  color: #fff;
  padding: 7px 0;
  text-shadow: 1px 1px 3px #000;
}
.isa-tab:hover {
  color: #fff;
  text-decoration: none;
}
.isa-tab.active {
  color: #ff0;
}
.isa-tab > .badge {
  position: absolute;
  margin: 15px 0 0 -5px;
  font-weight: normal;
  text-shadow: none;
}
.isa-tab.active > .badge {
  display: none;
}
.isa-responderPicker {
  position: absolute;
  z-index: 10;
  min-width: 200px;
  box-shadow: 0 6px 12px #666;
}
.isa-responderPicker > .list-group-item {
  border-color: #000;
  color: #000;
  white-space: nowrap;
  text-align: left;
  font-size: 14px;
}
.isa-responderPicker > .list-group-item:hover {
  background: #ffffd6;
  color: #000;
}
.isa-responderPicker > .list-group-item:focus {
  outline: none;
  background: #428BCA;
  color: #fff;
}
.isa-section-events {
  transition: 500ms all;
}
.isa-section-events.is-collapsing {
  position: relative;
  flex-grow: 0;
}
.is-collapsing > .isa-section-header > .btn-link {
  display: none;
}
.is-collapsing > .isa-section-body {
  overflow: hidden;
}
.is-collapsing > .isa-section-body > .table {
  white-space: nowrap;
}
.is-collapsed > .isa-section-body {
  width: 25px;
  background: #000;
  cursor: pointer;
}
.is-collapsed > .isa-section-header,
.is-collapsed > .isa-section-body > .table {
  display: none;
}
.isa-section-expand {
  display: none;
  position: absolute;
  top: 50%;
  left: -86px;
  margin-top: -10px;
  width: 200px;
  transform: rotate(90deg);
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.is-collapsed > .isa-section-expand {
  display: block;
}
.isa-hotkeys {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  padding: 0 0 6px 15px;
  background: #d9edf7;
  border-top: 1px solid #333;
  box-shadow: 0 6px 12px #666;
  line-height: 1;
  text-align: center;
}
.isa-hotkey {
  display: inline-block;
  margin: 10px 15px 0 0;
  padding: 0;
}
.isa-hotkey > span {
  display: block;
  margin-top: 5px;
}
.isa-message {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  border-width: 10px;
  z-index: 100002;
}
.isa-message h1 {
  margin-top: 0;
  font-size: 48px;
  font-weight: bold;
}
.isa-message.message-info h1 {
  border-bottom: 2px solid #B8E2FB;
  padding-bottom: 10px;
}
.isa-message th {
  padding: 10px 20px 0 0;
  font-size: 48px;
  font-weight: normal;
  vertical-align: top;
  line-height: 1.2;
}
.isa-message td {
  padding-top: 10px;
  max-width: 750px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
}
.isa-message p {
  font-size: 32px;
  line-height: 1.2;
}
.isa-message p:only-child {
  font-size: 48px;
  text-align: center;
}
.isa-message-key {
  display: inline-block;
}
.isa-message-value {
  display: inline-block;
  font-weight: bold;
}
.isa-message-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
  z-index: 100001;
}
@media (max-width: 1900px) {
  .isa-lineState-prop-value {
    max-width: 200px;
  }
}
@media (max-width: 1600px) {
  .isa-section-events {
    display: none;
  }
  .isa-lineState-prop-value {
    max-width: 320px;
  }
}
@media (max-width: 1280px) {
  .isa-lineState-props {
    display: none;
  }
  .isa-lineState-header {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .isa-lineState-actions {
    width: 80px;
    flex-direction: row;
  }
  .isa-lineState-actions > .btn {
    width: 40px;
  }
}
@media (max-width: 800px) {
  .isa {
    display: block;
    height: auto!important;
  }
  .isa-section-events {
    display: block;
  }
  .isa-section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0!important;
    display: none;
  }
  .isa[data-tab="requests"] > .isa-section-requests,
  .isa[data-tab="responses"] > .isa-section-responses,
  .isa[data-tab="events"] > .isa-section-events {
    display: flex;
  }
  .isa-section-header {
    flex: 0 0 0px;
    margin: 0;
    padding: 0 5px;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    background: #444;
    color: #fff;
  }
  .isa-section-header > a {
    color: #fff;
  }
  .isa-section-header > .btn-link {
    display: none;
  }
  .isa-section-body {
    flex: 1 1 auto;
    overflow-y: scroll;
    border: 0;
    padding-bottom: 100px;
  }
  .isa-lineState-actions {
    width: 142px;
  }
  .isa-lineState-actions > .btn {
    font-size: 32px;
  }
  .isa-lineState-header {
    margin-bottom: 5px;
    font-size: 18px;
  }
  .isa-lineState-props {
    display: flex;
  }
  .isa-lineState-prop-value {
    max-width: 360px;
  }
  .isa-tabs {
    display: flex;
  }
  .isa-is-fullscreen .isa-responderPicker {
    margin-left: -1px;
  }
  .isa-is-fullscreen .isa-responderPicker > .list-group-item {
    font-size: 24px;
  }
  .isa-section-events {
    transition: none;
    width: auto!important;
  }
  .isa-section-events.is-collapsing {
    position: absolute;
    flex-grow: 1
  }
  .is-collapsing > .isa-section-body {
    overflow-y: auto;
  }
  .is-collapsing > .isa-section-body > .table {
    white-space: normal;
  }
  .is-collapsed > .isa-section-body {
    width: auto;
    background: #fff;
    cursor: default;
  }
  .is-collapsed > .isa-section-header {
    display: block;
  }
  .is-collapsed > .isa-section-body > .table {
    display: table;
  }
  .is-collapsed > .isa-section-expand {
    display: none;
  }
}
@media (max-width: 799px) {
  .isa-lineState-prop-value {
    max-width: 240px;
  }
}
@media (max-width: 600px) {
  .isa-lineState-header {
    width: 1px;
    font-size: 14px;
    line-height: 23px;
  }
  .isa-lineState-props {
    display: none;
  }
}
