.fap-addForm {
  position: absolute;
  z-index: 1000;
  padding: 15px;
  background: #fff;
  border: 1px solid #eea236;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.fap-navbar .fap-addForm {
  top: 28px;
  right: 5px;
}
.fap-addForm-select2 {
  margin-top: 1px;
}
.fap-addForm-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .5);
  z-index: 999;
}
.fap-addForm-uploads {
  padding: 0;
  list-style: none;
}
.fap-addForm-upload {
  position: relative;
}
.fap-addForm-upload-name {
  display: inline-block;
  margin-left: 4px;
  width: 375px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top;
}
.fap-addForm-editing .fap-addForm-upload-name,
.fap-addForm-editing .fap-addForm-upload-icon {
  opacity: 0.3;
  pointer-events: none;
}
.fap-addForm-upload-input {
  position: absolute;
  top: -6px;
  left: 0;
  z-index: 1;
}
.fap-addForm-upload-popover {
  padding: 0;
  max-width: none;
}
.fap-addForm-upload-popover .popover-content {
  padding: 5px;
}
.fap-addForm-upload-popover img {
  max-width: 300px;
  max-height: 300px;
}
.fap-addForm-notifications {
  margin-left: auto;
  align-self: center;
}
.fap-addForm-notifications-popover {
  padding: 0;
  max-width: none;
  font-size: 12px;
}
.fap-addForm-notifications-popover .popover-content {
  padding: 0;
}
.fap-addForm-notifications-popover th,
.fap-addForm-notifications-popover td {
  vertical-align: top;
  white-space: nowrap;
}
.fap-addForm-copy {
  margin-left: auto;
}
.fap-addForm-copy > .fa-copy {
  padding: 5px 0 5px 10px;
  cursor: pointer;
  color: #337ab7;
}
.fap-addForm-copy:hover > .fa-copy {
  color: #23527c;
}
.fap-addForm-warning {
  position: absolute;
  top: auto;
  left: 0;
  right: auto;
  bottom: 0;
  padding: 15px;
  border-left: none;
  border-right: 0;
  border-bottom: 0;
  border-top-color: #eea236;
  z-index: 2;
}
.fap-addForm-warning > p {
  text-align: justify;
  line-height: 1.4;
}
