.fap-chat {
  flex: 0 0 auto;
  width: 800px;
}
.fap-chat-form {
  position: relative;
}
.fap-chat-title {
  padding: 7px 0;
  text-align: center;
  font-size: 21px;
  text-transform: lowercase;
  font-variant: small-caps;
  color: #444;
}
.fap-chat-new-outer {
  position: absolute;
  top: -24px;
  left: 0;
  width: 100%;
  text-align: center;
}
.fap-chat-new-inner {
  display: inline-block;
  margin: 0 auto;
  background: #dff0d8;
  border: 1px solid #ccc;
  border-bottom: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-size: 12px;
  padding: 3px 9px;
  cursor: pointer;
}
.fap-chat-messages {
  padding: 24px 24px 0 24px;
  border: 1px solid #ddd;
  border-bottom: none;
  text-align: left;
  overflow-y: scroll;
  background: #eceff1;
  height: 527px;
}
.fap-chat-message {
  line-height: 1.5;
}
.fap-chat-message + .fap-chat-message {
  margin-top: 15px;
}
.fap-chat-message:last-child {
  margin-bottom: 24px;
}
.fap-chat-lines {
  display: inline-block;
  padding-top: 6px;
  max-width: 550px;
  background: #fff;
  border-top: 5px solid transparent;
  border-radius: 0 5px 5px 5px;
}
.fap-is-self .fap-chat-lines {
  border-top: none;
}
.fap-is-self.fap-chat-message {
  text-align: right;
}
.fap-is-self.fap-chat-message .fap-chat-lines {
  background: #cfd8dc;
  border-top-left-radius: 5px;
  border-top-right-radius: 0;
}
.fap-chat-line {
  margin: 0 9px 6px 9px;
  min-width: 200px;
  text-align: left;
  white-space: pre-line;
}
.fap-chat-line > time {
  margin-right: 5px;
  font-size: 12px;
  line-height: 21px;
  opacity: 0.5;
}
.fap-chat-attachment > a {
  margin-left: 7px;
  cursor: pointer;
}
.fap-chat-line-text > .fa-user {
  margin-left: 2px;
  margin-right: 2px;
}
textarea.fap-chat-send {
  padding: 8px 24px;
  resize: none;
  overflow-y: hidden;
  text-rendering: geometricPrecision;
  height: 36px;
  min-height: 36px;
  max-height: 215px;
}
textarea.fap-chat-send-scroll {
  overflow-y: scroll;
}
.fap-chat-submit {
  position: absolute;
  left: 50%;
  margin-left: 0;
  padding-right: 7px;
  display: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.fap-chat-multiLine .fap-chat-submit {
  display: flex;
  align-items: center;
}
.fap-chat-submit kbd {
  margin-left: 7px;
  border: none;
  text-shadow: none;
  font-size: 11px;
  line-height: 1;
  background: #FFF;
}

@media (max-width: 1272px) {
  .fap-chat {
    width: 100%;
  }
  .fap-chat-lines {
    max-width: none;
  }
  .fap-chat-line {
    min-width: auto;
  }
}
