.fap-entries-history {
  margin-top: 15px;
}
.fap-entries-history-item {
  padding: .5em;
  border-bottom: 1px solid #d4d4d4;
}
.fap-entries-history-item:last-child {
  border-bottom: 0;
}
.fap-entries-history-item:nth-child(odd) {
  background-color: #fbfbfb;
}
.fap-entries-history-item:hover {
  background-color: #FFFFD6;
}
.fap-entries-history-user {
  font-weight: bold;
}
.fap-entries-history-changes {
  margin: 5px 0 5px 0;
  border-top: 1px dotted #ddd;
  border-bottom: 1px dotted #ddd;
}
.fap-entries-history-changes:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}
.fap-entries-history-changes > tbody > tr > td {
  border-top: 0;
  padding: 5px 5px 0 0;
}
.fap-entries-history-changes > tbody > tr > td:first-child {
  text-align: right;
}
.fap-entries-history-changes > tbody > tr:last-child > td {
  padding-bottom: 5px;
}
.fap-entries-history-changes:last-child > tbody > tr:last-child > td {
  padding-bottom: 0;
}
.fap-entries-history-changes .fa {
  padding: 0 5px;
}
.fap-entries-history-comment {
  margin: 5px 0 0 0;
  white-space: pre-line;
}
.fap-entries-history-item .has-more {
  cursor: help;
}
.fap-entries-history-item ol,
.fap-entries-history-item ul {
  padding-left: 0;
  list-style-position: inside;
}
.fap-entries-history-popover {
  max-width: 450px;
}
.fap-entries-history-popover > .popover-content {
  white-space: pre-line;
}
.fap-entries-history-item.is-unseen > .fap-entries-history-user,
.fap-entries-history-item.is-unseen > .fap-entries-history-time {
  color: #e00;
}
.fap-entries-history-form > .message {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  box-shadow: none;
}
.fap-entries-history-form > .form-group {
  margin: 15px;
}
@media print {
  .fap-entries-history-form {
    display: none;
  }
}
