.fap-observers .fap-details-panel-bd {
  height: 298px;
}
.fap-observer.fap-is-online .userInfo-label {
  font-weight: bold;
}
.fap-observer .fa-user {
  text-shadow: 0 1px 0 #000;
}

@media (max-width: 767px) {
  .fap-observers .fap-details-panel-bd {
    height: 196px;
  }
}
