<div>
  <div class="prodShiftOrders-details-container"></div>
  <div class="panel panel-danger prodShiftOrders-downtimes-container">
    <div class="panel-heading"><%- t('prodShiftOrders', 'PANEL:TITLE:downtimes') %></div>
  </div>
  <div class="prodShiftOrders-order-container"></div>
  <div class="prodShiftOrders-operations-container"></div>
</div>
