.kaizenOrders-form .btn-primary > .fa-spinner {
  display: none;
}
.kaizenOrders-form .btn-primary > span {
  margin-left: 0;
}
.kaizenOrders-form.is-uploading .btn-primary .fa-spinner {
  display: inline-block;
}
.kaizenOrders-form.is-uploading .btn-primary > span {
  margin-left: 7px;
}
.kaizenOrders-form-typePanel {
  margin: 0 -16px;
  border-left-color: #337ab7;
  border-right-color: #337ab7;
}
.kaizenOrders-form-typePanel + .kaizenOrders-form-typePanel {
  margin-top: -1px;
}
.kaizenOrders-form-typePanel[data-type="kaizen"] {
  margin-bottom: 15px;
}
.kaizenOrders-form-typePanel.panel-danger > .panel-body {
  background-color: #FBF1F1;
}
.kaizenOrders-form-typePanel.panel-warning > .panel-body {
  background-color: #FDF8F1;
}
.kaizenOrders-form-typePanel.panel-success > .panel-body {
  background-color: #F2F9F2;
}
.kaizenOrders-form [role="togglePanel"] {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.kaizenOrders-form-expandedIcon,
.kaizenOrders-form-collapsedIcon {
  display: none;
}
.kaizenOrders-form-typePanel.is-expanded .kaizenOrders-form-expandedIcon,
.kaizenOrders-form-typePanel.is-collapsed .kaizenOrders-form-collapsedIcon {
  display: inline-block;
}
.kaizenOrders-form-typePanel > .panel-body {
  display: none;
}
.kaizenOrders-form .form-control[type="date"] {
  width: 100%;
}
.kaizenOrders-form-statusBtnGroup {
  display: block;
}
.kaizenOrders-form .message-inline {
  margin-bottom: 15px;
}
.kaizenOrders-select2 > h3 {
  font-size: 1em;
  font-weight: bold;
  margin: 0 0 2px 0;
}
.kaizenOrders-select2 > p {
  font-size: .8em;
  margin: 0;
}
.kaizenOrders-form .help-block {
  font-size: 0.9em;
}