.kaizenOrders-filter select {
  max-width: 125px;
}
.kaizenOrders-filter .form-control[type="date"] {
  width: 10em;
}
.kaizenOrders-list-owners {
  padding: 0 0 0 14px;
  list-style-position: outside;
}
