@import url(./list.css);
@import url(./form.css);
@import url(./details.css);
@import url(./history.css);
@import url(./report.css);
@import url(./help.css);

.kaizenOrders-label-nearMiss {
  background-color: #d9534f;
}
.kaizenOrders-label-suggestion {
  background-color: #f0ad4e;
}
.kaizenOrders-label-kaizen {
  background-color: #5cb85c;
}
