.xiconfPrograms-form .form-control[type="number"] {
  text-align: left;
}
.xiconfPrograms-form-fn {
  margin-bottom: 0;
}
.xiconfPrograms-form .panel-default .panel-body {
  padding-bottom: 0;
}
.xiconfPrograms-form .checkbox + .panel {
  margin-top: 5px;
}
