.xiconfPrograms-list .label {
  font-size: 100%;
  text-transform: uppercase;
}
.xiconfPrograms-list .label-pe {
  background-color: #0af;
}
.xiconfPrograms-list .label-sol {
  background-color: #fa0;
}
.xiconfPrograms-list .label-fn {
  background-color: #00af00;
}
.xiconfPrograms-form .form-control[type="number"] {
  text-align: left;
}
.xiconfPrograms-form-fn {
  margin-bottom: 0;
}
.xiconfPrograms-form .panel-default .panel-body {
  padding-bottom: 0;
}
.xiconfPrograms-form .checkbox + .panel {
  margin-top: 5px;
}
