<%
  function list(v)
  {
    if (!Array.isArray(v))
    {
      return v;
    }

    if (v.length === 0)
    {
      return '';
    }

    if (v.length === 1)
    {
      return v[0];
    }

    return '<ul><li>' + v.join('<li>') + '</ul>';
  }
%>
<div class="panel panel-primary">
  <div class="panel-heading"><%- panelTitle %></div>
  <div class="panel-details">
    <%- helpers.props(model, [
      '_id',
      'name',
      'active',
      'position',
      {id: '!entryTypes', value: list},
      {id: '!subdivisions', value: list},
      {id: '!confirmers', value: list},
      {id: '!coordinators', value: list},
      {id: '!auditors', value: list},
      {id: '!controlLists', value: list}
    ]) %>
  </div>
</div>
