<div class="btn-group">
  <a class="btn btn-success" href="#qi/results;add?ok"><i class="fa fa-plus"></i><span><%- helpers.t('PAGE_ACTION:add:ok') %></span></a>
  <a class="btn btn-danger" href="#qi/results;add?nok"><%- helpers.t('PAGE_ACTION:add:nok') %></a>
</div>
