<div class="qiResults-nokRatioReport">
  <div class="filter-container"></div>
  <div id="<%- idPrefix %>-total" style="height: 350px"></div>
  <div id="<%- idPrefix %>-division" style="height: 350px"></div>
</div>
