<form class="well filter-form qiResults-okRatioReport-filter">
  <%- forms.dateTimeRange({
    idPrefix: idPrefix,
    type: 'month',
    required: true,
    labels: {ranges: '-days -weeks'}
  }) %>
  <div class="form-group filter-actions">
    <button type="submit" class="btn btn-default"><i class="fa fa-filter"></i><span><%- t('reports', 'filter:submit') %></span></button>
  </div>
</form>
