<div class="reports-drillingCharts">
  <div class="reports-5-totals-container"></div>
  <div class="reports-5-direct-container"></div>
  <div class="reports-5-indirect-container"></div>
  <div class="reports-5-indirDir-container"></div>
  <div class="reports-5-details-container"></div>
  <div class="reports-5-dirIndir-container"></div>
  <div class="reports-5-effIneff-container"></div>
  <div class="reports-5-attendance-container"></div>
</div>
