<div class="production-question">
  <%- t('production', 'continueOrderDialog:message') %>
  <div class="form-actions">
    <button class="btn btn-success dialog-answer" type="button" autofocus data-answer="yes"><%- t('production', 'continueOrderDialog:yes') %></button>
    <button class="btn btn-link cancel" type="button"><%- t('production', 'continueOrderDialog:no') %></button>
  </div>
</div>
