<div class="production-question">
  <%- t('continueOrderDialog:message') %>
  <div class="form-actions">
    <button class="btn btn-lg btn-success dialog-answer" type="button" autofocus data-answer="yes"><%- t('continueOrderDialog:yes') %></button>
    <button class="btn btn-lg btn-link cancel" type="button"><%- t('continueOrderDialog:no') %></button>
  </div>
</div>
