<div class="production-duplicate">
  <h1><%- t('duplicate:title') %></h1>
  <p><%- t('duplicate:message') %></p>
  <p><button onclick="window.location.reload()" type="button" class="btn btn-primary btn-lg"><%- t('duplicate:button') %></button></p>
</div>
