<div class="production-question">
  <%- t('endDowntimeDialog:message') %>
  <div class="form-actions">
    <button class="btn btn-lg btn-<%- yesSeverity %> dialog-answer" type="button" autofocus data-answer="yes"><%- t('endDowntimeDialog:yes') %></button>
    <button class="btn btn-lg btn-link cancel" type="button"><%- t('endDowntimeDialog:no') %></button>
  </div>
</div>
