<div class="production-endDowntimeDialog">
  <%- t('production', 'endDowntimeDialog:message') %>
  <div class="form-actions">
    <button class="btn btn-<%- yesSeverity %> dialog-answer" type="button" autofocus data-answer="yes"><%- t('production', 'endDowntimeDialog:yes') %></button>
    <button class="btn btn-link cancel" type="button"><%- t('production', 'endDowntimeDialog:no') %></button>
  </div>
</div>
