<table>
  <tbody>
  <% ['reason', 'aor', 'startedAt', 'finishedAt'].forEach(function(prop) { %>
  <tr>
    <th><%- t('execution:downtime:' + prop) %></th>
    <td><span class="production-execution-popover-value"><%= downtime[prop] %></span></td>
  </tr>
  <% }) %>
  </tbody>
</table>
