<div class="production-question">
  <%- t('isa:cancel:message', {requestType: requestType}) %>
  <div class="form-actions">
    <button class="btn btn-lg btn-danger dialog-answer" type="button" autofocus data-answer="yes"><%- t('isa:cancel:yes') %></button>
    <button class="btn btn-lg btn-link cancel" type="button"><%- t('isa:cancel:no') %></button>
  </div>
</div>
