<div>
  <i id="<%- idPrefix %>-smile" class="fa fa-smile-o production-taktTime-smile"></i>
  <button id="<%- idPrefix %>-check" class="btn btn-lg btn-block btn-default production-taktTime-btn"><%- t('production', 'taktTime:check') %></button>
</div>
