<div>
  <i id="<%- id('smile') %>" class="fa fa-smile-o production-taktTime-smile"></i>
  <button id="<%- id('check') %>" class="btn btn-lg btn-block btn-default production-taktTime-btn"><%- t('taktTime:check:button') %></button>
</div>
