<div class="panel panel-primary">
  <div class="panel-heading"><%- panelTitle %></div>
  <div class="panel-details">
    <%- helpers.props(model, [
      {id: 'workCenter', value: model.orgUnitPath},
      '_id',
      'description',
      'inventoryNo',
      {id: 'deactivatedAt', value: model.deactivatedAt ? time.format(model.deactivatedAt, 'LL') : ''}
    ]) %>
  </div>
</div>
