<div class="reports-4">
  <div class="filter-container"></div>
  <div class="reports-4-container">
    <div class="row">
      <div class="col-lg-6 reports-4-effAndProd-container"></div>
      <div class="col-lg-6 reports-4-workTimes-container"></div>
    </div>
    <div class="row">
      <div class="col-lg-6 reports-4-machineTimes-container"></div>
      <div class="col-lg-6 reports-4-quantities-container"></div>
    </div>
  </div>
  <div class="reports-4-notes-container"></div>
</div>
