<div class="osh-report osh-report-rewards">
  <div id="<%- id('filter') %>" class="filter-container"></div>
  <div id="<%- id('warning') %>" class="message message-inline message-warning hidden">
    <p><%- t('rewards:warning') %></p>
  </div>
  <div id="<%- id('users') %>"></div>
</div>
