<div class="osh-dashboard-kaizen">
  <div class="osh-dashboard-metricsAndList">
    <div id="<%- id('kaizen-metrics') %>" class="osh-dashboard-metricsAndList-metrics"></div>
    <div class="osh-dashboard-top-container">
      <div class="osh-dashboard-top-card">
        <div id="<%- id('kaizen-top10-current') %>" class="osh-dashboard-metricsAndList-top"></div>
        <div id="<%- id('kaizen-top10-previous') %>" class="osh-dashboard-metricsAndList-top"></div>
      </div>
    </div>
    <div id="<%- id('kaizen-list') %>" class="osh-dashboard-metricsAndList-list"></div>
  </div>
</div>
