.kanban-builder-action .dropdown-toggle {
  min-width: 50px;
}
.kanban-builder {
  position: fixed;
  width: 643px;
  z-index: 3;
  border-bottom: 0;
  background: #f1f1f1;
  box-shadow: 0 0 28px #333;
}
.kanban-builder-hd {
  display: flex;
  background-image: linear-gradient(to right, #fff, #f1f1f1);
  border-bottom: 1px solid #bbb;
  align-items: center;
}
.kanban-drag-handle {
  padding: 0 12px;
  cursor: move;
  user-select: none;
  line-height: 34px;
  align-self: stretch;
}
.kanban-drag-handle .fa-ellipsis-v + .fa-ellipsis-v {
  margin-left: -2px;
  margin-right: 2px;
}
.kanban-hide {
  color: inherit;
}
.kanban-builder .btn:focus {
  outline: none;
}
.kanban-builder-thead {
  position: relative;
  background: #fff;
  box-shadow: 0 3px 9px #ccc;
}
.kanban-builder-tbody {
  background: #ccc;
  overflow-y: scroll;
  resize: vertical;
}
.kanban-builder-tbody table {
  background: #fff;
}
.kanban-builder-tbody tr:hover td {
  background-color: #ffffd6;
}
.kanban-builder td {
  padding: 4px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.kanban-builder td:last-child {
  border-right: none;
}
.kanban-builder-tbody tr:last-child td {
  border-bottom: none;
}
.kanban-builder-thead td {
  padding: 6px 4px;
  text-align: center;
  border-bottom: 1px solid #bbb;
}
.kanban-builder-no {
  width: 45px;
}
.kanban-builder-tbody .kanban-builder-no {
  text-align: right;
}
.kanban-builder-ccn {
  min-width: 70px;
  text-align: center;
}
.kanban-builder-tbody .kanban-builder-ccn {
  font-family: Consolas, "Lucida Console", Monaco, monospace;
}
.kanban-builder-lines {
  min-width: 125px;
}
.kanban-builder-thead .kanban-builder-lines {
  position: relative;
}
.kanban-builder-thead .kanban-builder-lines:hover {
  cursor: pointer;
  background-color: #ffffa6;
}
.kanban-builder-tbody .kanban-builder-lines {
  padding: 0;
}
.kanban-builder-thead .kanban-builder-lines select.is-expandable {
  position: absolute;
  top: 0;
  left: 0!important;
  width: 125px;
}
.kanban-builder-lines div.is-expandable {
  display: none;
}
.kanban-builder-lines .form-control {
  padding: 4px;
  width: 100%;
  height: 30px;
  border: 0;
  vertical-align: top;
}
.kanban-builder-lines .form-control.is-expanded {
  box-shadow: none;
  outline: 2px solid #0af;
  outline-offset: -1px;
}
.kanban-builder-layout {
  min-width: 70px;
  text-align: center;
}
.kanban-builder-thead .kanban-builder-layout {
  padding: 0;
}
.kanban-builder-thead td {
  font-weight: bold;
}
.kanban-builder-layout .btn {
  padding: 0;
  border: 0;
  vertical-align: top;
  width: 100%;
  height: 32px;
}
.kanban-builder-actions {
  padding: 0!important;
  width: 53px;
}
.kanban-builder-tbody .kanban-builder-actions {
  width: 36px;
}
.kanban-builder-actions .btn {
  padding: 0;
  border: 0;
  width: 100%;
  height: 30px;
}
.kanban-builder-actions .btn-primary,
.kanban-builder-actions .btn-danger {
  height: 32px;
}
.kanban-builder-tfoot td {
  border-top: 1px solid #bbb;
  border-bottom: none;
  text-align: center;
}
.kanban-builder .btn-default:hover {
  background-color: #ffffa6;
}
.kanban-builder-tfoot td:first-child {
  width: 105px;
  padding: 0;
}
.kanban-builder-layoutError {
  position: absolute;
  top: 35px;
  left: 215px;
  width: 350px;
  height: 32px;
  opacity: 0;
  pointer-events: none;
}
