.kanban-filter {
  padding: 3px 10px 0 10px;
}
.kanban-filter .form-control {
  font-family: Consolas, "Lucida Console", Monaco, monospace;
}
.kanban-filter-buttons {
  margin-top: 5px;
  display: flex;
}
.kanban-filter-help {
  font-size: 28px;
  align-self: center;
}
.kanban-filter-help + .btn {
  margin-left: auto;
}
.kanban-filter-buttons .btn {
  flex: 0 0 auto;
}
.kanban-filter select.form-control {
  font-size: 12px;
}
.kanban-filter[data-column-id="workCenter"] .form-control,
.kanban-filter[data-column-id="family"] .form-control > option:first-child,
.kanban-filter[data-column-id="container"] .form-control > option:first-child {
  font-family: Arial, "Helvetic Neue", Helvetica, sans-serif;
}
.kanban-filter[data-column-id="markerColor"] .form-control {
  font-family: inherit;
}
.kanban-filter[data-column-id="kind"] .form-control {
  font-family: inherit;
  height: 59px;
}
.kanban-filter[data-column-id="workstations"] .form-control,
.kanban-filter[data-column-id="locations"] .form-control,
.kanban-filter[data-column-id="discontinued"] .form-control {
  font-family: inherit;
  height: 44px;
}
