@import "./filters.css";
@import "./search.css";
@import "./builder.css";

.kanban-pa-lastImport {
  display: inline-block;
  font-size: 12px;
  line-height: 1.5;
}
.kanban-pa-lastImport .fa-spinner {
  margin-right: 5px;
}
.kanban-entries {
  border: 1px solid #bbb;
  border-top: 0;
  line-height: 1;
  white-space: nowrap;
}
.kanban-thead-outerContainer {
  overflow: hidden;
  height: 146px;
}
.kanban-thead-innerContainer {
  overflow-x: scroll;
}
.kanban-tbody-outerContainer {
  overflow: hidden;
}
.kanban-tbody-innerContainer {
  overflow: scroll;
  height: 100%;
}
.kanban-thead-table,
.kanban-tbody-table {
  table-layout: fixed;
  width: 100%;
}
.kanban-thead-table {
  user-select: none;
}
.kanban-tbody-table {
  position: absolute;
  top: 0;
}
.kanban-tbody-scroller {
  position: relative;
}
.kanban-td {
  position: relative;
  padding: 4px;
  height: 25px;
  text-align: center;
  background-color: #fff;
  background-clip: padding-box;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-top: 1px solid #bbb;
}
.kanban-thead-table .kanban-td {
  padding: 0;
  height: 145px;
  text-align: center!important;
  border-bottom-width: 2px;
}
.kanban-tbody-table > tbody > tr:first-child > .kanban-td {
  border-top-color: transparent;
}
.kanban-is-odd > .kanban-td {
  background-color: #f9f9f9;
}
.kanban-tbody-table .kanban-is-discontinued > .kanban-td {
  background-color: #f2dede;
}
.kanban-tbody-table .kanban-is-selected > .kanban-td,
.kanban-tbody-table .kanban-td.kanban-is-selected,
.kanban-thead-table .kanban-td.kanban-is-selected {
  background-color: #d9edf7;
  color: #000;
}
.kanban-tbody-table tr:hover > .kanban-td,
.kanban-tbody-table tr > .kanban-td.kanban-is-hovered[tabindex],
.kanban-thead-table tr > .kanban-td.kanban-is-hovered {
  background-color: #ffffd6;
}
.kanban-thead-table td[data-column-id="filler1"],
.kanban-thead-table td[data-column-id="filler2"] {
  background-color: #fff!important;
}
.kanban-tbody-table .kanban-td:hover {
  background-color: #ffffa6!important;
}
.kanban-td-value {
  display: block;
  overflow: hidden;
  font-family: Consolas, "Lucida Console", Monaco, monospace;
}
.kanban-is-expanded {
  overflow: visible!important;
}
.kanban-is-expanded .kanban-td-value {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 4px;
  pointer-events: none;
  width: 100%;
  height: auto;
  line-height: 14px;
  white-space: pre-line;
  z-index: 1;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px 3px #666;
  user-select: none;
}
.kanban-is-expanded[data-column-id="comment"] .kanban-td-value {
  padding: 6px 4px;
}
.kanban-is-rotated {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  white-space: nowrap;
  text-align: center;
  line-height: 1;
}
.kanban-is-invalid,
.kanban-is-odd > .kanban-is-invalid {
  background-color: #f2dede;
}
.kanban-is-warning,
.kanban-is-odd > .kanban-is-warning {
  background-color: #fcf8e3;
}
.kanban-is-focused {
  outline: 2px solid #0af;
  outline-offset: -1px;
}
.kanban-is-editable {
  cursor: pointer;
}
.kanban-is-editing {
  outline: none;
}
/*
tr:hover > .kanban-is-invalid,
.kanban-is-selected > .kanban-is-invalid {
  color: #e00;
}
.kanban-is-focused.kanban-is-invalid {
  outline-color: #e00;
}
*/
.kanban-is-with-menu {
  cursor: pointer;
}
.kanban-is-with-menu:hover {
  background-color: #ffffa6!important;
  color: #000;
}
.kanban-is-with-menu:before,
.kanban-is-asc:before,
.kanban-is-desc:before,
.kanban-is-filtered:before {
  position: absolute;
  right: 3px;
  bottom: 2px;
  font-family: FontAwesome;
  font-size: 14px;
}
.kanban-is-with-menu:before {
  color: #bbb;
  content: "\f0dc";
}
.kanban-is-filtered:before {
  color: inherit;
  content: "\f0b0";
}
.kanban-is-asc:before {
  color: inherit;
  content: "\f0de";
}
.kanban-is-desc:before {
  color: inherit;
  content: "\f0dd";
}
.kanban-is-filtered.kanban-is-asc:before {
  content: "\f0de  \f0b0";
}
.kanban-is-filtered.kanban-is-desc:before {
  content: "\f0dd  \f0b0";
}
.kanban-td[data-column-id="_id"] {
  width: 70px;
}
.kanban-td[data-column-id="nc12"] {
  width: 105px;
}
.kanban-td[data-column-id="description"] {
  width: 320px;
  text-align: left;
}
.kanban-td[data-column-id="supplyArea"],
.kanban-td[data-column-id="workCenter"],
.kanban-td[data-column-id="kanbanStorageBin"] {
  width: 90px;
  text-align: left;
}
.kanban-td[data-column-id="workCenter"] .kanban-td-value {
  display: inline-block;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  vertical-align: middle;
}
.kanban-td[data-column-id="family"] {
  width: 90px;
  text-align: left;
}
.kanban-td[data-column-id="storingPosition"] {
  width: 90px;
  text-align: left;
}
.kanban-td[data-column-id="storageType"] {
  width: 35px;
}
.kanban-td[data-column-id="kanbanQtyUser"] {
  width: 50px;
}
.kanban-td[data-column-id="componentQty"] {
  width: 50px;
}
.kanban-td[data-column-id="storageBin"] {
  width: 80px;
  text-align: left;
}
.kanban-td[data-column-id="kanbanId"] {
  width: 70px;
  text-align: left;
}
.kanban-td[data-column-id="kanbanIdCount"] {
  width: 35px;
}
.kanban-td[data-column-id="lineCount"] {
  width: 30px;
}
.kanban-td[data-column-id="emptyFullCount"] {
  width: 60px;
}
.kanban-td[data-column-id="stock"] {
  width: 60px;
}
.kanban-td[data-column-id="maxBinQty"] {
  width: 60px;
}
.kanban-td[data-column-id="minBinQty"] {
  width: 60px;
}
.kanban-td[data-column-id="replenQty"] {
  width: 60px;
}
.kanban-td[data-column-id="unit"] {
  width: 40px;
}
.kanban-td[data-column-id="kind"] {
  width: 30px;
}
.kanban-td[data-column-id="container"] {
  width: 86px;
  text-align: left;
}
.kanban-td[data-column-id="workstations"] {
  width: 35px;
}
.kanban-thead-table .kanban-td[data-column-id="workstations"] {
  height: 72px;
}
.kanban-td[data-column-id="workstations"][colspan] {
  width: 350px;
  height: 73px;
  border-bottom-width: 1px;
}
.kanban-td[data-column-id="locations"] {
  width: 40px;
}
.kanban-thead-table .kanban-td[data-column-id="locations"] {
  height: 72px;
}
.kanban-td[data-column-id="locations"][colspan] {
  width: 400px;
  height: 73px;
  border-bottom-width: 1px;
}
.kanban-td[data-column-id="discontinued"] {
  width: 30px;
}
.kanban-td[data-column-id="markerColor"] {
  width: 30px;
}
.kanban-tbody-table .kanban-td[data-column-id="markerColor"] {
  text-align: left;
}
.kanban-td-color-marker {
  display: inline-block;
  width: 21px;
  height: 16px;
  vertical-align: top;
}
.kanban-td-color-label {
  margin-left: 4px;
  font-family: Arial, sans-serif;
}
.kanban-td-id-suffix {
  color: #999;
}
.kanban-td[data-column-id="comment"] {
  width: 400px;
  text-align: left;
  overflow: hidden;
}
.kanban-td[data-column-id="comment"] .kanban-td-value {
  display: inline-block;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  vertical-align: middle;
}
.kanban-td[data-column-id="filler1"] {
  width: 100px;
  border-right: none;
}
.kanban-td[data-column-id="filler2"] {
  width: auto;
  border-right: none;
}
.kanban-editor-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: all;
  user-select: none;
}
.kanban-editor-form {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
}
.kanban-editor-input,
.kanban-editor-input:focus,
.kanban-editor-textArea,
.kanban-editor-textArea:focus {
  font-family: Consolas, "Lucida Console", Monaco, monospace;
  text-align: center;
  border: 0;
  outline: 2px solid #0af;
  outline-offset: -1px;
  box-shadow: inset 0 0 4px #000;
}
.kanban-editor-textArea,
.kanban-editor-textArea:focus {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: left;
  height: 75px;
}
.kanban-editor-select,
.kanban-editor-select:focus {
  padding: 2px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  border: 0;
  outline: 2px solid #0af;
  outline-offset: -1px;
  box-shadow: inset 0 0 4px #000;
}
.kanban-editor-form[data-column-id="workCenter"] {
  width: 90px;
}
.kanban-editor-form[data-column-id="container"] {
  width: 86px;
}
.kanban-editor-form[data-column-id="workstations"] {
  width: 35px;
}
.kanban-editor-form[data-column-id="locations"] {
  width: 40px;
  text-transform: uppercase;
}
.kanban-editor-form[data-column-id="comment"] {
  width: 400px;
}
.kanban-editor-form[data-column-id="markerColor"] {
  width: 140px;
}
.kanban-popover .popover-title {
  padding: 4px 8px;
  font-size: 12px;
  line-height: 1;
}
.kanban-popover .popover-content {
  padding: 0;
  font-size: 12px;
}
.kanban-popover-container-image {
  display: flex;
  width: 192px;
  height: 108px;
  background: #333;
  margin: 8px 8px 0 8px;
  justify-content: center;
  align-items: center;
}
.kanban-popover-container-image img {
  max-width: 192px;
  max-height: 108px;
}
.kanban-popover-container-size {
  padding: 8px;
  text-align: center;
}
