.d8Entries-form .form-control[name="rid"] {
  width: 11em;
}
.d8Entries-form .btn-primary > .fa-spinner {
  display: none;
}
.d8Entries-form .btn-primary > span {
  margin-left: 0;
}
.d8Entries-form.is-uploading .btn-primary .fa-spinner {
  display: inline-block;
}
.d8Entries-form.is-uploading .btn-primary > span {
  margin-left: 7px;
}
.d8Entries-form-statusBtnGroup {
  display: block;
}
.d8Entries-form .help-block {
  font-size: 0.9em;
}
.d8Entries-form-stripsTable {
  margin-bottom: 7px;
}
.d8Entries-form-stripsTable input[name$="no"] {
  width: 200px;
}
.d8Entries-form-stripsTable input[name$="family"] {
  width: 150px;
}
.d8Entries-form-stripsTable .form-control[type="date"] {
  width: 100%;
}
.d8Entries-form-dates {
  display: flex;
  flex-wrap: wrap;
}
.d8Entries-form-dates > .form-group {
  margin-right: 15px;
}
.d8Entries-form-dates > .form-group:last-child {
  margin-bottom: 15px;
}
.d8Entries-form .has-required-select2 > input[name="owner"] {
  top: 25px!important;
  bottom: auto!important;
  height: 34px;
}
.d8Entries-form-d5CloseDate > .control-label {
  display: block;
}
.d8Entries-form-d5CloseDate > .form-control {
  display: inline-block;
}
.d8Entries-form-d5CloseDate > .btn {

}
