.idea
/node_modules
/node_modules_min
/node_modules_dev
/frontend/files
/frontend-build/files
/build
/config/production
/config/standalone
/config/development
/config/vps
/config/license.ed.private.pem
/config/gdrive.private.json
/data
/scripts/sapGui/*.exe
/bin/fix
