<div class="panel panel-primary">
  <div class="panel-heading"><%- helpers.t('PANEL:TITLE:details') %></div>
  <div class="panel-details">
      <%- helpers.props(model, [
        '_id',
        'name',
        'length',
        'width',
        'height',
        {id: '!image', value: function(image)
        {
          if (image)
          {
            return '<a href="/kanban/containers/' + encodeURIComponent(model._id) + '.jpg" target="_blank">'
              + '<img src="/kanban/containers/' + encodeURIComponent(model._id) + '.jpg" style="max-height: 216px"></a>';
          }

          return '';
        }}
      ]) %>
  </div>
</div>
