<tr>
  <td><%= absentUser.personnelId %>
  <td><%= absentUser.name %>
  <% if (editable) { %>
  <td class="actions">
    <div class="actions-group">
      <button class="btn btn-danger fte-masterEntry-absence-remove" data-userId="<%- absentUser.id %>"><i class="fa fa-times"></i></button>
    </div>
  <% } %>
