<div class="fte-focusInfoBar-prop"><%= prodTask %></div><% if (prodFunction) { %><div class="fte-focusInfoBar-prop"><%= prodFunction %></div><% } %><% if (company) { %><div class="fte-focusInfoBar-prop"><%= company %></div><% } %><% if (division) { %><div class="fte-focusInfoBar-prop"><%= division %></div><% } %>
