<div class="fte-focusInfoBar-prop"><%= prodTask %></div><div class="fte-focusInfoBar-prop"><%= prodFunction %></div><div class="fte-focusInfoBar-prop"><%= company %></div><% if (division) { %><div class="fte-focusInfoBar-prop"><%= division %></div><% } %>
