<tr data-prod-function="<%- prodFunction.id %>">
  <td class="is-min is-number"><%- no %>.</td>
  <td class="is-min"><%= prodFunction.text %></td>
  <td><input data-name="companies" type="text" value="<%- companies %>"></td>
  <td class="actions">
    <button data-structure-action="up" class="btn btn-default" type="button"><i class="fa fa-arrow-up"></i></button>
    <button data-structure-action="down" class="btn btn-default" type="button"><i class="fa fa-arrow-down"></i></button>
    <button data-structure-action="remove" class="btn btn-default" type="button"><i class="fa fa-remove"></i></button>
  </td>
</tr>
