.orderDocumentClients-filter-prodLine {
  width: 7em;
}
.orderDocumentClients-filter .fa-plug {
  color: #5cb85c;
}
.orderDocumentClients-filter .fa-power-off {
  color: #d9534f;
}
.orderDocumentClients-licensingMessage {
  margin-bottom: 15px;
  color: inherit!important;
  text-decoration: none!important;
}
