<div class="planning-plan <%- darker ? 'planning-darker' : '' %>">
  <div id="<%- idPrefix %>-filter" class="filter-container"></div>
  <div id="<%- idPrefix %>-list" class="planning-wh-list"></div>
</div>
