<form class="wh-set-editor wh-set-editor-problem">
  <input type="text" autocomplete="new-password" class="form-control" value="<%= problemArea %>" placeholder="<%- t('wh', 'set:problemEditor:problemArea') %>" required>
  <button class="btn btn-danger"><i class="fa fa-shopping-cart"></i></button>
  <textarea class="form-control" placeholder="<%- t('wh', 'set:problemEditor:comment') %>"><%= comment %></textarea>
</form>
