<div class="wh-problems-chat-message">
  <div class="wh-problems-chat-meta">
    <span class="wh-problems-chat-user"><%- user %></span>
    @
    <span class="wh-problems-chat-time"><%- time %></span>
  </div>
  <div class="wh-problems-chat-text"><%- text %></div>
</div>
