<form class="wh-pa-resolveAction" title="<%- t('PAGE_ACTION:resolveAction:title') %>" autocomplete="off">
  <div class="input-group">
    <input name="card" type="text" autocomplete="new-password" class="form-control" placeholder="<%- t('PAGE_ACTION:resolveAction:placeholder') %>" required <% if (pattern) { %>pattern="<%- pattern %>"<% } %> value="<%= value %>">
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit"><i class="fa fa-id-card-o"></i></button>
    </span>
  </div>
</form>
