<table class="xiconf-wiring-table">
  <tbody>
  <% probes.forEach(function(probe) { %>
  <tr class="xiconf-wiring-row">
    <th class="is-min"><%- helpers.t('wiring:probe:' + probe.n) %></th>
    <% probe.pins.forEach(function(pin) { %>
    <td class="is-min is-number"><span class="xiconf-wiring-pin <%- pin.inactive ? 'xiconf-wiring-inactive' : '' %> <%- pin.on ? 'xiconf-wiring-on' : '' %>"><%- pin.label %></span></td>
    <% }) %>
    <td></td>
  </tr>
  <% }) %>
  </tbody>
</table>
