<div>
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitle %></div>
    <div class="panel-details">
      <%- helpers.props(model, [
        'active',
        'type',
        'shortName',
        'longName',
        {id: 'description', className: 'text-lines'},
        '!coordinators'
      ]) %>
    </div>
  </div>
</div>
