<div class="btn-group">
  <button type="submit" class="btn btn-default"><i class="fa fa-filter"></i><span><%- t('core', 'filter:submit') %></span></button>
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="<%- t('core', 'filter:filters') %>"><span class="caret"></span></button>
  <ul class="dropdown-menu">
    <% filters.forEach(function(filter) { %>
    <li>
      <a data-filter="<%- filter %>">
        <%-
          t.has('filter:' + filter)
            ? t('filter:' + filter)
            : t.has('PROPERTY:' + filter)
              ? t('PROPERTY:' + filter)
              : t('core', 'filter:' + filter)
        %>
      </a>
    </li>
    <% }) %>
  </ul>
</div>
