<div class="navbar-inner">
  <% include navbar/left.ejs %>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li><a href="#"><%- t('core', 'NAVBAR:DASHBOARD') %></a>
      <% include navbar/fte.ejs %>
      <% include navbar/planning.ejs %>
      <% include navbar/prod.ejs %>
      <% include navbar/reports.ejs %>
      <% include navbar/testing.ejs %>
      <% include navbar/qi.ejs %>
      <% include navbar/kaizen.ejs %>
      <% include navbar/suggestions.ejs %>
      <% include navbar/opinionSurveys.ejs %>
      <% include navbar/dictionaries.ejs %>
      <% include navbar/tools.ejs %>
    </ul>
    <% include navbar/right.ejs %>
    <% if (user.isAllowedTo('LOCAL', 'USER')) { %>
    <% include navbar/search.ejs %>
    <% } %>
    <div class="navbar-right">
      <a id="<%- idPrefix %>-mor" class="btn btn-link navbar-mor" href="#mor" title="<%- t('core', 'NAVBAR:mor') %>" style="width: 41px"><i class="fa fa-group"></i></a>
    </div>
  </div>
</div>
