<div class="navbar-inner">
  <% include navbar/left.ejs %>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li><a href="#"><%- t('core', 'NAVBAR:DASHBOARD') %></a>
      <li data-online data-privilege="EVENTS:VIEW" data-module><a href="#events"><%- t('core', 'NAVBAR:EVENTS') %></a>
      <% include navbar/fte.ejs %>
      <li data-online data-privilege="HOURLY_PLANS:VIEW" data-module><a href="#hourlyPlans"><%- t('core', 'NAVBAR:HOURLY_PLANS') %></a>
      <li data-online data-privilege="PURCHASE_ORDERS:VIEW" data-module><a href="#purchaseOrders"><%- t('core', 'NAVBAR:PURCHASE_ORDERS') %></a>
      <% include navbar/prod.ejs %>
      <% include navbar/programming.ejs %>
      <% include navbar/reports.ejs %>
      <% include navbar/dictionaries.ejs %>
    </ul>
    <% include navbar/right.ejs %>
  </div>
</div>
