<span class="userInfo"><% if (userInfo) { %><span class="userInfo-label"><%= userInfo.label %></span><% if (userInfo.cname || (userInfo.ip && userInfo.ip !== '0.0.0.0')) { %> <span class="userInfo-cname">(<%= userInfo.cname || userInfo.ip %>)</span><% } %><% } else { %>-<% } %></span>
