<li data-online class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown">
    <%- t('core', 'NAVBAR:DOCUMENTS') %>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li data-privilege="DOCUMENTS:VIEW" data-module><a href="#orderDocuments/clients"><%- t('core', 'NAVBAR:DOCUMENTS:CLIENTS') %></a>
    <li data-privilege="ORDERS:MANAGE" data-module><a href="#orders;settings?tab=documents"><%- t('core', 'NAVBAR:DOCUMENTS:SETTINGS') %></a>
  </ul>
