<li data-online data-module="fte" class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown">
    <%- t('core', 'NAVBAR:FTE') %>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li data-privilege="FTE:MASTER:VIEW" class="navbar-with-button"><a href="#fte/master"><%- t('core', 'NAVBAR:FTE:MASTER') %></a><button class="btn btn-default" data-privilege="FTE:MASTER:MANAGE" data-href="#fte/master;add"><i class="fa fa-plus"></i></button>
    <li data-privilege="FTE:LEADER:VIEW" class="navbar-with-button"><a href="#fte/leader"><%- t('core', 'NAVBAR:FTE:LEADER') %></a><button class="btn btn-default" data-privilege="FTE:LEADER:MANAGE" data-href="#fte/leader;add"><i class="fa fa-plus"></i></button>
    <li data-privilege="PROD_DATA:MANAGE"><a href="#fte;settings"><%- t('core', 'NAVBAR:FTE:SETTINGS') %></a>
  </ul>
