<li data-online data-privilege="USER" data-module="suggestions" class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown">
    <%- t('NAVBAR:SUGGESTIONS:main') %>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li class="dropdown-message" style="width: 158px"><%- t('NAVBAR:SUGGESTIONS:moved') %>
  </ul>
