<div class="panel panel-primary">
  <div class="panel-heading"><%- panelTitle %></div>
  <div class="panel-details">
    <%- helpers.props(model, [
      '_id',
      'name',
      'position',
      {id: '!owners', value: function(owners)
      {
        if (!owners.length)
        {
          return '';
        }

        return '<ul>' + owners.map(function(owner) { return '<li>' + owner; }) + '</ul>';
      }}
    ]) %>
  </div>
</div>
