<div class="panel panel-primary">
  <div class="panel-heading"><%- panelTitle %></div>
  <div class="panel-details">
    <%- helpers.props(model, [
      '_id',
      'name',
      'active',
      'position',
      {id: '!owners', value: function(owners)
      {
        if (!owners.length)
        {
          return '';
        }

        return '<ul>' + owners.map(function(owner) { return '<li>' + owner; }).join('') + '</ul>';
      }},
      {id: '!mrps', value: function(mrps)
      {
        if (!mrps.length)
        {
          return '';
        }

        return '<ul>' + mrps.map(function(mrp) { return '<li>' + mrp; }).join('') + '</ul>';
      }}
    ]) %>
  </div>
</div>
