.planning-orderGroups-tester-headers,
.planning-orderGroups-tester-groups {
  display: flex;
  overflow: auto;
  padding: 0 15px;
  border: 1px solid #e3e3e3;
}
.planning-orderGroups-tester-headers {
  align-items: flex-end;
  overflow: hidden;
  border: none;
}
.planning-orderGroups-tester-header,
.planning-orderGroups-tester-group {
  flex: 0 0 auto;
  margin-left: 30px;
  max-width: 375px;
}
.planning-orderGroups-tester-header:first-child,
.planning-orderGroups-tester-group:first-child {
  margin-left: 0;
}
.planning-orderGroups-tester-header h3 {
  margin: 0;
  padding-bottom: 10px;
}
.planning-orderGroups-tester-orders {
  width: 100%;
}
.planning-orderGroups-tester-highlighted td,
.planning-orderGroups-tester-order:hover td {
  background: #ffffd6;
}
.planning-orderGroups-tester-order td {
  white-space: nowrap;
  line-height: 1.6;
}
.planning-orderGroups-tester-order tr:first-child td {
  padding-top: 4px;
  border-top: 1px solid #CCC;
}
.planning-orderGroups-tester-order:first-child tr td {
  border-top: none;
}
.planning-orderGroups-tester-order tr:last-child td {
  padding-bottom: 4px;
}
.planning-orderGroups-tester-nc12 {
  padding-left: 10px;
  padding-right: 10px;
}
td.planning-orderGroups-tester-color {
  text-align: right;
  padding-left: 10px;
}
span.planning-orderGroups-tester-color {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  vertical-align: middle;
}
