<div class="kaizenOrders-report">
  <div class="filter-container"></div>
  <% metrics.forEach(function(metric) { %>
  <h3><%- t('kaizenOrders', 'report:title:' + metric) %></h3>
  <div class="kaizenOrders-report-<%- metric %>"></div>
  <% }) %>
  <h3><%- t('kaizenOrders', 'report:title:confirmer') %></h3>
  <div class="kaizenOrders-report-confirmer"></div>
  <h3><%- t('kaizenOrders', 'report:title:owner') %></h3>
  <div class="kaizenOrders-report-owner"></div>
</div>
