<div class="kaizenOrders-report-tableAndChart">
  <div id="<%- idPrefix %>-table" class="kaizenOrders-report-table"></div>
  <div id="<%- idPrefix %>-chart" class="kaizenOrders-report-chart"></div>
</div>
