<div class="kaizenOrders-thanks">
  <p class="kaizenOrders-thanks-message"><%- t('kaizenOrders', 'thanks:message') %></p>
  <i class="fa fa-thumbs-up"></i>
  <p class="kaizenOrders-thanks-footnote"><%- t('kaizenOrders', 'thanks:footnote') %></p>
</div>
