.osh-actions-form .panel-primary .panel {
  margin-left: -15px;
  margin-right: -15px;
  border-left: none;
  border-right: none;
}
.osh-actions-form .panel-primary .panel > .panel-body {
  background-color: #d9edf7;
}
.osh-actions-form-rootCauses {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 15px;
}
.osh-actions-form-rootCause {
  flex: 1 1 auto;
  margin: 0 15px;
}
.osh-actions-form-rootCause label {
  margin-bottom: 0;
  font-weight: normal;
}
.osh-actions-form-rootCause .fa-question-circle {
  cursor: pointer;
}
.osh-actions-form-rootCause-why > label {
  margin-top: 7px;
}
.osh-actions-form-rootCause-why > textarea {
  resize: vertical;
  min-height: 54px;
}
.osh-actions-form-rootCause-popover {
  max-width: 800px;
}
.osh-actions-form-rootCause-popover h5 {
  font-weight: bold;
}
.osh-actions-form-resolutions-group {
  margin-bottom: 15px;
}
.osh-actions-form-resolutions-group td {
  background-color: #fff;
}
.osh-actions-form-resolutions-actions {
  width: 190px;
}
