<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <span><%- t('PAGE_ACTIONS:dictionaries') %></span> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu pull-right">
    <% ['lines', 'carts'].forEach(function(dictionary) { %>
    <li><a href="#ct/<%- dictionary %>"><%- t('PAGE_ACTIONS:dictionaries:' + dictionary) %></a></li>
    <% }) %>
  </ul>
</div>
