<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <span><%- t('PAGE_ACTION:reports') %></span> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu pull-right">
    <% ['pce', 'groups', 'results'].forEach(function(report) { %>
    <li class="<%- report === 'results' ? 'disabled' : '' %>"><a href="#ct/reports/<%- report %>"><%- t('PAGE_ACTION:reports:' + report) %></a></li>
    <% }) %>
  </ul>
</div>
