<div class="ct-report-groups-product">
  <h2><a href="#ct/orderGroups/<%- group._id %>"><%= group.name %></a></h2>
  <div id="<%- idPrefix %>-chart"></div>
  <div id="<%- idPrefix %>-table"></div>
</div>
