<div class="panel panel-default xiconfPrograms-stepPanel xiconfPrograms-stepPanel-program">
  <div class="panel-heading"><%- stepIndex + 1 %>. <%- helpers.t('step:program') %></div>
  <div class="panel-details">
    <div class="props first">
      <div class="prop">
        <div class="prop-name"><%- helpers.t('PROPERTY:label') %></div>
        <div class="prop-value"><%= step.label %></div>
      </div>
    </div>
  </div>
</div>
