.changelog {
  font-size: 16px;
}
.changelog h1:first-child {
  margin-top: 0;
}
.changelog > div {
  margin-top: 30px;
}
.changelog h1 {
  padding-bottom: 7px;
  font-size: 24px;
  border-bottom: 1px dotted #d9d9d9;
}
.changelog h2 {
  margin-top: 0;
  font-size: 14px;
  color: #666;
}
.changelog h3 {
  font-size: 16px;
  font-weight: bold;
}
.changelog h3 + h3 {
  margin-top: 0;
}
.changelog p,
.changelog ul,
.changelog ol {
  max-width: 780px;
  text-align: justify;
}
.changelog li + li {
  margin-top: 5px;
}
