.page[data-id="report1"] > .ft {
  display: none;
}
.page[data-id="report1"] > .bd {
  margin-bottom: 0;
}
.reports-chart:-webkit-full-screen {
  width: 100%;
  height: 100%;
}
.reports-1-page .filter-container {
  margin-top: 1em;
  margin-bottom: 0;
}
.reports-1-header > h1 {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  line-height: 1;
  font-weight: bold;
  font-size: 38.5px;
}
.reports-1-header-orgUnits {
  display: inline-block;
  padding: 0;
  margin: 0;
  line-height: 1;
  list-style: none;
}
.reports-1-header-orgUnit {
  display: inline-block;
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1px dotted #ddd;
}
.reports-1-header-orgUnit-label {
  display: block;
  font-weight: bold;
  font-size: 16px;
  font-variant: small-caps;
  text-transform: lowercase;
}
.reports-1-header-orgUnit-value {
  display: block;
  font-size: 20px;
}
.reports-1-charts-container {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  min-height: 760px;
  overflow-y: hidden;
  overflow-x: scroll;
}
.reports-1-charts {
  flex: 0 0 375px;
  border-right: 1px dotted #E7E7E7;
}
.reports-1-charts:last-child {
  border-right: 0;
}
.reports-chart {
  height: 345px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.reports-1-downtimesByAor,
.reports-1-downtimesByReason {
  height: 200px;
}
.reports-chart .highcharts-container {
  overflow: visible!important;
}
.reports-chart .highcharts-title {
  font-weight: bold;
  fill: #428BCA!important;
}
.reports-1-charts[data-orgUnitType] .reports-1-coeffs .highcharts-title {
  cursor: zoom-in;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap!important;
}
.reports-1-charts[data-orgUnitType="prodLine"] .reports-1-coeffs .highcharts-title {
  cursor: default;
}
.reports-1-coeffs .highcharts-title:hover {
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
  fill: #2A6496!important;
}
.reports-1-charts[data-orgUnitType]:first-child .reports-1-coeffs .highcharts-title {
  cursor: zoom-out;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
}
.reports-1-page.is-drillingDown .reports-1-charts {
  opacity: 0.01;
}
.reports-1-page.is-drillingDown .reports-1-charts:first-child {
  opacity: 1;
}
.reports-1-page.is-replacing .reports-1-charts {
  opacity: 0.01;
}
.reports-1-page.is-changing * {
  cursor: wait!important;
}
