.page[data-id="report1"] > .ft,
.page[data-id="report2"] > .ft,
.page[data-id="report6"] > .ft {
  display: none;
}
.page[data-id="report1"] > .bd,
.page[data-id="report2"] > .bd,
.page[data-id="report6"] > .bd {
  margin-bottom: 0;
}
.reports-chart:fullscreen {
  width: 100%!important;
  height: 100%!important;
}
.reports-chart:-webkit-full-screen {
  width: 100%!important;
  height: 100%!important;
}
.reports-chart:-moz-full-screen {
  width: 100%!important;
  height: 100%!important;
}
.reports-chart:-ms-fullscreen {
  width: 100%!important;
  height: 100%!important;
}
.reports-drillingReportPage .filter-container,
.reports-displayOptions-container {
  margin-top: 1em;
  margin-bottom: 0;
}
.reports-displayOptions-container > .well {
  padding: 1em 1em 0 0;
}
.reports-drillingReportPage .form-group-datetime {
  display: inline-flex;
  width: 256px;
}
.reports-drillingHeader > h1 {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  line-height: 1;
  font-weight: bold;
  font-size: 34px;
}
.reports-drillingHeader-orgUnits {
  display: inline-block;
  padding: 0;
  margin: 0;
  line-height: 1;
  list-style: none;
}
.reports-drillingHeader-orgUnit {
  display: inline-block;
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1px dotted #ddd;
}
.reports-drillingHeader-orgUnit-label {
  display: block;
  font-weight: bold;
  font-size: 16px;
  font-variant: small-caps;
  text-transform: lowercase;
}
.reports-drillingHeader-orgUnit-value {
  display: block;
  font-size: 16px;
}
.reports-drillingCharts-container {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  min-height: 760px;
  overflow-y: hidden;
  overflow-x: scroll;
}
.reports-drillingCharts-container.is-fullscreen,
.reports-6-container.is-fullscreen {
  overflow-x: hidden;
}
.reports-drillingCharts {
  flex: 0 0 375px;
  border-right: 1px dotted #E7E7E7;
}
.reports-drillingCharts:last-child {
  border-right: 0;
}
.reports-chart {
  height: 248px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.is-fullscreen .reports-chart {
  display: none;
}
.reports-chart.is-fullscreen,
.reports-6-container .is-fullscreen {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.reports-1-coeffs,
.reports-1-downtimesByAor,
.reports-1-downtimesByReason,
.reports-2-clip,
.reports-2-dirIndir,
.reports-2-effIneff {
  height: 248px;
}
.reports-chart .highcharts-container {
  overflow: visible!important;
}
.reports-drillingChart .highcharts-title {
  font-weight: bold;
}
.reports-drillingCharts[data-orgUnitType] .reports-drillingChart .highcharts-title,
.reports-6-column[data-parent] > .reports-6-effAndFte-container .highcharts-title {
  cursor: zoom-in;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-weight: bold;
  fill: #428BCA!important;
  white-space: nowrap!important;
}
.reports-drillingCharts[data-orgUnitType]:first-child .reports-drillingChart .highcharts-title,
.reports-6-column[data-parent].is-focused > .reports-6-effAndFte-container .highcharts-title {
  cursor: zoom-out;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
}
.reports-drillingCharts[data-orgUnitType] .reports-drillingChart .highcharts-title:hover,
.reports-6-column[data-parent] > .reports-6-effAndFte-container .highcharts-title:hover {
  fill: #2A6496!important;
}
.reports-drillingCharts[data-orgUnitType="prodLine"] .reports-drillingChart .highcharts-title,
.reports-drillingCharts[data-orgUnitType="prodLine"] .reports-drillingChart .highcharts-title:hover,
.reports-drillingCharts[data-orgUnitType="subdivision"] .reports-5-totals .highcharts-title,
.reports-drillingCharts[data-orgUnitType="subdivision"] .reports-5-totals .highcharts-title:hover {
  cursor: default;
  fill: #333!important;
}
.reports-drillingChart.is-fullscreen .highcharts-title,
.reports-6-container.is-fullscreen .highcharts-title {
  cursor: default!important;
}
.reports-drillingReportPage.is-drillingDown .reports-drillingCharts {
  opacity: 0.01;
}
.reports-drillingReportPage.is-drillingDown .reports-drillingCharts:first-child {
  opacity: 1;
}
.reports-drillingReportPage.is-replacing .reports-drillingCharts {
  opacity: 0.01;
}
.reports-drillingReportPage.is-changing *,
.reports-6-page.is-changing * {
  cursor: wait!important;
}
.reports-settings {
  display: flex;
  flex: 1 0 auto;
  align-items: stretch;
}
.reports-settings .form-control[type="number"] {
  width: 112px;
}
.reports-settings > .list-group {
  margin-bottom: 0;
}
.reports-settings .list-group-item {
  white-space: nowrap;
  border-right: 0;
}
.reports-settings > .panel {
  flex-grow: 1;
  margin-bottom: 0;
}
.reports-settings .panel-body {
  display: none;
}
.reports-settings .panel-body.active {
  display: block;
}
.reports-settings .panel-body > :first-child {
  margin-top: 0;
}
.reports-settings-metricRefs:last-child > .form-group {
  margin-bottom: 0;
}
.reports-settings-metricRefs > .form-group {
  display: inline-block;
  margin-right: 15px;
}
.reports-settings .panel-body[data-tab="dirIndir"] .form-group:first-child {
  width: 140px;
}
.reports-settings-metricRefs label {
  font-weight: normal;
}
.reports-settings h3 {
  margin-top: 15px;
}
.reports-settings .pull-left {
  margin-right: 20px;
}
.reports-settings .form-group + .clearfix {
  margin-top: -15px;
}
.reports-3-container {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
}
.reports-3-tableSummary-container {
  flex: 1;
  min-width: 65%;
  padding-right: 1em;
}
.reports-3-charts {
  width: 35%;
  min-width: 450px;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}
.reports-3-oeeChart-container,
.reports-3-downtimeChart-container {
  margin-top: .5em;
  min-height: 288px;
  flex: 1;
  position: relative;
}
.reports-3-oeeChart-container {
  margin-top: 0;
  margin-bottom: .5em;
}
.reports-3-oeeChart,
.reports-3-downtimeChart {
  position: absolute;
  width: 100%;
  height: 100%;
}
.reports-3-tableSummary {
  font-size: .8em;
  text-align: left;
}
.reports-3-tableSummary table.dataTable {
  width: auto;
  margin: 0;
  table-layout: fixed;
}
@media (max-width: 1328px) {
  .reports-3-tableSummary-container {
    padding-right: 0;
  }
}
.reports-4-container {
  margin-left: 15px;
  margin-right: 15px;
}
.reports-4-effAndProd,
.reports-4-workTimes,
.reports-4-machineTimes,
.reports-4-quantities {
  height: 355px;
}
.reports-4-notes .table {
  border: 0;
}
.reports-4-notes th:first-child,
.reports-4-notes td:first-child {
  border-left: 0!important;
}
.reports-4-notes th:last-child,
.reports-4-notes td:last-child {
  border-right: 0!important;
}
.reports-4-notes tr:last-child > td {
  border-bottom: 0;
}
.reports-6-page .filter-container {
  margin-bottom: 0;
}
.reports-6-container {
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
}
.reports-6-column {
  flex: 0 0 auto;
  width: 470px;
  border-right: 1px dotted #e7e7e7;
}
.reports-6-column:last-child {
  border-right: 0;
}
.reports-6-column[data-child] {
  display: none;
}
.reports-6-effAndFte,
.reports-6-category,
.reports-6-totalAndAbsence {
  border-top: 1px solid #fff;
  width: 469px;
  height: 372px;
}
.reports-6-effAndFte-container + .reports-6-effAndFte-container {
  border-top: 1px dotted #e7e7e7;
}
