.reports-9-tables {
  display: flex;
  font-size: 14px;
  white-space: nowrap;
}
.reports-9-tables .is-highlighted > td {
  background: #FFFF00!important;
}
.reports-9-tables .table > thead > tr:first-child > th {
  text-align: center;
  border-bottom-width: 1px;
}
.reports-9-table-cags > .table {
  border-right-width: 2px;
}
.reports-9-table-cags tr > th {
  background: #BDD7EE;
}
.reports-9-table-cags thead > tr:first-child > th {
  background: #9CC3E5;
}
.reports-9-table-lines {
  overflow-x: scroll;
  flex: 1 1 auto;
}
.reports-9-table-lines tr > th {
  background: #F7CBAC;
}
.reports-9-table-lines thead > tr:first-child > th {
  background: #F4B183;
}
.reports-9-table-lines > .table {
  border-left: 0;
  border-right: 0;
}
.reports-9-tables .table {
  border-color: #333;
}
.reports-9-tables .table > thead > tr > th,
.reports-9-tables .table > tbody > tr > td {
  padding: 4px 4px;
  line-height: 1;
  border-color: #666;
}
.reports-9-table-numeric .table > thead > tr > th {
  border-left: 0;
  text-align: left;
}
.reports-9-table-numeric .table > tbody > tr > td {
  border-left: 0;
  text-align: right;
  width: 1px;
}
.reports-9-table-lines .table > thead > tr > th:last-child,
.reports-9-table-lines .table > tbody > tr > td:last-child {
  width: auto;
  border-right: 0;
}
.reports-9-table-summary {
  flex: 0 0 auto;
}
.reports-9-table-summary > .table {
  border-left-width: 2px;
}
.reports-9-table-summary tr > th {
  background: #FEE599;
}
.reports-9-table-summary thead > tr:first-child > th {
  background: #FFD965;
}
.reports-9-table-months tr > th {
  background: #C5E0B3;
}
.reports-9-table-months thead > tr:first-child > th {
  background: #A8D08D;
}
.reports-9-table-months-separator {
  border-right-width: 2px!important;
}
.reports-9-prodLineCount.is-custom {
  color: #000!important;
  font-weight: bold;
}
.table > .reports-9-table-options > tr:first-child {
  display: none;
}
.table > .reports-9-table-options > tr:last-child > th {
  height: 60px;
  vertical-align: top;
  text-align: left;
  font-weight: normal;
  border-bottom-width: 1px;
}
.reports-9-table-cags,
.reports-9-table-lines {
  margin-top: 60px;
}
.reports-9-table-options table {
  width: 100%;
}
.reports-9-table-options-value {
  padding-bottom: 3px;
  text-align: right;
}
