<div>
  <div id="<%- idPrefix %>-details"></div>
  <div id="<%- idPrefix %>-program" style="margin-top: 15px"></div>
  <div class="panel panel-default" style="margin-top: 15px">
    <div class="panel-heading"><%- helpers.t('PANEL:TITLE:charts') %></div>
    <div id="<%- idPrefix %>-charts" class="panel-body"></div>
  </div>
</div>
