.behaviorObsCards-form-radio {
  width: 100px!important;
  text-align: center;
  cursor: pointer;
}
.behaviorObsCards-form-radio > input {
  cursor: pointer;
}
.behaviorObsCards-form .table input[tabindex="-1"] {
  position: absolute;
  top: 0;
  left: -100px;
}
.behaviorObsCards-form-risk,
.behaviorObsCards-form-difficulty {
  width: 491px;
}
.behaviorObsCards-form .checkbox {
  margin-bottom: 15px;
}
.behaviorObsCards-form .table + .select2-container {
  margin-top: -16px;
  margin-bottom: 20px;
}
.behaviorObsCards-form-button {
  margin-top: -20px;
}
.behaviorObsCards-form-button + .behaviorObsCards-form-button {
  border-left: 0;
}
.behaviorObsCards-form-half {
  width: 50%;
}
.behaviorObsCards-form-option {
  width: 120px;
}
.behaviorObsCards-form .message + .table {
  margin-top: 15px;
}
.behaviorObsCards-form-rid-required {
  position: absolute;
  opacity: 0;
  border: 0;
  width: 1px
}
.behaviorObsCards-form-textarea textarea {
  resize: vertical;
}
