.orders-filter-_id,
.orders-filter-nc12 {
  width: 11em;
}
.filter-form .orders-filter-date-group {
  margin-bottom: 0;
}
.orders-filter-date-group input[type=date] {
  display: inline-block;
  margin-bottom: 1em;
}
.orders-filter-date-group input[type=radio] {
  margin-top: 0;
}
.orders-filter-date-finish-label {
  margin-left: 1em;
}
.orders-filter-date-range label {
  margin-top: .5em;
  margin-bottom: 0;
  vertical-align: top;
  font-weight: normal;
}
.orders-operations-container {
  margin: 15px 0;
}
.orders-change + .orders-change {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px dotted #ddd;
}
.orders-changes-more {
  cursor: pointer;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: #428bca;
}
.orders-changes-more:hover {
  color: #2a6496;
}
.orders-changes-property {
  border-left: 1px solid #ddd;
}
.orders-changes-page + .orders-changes-page {
  border-top-width: 1px;
}
.orders-changes-operations {
  cursor: pointer;
}
.orders-changes {
  position: relative;
}
.orders-changes .orders-operations {
  position: absolute;
  width: 100%;
}
