@import "./details.css";
@import "./attachments.css";
@import "./history.css";
@import "./form.css";

.osh-unseen {
  color: #E00!important;
}
.osh-unseen.list-item {
  color: inherit!important;
  font-weight: bold;
}
