.trw-programs-form-steps {
  margin-bottom: 15px;
}
.trw-programs-form-steps > .panel {
  margin-bottom: 0;
}
.trw-programs-form-steps > .panel + .panel {
  margin-top: -1px;
}
.trw-programs-form-steps > .panel:only-child .btn[data-action="removeStep"],
.trw-programs-form-steps > .panel:first-child .btn[data-action="moveStepUp"],
.trw-programs-form-steps > .panel:last-child .btn[data-action="moveStepDown"] {
  display: none;
}
.trw-programs-form-steps textarea {
  resize: vertical;
}
