.wiring-datePicker-dialog .modal-dialog {
  width: 460px;
}
.wiring-datePicker-input {
  display: flex;
  font-size: 64px;
}
.wiring-datePicker-separator {
  flex: 0 0 auto;
  line-height: 75px;
}
.wiring-datePicker-input > .form-control {
  font-family: monospace;
  font-size: 64px;
  text-align: center;
  width: 100px;
  height: 75px;
}
.wiring-datePicker-input > .form-control[name="year"] {
  flex: 1 1 auto;
}
.wiring-datePicker-buttons {
  display: flex;
  flex-direction: column;
}
.wiring-datePicker-buttons > .btn {
  padding: 0;
  font-size: 48px;
  text-align: center;
}
.wiring-datePicker-buttons > .btn:focus {
  z-index: 1;
}
.wiring-datePicker-buttons > .btn + .btn {
  margin-top: -1px;
}
.wiring-datePicker-buttons > .btn:first-child,
.wiring-datePicker-buttons > .btn:last-child {
  margin-top: 15px;
}
