.wiring-filter {
  position: sticky;
  top: 15px;
}
.wiring-filter-status .btn {
  text-align: left;
}
.wiring-filter-status-stats,
.wiring-filter-mrp-stats {
  display: inline-block;
  width: 60px;
  height: 20px;
  background: #fff;
  border: 1px solid #ccc;
  vertical-align: top;
  margin-right: 5px;
  line-height: 18px;
  text-align: center;
}
.btn[data-status="started"] .wiring-filter-status-stats {
  background: #d9edf7;
}
.wiring-darker .btn[data-status="started"] .wiring-filter-status-stats {
  background: #0af;
  color: #fff;
}
.btn[data-status="finished"] .wiring-filter-status-stats {
  background: #dff0d8;
}
.wiring-darker .btn[data-status="finished"] .wiring-filter-status-stats {
  background: #00dd00;
  color: #000;
}
.btn[data-status="partial"] .wiring-filter-status-stats {
  background: #fcf8e3;
}
.wiring-darker .btn[data-status="partial"] .wiring-filter-status-stats {
  background: #ffc000;
  color: #000;
}
.btn[data-status="cancelled"] .wiring-filter-status-stats {
  background: #f2dede;
}
.wiring-darker .btn[data-status="cancelled"] .wiring-filter-status-stats {
  background: #e00;
  color: #fff;
}
.wiring-filter .btn:hover {
  background-color: #ffffd6;
}
.wiring-filter-mrp .btn {
  display: flex;
}
.wiring-filter-mrp-stats {
  margin-left: auto;
  margin-right: 0;
}
