.wiring-list td[data-column-id="mrps"] {
  min-width: 80px;
}
.wiring-list td[data-column-id="nc12"] {
  min-width: 115px;
}
.wiring-list td[data-column-id="name"] {
  min-width: 310px;
}
.wiring-list td[data-column-id="qty"],
.wiring-list td[data-column-id="qtyDone"] {
  min-width: 50px;
}
.wiring-list td[data-column-id="qty"] {
  border-left: 0;
}
.wiring-list td[data-column-id="qtyDone"] {
  border-right: 0;
}
.wiring-list td[data-column-id="qtySeparator"] {
  width: 1px;
  border-left: 0;
  border-right: 0;
  padding-left: 0;
  padding-right: 0;
}
.wiring-list td[data-column-id="leadingOrders"] {
  min-width: 120px;
}
.wiring-list td[data-column-id="status"] {
  min-width: 105px;
}
.wiring-filter-mrp {
  margin-top: 15px;
}

.wiring-list-item[data-status="started"] {
  background: #d9edf7;
}
.wiring-darker .wiring-list-item[data-status="started"] {
  background: #0af;
  color: #fff;
}
.wiring-list-item[data-status="finished"] {
  background: #dff0d8;
}
.wiring-darker .wiring-list-item[data-status="finished"] {
  background: #00dd00;
  color: #000;
}
.wiring-list-item[data-status="partial"] {
  background: #fcf8e3;
}
.wiring-darker .wiring-list-item[data-status="partial"] {
  background: #ffc000;
  color: #000;
}
.wiring-list-item[data-status="cancelled"] {
  background: #f2dede;
}
.wiring-darker .wiring-list-item[data-status="cancelled"] {
  background: #e00;
  color: #fff;
}

.wiring-list .actions-group .btn {
  width: 60px;
  height: 36px;
  font-size: 21px;
}
.wiring-list .actions-group .btn[disabled] {
  width: 60px;
  height: 36px;
  background: #fff;
  color: #333;
  text-shadow: none;
  cursor: not-allowed;
}
.wiring-list-editor-popover {
  margin-left: -10px!important;
}
.wiring-list-editor-popover .popover-content {
  padding: 0;
}
.wiring-list-editor-form {
  display: flex;
}
.wiring-list-editor-form .form-control {
  font-size: 28px;
  width: 100px;
  height: 44px;
}
.wiring-list-editor-form .btn {
  font-size: 21px;
  min-width: 150px;
}
