<div class="panel panel-primary">
  <div class="panel-heading"><%- panelTitle %></div>
  <div class="panel-details">
    <%- helpers.props(model, [
      '_id',
      'name',
      {id: 'manager', value: function(v) { return v ? v.label : ''; }},
      'position'
    ]) %>
  </div>
</div>
