@media (min-width: 1000px) {
  .wh-blockedPickup-dialog .modal-dialog {
    width: 925px;
  }
}
.wh-blockedPickup .message {
  text-align: justify;
}
.wh-blockedPickup .message-inline + .message-inline {
  margin-top: 15px;
}
.wh-blockedPickup h3,
.wh-blockedPickup td[data-action] {
  cursor: pointer;
}
.wh-blockedPickup td[data-action] > a {
  display: block;
  text-decoration: none;
}
.wh-blockedPickup td[data-action]:hover > a {
  color: #23527c;
}
.wh-blockedPickup form {
  display: flex;
}
.wh-blockedPickup form .btn {
  min-width: 40px;
}
