@media (min-width: 768px) {
  .wh-set-dialog .modal-dialog {
    width: 800px;
  }
}
.wh-set {
  width: 100%;
  line-height: 1;
  font-size: 21px;
  font-family: Consolas, "Lucida Console", Monaco, monospace;
}
.wh-set-item:first-child .wh-set-separator {
  display: none;
}
.wh-set-separator hr {
  margin: 12px 0;
  height: 1px;
  border-top: 1px dotted #ccc;
}
.wh-set-item td {
  padding-right: 15px;
  white-space: nowrap;
  width: 1px;
  height: 24px;
  vertical-align: middle;
}
.wh-set-item td:last-child {
  width: auto;
}
.wh-set-item td[data-prop="name"] {
  white-space: normal;
  width: 149px;
  font-size: 12px;
}
.wh-set-item td[data-prop="picklist"] {
  font-size: 35px;
}
.wh-set-item .planning-mrp-list-property:first-child {
  margin-left: 0;
}
