.osh-report-dataTable .is-even {
  background-color: #f5f5f5;
}
.osh-report-dataTable .is-hovered .is-even {
  background-color: #ffffbf!important;
}
.osh-report-dataTable-metric {
  white-space: nowrap;
  width: 1px;
  text-align: center;
}
td.osh-report-dataTable-metric {
  font-family: Consolas, Menlo, Monaco, monospace;
  color: #000;
}
