.osh-report-engagement-group {
  border-left-width: 2px!important;
}
.osh-report-engagement-users th,
.osh-report-engagement-users td {
  white-space: nowrap;
  width: 1px;
  text-align: center;
}
.osh-report-engagement-users th[rowspan]:last-child,
.osh-report-engagement-users td:last-child {
  width: auto;
}
.osh-report-engagement-users th[rowspan]:first-child,
.osh-report-engagement-users td:first-child {
  text-align: left;
}
.osh-report-engagement-metric {
  border-right: none!important;
}
td.osh-report-engagement-metric {
  font-family: Consolas, Menlo, Monaco, monospace;
}
.osh-report-engagement-separator {
  padding-left: 0!important;
  padding-right: 0!important;
  border-left: none!important;
  border-right: none!important;
}
.osh-report-engagement-separator + .osh-report-engagement-metric {
  border-left: none!important;
}
.osh-report-engagement-orgUnits td[rowspan] {
  vertical-align: top;
}
