@import url(./timeline.css);

body[data-app-id="heff"] {
  background: #000;
}
body[data-app-id="heff"] .production-snMessage {
  background: linear-gradient(to right, #000, #ffc000, #000);
  border-color: #ffc000;
}
body[data-app-id="heff"] .production-snMessage.is-success {
  background: linear-gradient(to right, #000, #66cc00, #000);
  border-color: #00ff00;
}
body[data-app-id="heff"] .production-snMessage.is-error {
  background: linear-gradient(to right, #000, #e00, #000);
  border-color: #f00;
}

.heff {
  background: #000;
  margin: 0;
  line-height: 1;
}
.heff-hd {
  display: flex;
  padding: 30px;
  font-size: 32px;
  line-height: 1.2;
}
.heff-hd > div {
  flex: 1 1 33.3%;
  color: #fff;
}
.heff-date {
  text-align: left;
}
.heff-shift {
  text-align: center;
}
.heff-line {
  text-align: right;
}
.heff-title,
.heff-metric-label {
  padding: 15px;
  text-align: center;
  font-size: 48px;
  background: linear-gradient(to right, #000, #3c3c41, #000);
  text-shadow: 1px 1px 3px #000;
  color: #00e696;
  font-variant: small-caps;
  text-transform: lowercase;
}
.heff-metric-label {
  font-size: 32px;
}
.heff-metric-value {
  font-size: 320px;
  color: #fff;
}
.heff-shift .heff-metric-value {
  font-size: 252px;
  line-height: 320px;
}
.heff-row {
  display: flex;
  padding: 0 15px;
  text-align: center;
}
.heff-metric {
  flex: 1 1 50%;
  margin: 0 15px;
}
.heff-hourly-remaining {
  margin-top: 15px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 84px;
  color: #fff;
}
.heff-hourly-chart {
  margin: 0 30px;
}
.heff-icon {
  flex: 0 0 auto;
  margin: 0 15px;
  width: 354px;
  font-size: 413px;
}
.heff-icon > .fa-smile-o {
  color: #00e696;
}
.heff-icon > .fa-frown-o {
  color: #f00;
}
.heff-icon > .fa-meh-o {
  color: #ffc000;
}
.heff-line select {
  font-size: 26px;
}
.heff-parentControls {
  position: fixed;
  right: 0;
  bottom: -1px;
  display: flex;
  box-shadow: 0 3px 6px #666;
}
.heff-parentControls > .btn {
  margin-right: -1px;
  width: 60px;
  height: 50px;
  font-size: 24px;
}
.heff-unlock .btn-group {
  display: flex;
}
.heff-unlock .btn-group .btn {
  flex: 1 1 auto;
  padding: 0;
  font-size: 35px;
  line-height: 57px;
}
