.heff-execution {
  padding: 30px 30px 0 30px;
  display: flex;
  text-align: left;
}
.heff-execution-labels .heff-execution-label {
  line-height: 62px;
  font-size: 32px;
  text-shadow: 1px 1px 3px #3c3c41;
  text-transform: lowercase;
  font-variant: small-caps;
  margin-top: 30px;
  padding: 0 15px 0 0;
  text-align: right;
  color: #00e696;
  background: linear-gradient(to right, #000, #3c3c41);
}
.heff-execution-label + .heff-execution-label {
  margin-top: 75px;
}
.heff-execution-timelines {
  flex: 1 1 auto;
}
.heff-execution-done {
  margin-top: 15px;
}
.heff-timeline {
  position: relative;
  height: 122px;
  background: #000;
  border: 1px solid #3c3c41;
}
.heff-timeline-item {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
}
.heff-timeline-item[data-type="order"] {
  top: 0;
  height: 120px;
  background: #fff;
  color: #000;
  font-size: 32px;
  border-right: 1px solid #3c3c41;
}
.heff-timeline-item[data-execution="ok"] {
  background: #00e696;
  color: #fff;
}
.heff-timeline-item[data-execution="nok"] {
  background: #ffc000;
  color: #fff;
}
.heff-timeline-item[data-execution="current"] {
  background: #0af;
  color: #fff;
}
.heff-timeline-item[data-type="downtime"] {
  bottom: 0;
  background: #f00;
  color: #fff;
  font-size: 12px;
}
.heff-timeline-item-inner {
  pointer-events: none;
  padding: 4px;
  visibility: hidden;
}
.heff-timeline-item:hover .heff-timeline-item-inner {
  visibility: visible;
}
.heff-execution-legend {
  position: relative;
  display: flex;
  height: 14px;
  border: 1px solid #fff;
  border-top: 0;
  border-left: 0;
  margin-bottom: 15px;
  color: #fff;
}
.heff-execution-legend .heff-execution-legend-h {
  flex: 0 0 auto;
  padding-top: 7px;
  width: 12.5%;
  text-align: center;
  font-size: 21px;
  line-height: 42px!important;
  border-left: 1px solid #fff;
}
.heff-execution-legend-time {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100px;
  text-align: center;
  font-size: 12px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 25%,
    rgba(255, 255, 255, 1) 75%,
    rgba(255, 255, 255, 0) 100%
  );
}
.heff-execution-crosshair {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  pointer-events: none;
  background: #E00;
}
