.events-filter-container {
  margin-bottom: 1em;
}
.events-filter-container .well {
  padding: 1em 1em 0 1em;
}
.events-filter-form .form-group {
  display: inline-block;
  margin-bottom: 1em;
  vertical-align: top;
}
.events-filter-form input {
  margin-bottom: 0;
}
.events-filter-form input[name="limit"] {
  width: 5em;
  text-align: right;
}
.events-filter-form .events-filter-actions {
  padding-left: 1em;
  margin-left: 1em;
  border-left: 1px solid #e3e3e3;
  vertical-align: bottom;
}
.events-filter-severity-group .btn-group {
  display: block;
}
