<form class="wh-set-editor wh-set-editor-carts">
  <input type="text" autocomplete="new-password" class="form-control" value="<%- carts %>" placeholder="<%- t('wh', 'set:cartsEditor:carts') %>" required>
  <button class="btn btn-success"><i class="fa fa-shopping-cart"></i></button>
</form>
