<form class="wh-set-editor wh-set-editor-printLabels">
  <input type="text" class="form-control" value="1" required pattern="^[1-9][0-9]?$" data-vkb="numeric">
  <button class="btn btn-primary"><i class="fa fa-print"></i></button>
</form>
