<div>
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitle %></div>
    <div class="panel-details">
      <%- helpers.props(model, [
        'active',
        'shortName',
        'longName',
        {id: 'minEngagement', nameAttrs: {style: 'white-space: normal; min-width: 150px'}},
        {id: 'minObservers', nameAttrs: {style: 'white-space: normal; min-width: 150px'}}
      ]) %>
    </div>
  </div>
</div>
