<form>
  <%- forms.dateTimeRange({
    idPrefix: idPrefix,
    required: true
  }) %>
  <div class="form-group filter-actions">
    <button type="submit" class="btn btn-primary"><i class="fa fa-download"></i><span><%- t('load:export:submit') %></span></button>
    <button type="button" class="btn btn-link cancel"><%- t('core', 'ACTION_FORM:BUTTON:cancel') %></button>
  </div>
</form>
