<div>
  <% if (counterLabel) { %>
  <div id="<%- id('pickCounter') %>" class="psLoad-monitoring-label"><%- counterLabel %></div>
  <% } %>
  <div id="<%- id('stats') %>" class="psLoad-stats-container"></div>
  <div id="<%- id('recent') %>" class="psLoad-recent-container"></div>
</div>
