<div class="paintShopLoad">
  <% if (!embedded) { %>
  <div id="<%- idPrefix %>-filter" class="filter-container"></div>
  <div id="<%- idPrefix %>-report" class="paintShopLoad-report-container"></div>
  <% } %>
  <div id="<%- idPrefix %>-stats" class="paintShopLoad-stats-container"></div>
  <div id="<%- idPrefix %>-recent" class="paintShopLoad-recent-container"></div>
</div>
