<div class="psLoad-recent"><% items.forEach(function(item) { %><div class="psLoad-recent-item" data-d="<%- item.duration %>" style="border-top-width: <%- item.padding %>px; background: <%- item.color %>"></div><% }) %></div>
