<div class="paintShopLoad-recent"><% items.forEach(function(item) { %><div class="paintShopLoad-recent-item" style="border-top-width: <%- item.padding %>px; background: <%- item.color %>"></div><% }) %></div>
