<div class="panel panel-primary">
  <div class="panel-heading">
    <%- panelTitle %>
  </div>
  <div class="panel-details">
    <%- helpers.props(model, [
      '!subdivision',
      {id: '!mrpControllers', value: function(mrps)
      {
        if (Array.isArray(mrps) && mrps.length)
        {
          return '<ul>' + mrps.map(function(mrp) { return '<li><a href="' + mrp.href + '">' + mrp.label + '</a>'; }) + '</ul>';
        }

        return '';
      }},
      'name',
      'deactivatedAt'
    ]) %>
  </div>
</div>
