<div class="reports-drillingCharts">
  <div id="<%- idPrefix %>-clip"></div>
  <div id="<%- idPrefix %>-delayReasons"></div>
  <div id="<%- idPrefix %>-m4s"></div>
  <div id="<%- idPrefix %>-drms"></div>
</div>
