.fte-leaderEntry-total-overall,
.fte-leaderEntry-total-company,
.fte-leaderEntry-total-task {
  width: 1%;
  min-width: 100px;
  white-space: nowrap;
  text-align: center;
}
.fte-leaderEntry-count {
  text-align: center;
}
.fte-property {
  display: inline-block;
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1px solid #e3e3e3;
}
.fte-property:first-child {
  margin-left: 0;
  padding-left: 0;
  border-left: 0;
}
.fte-property-name {
  display: block;
  font-weight: bold;
}
.fte-property-value {
  display: block;
}
.fte-filter-shift-group {
  margin-top: 5px;
}
.fte-leaderEntry-print th {
  width: 1%;
}
.fte-leaderEntry-print th:first-child {
  width: auto;
}
.fte-leaderEntry-print td {
  text-align: center;
}
.fte-leaderEntry-print td:first-child {
  text-align: left;
}
.fte-leaderEntry-print-total {
  font-weight: bold;
  border-bottom: 2px solid #000!important;
}
.fte-masterEntry,
.fte-masterEntry th {
  text-align: center;
}
.fte-masterEntry th:first-child,
.fte-masterEntry td:first-child {
  text-align: left;
}
.fte-masterEntry th {
  border-bottom-width: 0!important;
}
.fte-masterEntry th:nth-child(1),
.fte-masterEntry th:nth-child(2) {
  border-top-width: 0;
  border-bottom-width: 0;
}
.fte-masterEntry thead:nth-child(4) th {
  border-bottom-width: 2px!important;
}
.fte-masterEntry-noPlan-container,
.fte-masterEntry-noPlan {
  cursor: pointer;
}
.fte-masterEntry .even {
  background-color: #f5f5f5;
}
.fte-masterEntry tr:hover td.even {
  background-color: #efefef;
}
.fte-masterEntry-absence-userFinder-container {
  padding: 10px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #dddddd;
}
.fte-masterEntry-print {
  border-left-width: 0;
}
.fte-masterEntry-print-absence-separator td,
.fte-masterEntry-print-absence-header th {
  border: 0!important;
}
.fte-masterEntry-print-absence-columns th {
  border-top: 1px solid #000!important;
  text-align: left;
}
.fte-masterEntry-print-absence-row td {
  text-align: left;
}
