<div class="pscs-page pscs-learn">
  <% include _header.ejs %>
  <% include _menu.ejs %>
  <div class="pscs-body">
    <iframe src="<%- src %>" width="100%" height="<%- height %>" frameborder="0" scrolling="no"></iframe>
  </div>
</div>
