<div class="pscs-page pscs-learn">
  <% include _header.ejs %>
  <% include _menu.ejs %>
  <div class="pscs-body">
    <object data="/files/pscs/plp.pscs.<%- locale %>.pdf" type="application/pdf" width="100%" height="<%- height %>">
      <embed src="/files/pscs/plp.pscs.<%- locale %>.pdf">
        <p>
          This browser does not support PDFs.
          Please download the PDF to view it: <a href="/files/pscs/plp.pscs.<%- locale %>.pdf">Download PDF</a>.
        </p>
      </embed>
    </object>
  </div>
</div>
