.filter-form .emptyOrders-filter-date-group {
  margin-bottom: 0;
}
.emptyOrders-filter-date-group input[type=date] {
  display: inline-block;
  margin-bottom: 1em;
}
.emptyOrders-filter-date-group input[type=radio] {
  margin-top: 0;
}
.emptyOrders-filter-date-finish-label {
  margin-left: 1em;
}
.emptyOrders-filter-date-range > .form-control[type="date"] {
  width: 100%;
}
