<div class="behaviorObsCards-form-ridEditor">
  <div class="form-group">
    <label><%- t('behaviorObsCards', 'FORM:ridEditor:rid') %></label>
    <input type="number" class="form-control no-controls" value="<%- rid %>">
  </div>
  <div>
    <button type="button" class="btn btn-default"><%- t('behaviorObsCards', 'FORM:ridEditor:submit') %></button>
    <button type="button" class="btn btn-link"><%- t('behaviorObsCards', 'FORM:ridEditor:cancel') %></button>
  </div>
</div>
