<div class="behaviorObsCards-report-tableAndChart">
  <div id="<%- idPrefix %>-table" class="behaviorObsCards-report-table"></div>
  <div id="<%- idPrefix %>-chart" class="behaviorObsCards-report-chart"></div>
</div>
