body {
  background: #000;
}
body.is-embedded {
  overflow-y: auto;
}
.message {
  font-size: 28px;
}
.gft {
  margin: 0;
  line-height: 1;
}
.gft-hd {
  display: flex;
  padding: 30px;
  font-size: 32px;
  line-height: 1.2;
}
.gft-hd > div {
  flex: 1 1 33.3%;
  color: #fff;
}
.gft-date {
  text-align: left;
}
.gft-shift {
  text-align: center;
}
.gft-line {
  text-align: right;
}
.gft-title,
.gft-subtitle {
  padding: 15px;
  text-align: center;
  font-size: 48px;
  background: linear-gradient(to right, #000, #3c3c41, #000);
  text-shadow: 1px 1px 3px #000;
  color: #00e696;
  font-variant: small-caps;
  text-transform: lowercase;
}
.gft-subtitle {
  font-size: 32px;
}
.gft-section {
  margin-bottom: 60px;
}
.gft-section button {
  background: #000;
  color: #00e696;
  border: 2px solid #00e696;
  text-transform: uppercase;
  height: 46px;
  line-height: 1;
  font-size: 28px;
  vertical-align: text-top;
}
.gft-section button:focus,
.gft-section button:hover {
  background: #00e696;
  color: #000;
  border: 2px solid #00e696;
  outline: none;
}
.gft-section a {
  color: #fff;
  text-decoration: underline;
  text-decoration-color: #00e696;
}
.gft-section a:focus,
.gft-section a:hover {
  color: #00e696;
}
.gft-prop {
  color: #fff;
}
.gft-prop + .gft-prop,
.gft-prop-row + .gft-prop,
.gft-prop + .gft-prop-row {
  margin-top: 15px;
}
.gft-prop-row {
  display: flex;
}
.gft-prop-row .gft-prop {
  margin-top: 0;
  margin-left: 30px;
}
.gft-prop-row .gft-prop:first-child {
  margin-left: 0;
}
.gft-prop-name {
  font-size: 28px;
  font-variant: small-caps;
  text-transform: lowercase;
}
.gft-prop-value {
  padding-left: 15px;
  font-size: 42px;
  line-height: 1.2;
}
.gft-prop-value.is-important {
  color: #00e696;
}
.gft-output {
  display: inline-block;
  padding: 0 6px;
  background: #000;
  color: #fff;
  border: 2px solid #fff;
  height: 46px;
  line-height: 42px;
  font-size: 28px;
  vertical-align: text-top;
  font-family: Consolas, monospace;
}
.gft-line select {
  font-size: 26px;
}
.gft-parentControls {
  position: fixed;
  right: 0;
  bottom: -1px;
  display: flex;
  box-shadow: 0 3px 6px #666;
}
.gft-parentControls > .btn {
  margin-right: -1px;
  width: 60px;
  height: 50px;
  font-size: 24px;
}
.gft-unlock .btn-group {
  display: flex;
}
.gft-unlock .btn-group .btn {
  flex: 1 1 auto;
  padding: 0;
  font-size: 35px;
  line-height: 57px;
}
.gft-orderPicker input[name="orderNo"] {
  font-size: 35px;
  height: auto;
}
