.ct-balancing-list.is-editable td[data-id="comment"] {
  cursor: pointer;
}
.ct-balancing-editor {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ct-balancing-editor-comment {
  height: 74px;
  resize: none;
}
