<div class="drilling-orderChanges">
  <div class="drilling-orderChanges-changes">
    <i class="fa fa-spinner fa-spin fa-2x"></i>
  </div>
  <div class="drilling-orderChanges-comment-container">
    <textarea class="form-control drilling-orderChanges-comment" data-vkb="numeric alpha multiline" <%- canAct ? '' : 'disabled' %>></textarea>
    <button type="button" class="btn btn-primary" <%- canAct ? '' : 'disabled' %>><i class="fa fa-comment-o"></i></button>
  </div>
</div>
