<form class="drilling-userPicker">
  <div id="<%- idPrefix %>-users" class="drilling-userPicker-users" style="max-height: <%- maxHeight %>px"><i class="fa fa-spinner fa-spin"></i></div>
  <div class="drilling-userPicker-actions">
    <button type="submit" class="btn btn-primary"><%- t('wmes-drilling', 'userPicker:logIn') %></button>
    <button type="button" class="btn btn-danger"><%- t('wmes-drilling', 'userPicker:logOut') %></button>
  </div>
</form>
