.production.is-idle .production-pageHeader {
  background: linear-gradient(to right, #fff, #666, #fff);
  border-color: #000;
  color: #fff;
  text-shadow: 1px 1px 3px #999;
}
.is-tt-nok .production.is-working .production-pageHeader {
  background: linear-gradient(to right, #fff, #f0ad4e, #fff);
  border-color: #eea236;
  color: #fff;
  text-shadow: 1px 1px 3px #999;
}
.production .btn-warning,
.production-modal .btn-warning {
  background-color: #555;
  border-color: #000;
}
.production .btn-warning:hover,
.production-modal .btn-warning:hover {
  background-color: #333;
  border-color: #000;
}
.prodShifts-timeline .timeline-item-idle {
  fill: #555;
}
.prodShifts-timeline .timeline-item-idle:hover {
  fill: #333;
}
.prodShifts-timeline .timeline-item-idle.is-highlighted {
  fill: #000;
}
/* see app/factoryLayout/templates/canvas.ejs */
.factoryLayout-prodLineList > .is-idle {
  background: #ddd;
}
.factoryLayout-prodLineList > .is-idle:hover {
  background: #ccc;
}
.prodShifts-timeline .popover-idle > .popover-title {
  background: #555;
}
.factoryLayout-prodLineList > .is-working.is-tt-nok {
  background: #fcf8e3;
}
.factoryLayout-prodLineList > .is-working.is-tt-nok:hover {
  background: #faf2cc;
}
.factoryLayout-displayOptions-idle > .fa {
  color: #555;
}
