<ul class="dropdown-menu planning-menu">
  <% if (typeof header !== 'undefined') { %>
  <li class="dropdown-header"><%- header %></li>
  <% } %>
  <% actions.forEach(function(action) { %>
  <li><a data-action="<%- action %>"><%- t('planning', prefix + ':menu:' + action) %></a></li>
  <% }) %>
</ul>
