<div class="planning-orderGroupPriority-group" data-group-id="<%- group.id %>">
  <i class="fa fa-reorder planning-orderGroupPriority-group-move"></i>
  <div class="planning-orderGroupPriority-group-name"><%= group.label %></div>
  <a href="javascript:void(0)" data-action="remove"><i class="fa fa-times"></i></a>
</div>
