<ul class="planning-legend">
  <li>
    <span class="planning-legend-order" style="background: #333">&nbsp;</span>
    <strong>Anulowane</strong>
    <small>Zlecenie ze statusem TECO otrzymanym po rozpoczęciu planu.</small>
  </li>
  <li>
    <span class="planning-legend-order" style="background: #ffffff">&nbsp;</span>
    <strong>Całkowicie rozplanowane</strong>
    <small>Wszystkie sztuki zostały zaplanowane na dostępnych liniach.</small>
  </li>
  <li>
    <span class="planning-legend-order" style="background: #fbf2c0">&nbsp;</span>
    <strong>Całkowicie nierozplanowane</strong>
    <small>Ani jedna sztuka danego zlecenia nie została zaplanowana na żadnej z dostępnych linii.</small>
  </li>
  <li>
    <span class="planning-legend-order" style="background: #fcf8e3">&nbsp;</span>
    <strong>Częściowo nierozplanowane</strong>
    <small>Przynajmniej jedna sztuka danego zlecenia została zaplanowana na jednej z dostępnych linii, ale nie wszystkie.</small>
  </li>
  <li>
    <span class="planning-legend-order" style="background: #eeeeee">&nbsp;</span>
    <strong>Rozpoczęte</strong>
    <small>Przynajmniej jedna sztuka została już zrobiona.</small>
  </li>
  <li>
    <span class="planning-legend-order" style="background: #d9edf7">&nbsp;</span>
    <strong>Robione</strong>
    <small>Zlecenie jest aktualnie wybrane na danej linii.</small>
  </li>
  <li>
    <span class="planning-legend-order" style="background: #dff0d8">&nbsp;</span>
    <strong>Zrobione</strong>
    <small>Zrobiono wymaganą ilość.</small>
  </li>
  <li>
    <span class="planning-legend-order" style="background: #ffe8e8">&nbsp;</span>
    <strong>Nadwyżka</strong>
    <small>Zrobiono więcej niż wymagano.</small>
  </li>
  <li>
    <span class="planning-legend-order"><span style="border-bottom: 2px solid #aa00ff">&nbsp;</span></span>
    <strong>Potwierdzone</strong>
    <small>Zlecenie ma status CNF.</small>
  </li>
  <li>
    <span class="planning-legend-order"><span style="border-top: 2px solid #ff007f">&nbsp;</span></span>
    <strong>Dostarczone</strong>
    <small>Zlecenie ma status DLV.</small>
  </li>
  <li>
    <span class="planning-legend-order" style="text-decoration: line-through">123</span>
    <strong>Ignorowane</strong>
    <small>Zlecenie nie będzie brane pod uwagę podczas planowania.</small>
  </li>
  <li>
    <i class="fa fa-star-o"></i>
    <strong>Małe</strong>
    <i class="fa fa-star-half-full"></i>
    <strong>Łatwe</strong>
    <i class="fa fa-star"></i>
    <strong>Trudne</strong>
  </li>
  <li>
    <i class="fa fa-plus"></i>
    <strong>Dodane ręcznie</strong>
  </li>
  <li>
    <i class="fa fa-exclamation"></i>
    <strong>Pilne</strong>
    <small>Zlecenie kolejkowane poza kolejnością priorytetów zleceń.</small>
  </li>
  <li>
    <i class="fa fa-arrow-right"></i>
    <strong>Niekompletne</strong>
    <small>Automatycznie dodane, nierozplanowane zlecenie z poprzedniego dnia. Niekompletne zlecenie jest zawsze Pilne.</small>
  </li>
  <li>
    <i class="fa fa-thumb-tack"></i>
    <strong>Przypięte</strong>
    <small>Zlecenie przypięte do konkretnej linii będzie na niej planowane w pierwszej kolejności.</small>
  </li>
  <li>
    <i class="fa fa-hourglass-end"></i>
    <strong>Opóźnione</strong>
    <small>Automatycznie dodane, niezrobione zlecenie z poprzednich dni.</small>
  </li>
  <li>
    <i class="fa fa-sort-numeric-desc"></i>
    <strong>Zmieniona ilość</strong>
    <small>Ilość do zrobienia została ustawiona ręcznie.</small>
  </li>
  <li>
    <i class="fa fa-wrench"></i>
    <strong>ETO</strong>
    <small>Konstrukcja na zamówienie.</small>
  </li>
  <li>
    <span style="display: inline-block; font-weight: bold; width: 30px; text-align: center">A-Z</span>
    <strong>Tagi zlecenia</strong>
    <small>Na przykład: E - Pilot ETO.</small>
  </li>
  <li>
    <i class="fa fa-paint-brush"></i>
    <strong>Status malarnii</strong>
    <small>
      <span style="color: #000000">Oczekuje</span>,
      <span style="color: #5bc0de">W trakcie</span>,
      <span style="color: #f0ad4e">Niekompletne</span>,
      <span style="color: #449d44">Zakończone</span>,
      <span style="color: #ff69b4">Odstawione</span>,
      <span style="color: #d9534f">Anulowane</span>.
    </small>
  </li>
  <li>
    <i class="fa fa-cricle-o"></i>
    <strong>Status wiercenia</strong>
    <small>
      <span style="color: #000000">Oczekuje</span>,
      <span style="color: #5bc0de">W trakcie</span>,
      <span style="color: #f0ad4e">Niekompletne</span>,
      <span style="color: #449d44">Zakończone</span>,
      <span style="color: #ff69b4">Odstawione</span>,
      <span style="color: #d9534f">Anulowane</span>.
    </small>
  </li>
  <li>
    <i class="fa fa-level-down"></i>
    <strong>Status drop zone</strong>
    <small>
      <span style="color: #000000">Do zrobienia</span>,
      <span style="color: #449d44">Zrobione</span>.
    </small>
  </li>
  <li>
    <i class="fa fa-lock"></i>
    <strong>Ilość zamrożonych zleceń na linii</strong>
  </li>
  <li>
    <i class="fa fa-user"></i>
    <strong>Ilość osób na linii</strong>
  </li>
  <li>
    <i class="fa fa-clock-o"></i>
    <strong>Czas dostępności linii</strong>
  </li>
  <li>
    <i class="fa fa-arrow-right"></i>
    <strong>Przekierowanie linii</strong>
  </li>
</ul>
