<div>
  <%- t('planning', 'toggleLock:message:' + locked, {mrp: mrp}) %>
  <div class="form-actions">
    <button class="btn btn-primary dialog-answer" type="button" autofocus data-answer="yes"><%- t('planning', 'toggleLock:yes:' + locked) %></button>
    <button class="btn btn-link cancel" type="button"><%- t('planning', 'toggleLock:no:' + locked) %></button>
  </div>
</div>
