<button id="<%- idPrefix %>-setHourlyPlan-yes" class="btn btn-primary">
  <i class="fa fa-check"></i><span><%- t('planning', 'toolbar:setHourlyPlan') %></span>
</button>
<button id="<%- idPrefix %>-setHourlyPlan-no" class="btn btn-link">
  <i class="fa fa-times"></i><span><%- t('planning', 'toolbar:setHourlyPlan:cancel') %></span>
</button>
