.osh-nearMisses-form .panel-danger {
  margin-left: -15px;
  margin-right: -15px;
  border-left: none;
  border-right: none;
}
.osh-nearMisses-form .panel-danger > .panel-body {
  background-color: #FBF1F1;
}
.osh-nearMisses-form-resolutionId .input-group {
  width: 190px;
}
.osh-nearMisses-form-resolutionId .btn {
  min-width: 37px;
}
