<div class="panel-body" data-tab="other">
  <div class="form-group">
    <label for="<%- idPrefix %>-extendedDowntimeDelay"><%- t('factoryLayout', 'settings:extendedDowntimeDelay') %></label>
    <input id="<%- idPrefix %>-extendedDowntimeDelay" class="form-control" name="factoryLayout.extendedDowntimeDelay" type="number" value="15" step="1" min="5" max="1440">
  </div>
</div>
