<div class="form-group">
  <label for="<%- id('lampControllerIp') %>" class="control-label"><%- t('PROPERTY:common:lampControllerIp') %></label>
  <input id="<%- id('lampControllerIp') %>" class="form-control" type="text" name="common.lampControllerIp" style="width: 150px">
</div>
