<div class="panel panel-primary">
  <div class="panel-heading"><%- panelTitle %></div>
  <div class="panel-details">
    <%- helpers.props(model, ['_id', 'name', 'description', 'active']) %>
  </div>
</div>
