<div class="panel panel-primary">
  <div class="panel-heading"><%- t('qiFaults', 'PANEL:TITLE:details') %></div>
  <div class="panel-details">
    <div class="props first">
      <% ['_id', 'name', 'description', 'active'].forEach(function(prop) { %>
      <div class="prop">
        <div class="prop-name"><%- t('qiFaults', 'PROPERTY:' + prop) %></div>
        <div class="prop-value"><%= model[prop] %></div>
      </div>
      <% }) %>
    </div>
  </div>
</div>
