.page[data-id="dashboard"] .page-breadcrumbs {
  text-align: center;
}
.page[data-id="dashboard"] .logInForm {
  max-width: 600px;
  margin: 0 auto;
}
.dashboard-buttons {
  margin-top: 14px;
  padding-top: 14px;
  border-top: 1px dotted #ddd;
  display: flex;
}
.dashboard-buttons .btn-group {
  flex: 1 1 auto;
  display: flex;
}
.dashboard-buttons .btn-group .btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard-buttons .btn-group .btn:last-child {
  flex: 0;
}
.dashboard-buttons .btn-group .btn:only-child {
  flex: 1 1 auto;
}
.dashboard-buttons .btn {
  flex: 1 1 auto;
  font-size: 48px;
  white-space: normal;
}
.dashboard-buttons .btn-group:first-child {
  margin-right: 7px;
}
.dashboard-buttons > .btn:last-child {
  margin-left: 7px;
}
.dashboard-buttons > .btn:only-child {
  margin: 0;
}
.dashboard-buttons .btn > small {
  display: block;
  margin-top: -8px;
  font-size: 16px;
}
.dashboard-nearMiss {
  padding-bottom: 14px;
  margin-bottom: 14px;
  border-bottom: 1px dotted #ddd;
}
.dashboard-nearMiss .btn-danger,
.dashboard-suggestion .btn-warning {
  padding: 110px 10px;
  font-size: 48px;
  width: 100%;
}
.dashboard-metricsAndList {
  display: flex;
}
.dashboard-metricsAndList-metrics {
  flex: 0 0 auto;
  width: 550px;
}
.dashboard-buttonAndMetrics {
  display: flex;
  height: 358px;
}
.dashboard-buttonAndMetrics .dashboard-metrics {
  flex-direction: column;
  margin-left: 0;
  flex: 0 0 auto;
}
.dashboard-buttonAndMetrics .dashboard-metric {
  margin-top: 0;
  margin-bottom: 14px;
}
.dashboard-buttonAndMetrics .dashboard-metric:last-child {
  margin-bottom: 0;
}
.dashboard-metric:hover {
  text-decoration: none;
}
.dashboard-metricsAndList-list {
  flex: 1 1 auto;
  margin-left: 14px;
  height: 358px;
  overflow: hidden;
  border: 1px solid #ddd;
  border-top: 0;
}
.dashboard-metricsAndList-list .table-responsive {
  overflow: hidden;
  border-left: 0;
  border-right: 0;
}
.dashboard-metricsAndList-list tbody > tr:nth-child(11) > td {
  background-color: #ddd;
  opacity: 0.5;
}
.dashboard-metrics {
  display: flex;
  margin-left: -14px;
}
.dashboard-metric {
  margin-top: 14px;
  margin-left: 14px;
  display: inline-block;
  padding: 10px;
  text-align: center;
  width: 110px;
  height: 110px;
}
.dashboard-metric-value {
  display: block;
  font-size: 32px;
}
.dashboard-metric-name {
  display: block;
  font-size: 16px;
}
.dashboard-metricsAndList .table th {
  background-color: #f5f5f5;
}
.dashboard-top-container {
  position: relative;
  margin-left: 14px;
  width: 250px;
  height: 358px;
  perspective: 800px;
}
.dashboard-top-card {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: right center;
  transform-style: preserve-3d;
  transition: transform 0.75s;
}
.dashboard-top-card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}
.dashboard-metricsAndList-top {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  border-top: 0;
  white-space: nowrap;
  backface-visibility: hidden;
  transform: rotateX(0deg);
}
.dashboard-metricsAndList-top:last-child {
  transform: rotateY(180deg);
}
.is-ie .dashboard-top-card.is-flipped {
  transform: none;
}
.is-ie .dashboard-metricsAndList-top:last-child {
  transform: none;
  display: none;
}
.is-ie .is-flipped .dashboard-metricsAndList-top:first-child {
  display: none;
}
.is-ie .is-flipped .dashboard-metricsAndList-top:last-child {
  z-index: 2;
  display: block;
}
.dashboard-metricsAndList-top .table,
.dashboard-metricsAndList-top .table > thead > tr > th,
.dashboard-metricsAndList-top .table > tbody > tr > td {
  border-left: 0;
  border-right: 0;
}
.dashboard-top-place,
.dashboard-top-count {
  text-align: right;
  width: 1px;
}
.dashboard-top-count {
  width: 35px;
  font-weight: bold;
  font-size: 20px;
  padding-top: 0!important;
  padding-bottom: 0!important;
  line-height: 1;
}
.dashboard-top-count[data-place="1"] {
  background-color: #FFD700!important;
  color: #fff!important;
  text-shadow: 1px 1px 1px #333;
}
.dashboard-top-count[data-place="2"] {
  background-color: #C0C0C0!important;
  color: #fff!important;
  text-shadow: 1px 1px 1px #333;
}
.dashboard-top-count[data-place="3"] {
  background-color: #CD7F32!important;
  color: #fff!important;
  text-shadow: 1px 1px 1px #333;
}
.dashboard-top-name {
  display: block;
  width: 164px;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media (max-width: 1440px) {
  .dashboard-metricsAndList {
    flex-wrap: wrap;
  }
  .dashboard-metricsAndList-list {
    margin-left: 0;
    margin-top: 14px;
    width: 100%;
    height: auto;
  }
  .dashboard-metricsAndList-metrics {
    flex-grow: 1;
  }
}
@media (max-width: 850px) {
  .dashboard-top-container {
    margin-left: 0;
    margin-top: 14px;
    width: 100%;
  }
  .dashboard-nearMiss {
    padding-bottom: 0;
    border-bottom: 0;
  }
  .dashboard-buttons {
    display: block;
  }
  .dashboard-buttons .btn,
  .dashboard-buttons .btn-group {
    margin: 0!important;
    width: 100%;
  }
}
@media (max-width: 590px) {
  .dashboard-top-container {
    margin-left: 0;
    margin-top: 14px;
    width: 100%;
  }
  .dashboard-metricsAndList-metrics {
    flex: 1 1 auto;
    width: auto;
  }
  .dashboard-buttonAndMetrics {
    flex-wrap: wrap;
    height: auto;
  }
  .dashboard-buttonAndMetrics .btn,
  .dashboard-buttons .btn,
  .dashboard-buttons .btn {
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    padding: 10px;
    font-size: 24px;
    margin-bottom: 14px;
  }
  .dashboard-buttonAndMetrics > .dashboard-metrics {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .dashboard-metric {
    flex: 1 1 auto;
    width: auto;
    margin-left: 0;
    margin-right: 14px;
  }
  .dashboard-buttonAndMetrics .dashboard-metric:last-child {
    margin-right: 0;
    margin-bottom: 14px;
  }
  .dashboard-top-container {
    margin-top: 0;
  }
}
