@import "./queue.css";
@import "./list.css";
@import "./orderDetails.css";
@import "./orderChanges.css";
@import "./datePicker.css";
@import "./userPicker.css";
@import "./tabs.css";

.page[data-id="drilling"] .page-actions .btn-link {
  padding: 0;
  width: 32px;
  font-size: 32px;
  line-height: 1;
}
.drilling-is-fullscreen {
  margin: 0;
  overflow: hidden;
}
.drilling-is-fullscreen .navbar,
.drilling-is-fullscreen .ft {
  display: none;
}
.drilling-breadcrumb {
  font-weight: normal;
}
.drilling-breadcrumb > a.disabled {
  cursor: wait!important;
  text-decoration: none!important;
  color: inherit!important;
}
.drilling-breadcrumb > .fa {
  padding: 0 20px 0 0;
  text-decoration: none!important;
  cursor: pointer;
}
.drilling-breadcrumb > .fa-chevron-right {
  padding: 0 0 0 20px;
}

.drilling {
  display: flex;
}
.drilling-left,
.drilling-center,
.drilling-right {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  width: 200px;
  border: 1px solid #000;
  box-shadow: 0 6px 12px #666;
}
.drilling-center {
  flex: 1 1 auto;
  margin: 0 20px;
}
.drilling-right {
  width: 520px;
}
.drilling-is-embedded .drilling-right {
  margin-bottom: 54px;
}
.drilling-queue-container,
.drilling-list-container {
  position: relative;
  flex: 1 1 auto;
  overflow-y: scroll;
}
.drilling-tabs-container {
  display: flex;
  flex: 0 0 auto;
}
.drilling-tabs {
  flex: 1 1 auto;
}
.drilling-search {
  flex: 0 0 auto;
  height: 52px;
  font-size: 32px;
  text-align: center;
  background-color: #fff;
  border: none;
  border-top: 1px solid #000;
}
.drilling-search:disabled {
  background-color: #fcf8e3;
}
.drilling-search.is-empty {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
.drilling-totals {
  flex: 0 0 auto;
  display: flex;
  line-height: 51px;
  text-align: center;
  background-color: #fff;
  border-top: 1px solid #000;
}
.drilling-totals-total,
.drilling-totals-split {
  flex: 1 1 auto;
  width: 20%;
  font-size: 24px;
  background: #ccc;
  border-left: 1px solid #000;
}
.drilling-totals-split .drilling-totals-total {
  width: 100%;
  border-left: none;
  font-size: 21px;
  line-height: 25px;
}
.drilling-totals-split .drilling-totals-total:first-child {
  border-bottom: 1px solid #000;
}
.drilling-totals-total:first-child {
  border-left: none;
}
.drilling-totals-total[data-status="started"] {
  background: #5bc0de;
  color: #000;
}
.drilling-totals-total[data-status="partial"] {
  background: #f0ad4e;
}
.drilling-totals-total[data-status="finished"] {
  background: #449d44;
  color: #fff;
}
.drilling-totals-total[data-status="painted"] {
  background: #990;
  color: #fff;
}
.drilling-totals-total[data-status="cancelled"] {
  background: #d9534f;
  color: #fff;
}
