.page[data-id="prodLineStateList"] > .bd {
  margin: 0;
}
.page[data-id="prodLineStateList"] .filter-container {
  margin-left: 15px;
  margin-right: 15px;
}
.page[data-id="prodLineStateList"] .list-container {
  min-height: 113px;
}
.page[data-id="prodLineStateList"] :-webkit-full-screen {
  overflow-y: scroll;
}
.page[data-id="prodLineStateList"] :-moz-full-screen {
  overflow-y: scroll;
}
.page[data-id="prodLineStateList"] :-ms-full-screen {
  overflow-y: scroll;
}
.page[data-id="prodLineStateList"] :-fullscreen {
  overflow-y: scroll;
}
.factoryLayout-prodLineList {
  width: 100%;
  border-bottom: 1px solid #999;
}
.factoryLayout-prodLineList.is-empty,
.factoryLayout-prodLineList.is-loading {
  border-bottom: none;
}
.is-empty .factoryLayout-prodLineList-noProdLines {
  display: table-cell;
}
.is-loading .factoryLayout-prodLineList-loading {
  display: table-cell;
}
.is-loading .factoryLayout-prodLineList-noProdLines {
  display: none;
}
.factoryLayout-prodLineList.is-loading > tbody {
  display: none;
}
.factoryLayout-prodLineList-noProdLines,
.factoryLayout-prodLineList-loading {
  position: absolute;
  display: none;
  margin-top: 40px;
  width: 100%;
  font-size: 28px;
  text-align: center;
}
.factoryLayout-prodLineListItem-header > td {
  padding: 0;
  width: 1px;
  height: 40px;
  white-space: nowrap;
}
.factoryLayout-prodLineListItem-header > td:first-child {
  padding: 3px 10px 0 20px;
  font-size: 32px;
  line-height: 1;
}
.factoryLayout-prodLineListItem-header > td:last-child {
  width: auto;
}
.has-prodShift .factoryLayout-prodLineListItem-prodLine {
  cursor: pointer;
  color: #428bca;
}
.has-prodShift .factoryLayout-prodLineListItem-prodLine:hover {
  color: #2a6496;
}
.factoryLayout-quantitiesDone-container {
  display: none;
  background: #fff;
  border-top: 1px solid #999;
}
.factoryLayout-prodLineListItem-prop {
  margin-top: 2px;
  padding: 0 10px;
  line-height: 1;
  border-left: 1px dotted #999;
}
.factoryLayout-prodLineListItem-prop > em {
  display: block;
  margin-bottom: 2px;
  font-style: normal;
  text-transform: uppercase;
}
.factoryLayout-prodLineListItem-prop > span {
  display: block;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}
.factoryLayout-prodLineListItem-prop > span[role="orderValue"] {
  max-width: 350px;
}
.factoryLayout-prodLineListItem-prop.is-clickable {
  cursor: pointer;
}
.factoryLayout-prodLineListItem-prop.is-clickable > em {
  color: #428bca;
}
.factoryLayout-prodLineListItem-prop.is-clickable:hover > em {
  color: #2a6496;
}
.factoryLayout-prodLineList > .is-offline {
  opacity: .5;
}
.factoryLayout-prodLineList > tbody {
  background: #fff;
  border-top: 1px solid #999;
}
.factoryLayout-prodLineList > tbody:hover {
  background: #f5f5f5;
  opacity: 1;
}
.factoryLayout-prodLineList > .is-idle {
  background: #ddd;
}
.factoryLayout-prodLineList > .is-idle:hover {
  background: #ccc;
}
.factoryLayout-prodLineList > .is-working {
  background: #a9ffa9;
}
.factoryLayout-prodLineList > .is-working:hover {
  background: #8feb8f;
}
.factoryLayout-prodLineList > .is-working.is-tt-nok {
  background: #fffa9b;
}
.factoryLayout-prodLineList > .is-working.is-tt-nok:hover {
  background: #ffe081;
}
.factoryLayout-prodLineList > .is-downtime {
  background: #ffa09c;
}
.factoryLayout-prodLineList > .is-downtime:hover {
  background: #ff8682;
}
.factoryLayout-prodLineList > .is-break {
  background: #e5cce5;
}
.factoryLayout-prodLineList > .is-downtime:hover {
  background: #d8b2d8;
}
.factoryLayout-prodLineList > .is-extended {
  animation: factoryLayout-extendedDowntime 2s infinite;
}
.factoryLayout-prodLineList > .is-extended.is-break {
  animation: factoryLayout-extendedBreak 2s infinite;
}
@keyframes factoryLayout-extendedDowntime {
  0% {
    background: #f2dede;
  }
  50% {
    background: #ff9999;
  }
  100% {
    background: #f2dede;
  }
}
@keyframes factoryLayout-extendedBreak {
  0% {
    background: #e5cce5;
  }
  50% {
    background: #d8b2d8;
  }
  100% {
    background: #e5cce5;
  }
}
.factoryLayout-timeline-container > .prodShifts-timeline {
  margin-left: 0;
  text-align: left;
}
.factoryLayout-displayOptions-idle > .fa {
  color: #555;
}
.factoryLayout-displayOptions-working > .fa {
  color: #5cb85c;
}
.factoryLayout-displayOptions-downtime > .fa {
  color: #d9534f;
}
.factoryLayout-orgUnitPicker .radio-inline {
  font-weight: bold;
}
.factoryLayout-displayOptions-history > label {
  margin-bottom: 0;
}
.factoryLayout-displayOptions-history .form-control,
.factoryLayout-displayOptions-history .filter-btn-group {
  display: inline-block;
}
