.page[data-id="prodLineStateList"] > .bd {
  margin: 0;
}
.page[data-id="prodLineStateList"] .filter-container {
  margin-left: 1em;
  margin-right: 1em;
}
.page[data-id="prodLineStateList"] .list-container {
  min-height: 113px;
}
.page[data-id="prodLineStateList"] :-webkit-full-screen {
  overflow-y: scroll;
}
.page[data-id="prodLineStateList"] :-moz-full-screen {
  overflow-y: scroll;
}
.page[data-id="prodLineStateList"] :-ms-full-screen {
  overflow-y: scroll;
}
.page[data-id="prodLineStateList"] :-fullscreen {
  overflow-y: scroll;
}
.factoryLayout-prodLineList {
  width: 100%;
  border-bottom: 1px solid #999;
}
.factoryLayout-prodLineList.is-empty {
  border-bottom: none;
}
.is-empty .factoryLayout-prodLineList-noProdLines {
  display: table-cell;
}
.factoryLayout-prodLineList-noProdLines {
  position: absolute;
  display: none;
  margin-top: 40px;
  width: 100%;
  font-size: 28px;
  text-align: center;
}
.factoryLayout-prodLineListItem-header > td {
  padding: 0;
  width: 1px;
  height: 40px;
  white-space: nowrap;
}
.factoryLayout-prodLineListItem-header > td:first-child {
  padding: 3px 0 0 20px;
  font-size: 32px;
  line-height: 1;
}
.factoryLayout-prodLineListItem-header > td:last-child {
  width: auto;
}
.factoryLayout-quantitiesDone-container {
  display: none;
  background: #fff;
  border-top: 1px solid #999;
}
.factoryLayout-prodLineListItem-prop {
  margin-top: 2px;
  padding: 0 10px;
  line-height: 1;
  border-left: 1px dotted #999;
}
.factoryLayout-prodLineListItem-prop > em {
  display: block;
  margin-bottom: 2px;
  font-style: normal;
  text-transform: uppercase;
}
.factoryLayout-prodLineListItem-prop > span {
  display: block;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}
.factoryLayout-prodLineListItem-prop.is-clickable {
  cursor: pointer;
}
.factoryLayout-prodLineListItem-prop.is-clickable > em {
  color: #428bca;
}
.factoryLayout-prodLineListItem-prop.is-clickable:hover > em {
  color: #2a6496;
}
.factoryLayout-prodLineList > .is-offline {
  opacity: .5;
}
.factoryLayout-prodLineList > tbody {
  background: #fff;
  border-top: 1px solid #999;
}
.factoryLayout-prodLineList > tbody:hover {
  background: #f5f5f5;
  opacity: 1;
}
.factoryLayout-prodLineList > .is-idle {
  background: #fcf8e3;
}
.factoryLayout-prodLineList > .is-idle:hover {
  background: #faf2cc;
}
.factoryLayout-prodLineList > .is-working {
  background: #dff0d8;
}
.factoryLayout-prodLineList > .is-working:hover {
  background: #d0e9c6;
}
.factoryLayout-prodLineList > .is-downtime {
  background: #f2dede;
}
.factoryLayout-prodLineList > .is-downtime:hover {
  background: #ebcccc;
}
.factoryLayout-timeline-container > .prodShifts-timeline {
  margin-left: 0;
  text-align: left;
}
.factoryLayout-displayOptions-idle > .fa {
  color: #f0ad4e;
}
.factoryLayout-displayOptions-working > .fa {
  color: #5cb85c;
}
.factoryLayout-displayOptions-downtime > .fa {
  color: #d9534f;
}
.factoryLayout-orgUnitPicker .radio-inline {
  font-weight: bold;
}
