<div class="message message-inline message-error dailyMrpPlan-message" data-message="overlappingLine">
  <%- t('hourlyPlans', 'planning:message:overlappingLine', {
    line: line,
    mrp: mrp
  }) %>
</div>
