.osh-observations-form hr {
  margin-top: 5px;
}
.osh-observations-form h4 {
 font-weight: bold;
}
.osh-observations-form-textarea {
  position: relative;
  width: 285px;
  min-width: 285px;
}
.osh-observations-form-textarea > textarea {
  resize: none;
  height: 40px;
}
@media (min-width: 1680px) {
  .osh-observations-form-textarea > textarea:focus {
    position: absolute;
    z-index: 3;
    top: 5px;
    left: 5px;
    width: 559px;
    height: 114px;
  }
}
.osh-observations-form-radio {
  cursor: pointer;
  text-align: center;
}
.osh-observations-form-radio.disabled {
  cursor: not-allowed;
}
.osh-observations-form-radio > input {
  pointer-events: none;
}
.osh-observations-form-safe {
  min-width: 90px;
  text-align: center;
}
.osh-observations-form-easy {
  min-width: 60px;
  text-align: center;
}
.osh-observations-form-category {
  position: relative;
  min-width: 400px;
}
.osh-observations-form-actions {
  position: absolute;
  right: -1px;
  bottom: -1px;
  display: flex;
  opacity: 0.1;
}
.osh-observations-form-category:hover .osh-observations-form-actions {
  opacity: 1;
}
.osh-observations-form-actions > .btn {
  min-width: 40px;
}
.osh-observations-form-easyConfirmed {
  margin: 20px 0;
  font-size: 18px;
}
.osh-observations-form-easyConfirmed input {
  margin-top: 5px;
}
.osh-observations-form-easyConfirmed label {
  font-weight: bold;
}
.osh-observations-form-resolution {
  width: 1px;
}
.osh-observations-form-resolution .input-group {
  width: 190px;
}
.osh-observations-form-resolution .btn {
  min-width: 37px;
}
.osh-observations-form-resolution .form-control::-webkit-input-placeholder {
  font-family: Arial, "Helvetic Neue", Helvetica, sans-serif;
}
