.paintShop-list-item {
  flex: 0 0 auto;
  line-height: 50px;
  font-size: 32px;
  text-align: center;
  background-color: #ccc;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  cursor: pointer;
}
.paintShop-list-item[data-status="started"] {
  background-color: #5bc0de;
  color: #000;
}
.paintShop-list-item[data-status="partial"] {
  background-color: #f0ad4e;
}
.paintShop-list-item[data-status="finished"] {
  background-color: #449d44;
  color: #fff;
}
.paintShop-list-item[data-status="delivered"] {
  background-color: #222;
  color: #fff;
}
.paintShop-list-item[data-status="cancelled"] {
  background-color: #d9534f;
  color: #fff;
}
.paintShop-list-item:hover {
  background: #ffffd6;
  color: #333;
}
.paintShop-list-item:last-child {
  flex: 1 1 auto;
  border-bottom: 0;
  border-right: 0;
  background-color: #fff;
  cursor: default;
}
.paintShop-list-with-times .paintShop-list-item {
  display: flex;
  padding-left: 11px;
  text-align: left;
}
.paintShop-list-order {
  width: 160px;
}
.paintShop-list-time {
  margin-left: 15px;
  width: 125px;
  font-size: 24px;
}

