.paintShop-list-container {
  margin-left: 15px;
  width: 200px;
  background: #fff;
  border: 1px solid #333;
  box-shadow: 0 6px 12px #666;
  line-height: 1;
}
.paintShop-is-fullscreen.paintShop-is-embedded .paintShop-list-container {
  margin-bottom: 49px;
}
.paintShop-list {
  overflow-y: scroll;
  height: 100%;
}
.paintShop-list-item {
  padding: 7px 0;
  font-size: 32px;
  text-align: center;
  background-color: #ccc;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  cursor: pointer;
}
.paintShop-list-item:last-child {
  border-bottom: 0;
}
.paintShop-list-item[data-status="started"] {
  background-color: #F0AD4E;
}
.paintShop-list-item[data-status="finished"] {
  background-color: #449D44;
  color: #fff;
}
.paintShop-list-item[data-status="cancelled"] {
  background-color: #D9534F;
  color: #fff;
}
.paintShop-list-item:hover {
  background: #ffffd6;
  color: #333;
}
