@import "./queue.css";
@import "./list.css";
@import "./orderDetails.css";
@import "./orderChanges.css";
@import "./datePicker.css";
@import "./tabs.css";

.page[data-id="paintShop"] .page-actions .btn-link {
  padding: 0;
  width: 32px;
  font-size: 32px;
  line-height: 1;
}
.paintShop-is-fullscreen {
  margin: 0;
  overflow: hidden;
}
.paintShop-is-fullscreen .navbar,
.paintShop-is-fullscreen .ft {
  display: none;
}
.paintShop-breadcrumb {
  font-weight: normal;
}
.paintShop-breadcrumb > a.disabled {
  cursor: wait!important;
  text-decoration: none!important;
  color: inherit!important;
}
.paintShop-breadcrumb > .fa {
  padding: 0 20px 0 0;
  text-decoration: none!important;
  cursor: pointer;
}
.paintShop-breadcrumb > .fa-chevron-right {
  padding: 0 0 0 20px;
}
.paintShop {
  display: flex;
}
.paintShop-parentControls {
  position: fixed;
  right: 0;
  bottom: -1px;
  display: flex;
  box-shadow: 0 3px 6px #666;
}
.paintShop-parentControls > .btn {
  margin-right: -1px;
  width: 75px;
  height: 60px;
  font-size: 24px;
}
.paintShop-queue-container {
  margin-left: 20px;
  margin-right: 20px;
}
.paintShop-queue-container + .paintShop-list-container {
  width: 480px;
}
.paintShop-is-fullscreen.paintShop-is-embedded .paintShop-queue-container + .paintShop-list-container {
  margin-bottom: 65px;
}
