.paintShop-orderDetails > h3 {
  padding-bottom: 7px;
  border-bottom: 1px solid #333;
}
.paintShop-orderDetails > h3:first-child {
  margin-top: 0;
}
.paintShop-orderDetails-row {
  display: flex;
}
.paintShop-orderDetails-row > .form-group {
  margin-left: 15px;
}
.paintShop-orderDetails-row > .form-group:nth-child(2) {
  width: 117px;
}
.paintShop-orderDetails-row > .form-group:nth-child(3) {
  width: 120px;
}
.paintShop-orderDetails-row > .form-group:first-child {
  margin-left: 0;
  width: 92px;
}
.paintShop-orderDetails-row > .form-group:last-child {
  margin-bottom: 15px;
  width: auto;
}
.paintShop-orderDetails .control-label {
  white-space: nowrap;
}
@media (min-width: 768px) {
  .paintShop-orderDetails-dialog > .modal-dialog {
    width: 675px;
  }
}
