.paintShop-orderChanges {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -1px;
  right: -452px;
  width: 423px;
  z-index: 1499;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.paintShop-orderChanges-changes {
  flex: 1 1 auto;
  overflow-y: scroll;
}
.paintShop-orderChanges-comment-container {
  flex: 0 0 auto;
  display: flex;
}
.paintShop-orderChanges-comment {
  flex: 1 1 auto;
  font-size: 24px;
}
.paintShop-orderChanges-comment-container .btn-primary {
  flex: 0 0 auto;
  width: 82px;
  font-size: 35px;
}
.paintShop-orderChanges-changes > .fa-spin {
  margin: 15px;
}
.paintShop-orderChanges-change {
  padding: 7px;
  border-top: 1px solid #d4d4d4;
}
.paintShop-orderChanges-change:first-child {
  border-top: none;
}
.paintShop-orderChanges-change-meta {
  margin-bottom: 0;
  color: #777;
}
.paintShop-orderChanges-change-type {
  margin-bottom: 0;
  font-style: oblique;
}
.paintShop-orderChanges-change > .text-lines {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.4;
}
