.paintShop-orderDetails {
  width: 100%;
  line-height: 1;
}
.paintShop-orderDetails > thead > tr > th {
  padding: 5px;
  background-color: #333;
  color: #fff;
}
.paintShop-orderDetails > tfoot > tr > td {
  background-color: #333;
}
.paintShop-orderDetails-actions {
  display: flex;
}
.paintShop-orderDetails-actions > .btn {
  flex: 1 1 0;
  padding: 12px 0;
  font-size: 32px;
}
.paintShop-orderDetails-qtyDone {
  flex: 1 1 0;
  display: flex;
}
.paintShop-orderDetails-qtyDone > .form-control {
  flex: 0 0 auto;
  padding: 0;
  font-size: 48px;
  width: 120px;
  height: 71px;
  text-align: center;
  border: 5px solid #5cb85c;
}
.paintShop-orderDetails-qtyDone > .btn {
  flex: 1 1 0;
  font-size: 32px;
}
.paintShop-orderDetails-qtyDlv {
  flex: 1 1 0;
  display: flex;
}
.paintShop-orderDetails-qtyDlv > .form-control {
  flex: 0 0 auto;
  padding: 0;
  font-size: 48px;
  width: 120px;
  height: 71px;
  text-align: center;
  border: 5px solid #222;
}
.paintShop-orderDetails-qtyDlv > .btn {
  flex: 1 1 0;
  font-size: 32px;
  background-color: #222;
  border-color: #000;
}
.paintShop-orderDetails-qtyDlv > .btn:hover {
  background-color: #000;
}
.paintShop-orderDetails-filler {
  background: #333;
  border-bottom: 1px solid #333;
}
.paintShop-orderDetails .paintShop-order {
  cursor: default;
}
.paintShop-orderDetails-dialog .modal-content {
  background: #000;
}
@media (min-width: 768px) {
  .paintShop-orderDetails-dialog .modal-dialog {
    width: 900px;
  }
  .paintShop-orderDetails-dialog .modal-body {
    padding: 0;
  }
}
