.paintShop-userPicker-pageAction {
  margin-top: -7px;
  font-size: 34px;
}
.paintShop-userPicker-pageAction.is-clickable {
  cursor: pointer;
  color: #337ab7;
}
.paintShop-userPicker-pageAction.is-clickable:hover {
  color: #23527c;
}
.paintShop-userPicker-dialog .modal-body {
  padding: 0;
}
.paintShop-userPicker-users {
  overflow-y: scroll;
}
.paintShop-userPicker-actions {
  display: flex;
}
.paintShop-userPicker-actions .btn {
  flex: 1 1 auto;
  height: 65px;
  font-size: 35px;
}
.paintShop-userPicker-user {
  padding: 7px 14px;
  font-size: 35px;
  border-bottom: 1px dotted #999;
  cursor: pointer;
}
.paintShop-userPicker-user:last-child {
  border-bottom: none;
}
.paintShop-userPicker-user:hover {
  background-color: #ffffa6;
}
.paintShop-userPicker-user.active {
  background-color: #428BCA;
  color: #fff;
}
