<div class="panel panel-default osh-history-panel">
  <div class="panel-heading">
    <%- t('history:panelTitle') %>
  </div>
  <div class="panel-body">
    <p>TODO</p>
    <pre><code><%= JSON.stringify(changes, null, 2)%></code></pre>
  </div>
</div>
