<div class="kanban-popover-container-image">
  <% if (container.image) { %>
  <img src="/kanban/containers/<%- container._id %>.jpg">
  <% } %>
</div>
<div class="kanban-popover-container-size">
  <%- container.width %>mm x <%- container.height %>mm x <%- container.length %>mm
</div>
