<div class="kanban-entries" style="height: <%- height %>px">
  <div class="kanban-thead-outerContainer">
    <div class="kanban-thead-innerContainer">
      <table class="kanban-thead-table"></table>
    </div>
  </div>
  <div class="kanban-tbody-outerContainer" style="height: <%- height - 148 %>px">
    <div class="kanban-tbody-innerContainer">
      <div class="kanban-tbody-scroller">
        <table class="kanban-tbody-table">
          <tbody class="kanban-tbody-tbody"></tbody>
        </table>
      </div>
    </div>
  </div>
</div>
