<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-upload"></i><span><%- t('kanban', 'pa:import') %></span> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu pull-right">
    <% ['sap', 'entries', 'components'].forEach(function(what) { %>
    <li><a id="<%- idPrefix %>-import-<%- what %>" href="javascript:void(0)"><%- t('kanban', 'pa:import:' + what) %></a></li>
    <% }) %>
  </ul>
</div>
