<div class="popover kanban-popover <%- typeof className === 'undefined' ? '' : ('kanban-popover-' + type) %>">
  <div class="arrow"></div>
  <h3 class="popover-title"></h3>
  <div class="popover-content"></div>
</div>
