<div class="reports-8">
  <div class="filter-container"></div>
  <div class="reports-8-tableAndChart">
    <div class="reports-8-dirIndirTable-container"></div>
    <div class="reports-8-dirIndirChart-container"></div>
  </div>
  <div class="reports-8-tableAndChart">
    <div class="reports-8-timesTable-container"></div>
    <div class="reports-8-timesChart-container"></div>
  </div>
</div>
