<div class="kanban-filter-buttons">
  <button class="btn btn-primary" tabindex="100000" data-action="submit" title="<%- t('kanban', 'filters:submit') %>"><i class="fa fa-filter"></i></button>
  <button class="btn btn-default" type="button" tabindex="100000" data-action="clear" title="<%- t('kanban', 'filters:clear') %>"><i class="fa fa-times"></i></button>
</div>
