<form class="kanban-filter kanban-filter-select" data-column-id="<%- columnId %>">
  <select class="form-control" tabindex="100000" autofocus multiple size="5"></select>
  <% include _buttons.ejs %>
</form>
