.mor-watch {
  margin-top: -8px;
}
.mor-watch td {
  font-size: 18px;
  padding: 8px 15px 8px 0;
  line-height: 1;
}
.mor-watch tr:hover > td {
  background: #ffffd6;
}
.mor-watch .actions {
  padding: 0;
}
.mor-watch .btn-group {
  display: none;
}
.is-editing .mor-watch tr:hover .btn-group {
  display: table;
}
.mor-watch .fa-calendar + span {
  display: inline-block;
  min-width: 68px;
}
.mor-section:nth-child(2) > h3 {
  margin-top: 8px;
}
.is-collapsed + .mor-section:nth-child(2) > h3 {
  margin-top: 15px;
}
.mor-section > h3 {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px dotted #ddd;
}
.mor-section > h3 > span,
.mor-section > h3 > .fa {
  cursor: pointer;
}
.mor-section:first-child > h3 {
  padding-top: 0;
  border-top: none;
}
.mor-section > h3 > .btn-group {
  display: none;
  vertical-align: top;
}
.mor-section > h3 .btn {
  padding-top: 0;
  padding-bottom: 0;
  height: 26px;
  line-height: 26px;
}
.is-editing .mor-section > h3:hover > .btn-group {
  display: inline-block;
}
.mor-manager {
  display: flex;
}
.mor-manager > span {
  margin-right: 14px;
}
.mor-user-present {
  color: #00af00;
}
.mor-user-notPresent {
  color: #ee0000;
}
.mor-user + .popover {
  max-width: none;
  white-space: nowrap;
}
.mor-watch + .mor-mrps {
  margin-top: 5px;
}
.mor-mrps {
  width: auto;
}
.mor-mrps > tbody > tr > td {
  vertical-align: top;
  min-width: 100px;
}
.mor-mrps > thead > tr > th:first-child,
.mor-mrp {
  width: 275px;
}
.mor-mrps-highlight {
  background: #ffffd6!important;
}
.mor-is-editable {
  position: relative;
}
.mor-is-editable > .btn-group {
  display: none;
  position: absolute;
  bottom: -1px;
  right: -1px;
}
.mor-is-editable.mor-is-common > .btn-group {
  bottom: unset;
  top: -33px;
}
th.mor-is-editable .btn,
.mor-is-editable.mor-is-common .btn {
  height: 32px;
}
.is-editing .mor-is-editable:hover > .btn-group {
  display: inline-block;
}
.mor-section > h3 > .fa-caret-right {
  display: none;
}
.mor-section.is-collapsed > h3 > .fa-caret-down {
  display: none;
}
.mor-section > h3 > .fa-caret-down,
.mor-section.is-collapsed > h3 > .fa-caret-right {
  display: inline-block;
  width: 14px;
}
.mor-section.is-collapsed > h4,
.is-collapsed > .mor-watch,
.is-collapsed > .mor-mrps {
  display: none;
}
.mor-mrp-name {
  font-weight: bold;
}
.mor-mrp-desc {
  display: block;
  font-size: 11px;
  line-height: 1.2;
}
.mor-user:hover {
  text-decoration: underline;
  cursor: pointer;
}
.mor-watch-time {
  width: 60px;
  text-align: center;
}
.mor-dialog .modal-dialog {
  width: auto;
  margin-left: 30px;
  margin-right: 30px;
}
.mor-dialog .modal-body {
  padding: 0 15px;
}
.mor-dnd-indicator {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 15px;
  border-width: 3px;
  border-color: orange;
}
.mor-btn-editMode {
  position: absolute;
  top: 0;
  right: 15px;
}
.mor-jumpList {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1041;
}
.modal-open .mor .mor-jumpList {
  display: none;
}
.mor-jumpList-modal {
  right: 47px;
  bottom: 10px;
}
.mor-jumpList > .list-group-item {
  border-right: 1px solid #337ab7;
  border-left: 1px solid #337ab7;
}
.mor-jumpList > .list-group-item:first-child {
  border-top: 1px solid #337ab7;
  border-top-left-radius: 6px;
}
.mor-jumpList > .list-group-item:last-child {
  border-bottom: 1px solid #337ab7;
  border-bottom-left-radius: 6px;
}
