<div>
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitle %></div>
    <div class="panel-details">
      <%- helpers.props(model, [
        '_id',
        'name',
        'active',
        'description',
        'inNearMiss',
        'inSuggestion',
        'position'
      ]) %>
    </div>
  </div>
  <div id="<%- id('coordSections') %>" class="kaizen-coordSections-details"></div>
</div>
