<div class="form-group">
  <label class="control-label"><%- t('kaizenCategories', 'PROPERTY:coordSections') %></label>
  <div id="<%- id('coordSections') %>" class="kaizen-coordSections"></div>
  <button data-action="addCoordSection" type="button" class="btn btn-default"><i class="fa fa-plus"></i><span><%- t('kaizenCategories', 'coordSections:add') %></span></button>
</div>
