<div class="panel panel-primary planning-orderGroups-details">
  <div class="panel-heading"><%- panelTitle %></div>
  <div class="panel-details">
    <%- helpers.props(model, [
      'active',
      {id: '!target', value: v => `<ul><li>${v.join('<li>')}</ul>`},
      'name',
      {id: 'description', valueClassName: 'text-lines'},
      '!mrp',
      '!productInclude',
      '!productExclude',
      '!bomInclude',
      '!bomExclude'
    ]) %>
  </div>
</div>
