.mfs-form-addButton {
  margin-top: -20px;
}
.mfs-form .message + .table {
  margin-top: 15px;
}
.mfs-form-who {
  width: 500px;
}
.mfs-form-statusBtnGroup {
  display: block;
}
.mfs-form-rid-required {
  position: absolute;
  opacity: 0;
  border: 0;
  width: 1px
}
.mfs-form-cause {
  margin-top: 15px;
}
.mfs-form-cause .control-label {
  margin-bottom: 0;
}
.mfs-form-cause-why .control-label {
  margin: 7px 0 0 0;
  font-weight: normal;
}
.mfs-form-cause-why .form-control {
  height: 54px;
}
