<div>
  <% include ./nearMiss.ejs %>
  <% include ./suggestion.ejs %>
  <div class="dashboard-buttons">
    <a class="btn btn-info" href="#behaviorObsCards;add">
      <%- t('dashboard', 'addButton:observation') %>
    </a>
    <% if (user.isAllowedTo('KAIZEN:MANAGE', 'FN:leader')) { %>
    <a class="btn btn-success" href="#minutesForSafetyCards;add">
      <%- t('dashboard', 'addButton:minutesForSafety') %>
    </a>
    <% } %>
  </div>
</div>
