<div class="dashboard-nearMiss">
  <div class="dashboard-metricsAndList">
    <div id="<%- idPrefix %>-nearMiss-metrics" class="dashboard-metricsAndList-metrics"></div>
    <div class="dashboard-top-container">
      <div class="dashboard-top-card">
        <div id="<%- idPrefix %>-nearMiss-top10-current" class="dashboard-metricsAndList-top"></div>
        <div id="<%- idPrefix %>-nearMiss-top10-previous" class="dashboard-metricsAndList-top"></div>
      </div>
    </div>
    <div id="<%- idPrefix %>-nearMiss-list" class="dashboard-metricsAndList-list"></div>
  </div>
</div>
