<div class="dashboard-suggestion">
  <div class="dashboard-metricsAndList">
    <div id="<%- idPrefix %>-suggestion-metrics" class="dashboard-metricsAndList-metrics"></div>
    <div class="dashboard-top-container">
      <div class="dashboard-top-card">
        <div id="<%- idPrefix %>-suggestion-top10-current" class="dashboard-metricsAndList-top"></div>
        <div id="<%- idPrefix %>-suggestion-top10-previous" class="dashboard-metricsAndList-top"></div>
      </div>
    </div>
    <div id="<%- idPrefix %>-suggestion-list" class="dashboard-metricsAndList-list"></div>
  </div>
</div>
