<form class="ct-balancing-editor">
  <textarea id="<%- idPrefix %>-comment" class="form-control ct-balancing-editor-comment"><%- comment %></textarea>
  <button class="btn btn-lg btn-primary"><i class="fa fa-save"></i></button>
</form>
