<div class="ct-balancing-recorder hidden">
  <div class="ct-balancing-recorder-duration">
    <span id="<%- idPrefix %>-value" class="ct-balancing-recorder-duration-value"></span>
    <span class="ct-balancing-recorder-duration-unit">s</span>
  </div>
  <div class="ct-balancing-recorder-actions">
    <button id="<%- idPrefix %>-start" class="btn btn-primary" data-action="start"><i class="fa fa-play"></i></button>
    <button id="<%- idPrefix %>-stop" class="btn btn-warning" data-action="stop"><i class="fa fa-stop"></i></button>
    <button id="<%- idPrefix %>-record" class="btn btn-info" data-action="record"><i class="fa fa-spinner fa-spin"></i></button>
  </div>
</div>
