.compRel-entries-filter option[value="rejected"] {
  color: #ee0000;
}
.compRel-entries-filter option[value="accepted"] {
  color: #00af00;
}
.compRel-entries-list .is-filter {
  cursor: pointer;
}
.compRel-entries-list .is-filter:hover {
  background: #e6e6e6;
}
