<form class="well filter-form">
  <%- forms.dateTimeRange({
    idPrefix: idPrefix,
    property: 'requestedAt',
    type: 'date+time',
    startHour: 6,
    labels: {text: helpers.t('requests:requestedAt'), ranges: '+shifts'}
  }) %>
  <div id="<%- idPrefix %>-orgUnit" class="form-group"></div>
  <%- renderLimit() %>
  <div class="form-group filter-actions">
    <button type="submit" class="btn btn-default"><i class="fa fa-filter"></i><span><%= t('isa', 'requests:filter') %></span></button>
  </div>
</form>
