.ct-state-line {
  line-height: 1;
}
.ct-state-line + .ct-state-line {
  margin-top: 15px;
}
.ct-state-stations-outer {
  margin-top: 7px;
  overflow-x: auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background: #ccc;
}
.ct-state-stations {
  display: flex;
}
.ct-state-station {
  flex: 0 0 auto;
  padding: 10px;
  width: 305px;
  border: 1px solid #ccc;
  border-left: none;
  background: #fff;
}
.ct-state-station:last-child {
  border-right: none;
}
.ct-state-station.is-lamp-on {
  background-color: #f2dede;
}
.ct-state-station-row {
  display: flex;
  margin-top: 10px;
}
.ct-state-station-row:first-child {
  margin-top: 0;
}
.ct-state-station-row > span {
  padding-left: 10px;
}
.ct-state-station-row > span:first-child {
  padding-left: 0;
}
.ct-state-station-orderName {
  margin-top: 10px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: uppercase;
}
