<div>
  <%- t('notify:message') %>
  <div class="form-actions">
    <button class="btn btn-primary dialog-answer" type="button" autofocus data-answer="yes"><%- t('notify:yes') %></button>
    <button class="btn btn-link cancel" type="button"><%- t('notify:no') %></button>
  </div>
</div>
