<div class="panel panel-<%- model.className %>">
  <div class="panel-heading"><%- panelTitle %></div>
  <div class="panel-details">
    <div class="row">
      <div class="col-md-6">
        <%- helpers.props(model, [
          '!mrps',
          '!oldComponent',
          '!newComponent',
          'status',
          {id: '!reason', value: function(value)
          {
            var html = _.escape(value);

            if (canChangeReason)
            {
              html += '<a id="' + id('changeReason') + '" href="javascript:void(0)" title="'
                + t('changeReason:action') + '" style="padding: 0 8px 4px"><i class="fa fa-edit"></i></a>';
            }

            return html;
          }}
        ]) %>
      </div>
      <div class="col-md-6">
        <%- helpers.props(model, [
          'createdAt',
          '!creator',
          'updatedAt',
          '!updater'
        ]) %>
      </div>
    </div>
  </div>
</div>
