<div>
  <%- t('wmes-compRel-entries', 'orders:remove:message', {orderNo: orderNo}) %>
  <div class="form-actions">
    <button class="btn btn-danger dialog-answer" type="button" autofocus data-answer="yes"><%- t('wmes-compRel-entries', 'orders:remove:yes') %></button>
    <button class="btn btn-link cancel" type="button"><%- t('wmes-compRel-entries', 'orders:remove:no') %></button>
  </div>
</div>
