<div style="display: flex">
  <button class="btn btn-danger" type="button"><i class="fa fa-times"></i><span><%- t('confirm:cancel') %></span></button>
  <button class="btn btn-success" type="button"><i class="fa fa-check"></i><span><%- t('confirm:' + action) %></span></button>
</div>
