.ct-lines-form-common:empty {
  display: none;
}
.ct-lines-form-common > .form-group:last-child {
  margin-bottom: 15px;
}
.ct-lines-form-stations td {
  padding-bottom: 15px;
  padding-right: 15px;
}
.ct-lines-form-stations td:last-child {
  padding-right: 0;
}
.ct-lines-form-stations tr:last-child td {
  padding-bottom: 0;
}
