<div>
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitle %></div>
    <div class="panel-details">
      <%- helpers.props(model, [
        'active',
        'position',
        'shortName',
        'longName',
        {id: '!description', value: v => /^<[a-z]+.*?>/ ? v : `<p class="text-lines">${_.escape(v)}</p>`}
      ]) %>
    </div>
  </div>
</div>
