<div class="hidden">
  <h1>v0.102.0</h1>
  <h2><%- time.format('2017-01-01', 'LL') %></h2>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Poprawiono rozpoznawanie starych numerów seryjnych IPT.</li>
    <li>Poprawiono błąd powodujący nieprzeliczanie wartości 'Czas taktu' po operacji 'Poprawa zlecenia'.</li>
  </ul>
  <h3>Usprawnienia</h3>
  <ul>
    <li>Zmieniono filtry tak, aby można było wybrać kilka opcji na raz.</li>
  </ul>
  <h3>Plany godzinowe</h3>
  <ul>
    <li>Dodano możliwość ustawienia dla każdej linii sztywnej planowanej ilości wyświetlanej na ekranie
      'Wydajność godzinowa'.</li>
  </ul>
  <h3>Zlecenia reszty działów</h3>
  <ul>
    <li>Poprawiono błąd powodujący wyświetlanie wykonanej ilości jako <code>undefined</code>.</li>
  </ul>
  <h3>Dokumentacja</h3>
  <ul>
    <li>Zmieniono akcję 'Znajdź zlecenie' na 'Znajdź zlecenie/dokument'. Nowy dokument dopisywany jest do lokalnej listy
      dokumentów aktualnego zlecenia.</li>
    <li>Zmieniono pole 'Filtruj dokumenty' tak, aby po wpisaniu pełnego 15NC, na liście pojawił się dany dokument.
      Po otwarciu nowego dokumentu, dopisywany jest on do lokalnej listy dokumentów aktualnego zlecenia.</li>
    <li>Zmieniono pole 'Filtruj dokumenty' tak, aby po wciśnięciu klawisza <kbd>Enter</kbd> otwierany był pierwszy dokument
      na liście.</li>
    <li>Dodano klawiaturę numeryczną do pola 'Filtruj dokumenty' w trybie dotykowym.</li>
    <li>Dodano do nowego wyświetlacza dokumentów zapamiętywanie ostatnio otwartej strony dokumentu.</li>
  </ul>
</div>
