<div class="hidden">
  <h1>v0.132.0</h1>
  <h2><%- time.format('2019-03-03', 'LL') %></h2>
  <h3>FAP</h3>
  <ul>
    <li>Poprawiono błąd mogący spowodować wywalenie się serwera, jeżeli dwóch użytkowników zmieniało zgłoszenie
      w tym samym czasie.</li>
    <li>Poprawiono błąd powodujący brak aktualizacji szczegółów zgłoszenia w czasie rzeczywistym, jeżeli
      FAP otwarto za pomocą ID zgłoszenia.</li>
    <li>Zmieniono treść powiadomienia SMS tak, aby zawierał adres URL do zgłoszenia.</li>
    <li>Zmieniono tabele w wykresach 'Ilość zgłoszeń wg wydziałów' oraz 'Ilość zgłoszeń wg MRP' raportu tak,
      aby zliczały pozycje 'Nieokreślone' (bez wydziału/MRP).</li>
    <li>Zmieniono tabele w wykresach 'Ilość zgłoszeń wg osób' tak, aby pokazywały sumę osób.</li>
    <li>Zmieniono menu oraz stronę ze szczegółami zgłoszenia tak, aby były bardziej użyteczne na urządzeniach
      mobilnych.</li>
    <li>Dodano możliwość wywoływania formularza dodawania zgłoszenia klawiszem <kbd>F1</kbd>.</li>
    <li>Dodano możliwość kopiowania Kategorii i Problemu z ostatniego zgłoszenia użytkownika podczas dodawania
      nowego zgłoszenia.</li>
    <li>Dodano możliwość zdefiniowania 'Kategorii ETO' dla każdej kategorii zgłoszeń. Jeżeli wybrana zostanie kategoria,
      która ma przypisaną kategorię ETO oraz wybrane zlecenie jest ETO, to kategoria automatycznie zostanie zamieniona
      na kategorię ETO (i w drugą stronę).</li>
  </ul>
  <h3>ZPW</h3>
  <ul>
    <li>Zmieniono poawiadamianie o nowych zgłoszeniach tak, aby specjalny e-mail FM-24 był wysyłany na adres
      zatwierdzającego, jeżeli nazwa zatwierdzającego pasuje do wzorca <code>/fm.?24/i</code>.</li>
    <li>Dodano do formularza dodawania możliwość dołączenia prośby o potwierdzenie przyjęcia zgłoszenia FM-24
      do specjalnego e-maila FM-24.</li>
    <li>Dodano możliwość włączenia powiadomień SMS i e-mail o nowych zgłoszeniach FM-24 przez każdego użytkownika.</li>
  </ul>
  <h3>Operator</h3>
  <ul>
    <li>Poprawiono błąd powodujący nieprzeliczanie danych zmiany produkcyjnej po wykonaniu operacji
      'Poprawa zlecenia'.</li>
    <li>Poprawiono błąd powodujący zwracanie pustej kolejki zaplanowanych zleceń po połączeniu się klienta
      z serwerem.</li>
    <li>Dodano osie czasu przedstawiające zaplanowaną oraz wykonaną sekwencję zleceń.</li>
  </ul>
  <h3>Inspekcja Jakości</h3>
  <ul>
    <li>Usunięto komunikat informujący o nowym typie filtra listy.</li>
  </ul>
  <h3>Jednostki organizacyjne</h3>
  <ul>
    <li>Zmieniono usuwanie jednostek organizacyjnych tak, aby nie można było usunąć jednostki nadrzędnej, która
      ma przypisane jednostki podrzędne (np. nie można usunąć WorkCentra, jeżeli jakaś Linia należy do tego WC).</li>
  </ul>
  <h3>Planowanie</h3>
  <ul>
    <li>Zmieniono generowanie planu tak, aby zlecenia z priorytetem <strong>E</strong> były rozplanowywane
      w całości tylko na pierwszej zmianie.</li>
    <li>Dodano do statystyk wskaźniki realizacji planu z podziałem na zmiany produkcyjne.</li>
    <li>Dodano do statusów zleceń wyświetlanie priorytetu zlecenia <strong>E</strong> - Pilot ETO.</li>
    <li>Dodano możliwość blokowania MRP. Zablokowane MRP nie będzie przeliczane i nie można w nim dokonywać
      żadnych zmian, tak jakby wykonywanie danego planu już się rozpoczęło.</li>
    <li>Dodano możliwość kopiowania niektórych ustawień linii z dowolnego planu do innych wybranych,
      otwartych planów.</li>
  </ul>
  <h3>Malarnia</h3>
  <ul>
    <li>Zmieniono rozpoczynanie zlecenia tak, aby wymagało wybranie nr kabiny.</li>
    <li>Dodano możliwość rejestrowania dostarczonej ilości.</li>
    <li>Dodano możliwość logowania się malarzy w trybie wsadowym. Bez zalogowania się nie można dokonywać zmian
      w zleceniach.</li>
  </ul>
  <h3>Magazyn</h3>
  <ul>
    <li>Dodano filtr 'Etap' do starej wersji modułu.</li>
    <li>Dodano nową wersję modułu.</li>
  </ul>
  <h3>Raporty > CLIP</h3>
  <ul>
    <li>Poprawiono błąd powodujący, że ustawienie przesunięcia daty danych nie miało na nic wpływu.</li>
    <li>Zmieniono ustawienia 'Przesunięcie dniowe ...' oraz 'Przesunięcie godzinowe danych' tak, aby podana
      ilość oznaczała dni robocze (tzn. dla przesunięcia <code>-2</code>, data z poniedziałku zostanie zamieniona
      na czwartek poprzedniego tygodnia, a nie na sobotę, zakładając, że czwartek i piątek to dni robocze).</li>
  </ul>
  <h3>Baza Kanban</h3>
  <ul>
    <li>Poprawiono błąd powodujący ukrycie menu kontekstowego kolumny po użyciu klawisza <kbd>Delete</kbd>
      lub <kbd>Backspace</kbd> w polu filtra.</li>
    <li>Dodano wsparcie dla siódmego stanowiska.</li>
  </ul>
  <h3>Użytkownicy</h3>
  <ul>
    <li>Zmieniono proces logowania tak, aby wymuszona została zmiana hasła dla użytkowników, których hasło
      jest takie samo jak login lub numer kadrowy.</li>
    <li>Zmieniono proces logowania tak, aby nie można było się zalogować, jeżeli jako loginu użytko adresu
      e-mail i w bazie istnieje kilku użytkowników z takim samym adres.</li>
    <li>Zmieniono formularz resetowania hasła tak, aby użytkownik musiał potwierdzić nowe hasło podając
      je dwa razy.</li>
    <li>Zmieniono formularz logowania tak, aby był ponownie dostępny w trybie wsadowym.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Zmieniono maksymalną szerokość często używanych formularzy tak aby była dynamicznie dostosowywana na większych
      rozdzielczościach ekranu.</li>
    <li>Zmieniono wewnętrzny kalendarz tak, aby traktował dni bez zleceń ze statusem REL jako dni wolne od pracy.</li>
    <li>Dodano do wewnętrznego kalendarza dni ustawowo wolne od pracy dla lat 2019, 2020 i 2021.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.131.0</h1>
  <h2><%- time.format('2019-02-03', 'LL') %></h2>
  <h3>FAP</h3>
  <ul>
    <li>Poprawiono błąd powodujący nieprawidłowe ustawianie filtra 'MRP' po wejściu na listę zgłoszeń
      z filtrem 'Kategoria'.</li>
    <li>Poprawiono błąd powodujący niedziałanie automatycznego dodawania uczestników do nowego zgłoszenia.</li>
    <li>Poprawiono błąd powodujący dodawanie do zgłoszenia plików załadowanych do modułu Dokumentów, jeżeli wcześniej
      użytkownik odwiedził stronę ze szczegółami zgłoszenia FAP.</li>
    <li>Zmieniono nazwy załączników na czacie tak, aby stawały się przekreślone, jeżeli załącznik został usunięty.</li>
    <li>Zmieniono wyświetlanie wiadomości na czacie tak, aby wszystkie wiadomości wysłane przez innych użytkowników
      były po lewej stronie, a wiadomości użytkownika po prawej.</li>
    <li>Zmieniono dodawanie nowych zgłoszeń tak, aby zgłoszenia dodane przez użytkownika bez ustawionej
      'Funkcji na produkcji', ale z przynajmniej jednym 'Uprawnieniem' miały status 'Rozpoczęte' a nie 'Oczekujące'.</li>
    <li>Zmieniono kolumnę 'Linie' na liście zgłoszeń tak, żeby miała maksymalnie szerokość równą 200px.</li>
    <li>Dodano filtr 'Wydział' do listy zgłoszeń.</li>
    <li>Dodano filtr 'Tekst' do listy zgłoszeń przeszukujący: Nazwa produktu, Problem, Rozwiązanie, Dlaczego?,
      Opis kroków rozwiązujących problem oraz czat.</li>
    <li>Dodano do listy kolumnę 'Nazwa produktu'.</li>
    <li>Dodano do listy akcję 'Oznacz jako przeczytane'.</li>
    <li>Dodano raport.</li>
    <li>Dodano możliwość dodawania obrazków znajdujących się w schowku przez skrót <kbd>CTRL+V</kbd>.</li>
    <li>Dodano akcję 'Dodaj załączniki' do sekcji 'Załączniki' na stronie szczegółów zgłoszenia umożliwiającą
      wybranie plików z dysku.</li>
    <li>Dodano do eksportowania zgłoszeń kolumnę z wiadomościami z czata.</li>
  </ul>
  <h3>Raporty > CLIP</h3>
  <ul>
    <li>Zmieniono listę zleceń tak, aby dane w wygenerowanym raporcie zmieniały się, jeżeli zaktualizowano zlecenie
      (komentarz, powód opóźnienia, opóźniony komponent, M4) zanim raport wygasł.</li>
    <li>Dodano wyświetlanie 'Opóźnionego komponentu' w kolumnie 'Powód opóźnienia' na liście zleceń.</li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Usunięto przycisk umożliwiający przejście do Pulpitu.</li>
  </ul>
  <h3>Baza testów</h3>
  <ul>
    <li>Poprawiono błąd powodujący wyświetlanie adresów IP klientów jako <code>127.0.0.1</code>.</li>
  </ul>
  <h3>Badanie Opinia</h3>
  <ul>
    <li>Zmieniono domyślny filtr 'Badania' w raporcie tak, aby pokazywane były wyniki tylko dla badania
      z najnowszymi wynikami zamiast wszystkie.</li>
    <li>Zmieniono nagłówki odpowiedzi w papierowej wersji ankiety z tekstu na ikony.</li>
    <li>Dodano wsparcie dla języka ukraińskiego w przeglądarkowej wersji ankiety.</li>
    <li>Dodano wsparcie dla pytania 'Polecanie' w formacie 1-10 do przeglądarkowej wersji ankiety
      oraz do 'Odpowiedzi'.</li>
  </ul>
  <h3>Planowanie</h3>
  <ul>
    <li>Poprawiono błąd powodujący rozplanowanie zlecenia z 0 ilością sztuk na początku drugiej i trzeciej zmiany
      w niektórych przypadkach.</li>
    <li>Zmieniono generowanie planu tak, aby linie były rozplanowywane w kolejności alfanumerycznej wg MRP i ID linii,
      a nie wg kolejności pojawienia się w ustawieniach.</li>
    <li>Zmieniono generowanie planu tak, aby części podzielonych zleceń były wcześniej rozplanowywane na kolejnych
      liniach, jeżeli różnica w czasie rozpoczęcia pierszej części zlecenia i aktualnego czasu rozplanowywanej linii
      jest mniejsza niż 60 minut, a nie 20 minut.</li>
    <li>Zmieniono generowanie planu tak, aby zlecenia, które pasują do przynajmniej jednej grupy ze
      zdefiniowanymi 12NC nie trafiały na linie, które należą do grupy bez żadnych 12NC w przypadku,
      gdy na liniach z grupy 12NC nie ma już miejsca.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający 'przyklejenie' dymka z informacjami o użytkowniku po kliknięciu
      na nazwę użytkownika.</li>
    <li>Dodano do aplikacji uruchomionych w trybie wsadowym akcje resetowania przeglądarki, ponownego uruchomienia
      oraz uruchomienia przeglądarki bez trybu kioskowego. Akcje dostępne po trzykrotnym kliknięciu na przycisk
      menu akcji.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.130.0</h1>
  <h2><%- time.format('2019-01-13', 'LL') %></h2>
  <h3>FAP</h3>
  <ul>
    <li>Poprawiono błąd mogący spowodować niewyświetlanie się nazwy kategorii, jeżeli użytkownik wszedł bezpośrednio
      na stronę szczegółów zgłoszenia.</li>
    <li>Zmieniono chat tak, aby nie wyświetlał imienia i nazwiska bez żadnych linii (np. w przypadku usunięcia
      załączników).</li>
    <li>Zmieniono czat tak, aby odnośniki podane w wiadomości były automatycznie zamieniane na klikalną wersję.</li>
    <li>Zmieniono 'Opis rozwiązania problemu' tak, aby był podświetlany na zielono, jeżeli podano jakąś wartość.</li>
    <li>Zmieniono uprawnienia niezalogowanych użytkowników tak, aby nie mogli już wysyłać wiadomości, dodawać
      uczestników oraz załączników.</li>
    <li>Zmieniono uprawnienia tak, aby użytkownicy z funkcją 'Konstruktor FD' lub 'Konstruktor ETO' mieli możliwość
      zmiany pól: Status, Kategoria, Problem i Rozwiązanie.</li>
    <li>Zmieniono uprawnienia tak, aby użytkownicy z funkcją 'Inżynier procesu ds. nowych wdrożeń' mieli takie same
      uprawnienia jak 'Inżynier procesu'.</li>
    <li>Dodano do wiadomości 'Zakończono zgłoszenie' czas trwania zgłoszenia.</li>
    <li>Dodano do czatu automatyczne wyświetlanie wiadomości 'Analiza rozpoczęta' oraz 'Analiza zakończona'.</li>
    <li>Dodano do czatu autouzupełnianie imienia i nazwiska użytkownika po wciśnięciu klawisza <kbd>TAB</kbd>.</li>
    <li>Dodano oznaczanie nieprzeczytanych zmian w zgłoszeniach.</li>
    <li>Dodano powiadamianie o nowych wiadomościach w obserwowanych zgłoszeniach.</li>
  </ul>
  <h3>Użytkownicy</h3>
  <ul>
    <li>Dodano nową opcję do kont użytkowników: Powiadamianie SMS o każdym nowym zgłoszeniu FAP (a nie tylko podczas
      dyżuru).</li>
  </ul>
  <h3>Zlecenia produkcyjne</h3>
  <ul>
    <li>Dodano listę zgłoszeń FAP do strony ze szczegółami zlecenia.</li>
  </ul>
  <h3>Planowanie</h3>
  <ul>
    <li>Poprawiono błąd, który powodował wyświetlanie wszystkich nowych zleceń dodanych podczas przeliczania planu jako
      'Niekompletne'.</li>
    <li>Zmieniono ustawienie 'Ilość pracowników' tak, aby można było zdefiniować różną ilość dla każdej zmiany
      produkcyjnej.</li>
    <li>Zmieniono wyświetlanie listy linii tak, aby wyświetlane były w kolejności alfabetycznej, a nie kolejności
      zdefiniowania.</li>
  </ul>
  <h3>Matryca odpowiedzialności</h3>
  <ul>
    <li>Poprawiono błąd powodujący wywalenie się serwera, jeżeli usunięto Użytkownika, który występował w Matrycy.</li>
  </ul>
  <h3>Raporty</h3>
  <ul>
    <li>Zmieniono etykiety osi x we wszystkich wykresach czasowych tak, aby były zależne od wybranego Podziału czasu.</li>
  </ul>
  <h3>Raporty > CLIP</h3>
  <ul>
    <li>Dodano wyświetlanie ID zgłoszeń FAP na liście zleceń.</li>
  </ul>
  <h3>Raporty > Przestoje w obszarach</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający wyeksportowanie przestojów.</li>
  </ul>
  <h3>Malarnia</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający wyeksportowanie zleceń.</li>
  </ul>
  <h3>Magazyn</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający wyeksportowanie zleceń.</li>
  </ul>
  <h3>Kanban</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający wyeksportowanie tabeli.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Zmieniono akcje 'Skocz do ... po ID' tak, aby pole nie było automatycznie zaznaczane na
      urządzeniach mobilnych.</li>
    <li>Zmieniono 'okruszki' prowadzące z powrotem do listy tak, aby miały ustawiony ostatnio wybrany filtr.</li>
  </ul>
</div>
