<div class="hidden">
  <h1>v0.158.0</h1>
  <h2><%- time.format('2021-02-28', 'LL') %></h2>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Zmieniono domyślną maksymalną ilość wykonaną na 125% całkowitej ilości do zrobienia lub 9999, jeżeli nie
      udało się określić całkowitej ilości do zrobienia.</li>
    <li>Zmieniono domyślną maksymalną ilość osób na 125% ilości osób wg SAP lub 15, jeżeli nie udało się określić
      ilości osób wg SAP.</li>
  </ul>
  <h3>Dopuszczenia</h3>
  <ul>
    <li>Dodano możliwość zmiany opinii po dopuszczeniu materiału zastępczego przez osobę, która wcześniej wydała
      opinię.</li>
    <li>Dodano możliwość usuwania zleceń bez względu na aktualny status dopuszczenia.</li>
  </ul>
  <h3>Firmy</h3>
  <ul>
    <li>Dodano możliwość definiowania wielu różnych wzorców synchronizacji z bazą KD.</li>
  </ul>
  <h3>Użytkownicy</h3>
  <ul>
    <li>Zmieniono importowanie użytkowników z bazy KD tak, aby firma określana była na podstawie zdefiniowanych
      wzorców synchronizacji firmy a nie ID firmy.</li>
  </ul>
  <h3>Planowanie</h3>
  <ul>
    <li>Poprawiono błąd mogący spowodować zresetowanie planu godzinowego linii.</li>
    <li>Dodano nową wersję algorytmu generatora planu.</li>
  </ul>
  <h3>Baza komponentów</h3>
  <ul>
    <li>Zmieniono filtry tekstowe tak, aby można było filtrować według wielu wartości oddzielonych średnikiem.</li>
    <li>Zmieniono wyświetlanie wartości w kolumnach Stanowisko tak, aby puste stanowiska nie pokazywały wartości 0.</li>
    <li>Dodano kolumnę 'Używane w' (Miejsce przeznaczenia).</li>
  </ul>
  <h3>Usprawnienia</h3>
  <ul>
    <li>Zmieniono sposób wyświetlania załączników z tabeli na galerię.</li>
    <li>Dodano możliwość dodawania wielu załączników.</li>
  </ul>
  <h3>Czas cyklu</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający wygenerowanie raportu Wyniki dla większego zakresu danych.</li>
  </ul>
  <h3>Narzędzia pomiarowe</h3>
  <ul>
    <li>Dodano nową opcję konfiguracyjną umożliwiającą ustawienie osób, które mają być powiadamiane o każdej
      zbliżającej się kalibracji.</li>
  </ul>
  <h3>Magazyn</h3>
  <ul>
    <li>Zmieniono wysyłkę wózków tak, aby podczas dokładania wózków do limitu brany był tylko pierwszy dostępny set
      w całości mieszczący się w limicie. Wcześniej wysyłka mogła być rozszerzona o wózek zaplanowany na później co
      mogło zakłócić sekwencję.</li>
  </ul>
  <h3>Dokumentacja</h3>
  <ul>
    <li>Zmieniono aplikację do wyświetlania dokumentów tak, aby lista dokumentów była automatycznie aktualizowana
      jeżeli zmieni się lista dokumentów w zleceniu.</li>
    <li>Dodano możliwość przypisywania dokumentów do MRP.</li>
    <li>Dodano możliwość dodawania do katalogu dokumentów obrazów w formacie JPEG.</li>
  </ul>
  <h3>Zlecenia produkcyjne</h3>
  <ul>
    <li>Zmieniono import dokumentów tak, aby zrzut był robiony tylko dla niezakończonych zleceń. Dodatkowo dokumenty
      dla zleceń dwa dni robocze w przód nie są zrzucane, jeżeli już istnieją.</li>
    <li>Zmieniono 'Czas utworzenia' tak, aby wartość brana była z danych 'COOIS > Headers > Created on/Time'.
      Wcześniejsza wartość brana z 'ZOIN > Document Date/Time' to teraz 'Czas zlecenia sprzedaży'.</li>
    <li>Dodano możliwość dodawania do katalogu dokumentów obrazów w formacie JPEG.</li>
    <li>Dodano automatyczny import dokumentów do zlecenia, które zostało rozpoczęte na linii produkcyjnej i nie ma
      aktualnie żadnych dokumentów.</li>
  </ul>
  <h3>Baza testów</h3>
  <ul>
    <li>Dodano nowy moduł: Tester GearFlex.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.157.0</h1>
  <h2><%- time.format('2021-01-30', 'LL') %></h2>
  <h3>Planowanie</h3>
  <ul>
    <li>Poprawiono błąd powodujący oznaczenie czasu rozpoczęcia zlecenia jako zaliczony na podsumowaniu realizacji
      sekwencji dla wybranego MRP, jeżeli czas rozpoczęcia różni się od czasu granicznego o przesunięcie lokalnej
      strefy czasowej.</li>
  </ul>
  <h3>Malarnia</h3>
  <ul>
    <li>Dodano wsparcie dla dwóch nowych liczników obciążenia: Kabina 1 i Kabina 2.</li>
  </ul>
  <h3>Magazyn</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający zapisanie opcji 'W trakcie malowania (MSP)' dla ustawienia
      'Ignorowane statusy malarnii'.</li>
    <li>Poprawiono błąd powodujący dublowanie podsumowania Ilości oraz Czasu produkcji na ekranie Wysyłki, jeżeli
      jedno zlecenie skompletowane jest na więcej niż jednym wózku.</li>
    <li>Poprawiono błąd mogący spowodować desynchronizację statusu malarnii dla zlecenia wierconego niemalowanego.</li>
    <li>Zmieniono listę problemów tak, aby zamiast zaplanowanego czasu końca zlecenia wyświetlany był czas rozpoczęcia
      problemu.</li>
    <li>Dodano wsparcie dla drukowania wielostronicowych picklist malarnii.</li>
  </ul>
  <h3>Monitoring</h3>
  <ul>
    <li>Zmieniono oznaczanie zleceń oraz linii tak, aby zielony kolor oznaczał wydajność >= 100%, żółty < 100%,
      a pomarańczowy < 90%.</li>
    <li>Zmieniono oznaczanie linii na liście linii produkcyjnych tak, aby tło oznaczało wydajność całej zmiany a nie
      aktualnie wykonywanego zlecenia.</li>
  </ul>
  <h3>Narzędzia</h3>
  <ul>
    <li>Dodano do menu Narzędzia pozycje Sprawdzanie komponentów oraz Etykiety komponentów.</li>
    <li>Dodano dla Inżynierów procesu uprawnienia do Sprawdzania komponentów oraz Etykiet komponentów.</li>
  </ul>
  <h3>FAP</h3>
  <ul>
    <li>Zmieniono powiadomienia e-mail tak, aby w treści znalazł się Czas zgłoszenia oraz informacja o zgłoszeniu
      starszym niż dwa dni (wysłane z powodu zmiany kategorii).</li>
  </ul>
  <h3>Usprawnienia</h3>
  <ul>
    <li>Usunięto pole Działy koordynujące z formularza dodawania zgłoszenia.</li>
    <li>Dodano do powiadomienia o niezakończonych zgłoszeniach wysyłane do Koordynatorów Kaizen nowy odnośnik
      'Otwarte zgłoszenia koordynowane przez Ciebie' oraz zmieniono opisy pozostałych odnośników na czytelniejsze.</li>
  </ul>
  <h3>Dokumentacja</h3>
  <ul>
    <li>Dodano możliwość przypisania do dokumentu 12NC komponentu, który nie istnieje jeszcze w bazie danych.</li>
  </ul>
  <h3>Raporty > CLIP</h3>
  <ul>
    <li>Poprawiono błąd powodujący zaliczanie do CLIP zakończonych zleceń, które nie mają w historii żadnych zmian
      statusów (pojawiły się w bazie od razu zrobione).</li>
  </ul>
  <h3>Inspekcja jakości</h3>
  <ul>
    <li>Dodano Liderom uprawnienia do dodawania wyników inspekcji.</li>
    <li>Dodano nowe pole: Uwagi.</li>
  </ul>
</div>
