<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Magazyn</h3>
<ul>
  <li>Zmieniono przydzielanie do istniejącego seta tak, aby odbywało się wg najwcześniejszego czasu
    rozpoczęcia kompletacji seta a nie wg najwcześniejszego czasu rozpoczęcia zlecenia w secie.</li>
  <li>Zmieniono przydzielanie Platformowego do istniejącego seta tak, aby przydzielany był najpierw
    do setów dla linii, które mają najmniejszy dostępny czas.</li>
  <li>Zmieniono obsługę problemów:
    <ul>
      <li>Problem podczas kompletacji nie usuwa zlecenia z seta. Problem z transakcją LP10 nadal
        usuwa zlecenie z seta.</li>
      <li>Sety z problemami mogą być wysyłane.</li>
      <li>Dostarczone zlecenia, które mają problem są automatycznie blokowane podczas wysyłki.</li>
      <li>Zablokowane, dostarczone zlecenia są automatycznie odblokowywane podczas wysyłki wózków zawierających
        zablokowane zlecenie, jeżeli zlecenie to nie ma żadnego problemu.</li>
    </ul>
  </li>
  <li>Zmieniono wyświetlanie statusu kompletacji Malarnii tak, aby status Kompletacja miał taką samą ikonę
    jak status Oczekiwanie (znak zapytania zamiast wózek), jeżeli do funkcji Malarnii nie została jeszcze
    przypisana osoba.</li>
  <li>Dodano automatyczne drukowanie picklisty malarnii po rozpoczęciu kompletacji przez malarnię.</li>
  <li>Dodano do listy stanów linii możliwość wyświetlenia listy zleceń kompletowanych, skompletowanych oraz
    dostępnych (dostarczonych).</li>
  <li>Dodano możliwość podania komentarza do problemu LP10.</li>
  <li>Dodano automatyczne dodawanie komentarza problemu do historii zlecenia.</li>
</ul>
<h3>Usprawnienia</h3>
<ul>
  <li>Zmieniono przepływ zgłoszeń.</li>
</ul>
<h3>Narzędzia pomiarowe</h3>
<ul>
  <li>Poprawiono błąd powodujący usuwanie załączników po 30 minutach od momentu załadowania na serwer.</li>
</ul>
<h3>Czas cyklu</h3>
<ul>
  <li>Dodano wsparcie dla linii z systemami Balluff RFID.</li>
</ul>
