<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Układ fabryki > Linie produkcyjne</h3>
<ul>
  <li>Dodano możliwość komentowania ilości godzinowych.</li>
</ul>
<h3>Czas cyklu</h3>
<ul>
  <li>Zmieniono obliczanie UPPH w raporcie Wyniki tak, aby pod uwagę brany był najdłuższy czas operacji a nie suma
    czasów trwania wszystkich operacji.</li>
  <li>Dodano podział czasu do filtra raportu Wyniki.</li>
</ul>
<h3>Formatka operatora</h3>
<ul>
  <li>Poprawiono sposób uruchamiania kolejnych automatycznych przestojów po pierwszym tak, aby cała kolejka przestojów
    została wyczerpana bez względu na zdefiniowaną kolejność poszczególnych typów automatycznych przestojów.</li>
  <li>Zmieniono blokadę rozpoczynania zakończonych zleceń tak, aby nie można było zakończyć zlecenia ze statusem
    CNF lub DLV bez względu na ilość zrobioną w wybranej operacji.</li>
  <li>Zmieniono pozycję sekcji Wykonane ilości tak, aby była zawsze widoczna bez przewijania ekranu.</li>
  <li>Zmieniono komunikat o przestoju tak, aby znajdował się w sekcji Sekwencja a nie Przestoje, dzięki czemu jest
    zawsze widoczny bez przewijania ekranu.</li>
</ul>
<h3>Reaguj</h3>
<ul>
  <li>Zmieniono tabele w raporcie Zaangażowanie tak, aby ich zawartość była przewijalna.</li>
  <li>Dodano Usprawnienia do raportu Zaangażowanie.</li>
  <li>Dodano wykres do raportu Zaangażowanie.</li>
</ul>
<h3>Planowanie</h3>
<ul>
  <li>Zmieniono oznaczanie rozplanowanych zleceń:
    <ul>
      <li>białe - rozplanowane w całości, nierozpoczęte na żadnej linii,</li>
      <li>jasno-pomarańczowe - rozplanowane częściowo, nierozpoczęte na żadnej linii,</li>
      <li>pomarańczowe - rozpoczęte, niezgodne z sekwencją,</li>
      <li>zielone - zrobione zgodnie z sekwencją,</li>
      <li>czerwone - problem podczas kompletacji magazynu.</li>
    </ul>
  </li>
</ul>
<h3>Magazyn</h3>
<ul>
  <li>Dodano do sekcji Skompletowane na ekranie Wysyłki kod powodu informujący, dlaczego dany wózek nie jest gotowy
    do realizacji.</li>
</ul>
<h3>Dummy paint</h3>
<ul>
  <li>Dodano do skryptu podmiany obsługę niedokonfigurowanych zleceń na etapie pobierania charakterystyk (VA03).</li>
</ul>
<h3>Raporty > Przezbrojenia</h3>
<ul>
  <li>Zmieniono raport tak, aby nie był automatycznie ładowany dla domyślnego filtra.</li>
  <li>Zmieniono tabele zleceń tak, aby nagłówki tabel były zawsze widoczne podczas przewijania.</li>
  <li>Dodano odnośniki do zlecenia produkcyjnego, zmiany produkcyjnej i zlecenia z linii.</li>
  <li>Dodano kolumny: Takt Time (SAP), Takt Time (mediana) i Ilość osób.</li>
  <li>Dodano do raportu możliwość definiowania własnych kolumn Przestojów oraz Wskaźników.</li>
</ul>
<h3>Zlecenia produkcyjne</h3>
<ul>
  <li>Dodano podświetlanie komponentów ważnych od mniej niż 30 dni.</li>
</ul>
<h3>Matryca odpowiedzialności</h3>
<ul>
  <li>Poprawiono błąd powodujący nieusuwanie użytkowników powiązanych z globalną funkcją po usunięciu danej
    funkcji z funkcji globalnych.</li>
</ul>
<h3>Malarnia</h3>
<ul>
  <li>Usunięto podział czasu 'brak' z filtra raportu Obciążenie.</li>
  <li>Dodano do filtra raportu Obciążenie możliwość grupowania wg podanej ilości minut.</li>
</ul>
