<h1>v0.86.0</h1>
<h2><%- time.format('2016-05-15', 'LL') %></h2>
<h3>Badanie Opinia</h3>
<ul>
  <li>Poprawiono proces rozpoznawania zaznaczonych odpowiedzi ze zeskanowanych ankiet.</li>
</ul>
<h3>Zlecenia działu mechanicznego</h3>
<ul>
  <li>Poprawiono brakujące tłumaczenia.</li>
</ul>
<h3>Raporty</h3>
<ul>
  <li>Poprawiono błąd mogący wywalać serwer podczas nieudanego eksportu wykresu.</li>
  <li>Zmieniono wielkość czcionki w wersji do druku wykresu w drugiej kolumnie raportu Lean.</li>
</ul>
<h3>Usprawnienia</h3>
<ul>
  <li>Poprawiono niedziałające odnośniki w wiadomości e-mail przypominającej o niezakończonych zgłoszeniach.</li>
</ul>
<h3>Zlecenia działu mechanicznego</h3>
<ul>
  <li>Poprawiono brakujące tłumaczenia.</li>
</ul>
<h3>Historia operacji na liniach</h3>
<ul>
  <li>Poprawiono brakujące tłumaczenia.</li>
</ul>
<h3>Przestoje</h3>
<ul>
  <li>Poprawiono błąd mogący spowodować zatrzymanie się procesu automatycznego potwierdzania przestojów.</li>
</ul>
<h3>Pola odkładcze</h3>
<ul>
  <li>Poprawiono ucięte nagłówki sekcji na głównym ekranie w starszej wersji przeglądarki Google Chrome.</li>
</ul>
<h3>Dane produkcyjne</h3>
<ul>
  <li>Poprawiono błąd podczas zapisywania danych z Formatki operatora w wypadku, gdy baza danych zwróciła nieoczekiwany
    komunikat błędu.</li>
  <li>Zmieniono proces importowania operacji z Formatki operatora tak, aby za jednym razem zapisywane było maksymalnie
    50 operacji.</li>
  <li>Zmieniono proces przetwarzania operacji z Formatki operatora tak, aby za jednym pobierane było maksymalnie
    25 operacji.</li>
</ul>
<h3>Inne</h3>
<ul>
  <li>Poprawiono błąd mogący wywalać serwer podczas wykonywania żądania zakończonego błędem, którego połączenie zostało
    zakończone przed przesłaniem wyniku do klienta.</li>
  <li>Zmieniono konfigurację połączenia z bazą danych tak, aby po jego utracie, serwer próbował ciagle nawiązywać nowe
    połączenie, a nie tylko 30 razy.</li>
  <li>Zaktualizowano środowisko i moduły zależne.</li>
</ul>
