<h1>v0.83.2</h1>
<h2><%- time.format('2016-03-06', 'LL') %></h2>
<h3>Produkcja > Zmiany</h3>
<ul>
  <li>Poprawiono brakujące tłumaczenie w formularzu edycji zlecenia produkcyjnego.</li>
</ul>
<h3>Produkcja > Żądania zmian</h3>
<ul>
  <li>Poprawiono brakujące tłumaczenia w szczegółach żądania zmiany.</li>
</ul>
<h3>Użytkownicy</h3>
<ul>
  <li>Poprawiono błąd podczas logowania.</li>
  <li>Zmieniono import użytkowników z bazy KD tak, aby dla każdego nowego użytkownika generowane było domyślne hasło
    (takie jak login) oraz adres e-mail (imie.nazwisko@philips.com).</li>
  <li>Ustawiono domyślne hasło wszystkim użytkownikom, którzy nie mieli hasła oraz adres e-mail wszystkim użytkownikom,
    którzy nie mieli adresu e-mail a byli przypisani do firmy Philips.</li>
</ul>
