<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Malarnia</h3>
<ul>
  <li>Poprawiono ustawianie statusu malarnii dla zlecenia produkcyjnego podzielonego na części tak, aby
    po wykonaniu tylko jednej części status malarnii był ustawiany na 'Niekompletne malowanie' a nie
    'Malowanie zakończone'.</li>
  <li>Dodano nową opcję konfiguracyjną: WorkCentra wiercenia - zlecenia niemalowane muszą mieć przynajmniej jedną
    operację z listy WorkCenterów wiercenia, aby zostały potraktowane jako zlecenia wiercenia.</li>
</ul>
<h3>FAP</h3>
<ul>
  <li>Usunięto stare, nieaktywne kategorie bez żadnych zgłoszeń.</li>
  <li>Poprawiono błąd powodujący, że do listy uczestników brany był tylko pierwszy użytkownik z listy
    'Powiadamiani użytkownicy'.</li>
</ul>
<h3>Inspekcja Jakości</h3>
<ul>
  <li>Dodano nowy raport: Outgoing quality.</li>
</ul>
<h3>Dokumentacja</h3>
<ul>
  <li>Usunięto skróty klawiszowe w trybie wsadowym.</li>
  <li>Dodano funkcjonalność skanowania Spigota.</li>
</ul>
<h3>Formatka operatora</h3>
<ul>
  <li>Zmieniono skanowanie numerów seryjnych tak, aby można było zeskanować nr seryjny z poprzedniego zlecenia,
    jeżeli jest połączenie z serwerem.</li>
</ul>
