<h1>v0.103.0</h1>
<h2><%- time.format('2017-01-15', 'LL') %></h2>
<h3>Zlecenia reszty działów</h3>
<ul>
  <li>Zmieniono filtr daty na stronie z listą zleceń tak, aby podanie dat nie było wymagane.</li>
  <li>Zmieniono wyświetlanie nazwy wyrobu tak, aby wyświetlana była wartość 'Nazwa' ze zlecenia, jeżeli rozpoczyna się
    od 6 znaków A-Z0-9, a dopiero potem wartość 'Opis' (jeżeli istnieje).</li>
  <li>Dodano do strony szczegółów zlecenia wyświetlanie komponentów z malarnii znajdujących się w podrzędnych zleceniach.</li>
</ul>
<h3>Baza testów</h3>
<ul>
  <li>Zmieniono domyślny limit wyświetlanych klientów z 50 na 100.</li>
</ul>
<h3>Plany godzinowe</h3>
<ul>
  <li>Zmieniono ograniczenie dodawania nowego planu tak, aby można było dodawać plany do 7 dni w przyszłości.</li>
  <li>Zmieniono ograniczenie edycji tak, aby można było edytować plany do 24 godzin po dacie planu.</li>
  <li>Dodano funkcjonalność generowania dziennego planu na podstawie kolejki zleceń.</li>
</ul>
<h3>Watchdog</h3>
<ul>
  <li>Zmieniono sprawdzanie żywotności serwerów tak, aby zapytania zostały automatycznie kończone, jeżeli trwają dłużej
    niż 5 sekund.</li>
</ul>
