<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Zlecenia produkcyjne</h3>
<ul>
  <li>Zmieniono wyświetlanie komunikatu dopuszczenia na liście komponentów tak, aby pokazywał się zawsze przy
    komponencie dopuszczonym.</li>
  <li>Dodano możliwość ręcznego dodawania dokumentów do zlecenia.</li>
</ul>
<h3>Usprawnienia</h3>
<ul>
  <li>Zmieniono formularz edycji zgłoszenia tak, aby pola w sekcji Kaizen były wymagane, jeżeli wybrano status
    Zakończone.</li>
  <li>Zmieniono uprawnienia do edycji zgłoszenia tak, aby przypisany Koordynator Kaizen oraz Zatwierdzający
    z przypisanego Działu zgłaszającego mogli edytować zgłoszenie nawet jak ma już status Zakończone lub
    Anulowane.</li>
  <li>Dodano możliwość oznaczania zakończonych zgłoszeń jako Kaizen Miesiąca.</li>
  <li>Dodano raport Wynagrodzenie.</li>
</ul>
<h3>Karty pracy</h3>
<ul>
  <li>Zmieniono formularz karty pracy malarnii tak, aby po wpisaniu numeru części automatycznie była wybierana
    operacja z WorkCenter PAINT oraz maszyna PAINT_.</li>
</ul>
<h3>Planowanie</h3>
<ul>
  <li>Zmieniono wyświetlanie daty rozpoczętego planu linii tak, aby data miała kolor pomarańczowy, jeżeli
    w danym dniu nie ma już żadnych zleceń oczekujących na kompletację dla danej linii.</li>
  <li>Dodano wykonane zlecenia do eksportu statystyk planu. Wykonane zlecenia to zlecenia zrobione zgodnie
    z planem.</li>
</ul>
<h3>Magazyn</h3>
<ul>
  <li>Poprawiono łączenie zleceń w grupy.</li>
  <li>Poprawiono błąd powodujący nieprzeliczanie statystyk wozków na ekranie wysyłki po jakichkolwiek zmianach
    w wózkach.</li>
  <li>Poprawiono błąd mogący spowodować ponowne zaliczenie do licznika skompletowanych sztuk na linii części
    wysłanych już zleceń, jeżeli zostały wysłane najpierw przez malarnię lub opakowania.</li>
  <li>Dodano filtry do kompletacji: Zlecenie, Linia oraz MRP.</li>
</ul>
<h3>Czas cyklu</h3>
<ul>
  <li>Dodano do raportu Wyniki możliwość eksportowania UPPH do pliku.</li>
</ul>
<h3>FTE</h3>
<ul>
  <li>Poprawiono eksportowanie zasobów produkcji tak, aby kolumny dla poszczególnych firm miały zawsze taką samą
    kolejność.</li>
</ul>
