<h1>v0.89.0</h1>
<h2><%- time.format('2016-06-19', 'LL') %></h2>
<h3>Inspekcja Jakości</h3>
<ul>
  <li>Zmieniono wykres 'Ilość czerwonych pasków per centrum produkcyjne' tak, aby kolory centrów produkcyjnych brane były
    z ustawień Układu fabryki.</li>
</ul>
<h3>Raport Lean</h3>
<ul>
  <li>Zmieniono eksportowanie wykresu w drugiej kolumnie tak, aby do trybu jednokolumnowego można było wybrać wartości
    o różnych jednostkach (np. Czas przestojów i Wydajność).</li>
</ul>
<h3>Działy</h3>
<ul>
  <li>Usunięto pola 'Początkowy przestój' i 'Automatyczny przestój'.</li>
  <li>Dodano nowe pole: 'Automatyczne przestoje'.</li>
</ul>
<h3>Formatka operatora</h3>
<ul>
  <li>Zmieniono automatyczne rozpoczynanie przestojów na bardziej elastyczne. Od teraz można zdefiniować dowolnie długą
    kombinację automatycznych przestojów rozpoczynanych po rozpoczęciu nowego zlecenia w danym dziale.</li>
  <li>Zmieniono 'Pola odkładcze' tak, aby można było w tym samy czasie zażądać dostawy i odbioru palety. Od teraz lewy
    wskaźnik statusu dotyczy odbioru palety, a prawy - dostawy. Szary wskaźnik oznacza, że nie ma aktywnego żądania,
    pomarańczowy wskaźnik - jest żądanie, ale jeszcze nie zaakceptowane przez magazyniera, zielone - żądanie jest
    w trakcie realizacji przez magazyniera.</li>
  <li>Dodano komunikat potwierdzenia do akcji anulowania żądania dostawy/odbioru palety.</li>
  <li>Dodano opcję sprawdzania komponentu Spigot po rozpoczęciu wybranego powodu przestoju i przed zakończeniem zlecenia.
    Sprawdzenie komponentu odbywa się przez zeskanowanie 12NC z kodu kreskowego i porównanie tej wartości z 12NC komponentu
    Spigot w danym zleceniu. Konfiguracja opcji dostępna jest dla użytkowników z uprawnieniem 'Dane produkcyjne: zarządzanie'
    w menu 'Produkcja > Ustawienia'.
  </li>
</ul>
<h3>Pola odkładcze</h3>
<ul>
  <li>Usunięto filtr żądań w realizacji.</li>
  <li>Zmieniono obliczanie wyświetlanego czasu tak, aby nie wskazywał czasu w przyszłości, jeżeli zegar klienta różni
    się od zegara serwera.</li>
  <li>Zmieniono sortowanie żądań do realizacji tak, aby żądania dostawy miały najwyższy priorytet.</li>
  <li>Zmieniono wyświetlanie rodzaju palety w żądaniach dostawy tak, aby wyświetlana była pełna nazwa, a nie skrócona.</li>
  <li>Dodano możliwość obsługi wielu żądań z jednej linii produkcyjnej.</li>
  <li>Dodano możliwość akceptacji i kończenia żądań przez zeskanowanie czytnikiem nr personalnego magazyniera. Po zeskanowaniu
    nr personalnego wyświetli się komunikat informujący o wykonanej akcji. Komunikat zamknie się po 2.5-10s (w zależności
    od akcji) lub po wciśnięciu klawisza Escape, Enter lub Spacja.</li>
</ul>
<h3>Użytkownicy</h3>
<ul>
  <li>Zmieniono sposób wymuszenia aktualizacji aktywności sesji użytkownika tak, aby sesja była aktualizowana raz na 8 godzin
    (zamiast 20% szansy na aktualizacje przy każdym żądaniu).</li>
  <li>Zmieniono czas wygasania nieaktywnych sesji na 30 dni.</li>
</ul>
