<h1>v0.90.0</h1>
<h2><%- time.format('2016-07-10', 'LL') %></h2>
<h3>Formatka operatora</h3>
<ul>
  <li>Poprawiono błąd powodujący brak dezaktywacji formatki, jeżeli dana linia została aktywowana na innym komputerze.</li>
  <li>Dodano możliwość automatycznego rozpoczynania przestojów o określonej godzinie. Konfiguracja Automatycznych przestojów
    w słowniku Działy.</li>
</ul>
<h3>Baza testów</h3>
<ul>
  <li>Dodano opcję sprawdzania lamp HID.</li>
</ul>
<h3>Watchdog</h3>
<ul>
  <li>Poprawiono błąd powodujący wysyłanie powiadomienia o nieosiągalności serwera zawsze po starcie watchdoga,
    mimo że serwer był osiągalny.</li>
</ul>
