<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Dopuszczenia</h3>
<ul>
  <li>Dodano możliwość dopuszczania zleceń po planowanej dacie rozpoczęcia zlecenia.</li>
  <li>Dodano do listy komponentów w szczegółach zlecenia oraz w aplikacji do wyświetlania dokumentów podświetlanie
    komponentów dopuszczonych, które znajdują się już w BOM zlecenia.</li>
</ul>
