<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Usprawnienia</h3>
<ul>
  <li>Poprawiono błąd powodujący utratę właścicieli zgłoszenia podczas optymalizacji załączonych zdjęć.</li>
</ul>
<h3>Planowanie</h3>
<ul>
  <li>Zmieniono generowanie planu dziennego tak, aby maksymalna ilość do rozplanowania zlecenia podzielonego w grupie
    była przeliczana podczas rozpoczynania planowania na każdej kolejnej linii, a nie tylko na pierwszej.</li>
</ul>
