<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Karty pracy</h3>
<ul>
  <li>Poprawiono błąd powodujący niedziałanie skrótu do zaznaczenia ostatniego pola <kbd>Alt+Enter</kbd>.</li>
</ul>
<h3>Planowanie</h3>
<ul>
  <li>Poprawiono błąd uniemożliwiający wydrukowanie planu dla linii, na której zostały rozplanowane brakujące zlecenia
    (zwykle zlecenia niekompletne z poprzedniego dnia, które zostały w planie linii, ale nie ma już ich w kolejce
    zleceń danego MRP, bo zostały całkowicie zrobione, usunięte z listy zleceń planu, ale nie z rozplanowanych
    zleceń na linii, bo MRP było zablokowane).</li>
</ul>
<h3>FAP</h3>
<ul>
  <li>Zmieniono treść powiadomienia SMS tak, aby zawierało opis problemu zamiast odnośnika do zgłoszenia.</li>
</ul>
<h3>Raporty > CLIP</h3>
<ul>
  <li>Zmieniono domyślny filtr daty tak, aby wskazywał na ostatni dzień, a nie ostatnie 7 dni.</li>
  <li>Zmieniono wykres CLIP tak, aby wyświetlał dane w kolumnach zamiast punktach, jeżeli wyfiltrowano wyniki tylko
    dla jednego okresu czasu.</li>
</ul>
<h3>Inne</h3>
<ul>
  <li>Dodano brakujące tłumaczenia modułów na język angielski.</li>
</ul>
