<h1>v0.122.0</h1>
<h2><%- time.format('2018-04-29', 'LL') %></h2>
<h3>Plany dzienne</h3>
<ul>
  <li>Poprawiono błąd powodujący wyświetlanie komunikatu o pustym planie, jeżeli dane planu zostały pobrane przed
    ustawieniami.</li>
  <li>Poprawiono nieprawidłowy kolor tła zleceń usuniętych (TECO) w trybie wysokiego kontrastu.</li>
  <li>Zmieniono formularz 'Ustawianie dostępnych linii' na stronie planu tak, aby nie można było usunąć wszystkich linii
    z danego MRP (co skutkowałoby usunięciem MRP z planu). Od teraz MRP można usunąć tylko z poziomu ustawień planu.</li>
  <li>Zmieniono pobieranie niekompletnych zleceń z poprzedniego dnia tak, aby ignorowane były zlecenia, dla których
    różnica między datą zlecenia a datą planu jest większa od 7 dni.</li>
  <li>Dodano nowe ustawienie: Godzina rozpoczęcia opóźnionych zleceń (godzina, od której rozplanowywane są ręcznie
    dodane, pilne zlecenia (opóźnione)).</li>
  <li>Dodano możliwość dodawania do kolejki zleceń MRP wielu opóźnionych zleceń na raz.</li>
  <li>Dodano możliwość grupowania linii wg komponentów zlecenia.</li>
</ul>
<h3>Plany magazynu</h3>
<ul>
  <li>Poprawiono błąd podczas dzielenia zleceń na grupy powodujący, że niektóre części zlecenia mogły należeć do tej
    samej grupy.</li>
  <li>Poprawiono błąd podczas dzielenia zleceń na grupy powodujący, że niektóre części zlecenia mogłby zaczynać się
    w jednej grupie i kończyć w drugiej (zamiast zaczynać i kończyć się w jednej grupie, a w drugiej następna
    część).</li>
  <li>Zmieniono przypisywanie etapu dla zlecenia do kombinacji wartości
    <code>nr zlecenia+nr grupy+linia</code> (było <code>nr zlecenia+czas startu+linia</code>),
    aby zminimalizować szansę utraty ustawionego etapu po zmianie planu.</li>
  <li>Dodano nowe ustawienie: Minimalna ilość sztuk w grupie (jeżeli ilość sztuk zlecenia
    w pierwszej/ostatniej grupie danej linii będzie mniejsza lub równa podanej wartości, to grupa ta zostanie
    scalona z następną/poprzednią grupą).</li>
</ul>
<h3>Inspekcja jakości</h3>
<ul>
  <li>Zmieniono wysyłanie powiadomień o wynikach inspekcji tak, aby powiadamiani byli wszyscy kierownicy mający
    przypisany dany wydział w bazie użytkowników oraz w matrycy odpowiedzialności.</li>
  <li>Zmieniono formularz edycji tak, aby Inspektorzy mogli zmieniać wartość 'Przyczyna źródłowa'.</li>
  <li>Zmieniono formularz edycji tak, aby wszyscy Mistrzowie i Liderzy mogli zmieniać 'Akcje korygujące'.</li>
</ul>
<h3>Obserwacje</h3>
<ul>
  <li>Zmieniono stronę szczegółów karty obserwacji tak, aby panele 'Ryzykowne warunki w miejscu pracy/Trudności zmian'
  były widoczne nawet jak są puste, ale do karty przypisane zostało ZPW/Usprawnienie.</li>
</ul>
<h3>Drukarki</h3>
<ul>
  <li>Dodano nowy słownik: Drukarki - po dodaniu do WMES drukarek zdefiniowanych w systemie operacyjnym, można wysyłać
    wydruki generowane w WMES bezpośrednio na wybraną drukarkę (zamiast otwierać PDF w przeglądarce).</li>
</ul>
