<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Magazyn</h3>
<ul>
  <li>Zmieniono zliczanie skompletowanych setów tak, aby sety, które mają problem były pomijane.</li>
  <li>Dodano listę zdarzeń.</li>
  <li>Dodano nową funkcję kompletacji: Platformowy.</li>
</ul>
<h3>Czas cyklu</h3>
<ul>
  <li>Dodano uprawnienia do konfiguracji MRP i UPPH w raporcie Wyniki dla użytkowników z funkcją
    inżyniera produkcji.</li>
</ul>
