<h1>v0.115.2</h1>
<h2><%- time.format('2017-07-30', 'LL') %></h2>
<h3>Formatka operatora</h3>
<ul>
  <li>Zmieniono pole 'Ilość wykonana w zleceniu' podczas kończenia zlecenia tak, aby nie można było wpisać wartości
    mniejszej niż ilość zeskanowanych numerów seryjnych.</li>
</ul>
<h3>Dane produkcyjne > Zlecenia</h3>
<ul>
  <li>Dodano aktualizowanie czasów operacji wykonanych zleceń, jeżeli te zmieniły się podczas importu
    'Zleceń reszty działów'.</li>
</ul>
<h3>Linie produkcyjne</h3>
<ul>
  <li>Poprawiono błąd w formularzu edycji linii powodujący niezaznaczanie MRP Kontrolera, jeżeli dana linia jest
    w przepływie, który ma więcej niż jeden MRP.</li>
</ul>
