<h1>v0.84.3</h1>
<h2><%- time.format('2016-04-03', 'LL') %></h2>
<h3>Użytkownicy</h3>
<ul>
  <li>Poprawiono błąd wywalający serwer przy dodawaniu/edycji użytkownika, jeżeli ustawiono istniejący już login.</li>
</ul>
