<h1>v0.127.1</h1>
<h2><%- time.format('2018-11-01', 'LL') %></h2>
<h3>Pola odkładcze</h3>
<ul>
  <li>Dodano automatyczne odświeżanie listy magazynierów po zmianie użytkowników.</li>
</ul>
<h3>Zlecenia reszty działów</h3>
<ul>
  <li>Poprawiono błąd powodujący nadpisywanie wartości 'Status malarnii' oraz '4M' podczas importu zleceń z SAP.</li>
</ul>
<h3>Dokumentacja > Dokumenty</h3>
<ul>
  <li>Poprawiono błąd powodujący nieprawidłowe pozycjonowanie szczegółów wybranego dokumentu po zmianie katalogu,
    na katalog, w którym wybrany dokument również się znajduje.</li>
  <li>Zmieniono szerokość panelu z drzewem katalogów z 585px do 405px.</li>
</ul>
<h3>Inne</h3>
<ul>
  <li>Zablokowano możliwość logowania do syetemu w trybie wsadowym.</li>
</ul>
