<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Magazyn</h3>
<ul>
  <li>Zmieniono przydzielanie do istniejącego seta tak, aby odbywało się wg najwcześniejszego czasu
    rozpoczęcia kompletacji seta a nie wg najwcześniejszego czasu rozpoczęcia zlecenia w secie.</li>
  <li>Dodano automatyczne drukowanie picklisty malarnii po rozpoczęciu kompletacji przez malarnię.</li>
</ul>
<h3>Usprawnienia</h3>
<ul>
  <li>Zmieniono przepływ zgłoszeń.</li>
</ul>
<h3>Narzędzia pomiarowe</h3>
<ul>
  <li>Poprawiono błąd powodujący usuwanie załączników po 30 minutach od momentu załadowania na serwer.</li>
</ul>
