<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>FAP</h3>
<ul>
  <li>Poprawiono błąd powodujący, że użytkownik dokonujący zmiany w zgłoszeniu nie pojawiał się dla danego
    użytkownika na liście uczestników (jeżeli wcześniej tam się nie znajdował) bez ponownego załadowania
    zgłoszenia.</li>
  <li>Dodano możliwość automatycznego przypisywania planistów do zgłoszeń z wybranych kategorii.</li>
</ul>
<h3>Zlecenia mechaniczne</h3>
<ul>
  <li>Poprawiono błąd powodujący, że lista operacji na stronie ze szczegółami zlecenia nie miała tłumaczeń.</li>
</ul>
<h3>Dokumentacja</h3>
<ul>
  <li>Zmieniono blokowanie interfejsu tak, aby przy zablokowanym interfejsie nie działały żadne gesty dotykowe.</li>
  <li>Zmieniono obsługę gestów tak, aby nie można było zmienić strony dokumentu przez ruch w lewo lub prawo.</li>
</ul>
