<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>FAP</h3>
<ul>
  <li>Zmieniono treść powiadomienia SMS tak, aby zawierał adres URL do zgłoszenia.</li>
  <li>Dodano możliwość wywoływania formularza dodawania zgłoszenia klawiszem <kbd>F1</kbd>.</li>
  <li>Dodano możliwość skopiowania Kategorii i Problemu z ostatniego zgłoszenia użytkownika podczas dodawania
    nowego zgłoszenia.</li>
</ul>
<h3>Inne</h3>
<ul>
  <li>Zmieniono maksymalną szerokość często używanych formularzy tak aby była dynamicznie dostosowywana na większych
    rozdzielczościach ekranu.</li>
</ul>
