<h1>v0.93.2</h1>
<h2><%- time.format('2016-08-30', 'LL') %></h2>
<h3>Monitoring > Lista linii produkcyjnych</h3>
<ul>
  <li>Poprawiono błąd mogący zablokować przewijanie strony, jeżeli powiększenie strony zostało zmienione.</li>
</ul>
<h3>Użytkownicy</h3>
<ul>
  <li>Poprawiono błąd mogacy spowodować wywalenie się serwera podczas wylogowania użytkownika.</li>
</ul>
<h3>FTE</h3>
<ul>
  <li>Poprawiono błąd powodujący brak zakończenia eksportu danych.</li>
</ul>
