<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Monitoring > Czas cyklu</h3>
<ul>
  <li>Dodano nowy raport: Grupy wyrobów.</li>
  <li>Dodano nowy raport: Wyniki.</li>
</ul>
<h3>Monitoring > Układ fabryki</h3>
<h3>Monitoring > Linie produkcyjne</h3>
<ul>
  <li>Zmieniono kolor dla linii w stanie Przestój na fioletowy, jeżeli typ przestoju to Przerwa.</li>
</ul>
<h3>Monitoring > Linie produkcyjne</h3>
<ul>
  <li>Poprawiono błąd powodujący nie branie pod uwagę 'Współczynnika operacji (Takt Time)' podczas obliczania
    wydajności dla zleceń z historii.</li>
</ul>
<h3>Luma gen. 2</h3>
<ul>
  <li>Zmieniono wysyłanie zleceń do sterownika, tak aby ilość do zrobienia obliczana była na podstawie maksymalnej
    ilości i zrobionej ilości operacji wybranej w zleceniu na Formatce operatora, a nie na całkowitej ilości
    do zrobienia oraz całkowitej ilości zrobionej.</li>
</ul>
<h3>Formatka operatora</h3>
<ul>
  <li>Zmieniono opcję konfiguracyjną 'Takt Time > Współczynniki operacji' tak, aby można było dodatkowo filtrować
    współczynniki po numerze operacji.</li>
</ul>
<h3>Raporty > Wskaźniki</h3>
<ul>
  <li>Dodano nową opcję wyświetlania - Pomiń puste - na wykresie wskaźników pominięte zostaną grupy czasu,
    w których nie pracowano (ilość zleceń równa 0 i/lub, tylko w przypadku działów Montażu, ilość zrobionych
    sztuk równa 0).</li>
</ul>
<h3>Raporty > CLIP</h3>
<ul>
  <li>Poprawiono błąd uniemożliwiający przejście do nadrzędnej jednostki organizacyjnej.</li>
</ul>
<h3>FAP</h3>
<ul>
  <li>Dodano uprawnienia do zmiany statusu oraz poziomu zgłoszeń dla funkcji 'Inżynier procesu dystrybucji'.</li>
  <li>Dodano do listy uczestników komunikat o automatycznym dodawaniu osób, jeżeli aktualnie zgłoszenie ma
    poziom 0 i jedną osobę na liście uczestników.</li>
</ul>
<h3>Planowanie</h3>
<ul>
  <li>Zmieniono listę planów dziennych tak, aby wyświetlany był cały miesiąc, a nie tylko tydzień.</li>
  <li>Zmieniono formularz edycji ustawień linii tak, aby nie można było dodać/usunąć do priorytetu MRP rodzin,
    które są zablokowane.</li>
  <li>Zmieniono formularz ustawiania dostępnych linii tak, aby nie można było dodać/usunąć zablokowanych
    linii/MRP.</li>
  <li>Dodano do ikony kłódki dymek informujący o źródle blokady danego MRP.</li>
</ul>
<h3>Dokumentacja</h3>
<ul>
  <li>Zmieniono 'Listę komponentów' zlecenia w przeglądarce dokumentów tak, aby pozycje bez 12NC wyświetlane były
    nad tabelą komponentów.</li>
  <li>Dodano do formularza edycji dokumentu możliwość otworzenia pliku przekonwertowanego na obrazki.</li>
  <li>Dodano do formularza edycji dokumentu możliwość wymuszenia ponowego konwertowania dokumentu PDF na obrazki.</li>
</ul>
<h3>Zlecenia produkcyjne</h3>
<ul>
  <li>Zmieniono sortowanie listy komponentów tak, aby pozycje bez 12NC były wyświetlana na początku.</li>
  <li>Dodano możliwość rozszerzania zawartości paneli na stronie ze szczegółami zlecenia.</li>
</ul>
