<h1>v0.106.2</h1>
<h2><%- time.format('2017-03-19', 'LL') %></h2>
<h3>Plany dzienne MRP</h3>
<ul>
  <li>Poprawiono błąd powodujący utracenie części dużego zlecenia podczas generowania planu, gdy druga część zlecenia
    została przydzielona do tej samej linii co pierwsza część (ponieważ czas dostępności linii nawet po przydzieleniu
    części zlecenia nadal jest najwcześniejszy, co czyni tę linię najlepszym kandydatem do drugiej części zlecenia).</li>
  <li>Zmieniono generowanie planu tak, aby pod uwagę brane były automatyczne przestoje zdefiniowane na poziomie linii,
    a nie tylko na poziomie działu.</li>
</ul>
