<h1>v0.111.1</h1>
<h2><%- time.format('2017-05-14', 'LL') %></h2>
<h3>Dokumentacja > Dokumenty</h3>
<ul>
  <li>Poprawiono błędy wywalające serwer podczas serwowania dokumentów, które nie istnieją w katalogu WMES.</li>
  <li>Poprawiono błąd wywalający serwer podczas otwierania dokumentu z katalogu WMES, jeżeli w nazwie zawiera
    polskie znaki.</li>
  <li>Poprawiono błąd powodujący zmianę nazw wszystkich podkatalogów po zmianie nazwy nadrzędnego katalogu
    (tylko po stronie klienta).</li>
  <li>Poprawiono błąd powodujący latanie po całej stronie ikony ładowania dokumentów.</li>
  <li>Zmieniono dodawanie nowych dokumentów tak, aby nazwa domyślnie była ustawiana na 15NC, jeżeli nie udało
    się pobrać nazwy z nazwy pliku i serwera.</li>
  <li>Zmieniono pola dat dostępności tak, aby można było wkleić wartość ze schowka (<kbd>CTRL+V</kbd>).</li>
  <li>Zmieniono zaznaczanie katalogu/dokumentu na liście tak, aby dokument nie był zaznaczany, jeżeli wcześniej
    zaznaczono jakiś tekst.</li>
  <li>Zmieniono drzewo katalogów tak, aby kliknięcie <kbd>CTRL+PPM</kbd> otwierało katalog w nowej karcie
    przeglądarki.</li>
  <li>Dodano pasek narzędzi do głównego widoku oraz przeniesiono do niego wyszukiwanie po 15NC i zmianę trybu
    wyświetlania.</li>
  <li>Dodano możliwość zmiany dat dostępności istniejących plików dokumentów poprzez kliknięcie <kbd>ALT+LPM</kbd>
    na daną datę dostępności.</li>
  <li>Dodano wsparcie dla historii przeglądarki: zmiana katalogu dodawana jest do historii, dzięki czemu można wrócić
    do poprzedniego katalogu korzystając z akcji <em>Wróć</em> przeglądarki.</li>
  <li>Dodano możliwość bezpowrotnego usuwania katalogów i plików ze śmietnika.</li>
  <li>Dodano możliwość oznaczania wielu plików w aktualnym katalogu w celu usunięcia przypisania do aktualnego katalogu,
    przeniesienia ich do śmietnika, przywrócenia ze śmietnika lub bezpowrotnego usunięcia ze śmietnika.</li>
</ul>
<h3>Zlecenia reszty działów</h3>
<ul>
  <li>Zmieniono listę dokumentów na stronie szczegółów zlecenia tak, aby otwierany był dokument z datą dostępności
    danego zlecenia.</li>
</ul>
<h3>8D</h3>
<ul>
  <li>Zmieniono wysyłanie powiadomień e-mail tak, aby powiadomienia nie były wysyłane po restarcie serwera
    oraz co trzy dni po 42 dniu.</li>
</ul>
