<h1>v0.84.1</h1>
<h2><%- time.format('2016-03-27', 'LL') %></h2>
<h3>Zlecenia reszty działów</h3>
<ul>
  <li>Zmieniono kolumnę '15NC' w tabelce 'Dokumentów' tak, aby wartość po kliknięciu otwierała podczepiony dokument (jeżeli istnieje).</li>
  <li>Dodano sekcję 'ETO' w szczegółach zlecenia, gdzie wyświetlana jest zaimportowana tabelka ETO.</li>
  <li>Dodano funkcjonalność 'Skocz do sekcji' w prawym dolnym rogu strony szczegółów zlecenia.</li>
</ul>
<h3>ZPW</h3>
<ul>
  <li>Zmieniono formularz tak, aby użytkownicy bez uprawnienia 'ZPW: zarządzanie zgłoszeniami' lub nie będący 'Zatwierdzającym' nie mogli wybrać
    więcej niż jednej 'Osoby zgłaszającej'.</li>
</ul>
<h3>Inne</h3>
<ul>
  <li>Zaktualizowano i przeniesiono bazę danych na zewnętrzny serwer (MSD04).</li>
</ul>
