<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Formatka operatora</h3>
<ul>
  <li>Zmieniono domyślną maksymalną ilość wykonaną na 125% całkowitej ilości do zrobienia lub 9999, jeżeli nie
    udało się określić całkowitej ilości do zrobienia.</li>
  <li>Zmieniono domyślną maksymalną ilość osób na 125% ilości osób wg SAP lub 15, jeżeli nie udało się określić
    ilości osób wg SAP.</li>
</ul>
<h3>Dopuszczenia</h3>
<ul>
  <li>Dodano możliwość zmiany opinii po dopuszczeniu materiału zastępczego przez osobę, która wcześniej wydała
    opinię.</li>
  <li>Dodano możliwość usuwania zleceń bez względu na aktualny status dopuszczenia.</li>
</ul>
<h3>Firmy</h3>
<ul>
  <li>Dodano możliwość definiowania wielu różnych wzorców synchronizacji z bazą KD.</li>
</ul>
<h3>Użytkownicy</h3>
<ul>
  <li>Zmieniono importowanie użytkowników z bazy KD tak, aby firma określana była na podstawie zdefiniowanych
    wzorców synchronizacji firmy a nie ID firmy.</li>
</ul>
<h3>Planowanie</h3>
<ul>
  <li>Poprawiono błąd mogący spowodować zresetowanie planu godzinowego linii.</li>
</ul>
<h3>Baza kanban</h3>
<ul>
  <li>Zmieniono filtry tekstowe tak, aby można było filtrować według wielu wartości oddzielonych średnikiem.</li>
</ul>
