<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Baza testów > TRW</h3>
<ul>
  <li>Dodano możliwość przypisywania komunikatów do poszczególnych kroków programu.</li>
</ul>
<h3>Baza testów > Xiconf</h3>
<ul>
  <li>Dodano możliwość filtrowania importowanych komponentów po 12NC.</li>
  <li>Dodano możliwość ograniczenia importowanych komponentów do wybranych MRP.</li>
</ul>
<h3>Zlecenia produkcyjne</h3>
<ul>
  <li>Zmieniono wyświetlanie zagnieżdżonych list w historii zleceń na bardziej użyteczne.</li>
  <li>Dodano możliwość definiowania uwag dla zleceń. Uwagi wyświetlane są w aplikacjach dokumentacji
    oraz malarnii.</li>
  <li>Dodano skróty klawiszowe do poszczególnych paneli na stronie ze szczegółami zlecenia.</li>
</ul>
<h3>Planowanie</h3>
<ul>
  <li>Poprawiono błąd powodujący ignorowanie przypisania zlecenia do linii.</li>
  <li>Poprawiono błąd powodujący ignorowanie flagi 'Wymuś dzień pracujący'.</li>
  <li>Poprawiono błąd powodujący niezapisywanie usunięcia grup linii.</li>
  <li>Poprawiono błąd uniemożliwiający zapisanie nowych ustawień linii, jeżeli do linii przypisano MRP, które
    nie występowało jeszcze w planie.</li>
  <li>Zmieniono algorytm planowania tak, aby podczas kolejnych przejść planowania, zlecenia zostały usunięte
    z grupy, do której zostały przypisane w pierwszym przejściu, jeżeli ta grupa nie ma zdefiniowanych
    żadnych komponentów.</li>
  <li>Zmieniono akcję 'Komentuj zlecenie' tak, aby zamiast otwierania nowego okna ze stroną szczegółów zlecenia,
    pokazywany był tylko formularz do komentowania.</li>
</ul>
<h3>Czas cyklu</h3>
<ul>
  <li>Poprawiono błąd powodujący niezapisywanie podsumowania czasu cyklu dla zlecenia produkcyjnego
    z linii podczas kończenia zlecenia.</li>
  <li>Poprawiono błąd powodujący niewysyłanie stanów lamp natychmiast po ich zmianie.</li>
  <li>Dodano możliwość eksportowania historii sztuk.</li>
  <li>Dodano do raportu Wyniki możliwość przełączenia na znormalizowaną wartość UPPH.</li>
  <li>Dodano nowe opcję konfiguracyjną w ustawieniach: Rodziny UPPH.</li>
</ul>
<h3>Malarnia</h3>
<ul>
  <li>Dodano ilość do zrobienia do zrzutu wykonania planu.</li>
  <li>Dodano ilość roboczogodzin do listy farb oraz zrzutu farb.</li>
  <li>Dodano status wiercenia do zrzutu zleceń.</li>
</ul>
<h3>Obserwacje zachowań</h3>
<ul>
  <li>Dodano odnośniki do formularza w wersji do druku.</li>
  <li>Dodano filtr 'Ryzykowne zachowania'.</li>
</ul>
<h3>Formatka operatora</h3>
<ul>
  <li>Dodano możliwość drukowania etykiet komponentów.</li>
</ul>
<h3>Monitoring > Układ fabryki</h3>
<ul>
  <li>Dodano nowy tryb wyświetlania: Wydajność godzinowa.</li>
</ul>
<h3>Wydajność godzinowa</h3>
<ul>
  <li>Dodano wykres z zaplanowanymi i wykonanymi ilościami na zmianie.</li>
</ul>
