<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Narzędzia pomiarowe</h3>
<ul>
  <li>Zmieniono kolor wierszy na liście urządzeń oraz głównego panelu w szczegółach urządzenia tak, aby był zależał
    od ilości dni do kolejnej kalibracji:
    <ul>
      <li>biały - jeżeli urządzenie jest wycofane,</li>
      <li>zielony - jeżeli jest więcej niż 14 dni do kalibracji,</li>
      <li>żółty - jeżeli jest mniej niż 14 dni do kalibracji,</li>
      <li>czerwony - jeżeli data kalibracji minęła.</li>
    </ul>
  </li>
</ul>
