<h1>v0.91.0</h1>
<h2><%- time.format('2016-07-13', 'LL') %></h2>
<h3>Działy</h3>
<ul>
  <li>Dodano możliwość określenia długości przestoju rozpoczynanego o określonej godzinie poprzez dodanie do godziny
    ilości minut oraz znaku '@', np. <code>15@12:00</code> (15 minutowy przestój o godzinie 12:00).</li>
</ul>
<h3>Formatka operatora</h3>
<ul>
  <li>Dodano wyświetlanie informacji o aktualnym przestoju w sekcji Przestoje (sekcja przybiera kolor czerwony).</li>
  <li>Dodano odliczanie do automatycznego przestoju rozpoczynanego o określonej godzinie. Odliczanie rozpoczyna się na
    minutę przed startem przestoju (sekcja Przestoje przybiera kolor pomarańczowy).</li>
  <li>Dodano możliwość zgłaszania ZPW po kliknięciu na ikonkę <i class="fa fa-warning"></i>.</li>
  <li>Dodano opisy aktualnego stanu żądań w sekcji Pola odkładcze.</li>
</ul>
<h3>Dokumentacja</h3>
<ul>
  <li>Dodano możliwość zgłaszania ZPW po kliknięciu ikonkę <i class="fa fa-comment"></i>, a potem <i class="fa fa-warning"></i>.</li>
</ul>
<h3>Baza testów</h3>
<ul>
  <li>Dodano nową opcję w ustawieniach: 'Powiadamianie o zleceniach bez driverów z zerową ilością zeskanowanych lamp HID'.</li>
</ul>
<h3>Pola odkładcze</h3>
<ul>
  <li>Poprawiono błąd powodujący, że na liście żądań w realizacji wyświetlana była wartość 'Przepływ' zamiast 'Magazynier'.</li>
  <li>Poprawiono błąd powodujący przechowywanie w pamięci serwera wszystkich żądań stworzonych od momentu startu serwera, a nie tylko
    aktualnych (tzn. nowych i zaakceptowanych).</li>
</ul>
<h3>Użytkownicy</h3>
<ul>
  <li>Zmieniono uprawnienia wymagane do wyszukiwania użytkowników z lokalny użytkownik lub użytkownik z uprawnieniem
    'Użytkownicy: przeglądanie' na lokalny użytkownik lub zalogowany użytkownik.</li>
  <li>Dodano do listy lokalnych IP adresy rozpoczynające się od '130.139.'.</li>
</ul>
<h3>Zdarzenia</h3>
<ul>
  <li>Poprawiono brakujące tłumaczenie dla zdarzenia 'Magazyn: synchronizacja cykli kontrolnych'.</li>
</ul>
