<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Obserwacje zachowań</h3>
<ul>
  <li>Dodano możliwość tłumaczenia na język angielski pól 'Nazwa' oraz 'Opis' w słowniku 'Zachowania'.</li>
</ul>
<h3>Dokumentacja</h3>
<ul>
  <li>Poprawiono błąd powodujący wywalenie się serwera, jeżeli pobieranie zlecenia do specjalnego
    dokumentu (BOM, ETO) nie powiodło się lub dane zlecenie nie istnieje.</li>
</ul>
<h3>Zlecenia produkcyjne</h3>
<ul>
  <li>Zmieniono filtry 'Nr zlecenia' (od teraz 'Zlecenie') oraz '12NC' (od teraz 'Wyrób'),
    tak aby nie były w oddzielnych polach.</li>
  <li>Dodano filtry: Komponent oraz Dokument.</li>
</ul>
<h3>Inne</h3>
<ul>
  <li>Dodano nowe pozycje do wyników wyszukiwania:
    <ul>
      <li>zgłoszenia FAP - po nr zlecenia,</li>
      <li>lista zleceń z SAP z komponentem - po 12NC,</li>
      <li>lista zleceń z SAP z dokumentem - po 15NC,</li>
      <li>kanbany - po 12NC,</li>
      <li>komponent kanban - po 12NC,</li>
    </ul>
  </li>
</ul>
