<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Karty pracy</h3>
<ul>
  <li>Poprawiono błąd powodujący niedziałanie skrótu do zaznaczenia ostatniego pola <kbd>Alt+Enter</kbd>.</li>
</ul>
<h3>Planowanie</h3>
<ul>
  <li>Poprawiono błąd uniemożliwiający wydrukowanie planu dla linii, na której zostały rozplanowane brakujące zlecenia
    (zwykle zlecenia niekompletne z poprzedniego dnia, które zostały w planie linii, ale nie ma już ich w kolejce
    zleceń danego MRP, bo zostały całkowicie zrobione, usunięte z listy zleceń planu, ale nie z rozplanowanych
    zleceń na linii, bo MRP było zablokowane).</li>
  <li>Dodano nowe opcję konfiguracyjną w ustawieniach: Godzina rozpoczęcia ETO pilotów.</li>
</ul>
<h3>Malarnia</h3>
<ul>
  <li>Dodano do listy filtra farb wyświetlanie wag farb użytych w danym dniu.</li>
</ul>
<h3>FAP</h3>
<ul>
  <li>Zmieniono treść powiadomienia SMS tak, aby zawierało opis problemu zamiast odnośnika do zgłoszenia.</li>
</ul>
<h3>Raporty > CLIP</h3>
<ul>
  <li>Zmieniono domyślny filtr daty tak, aby wskazywał na ostatni dzień, a nie ostatnie 7 dni.</li>
  <li>Zmieniono wykres CLIP tak, aby wyświetlał dane w kolumnach zamiast punktach, jeżeli wyfiltrowano wyniki tylko
    dla jednego okresu czasu.</li>
  <li>Zmieniono przypisywanie dziennych MRP do jednostek organizacyjnych tak, aby były przypisywane tylko
    na podstawie wykonanych zleceń na liniach produkcyjnych, a nie także na podstawie ustawień planu na dany
    dzień.</li>
</ul>
<h3>ZPW</h3>
<ul>
  <li>Zmieniono raport Zaangażowanie tak, aby zliczał Obserwacje zachowań według Miejsca pracy obserwatora, a nie
    Miejsca obserwacji.</li>
</ul>
<h3>Formatka operatora</h3>
<ul>
  <li>Dodano nową opcję konfiguracyjną do ustawień sprawdzania spigota: Grupy 12NC Insertów - umożliwia przypisanie
    listy 12NC opraw do skanowanego przez Operatora kodu podczas sprawdzania spigota. Jeżeli zlecenie ma komponent
    spigot oraz znajduje się na liście insertów, to podczas sprawdzania, komponent spigota zastępowany jest
    komponentem inserta.</li>
</ul>
<h3>FAP</h3>
<ul>
  <li>Dodano nowe pole: Komponent.</li>
  <li>Dodano nowe pole: Dział - wybrany dział wpływa na to jakie dodatkowe pola są wymagane podczas dodawania
    zgłoszenia:
    <ul>
      <li>Montaż - nr zlecenia,</li>
      <li>Tłocznia - komponent oraz linia,</li>
      <li>Magazyn - komponent.</li>
    </ul>
    Dodatkowo wybranie kategorii 'Awaria infrastruktury' zmienia wymagane pola tak, że 'Nr zlecenia' nie jest
    wymagane (nawet w przypadku wybrania działu 'Montaż') oraz 'Linia' jest wymagane.
  </li>
</ul>
<h3>Inne</h3>
<ul>
  <li>Dodano brakujące tłumaczenia modułów na język angielski.</li>
</ul>
