<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Baza komponentów</h3>
<ul>
  <li>Dodano nowe pole do komponentów: Jednostka miary.</li>
</ul>
<h3>Inspekcja jakości</h3>
<ul>
  <li>Zmieniono Gdzie/Co w raporcie Outgoing quality tak, aby zliczana była wartość <em>Ilość niezgodnych</em>
    a nie ilość przeprowadzonych inspekcji oraz dane na wykresie były z trzech tygodni a nie tylko z tygodnia
    wybranego w filtrze.
  </li>
</ul>
<h3>FAP</h3>
<ul>
  <li>Poprawiono błąd powodujący brak aktualizacji listy uczestników dla użytkownika, który rozpoczął oczekujące
    zlecenie.</li>
  <li>Dodano nowy poziom zgłoszenia: 0. Zgłoszenia dodawane od 17.06.2019 06:00 będą tworzone z poziomem 0.
    Nowe zgłoszenia z poziomem 0 nie mają uzupełnianej listy uczestników. Lista uczestników będzie uzupełniana
    dopiero po eskalacji zgłoszenia na wyższy poziom.</li>
</ul>
<h3>Malarnia</h3>
<ul>
  <li>Zmieniono logowanie w trybie wbudowanym tak, aby było dostępne bez względu na to czy przeglądarka jest
    zalogowana w głównej aplikacji.</li>
  <li>Dodano do kolejki zleceń zakładkę 'Wszystkie przepływy'.</li>
  <li>Dodano do menu kontekstowego zlecenia pozycje 'Otwórz zlecenie nadrzędne' oraz 'Otwórz zlecenie ...'
    dla każdego zlecenia podrzędnego.</li>
</ul>
<h3>Planowanie</h3>
<ul>
  <li>Zmieniono eksportowanie statystyk tak, aby można było wyeksportować dane dla zakresu dat oraz wybranych
    linii. Dodatkowo oddzielnie obliczane są statystyki dla całości, dnia, MRP i linii.</li>
</ul>
