<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Zlecenia produkcyjne</h3>
<ul>
  <li>Zmieniono wyświetlanie komunikatu dopuszczenia na liście komponentów tak, aby pokazywał się zawsze przy
    komponencie dopuszczonym.</li>
  <li>Dodano możliwość ręcznego dodawania dokumentów do zlecenia.</li>
</ul>
<h3>Usprawnienia</h3>
<ul>
  <li>Zmieniono formularz edycji zgłoszenia tak, aby pola w sekcji Kaizen były wymagane, jeżeli wybrano status
    Zakończone.</li>
  <li>Zmieniono uprawnienia do edycji zgłoszenia tak, aby przypisany Koordynator Kaizen oraz Zatwierdzający
    z przypisanego Działu zgłaszającego mogli edytować zgłoszenie nawet jak ma już status Zakończone lub
    Anulowane.</li>
  <li>Zmieniono formularz zgłoszenia tak, aby można było wybrać maksymalnie w sumie trzy różne osoby zgłaszające
    oraz wykonujące.</li>
  <li>Dodano możliwość oznaczania zakończonych zgłoszeń jako Kaizen Miesiąca.</li>
  <li>Dodano raport Wynagrodzenie.</li>
</ul>
<h3>Karty pracy</h3>
<ul>
  <li>Zmieniono formularz karty pracy malarnii tak, aby po wpisaniu numeru części automatycznie była wybierana
    operacja z WorkCenter PAINT oraz maszyna PAINT_.</li>
</ul>
<h3>Planowanie</h3>
<ul>
  <li>Poprawiono błąd mogący spowodować zduplikowane rozplanowanie niekompletnych zleceń, jeżeli między jednym
    a drugim planem pojawił się plan z ręcznego wymuszenia pracy.</li>
  <li>Poprawiono błąd powodujący nieaktualizowanie w widoku niektórych zmienionych ustawień linii.</li>
  <li>Zmieniono wyświetlanie daty rozpoczętego planu linii tak, aby data miała kolor pomarańczowy, jeżeli
    w danym dniu nie ma już żadnych zleceń oczekujących na kompletację dla danej linii.</li>
  <li>Zmieniano warunek oznaczania wykonanych zleceń rozplanowanych na linii tak, aby zielone były zlecenia,
    które zostały w całości wykonane lub mają status CNF albo DLV, a nie tylko takie, które zostały
    wykonane w zaplanowanej ilości na zaplanowanej linii i zmianie.</li>
  <li>Dodano wykonane zlecenia do eksportu statystyk planu. Wykonane zlecenia to zlecenia zrobione zgodnie
    z planem.</li>
</ul>
<h3>Magazyn</h3>
<ul>
  <li>Poprawiono łączenie zleceń w grupy.</li>
  <li>Poprawiono błąd powodujący nieprzeliczanie statystyk wozków na ekranie wysyłki po jakichkolwiek zmianach
    w wózkach.</li>
  <li>Poprawiono błąd mogący spowodować ponowne zaliczenie do licznika skompletowanych sztuk na linii części
    wysłanych już zleceń, jeżeli zostały wysłane najpierw przez malarnię lub opakowania.</li>
  <li>Poprawiono błąd mogący spowodować, że plan magazynu jest generowany ze starych danych dziennego planu
    produkcji.</li>
  <li>Zmieniono generowanie picklisty malarnii tak, aby zlecenia podrzędne brane były z danych Zleceń
    produkcyjnych, a nie ze Zleceń malarnii.</li>
  <li>Zmieniono drukowanie etykiet kompletacji tak, aby etykiety FMX, Kittera i Opakowań drukowały się w momencie
    rozpoczęcia seta a nie w momencie przypisania do seta.</li>
  <li>Dodano filtry do kompletacji: Zlecenie, Linia, MRP oraz Set.</li>
  <li>Dodano możliwość wpisania komentarza podczas przekierowywania dostarczonego zlecenia.</li>
  <li>Dodano możliwość przeglądania historii stanów linii.</li>
</ul>
<h3>Czas cyklu</h3>
<ul>
  <li>Dodano do raportu Wyniki możliwość eksportowania UPPH do pliku.</li>
</ul>
<h3>FTE</h3>
<ul>
  <li>Poprawiono eksportowanie zasobów produkcji tak, aby kolumny dla poszczególnych firm miały zawsze taką samą
    kolejność.</li>
</ul>
<h3>Dopuszczenia</h3>
<ul>
  <li>Poprawiono błąd uniemożliwiający filtrowanie dopuszczeń po numerze zlecenia.</li>
  <li>Zmieniono wysyłanie powiadomień tak, aby w temacie powiadomienia wysyłanego po dodaniu wpisu zawarty był
    tekst '[Nowe]', a w powiadomieniu wysłanym ręcznie '[Aktualizacja]'.</li>
  <li>Dodano możliwość masowego usuwania dopuszczonych zleceń.</li>
</ul>
<h3>Malarnia</h3>
<ul>
  <li>Dodano możliwość eksportowania danych obciążenia.</li>
</ul>
<h3>Dokumentacja</h3>
<ul>
  <li>Poprawiono błąd powodujący wyświetlanie kwadratów zamiast strzałek przy dopuszczeniach na Linuxie.</li>
  <li>Dodano do listy komponentów w aplikacji do wyświetlania dokumentacji podświetlanie na niebiesko komponentów,
    które wykorzystywane są na danym stanowisku (na podstawie danych z Bazy komponentów).</li>
</ul>
