<h1>v0.86.1</h1>
<h2><%- time.format('2016-05-16', 'LL') %></h2>
<h3>ZPW, Usprawnienia</h3>
<ul>
  <li>Poprawiono błąd powodujący, że podczas edycji zgłoszenia porównywane jest tylko jedno pole.</li>
</ul>
