<h1>v0.88.0</h1>
<h2><%- time.format('2016-05-24', 'LL') %></h2>
<h3>Działy</h3>
<ul>
  <li>Dodano nowe pole: Początkowy przestój - przestój jaki ma być automatycznie uruchomiony po rozpoczęciu nowego
    zlecenia na linii produkcyjnej w ciągu kilku minut od rozpoczęcia zmiany produkcyjnej. Po zakończeniu przestoju
    'początkowego' (Operatywka) rozpoczynany jest przestój 'automatyczny' (Przezbrojenie).</li>
</ul>
<h3>Karty pracy</h3>
<ul>
  <li>Poprawiono błąd powodujący wyświetlanie czasów rozpoczęcia i zakończenia każdego zlecenia podczas edycji kart
    pracy typu Malarnia.</li>
</ul>
<h3>Raporty > Operatorzy</h3>
<ul>
  <li>Zmieniono raport tak, aby pobierał dane także z działów typu Malarnia, a nie tylko z Tłoczni.</li>
</ul>
