<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Układ fabryki > Linie produkcyjne</h3>
<ul>
  <li>Dodano możliwość komentowania ilości godzinowych.</li>
</ul>
<h3>Czas cyklu</h3>
<ul>
  <li>Zmieniono obliczanie UPPH w raporcie Wyniki tak, aby pod uwagę brany był najdłuższy czas operacji a nie suma
    czasów trwania wszystkich operacji.</li>
</ul>
<h3>Formatka operatora</h3>
<ul>
  <li>Zmieniono blokadę rozpoczynania zakończonych zleceń tak, aby nie można było zakończyć zlecenia ze statusem
    CNF lub DLV bez względu na ilość zrobioną w wybranej operacji.</li>
</ul>
