<h1>v0.83.1</h1>
<h2><%- time.format('2016-02-28', 'LL') %></h2>
<h3>ZPW</h3>
<ul>
  <li>Poprawiono błąd uniemożliwiający edycję zgłoszeń przez osoby zatwierdzające.</li>
</ul>
<h3>Usprawnienia</h3>
<ul>
  <li>Poprawiono błąd uniemożliwiający edycję zgłoszeń przez osoby zatwierdzające.</li>
</ul>
<h3>Plany godzinowe</h3>
<ul>
  <li>Poprawiono brakujące tłumaczenie przycisku filtrowania listy planów godzinowych.</li>
</ul>
<h3>Raporty > HR</h3>
<ul>
  <li>Zmieniono wskaźnik IND/DIR na wykresie INDIRECT/DIRECT z <code>INDIRECT_FTE / DIRECT_FTE</code>
    na <code>INDIRECT_FTE / TOTAL_FTE</code>.</li>
</ul>
<h3>Inne</h3>
<ul>
  <li>Zmieniono czas wykrywania niedziałającego połączenia z serwerem z 60s na 5s oraz
    wysyłanie pakietu sprawdzającego z 25s na 10s.</li>
</ul>
