<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Zlecenia produkcyjne</h3>
<ul>
  <li>Zmieniono wyświetlanie komunikatu dopuszczenia na liście komponentów tak, aby pokazywał się zawsze przy
    komponencie dopuszczonym.</li>
</ul>
<h3>Usprawnienia</h3>
<ul>
  <li>Zmieniono formularz edycji zgłoszenia tak, aby pola w sekcji Kaizen były wymagane, jeżeli wybrano status
    Zakończone.</li>
  <li>Dodano możliwość oznaczania zakończonych zgłoszeń jako Kaizen Miesiąca.</li>
  <li>Dodano raport Wynagrodzenie.</li>
</ul>
<h3>Karty pracy</h3>
<ul>
  <li>Zmieniono formularz karty pracy malarnii tak, aby po wpisaniu numeru części automatycznie była wybierana
    operacja z WorkCenter PAINT oraz maszyna PAINT_.</li>
</ul>
<h3>Planowanie</h3>
<ul>
  <li>Dodano wykonane zlecenia do eksportu statystyk planu. Wykonane zlecenia to zlecenia zrobione zgodnie
    z planem.</li>
</ul>
<h3>Magazyn</h3>
<ul>
  <li>Poprawiono łączenie zleceń w grupy.</li>
</ul>
<h3>Czas cyklu</h3>
<ul>
  <li>Dodano do raportu Wyniki możliwość eksportowania UPPH do pliku.</li>
</ul>
