<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Obserwacje zachowań</h3>
<ul>
  <li>Dodano możliwość tłumaczenia pól 'Nazwa' oraz 'Opis' w słowniku 'Zachowania' na język angielski.</li>
</ul>
