<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Magazyn</h3>
<ul>
  <li>Dodano automatyczne drukowanie picklisty malarnii po rozpoczęciu kompletacji przez malarnię.</li>
</ul>
<h3>Usprawnienia</h3>
<ul>
  <li>Zmieniono przepływ zgłoszeń.</li>
</ul>
