<h1>v0.115.0</h1>
<h2><%- time.format('2017-07-16', 'LL') %></h2>
<h3>Baza testów</h3>
<ul>
  <li>Usunięto kolumnę 'Licznik' z listy wyników.</li>
  <li>Zmieniono kolumnę 'Zlecenie' na liście wyników, tak aby kliknięcie na nr zlecenia przeniosło użytkownika
    do strony ze szczegółami danego zlecenia.</li>
  <li>Zmieniono ekran wizualizacji linii 'LM-Maxos_T', tak aby kolor tła zmieniany był na zielony lub czerwony
    w celu sygnalizacji powodzenia lub niepowodzenia testu.</li>
  <li>Dodano przyciski 'Start' i 'Reset' do ekranu wizualizacji linii 'LM-Maxos_T'.</li>
  <li>Dodano wsparcie dla rejestracji wyników z testów okablowania i elektrycznego na linii 'LM-Maxos_T'.</li>
</ul>
<h3>Formatka operatora</h3>
<ul>
  <li>Dodano uprawnienie 'Tylko zmiana linii ze spigotem' pozwalające na zmianę ustawienia
    'Formatka operatora > Sprawdzanie Spigota > Linie ze sprawdzaniem Spigota'.</li>
</ul>
<h3>Obserwacje zachowań</h3>
<ul>
  <li>Dodano do raportu 'Obserwacje' wykres 'Ilość kart obserwacji wg obserwatorów'.</li>
</ul>
<h3>Minuty dla Bezpieczeństwa</h3>
<ul>
  <li>Usunięto z formularza komunikat o dodawaniu ZPW na podstawie Obserwacji.</li>
</ul>
<h3>Dokumentacja</h3>
<ul>
  <li>Poprawiono błąd w katalogu dokumentów powodujący próbę pobierania przez przeglądarkę pliku po kliknięciu na
    datę dokumentu przytrzymując klawisz <kbd>ALT</kbd>.</li>
  <li>Zmieniono dodawanie istniejących plików do listy plików do zmiany przez <kbd>ALT+LPM</kbd> tak, aby pole
    z datą ostatnio dodanego pliku było automatycznie zaznaczane.</li>
</ul>
<h3>Malarnia</h3>
<ul>
  <li>Dodano nowy moduł: Malarnia. Umożliwia załadowanie pliku z kolejką zleceń malarnii, wyświetlanie kolejki
    oraz rozpoczynanie, kończenie i ignorowanie zleceń z kolejki na dany dzień.</li>
</ul>
