<h1>v0.112.0</h1>
<h2><%- time.format('2017-06-04', 'LL') %></h2>
<h3>Matryca odpowiedzialności</h3>
<ul>
  <li>Dodano nowy moduł. Matryca odpowiedzialności dostępna jest po kliknięciu na ikonę <i class="fa fa-group"></i>
    znajdującą się koło wyszukiwarki w górnym pasku.</li>
</ul>
<h3>Formatka operatora</h3>
<ul>
  <li>Dodano przycisk <i class="fa fa-group"></i> otwierający Matrycę odpowiedzialności.</li>
</ul>
<h3>Obserwacje zachowań</h3>
<ul>
  <li>Dodano filtr 'Trudne do zmiany' do listy kart.</li>
</ul>
<h3>Wydajność godzinowa</h3>
<ul>
  <li>Zmieniono skanowanie numerów seryjnych tak, aby można było zarejestrować numer seryjny nawet podczas
    przestoju linii, jeżeli numer seryjny jest z zakończonego zlecenia.</li>
</ul>
<h3>Pulpit</h3>
<ul>
  <li>Usunięto tekst 'Wersja testowa' z przycisków 'Zarejestruj obserwację'
    i 'Zarejestruj Minuty dla bezpieczeństwa'.</li>
  <li>Zmieniono listę 'Najaktywniejsi w miesiącu' tak, aby można było wyświetlić zgłoszenia danego użytkownika
    po kliknięciu na imię i nazwisko.</li>
</ul>
