<h1>v0.91.1</h1>
<h2><%- time.format('2016-07-17', 'LL') %></h2>
<h3>Formatka operatora</h3>
<ul>
  <li>Zmieniono automatyczne przestoje rozpoczynane o konkretnej godzinie tak, aby rozpoczynanie inicjowane było po
    stronie serwera. Teraz przestój rozpocznie się na wszystkich liniach w tym samym czasie (jeżeli formatka będzie
    miała połączenie z serwerem w minucie, w której przestój ma się rozpocząć lub minutę wcześniej).</li>
</ul>
