<h1>v0.117.0</h1>
<h2><%- time.format('2017-11-01', 'LL') %></h2>
<h3>Nieprawidłowe zlecenia IPT</h3>
<ul>
  <li>Poprawiono błąd mogący spowodować wywalenie się serwera podczas sprawdzania zleceń bez ustawionej
    wartości ilości zrobionej.</li>
</ul>
<h3>Zlecenia reszty działów</h3>
<ul>
  <li>Poprawiono błąd mogący spowodować wywalenie się serwera importu danych podczas importowania zleceń reszty działów.</li>
</ul>
<h3>Formatka operatora</h3>
<ul>
  <li>Poprawiono błąd powodujący nadpisywanie minimalnej wymaganej zrobionej ilości po ustaleniu wartości maksymalnej.</li>
  <li>Poprawiono błąd powodujący zablokowanie przycisku wysyłającego formularz Nowego zlecenia/Końca pracy, jeżeli
    aktualne zlecenie nie miało jeszcze zmienionej ilości wykonanej.</li>
</ul>
<h3>SAP GUI</h3>
<ul>
  <li>Zmieniono wysyłanie zrzutów do serwera WMES tak, aby rozpoczynało się po 20s od ostatniej zmiany pliku
    ze zrzuconymi danymi, a nie po 2s.</li>
  <li>Zmieniono zrzut dokumentów zlecenia tak, aby był robiony w trzech częściach (-2, +0 dni; +1 dzień; +2 dni).
    Wcześnij zrzut robiony był w dwóch częściach (-2, +0 dni; +1, +2 dni), co sprawiało, że drugi zrzut trwał bardzo
    długo lub bardzo często kończył się niepomyślnie.</li>
</ul>
<h3>Baza testów</h3>
<ul>
  <li>Poprawiono błąd uniemożliwiający import wyników od klientów.</li>
</ul>
<h3>Badanie Opinia</h3>
<ul>
  <li>Dodano możliwość wyboru szablonu ankiety: Kętrzyn lub Piła.</li>
</ul>
<h3>Użytkownicy</h3>
<ul>
  <li>Dodano nowe pole: Moje MRP. Wartość wykorzystywana jest we filtrach MRP zleceń.</li>
</ul>
<h3>FTE (produkcja)</h3>
<ul>
  <li>Zmieniono pole 'Brak planu?' w formularzu edycji wpisu tak, aby po jego zaznaczeniu dany przepływ/zadanie znikało z listy.
    Ukryte przepływy/zadania znajdują się pod przyciskiem
    <i class="fa fa-low-vision" title="Pokaż ukryte"></i> (pokaż ukryte).</li>
  <li>Zmieniono formularz edycji wpisu tak, aby wartości FTE równe 0 były zamieniane na pustą wartość w celu
    poprawy przejrzystości.</li>
  <li>Dodano możliwość ustawiania wartości Zamówienia dla każdej firmy oraz automatyczne wyliczanie wartości Brakującej
    ilości pracowników.</li>
</ul>
<h3>Raporty > HR</h3>
<ul>
  <li>Dodano nowy wykres: Obecność. Przedstawia 'Ilość zamówionych pracowników' (żółta) oraz
    'Ilość brakujących pracowników' (czerwona), po
    podwójnym kliknięciu, zamiast 'Ilość zamówionych pracowników' pokazywana jest wartość
    'Ilość obecnych pracowników' (niebieska).</li>
</ul>
<h3>Raporty > Wskaźniki</h3>
<ul>
  <li>Poprawiono błąd mogący spowodować wywalenie się serwera podczas eksportu danych wydajności.</li>
  <li>Zmieniono eksportowanie wydajności tak, aby data od ustawiana była na początkową datę danych produkcyjnych, gdy
    data wybrana przez użytkownika jest wcześniej.</li>
  <li>Zmieniono eksportowanie wydajności tak, aby podział czasu ustawiany był na dzień, jeżeli wybrano zmianę oraz
    zakres czasu większy niż rok lub na tydzień, jeżeli wybrano dzień i zakres czasu większy niż 3 lata w celu
    ograniczenia ilości eksportowanych kolumn.</li>
</ul>
<h3>Dokumentacja</h3>
<ul>
  <li>Zmieniono funkcjonalność dodatkowych dokumentów tak, aby wzorce dopasowywane były także po 12NC wyrobu (jeżeli
    zawiera litery).</li>
</ul>
<h3>Inne</h3>
<ul>
  <li>Poprawiono błąd powodujący niepokazywanie się komunikatu o nowej wersji aplikacji, jeżeli wcześniej pokazywany
    był komunikat o restarcie serwera.</li>
  <li>Zmieniono eksportowanie danych tak, aby opcja eksportu do XLSX nie była dostępna, jeżeli wyeksportowanoby
    więcej niż 30 000 rekordów, a CSV - więcej niż 100 000.</li>
  <li>Zmieniono eksportowanie danych tak, aby było przerywane, jeżeli w eksportowanym pliku byłoby więcej niż
    1100 kolumn.</li>
</ul>
