<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Baza testów > TRW</h3>
<ul>
  <li>Poprawiono błąd uniemożliwiający zapisanie zmienionego sterownika podstawki.</li>
  <li>Dodano możliwość ukrycia etykiety grupy I/O.</li>
  <li>Dodano możliwość określenia złącza grupy I/O jako męskie (wtyk; niebieskie) lub żeńskie
    (gniazdo; różowe).</li>
  <li>Dodano możliwość podczepienia do grupy I/O obrazu.</li>
</ul>
<h3>Malarnia</h3>
<ul>
  <li>Zmieniono zakładkę 'KSJ Wiercenie' na 'Wiercenie'. Od teraz wszystkie zlecenia bez farby traktowane
    są jako zlecenia wiercenia.</li>
  <li>Zmieniono opis ikony 'Ilość pomalowana' na 'Ilość wywiercona' w przypadku zleceń wiercenia.</li>
  <li>Zmieniono akcje zakładki 'Wiercenie', tak aby uwzględniały tylko zlecenia wiercenia.</li>
  <li>Zmieniono przyciski 'Rozpocznij/Kontynuuj Kabina n' dla zleceń wiercenia na jeden przycisk
    'Rozpocznij/Kontynuuj' (bez kabiny).</li>
  <li>Dodano angielskie tłumaczenie dla wydruku zleceń.</li>
</ul>
<h3>Karty pracy</h3>
<ul>
  <li>Zmieniono pole 'Czas pracy operatora' tak, aby było automatycznie wyliczane, jeżeli 'Labor Time'
    wybranej operacji różni się od 'Machine Time'.</li>
</ul>
<h3>FAP</h3>
<ul>
  <li>Poprawiono błąd mogący spowodować zduplikowanie użytkownika przy testowaniu listy uczestników
    kategorii.</li>
  <li>Zmieniono określanie czy dyżurujący użytkownik otrzyma SMS tak, aby SMS wysyłany był jak
    w definicji dyżuru wybrano jakieś dni lub podano czas dyżuru inny niż 06:00-06:00 (wcześniej
    SMS wysyłany był tylko jak wybrano jakieś dni).</li>
  <li>Zmieniono określanie listy uczestników tak, aby do zgłoszenia dyżurujący byli dodawani bez względu
    na pełnioną funkcję.</li>
</ul>
<h3>Magazyn</h3>
<ul>
  <li>Zmieniono filtr 'Etap' w starym module tak, aby separatory oddzielające puste grupy były ukrywane.</li>
  <li>Dodano filtr 'Początek' do starego i nowego modułu.</li>
</ul>
<h3>Dokumentacja</h3>
<ul>
  <li>Poprawiono błąd powodujący nieprawidłowe rozpoznanie marginesów w importowanym dokumencie PDF
    podczas parsowania treści w celu znalezienia nr komponentów.</li>
</ul>
