<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Dopuszczenia</h3>
<ul>
  <li>Poprawiono błąd umożliwiający dodanie wniosku bez zdefiniowania przynajmniej jednego zastępczego komponentu.</li>
  <li>Zmieniono wyświetlanie dopuszczonych komponentów w zleceniu tak, aby pokazywały się także komponenty zastępcze
    bez komponentu podstawowego.</li>
</ul>
<h3>Planowanie</h3>
<ul>
  <li>Zmieniono obliczanie wskaźnika realizacji sekwencji tak, aby zlecenia o tym samym numerze rozpoczęte na tej
    samej linii jedno po drugim były traktowane jako jedno, to samo zlecenie.</li>
</ul>
<h3>ZPW</h3>
<ul>
  <li>Dodano do raportu Ilość zgłoszeń wykres Ilość zgłoszeń wg zatrudnienia. Zatrudnienie właściciela zgłoszenia
    brane jest z firmy do niego przypisanej w momencie dodania zgłoszenia.</li>
</ul>
<h3>Usprawnienia</h3>
<ul>
  <li>Poprawiono błąd powodujący wyświetlanie komunikatu o złej dacie realizacji, nawet gdy po wybraniu nieprawidłowej
    daty wybrano prawidłową.</li>
  <li>Zmieniono uprawnienia tak, aby przypisane Osoby wnioskujące mogły edytować zgłoszenie ze statusem
    W realizacji.</li>
  <li>Dodano nowe pole: Przełożony.</li>
  <li>Dodano Ilość zgłoszeń wg przełożonych do raportu Ilość zgłoszeń.</li>
  <li>Dodano filtr Przełożony do raportu Wynagrodzenie.</li>
  <li>Dodano wartość wynagrodzenia do raportu Wynagrodzenie.</li>
  <li>Dodano do filtra Użytkownik opcje wyszukiwania po Koordynatorze, Przełożonym oraz Właścicielach.</li>
</ul>
<h3>FAP</h3>
<ul>
  <li>Dodano nowy filtr uczestnika zgłoszenia: zgłaszający.</li>
</ul>
<h3>Magazyn</h3>
<ul>
  <li>Zmieniono eksportowanie historii stanu linii tak, aby wartości czasu kompletowanego/dostępnego były w godzinach
    a nie sekundach.</li>
  <li>Dodano możliwość eksportowania zleceń z kolejki kompletacji.</li>
  <li>Dodano możliwość eksportowania historii wózków.</li>
  <li>Dodano możliwość eksportowania historii przestojów.</li>
</ul>
<h3>Produkcja > Zlecenia</h3>
<ul>
  <li>Zmieniono obliczanie wskaźnika wydajności dla niezakończonych zleceń na ekranie szczegółów zlecenia tak, aby
    był przeliczany ze wzoru na wydajność co 5 sekund. Wcześniej wyświetlana była wydajność obliczona na podstawie
    Takt Time.</li>
</ul>
<h3>Produkcja > Zmiany produkcyjne</h3>
<ul>
  <li>Zmieniono obliczanie wskaźnika wydajności dla niezakończonych zleceń na osi czasu tak, aby był przeliczany
    ze wzoru na wydajność co 15 sekund. Wcześniej wyświetlana była wydajność obliczona na podstawie
    Takt Time.</li>
</ul>
<h3>Wydajność godzinowa</h3>
<ul>
  <li>Poprawiono błąd w obliczaniu wydajności aktualnego zlecenia, jeżeli w danym momencie na linii trwa przerwa.</li>
</ul>
<h3>Sprawdzanie komponentów</h3>
<ul>
  <li>Poprawiono błąd powodujący dodanie wszystkich komponentów do sprawdzenia, jeżeli strategia zawiera przynajmniej
    jeden komponent wirtualny.</li>
</ul>
