<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Monitoring > Czas cyklu</h3>
<ul>
  <li>Dodano nowy raport: Grupy wyrobów.</li>
</ul>
<h3>Luma gen. 2</h3>
<ul>
  <li>Zmieniono wysyłanie zleceń do sterownika, tak aby ilość do zrobienia obliczana była na podstawie maksymalnej
    ilości i zrobionej ilości operacji wybranej w zleceniu na Formatce operatora, a nie na całkowitej ilości
    do zrobienia oraz całkowitej ilości zrobionej.</li>
</ul>
