<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Dopuszczenia</h3>
<ul>
  <li>Poprawiono błąd umożliwiający dodanie wniosku bez zdefiniowania przynajmniej jednego zastępczego komponentu.</li>
  <li>Zmieniono wyświetlanie dopuszczonych komponentów w zleceniu tak, aby pokazywały się także komponenty zastępcze
    bez komponentu podstawowego.</li>
</ul>
<h3>Planowanie</h3>
<ul>
  <li>Zmieniono obliczanie wskaźnika realizacji sekwencji tak, aby zlecenia o tym samym numerze rozpoczęte na tej
    samej linii jedno po drugim były traktowane jako jedno, te same zlecenie.</li>
</ul>
<h3>ZPW</h3>
<ul>
  <li>Dodano do raportu Ilość zgłoszeń wykres Ilość zgłoszeń wg zatrudnienia. Zatrudnienie właściciela zgłoszenia
    brane jest z firmy do niego przypisanej w momencie dodania zgłoszenia.</li>
</ul>
<h3>Usprawnienia</h3>
<ul>
  <li>Dodano nowe pole: Przełożony.</li>
  <li>Dodano Ilość zgłoszeń wg przełożonych do raportu Ilość zgłoszeń.</li>
  <li>Dodano filtr Przełożony do raportu Wynagrodzenie.</li>
  <li>Dodano wartość wynagrodzenia do raportu Wynagrodzenie.</li>
</ul>
