<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Malarnia</h3>
<ul>
  <li>Dodano wyświetlanie i eksportowanie numeru pozycji komponentu (item).</li>
</ul>
<h3>Formatka operatora</h3>
<ul>
  <li>Zablokowano możliwość zmiany ilości wykonanej w zleceniu oraz ilości wykonanej w godzinie, jeżeli linia
    ma włączone skanowanie numerów seryjnych.</li>
</ul>
<h3>Reaguj</h3>
<ul>
  <li>Dodano Audyty oraz Rozmowy o BHP do raportu Zaangażowanie.</li>
</ul>
<h3>Czas cyklu</h3>
<ul>
  <li>Grupy zleceń w raporcie Grupy wyrobów brane są od teraz z modułu Planów dziennych.</li>
</ul>
<h3>Malarnia</h3>
<ul>
  <li>Dodano możliwość przypisania katalogu z modułu Dokumenty do listy dokumentów.</li>
</ul>
<h3>Raporty > CLIP</h3>
<ul>
  <li>Dodano możliwość eksportowania wskaźników do pliku.</li>
</ul>
