<h1>v0.93.5</h1>
<h2><%- time.format('2016-09-25', 'LL') %></h2>
<h3>Przestoje</h3>
<ul>
  <li>Poprawiono błąd uniemożliwiający w niektórych przypadkach pobranie listy przestojów.</li>
</ul>
<h3>ZPW</h3>
<ul>
  <li>Usunięto możliwość wybierania kilku osób zgłaszających przez użytkowników z uprawnieniem 'ZPW: zarządzanie'
    lub przez wybraną osobę zatwierdzającą.</li>
</ul>
