<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Planowanie</h3>
<ul>
  <li>Zmieniono zaliczanie zleceń do sekwencji tak, aby kontynuacja zlecenia była zaliczana jeżeli poprzednie zlecenie
    mieściło się w ramach czasowych.</li>
</ul>
<h3>Malarnia</h3>
<ul>
  <li>Zmieniono wykres strat czasu w raporcie Obciążenie tak, aby od czasu pomiaru odejmowana była granica
    opóźnienia.</li>
  <li>Dodano możliwość ustawnienia statusów oraz granicy opóźnienia dla każdego licznika obciążenia oddzielnie.</li>
</ul>
<h3>FAP</h3>
<ul>
  <li>Poprawiono błąd powodujący niepojawianie się podglądu załącznika po najechaniu na jego nazwę.</li>
  <li>Zmieniono uprawnienia Magazynierów oraz Starszym magazynierów na takie same jak Liderzy.</li>
  <li>Zmieniono opcję konfiguracyjną 'Użytkownicy dostępni w menu szybkiego dodawania' tak, aby można było
    wybrać także wszystkich użytkowników z wybraną funkcją na produkcji.</li>
</ul>
<h3>Inspecja Jakości</h3>
<ul>
  <li>Dodano możliwość przypisywania usprawnień do akcji korygujących.</li>
</ul>
<h3>Raporty > Operatorzy</h3>
<ul>
  <li>Poprawiono błąd uniemożliwiający załadowanie komentarzy z kart pracy.</li>
</ul>
<h3>Karty pracy</h3>
<ul>
  <li>Poprawiono filtr Jednostka organizacyjna.</li>
</ul>
<h3>Produkcja > Zlecenia</h3>
<ul>
  <li>Dodano filtr Karta pracy. Domyślnie wyświetlane są tylko zlecenia z linii.</li>
  <li>Dodano odnośnik do Zlecenia produkcyjnego na liście zleceń.</li>
  <li>Dodano wyświetlanie przypisanej Grupy zlecenia.</li>
</ul>
<h3>Zlecenia produkcyjne</h3>
<ul>
  <li>Dodano filtr Powód opóźnienia.</li>
</ul>
<h3>Reaguj > Zaangażowanie</h3>
<ul>
  <li>Zmieniono Sumę zgłoszeń na Ilość zgłoszeń.</li>
</ul>
<h3>Usprawnienia</h3>
<ul>
  <li>Dodano możliwość wybrania przełożonego dla każdego właściciela oddzielnie.</li>
</ul>
<h3>Baza komponentów</h3>
<ul>
  <li>Poprawiono błąd uniemożliwiający szybki dodruk etykiet.</li>
</ul>
<h3>Użytkownicy</h3>
<ul>
  <li>Dodano wsparcie dla synchronizacji użytkowników z nową bazą KD.</li>
</ul>
<h3>Zlecenia mechaniczne</h3>
<ul>
  <li>Poprawiono błąd uniemożliwiający kolejny import zleceń, jeżeli chociaż raz próbowano zaimportować
    plik CSV w nieprawidłowym formacie.</li>
</ul>
<h3>Formatka operatora</h3>
<ul>
  <li>Dodano możliwość doskanowywania numerów seryjnych.</li>
</ul>
<h3>Magazyn</h3>
<ul>
  <li>Poprawiono błąd powodujący blokowanie kompletacji przez to, że po oznaczeniu transakcji LP10 jako
    nieudanej, można było zmienić status na sukces, jeżeli zrobiło się to odpowiednio szybko.</li>
</ul>
