<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Magazyn</h3>
<ul>
  <li>Zmieniono wysyłkę wózków tak, aby Malarnia nie mogła wysyłać wózków Magazynu i na odwrót.</li>
  <li>Zmieniono kompletację tak, aby Malarnia mogła kompletować zlecenia z wierceniem ale bez malowania.</li>
  <li>Zmieniono wymuszenie kompletacji na linię tak, aby akcja była dostępna tylko dla użytkowników z uprawnieniem
    Magazyn: zarządzanie.</li>
  <li>Dodano wymóg wyboru Powodu przekierowania podczas przenoszenia dostarczonego zlecenia na inną linię.</li>
  <li>Dodano filtr Set do listy Zdarzeń.</li>
</ul>
