<h1>v0.101.0</h1>
<h2><%- time.format('2016-12-14', 'LL') %></h2>
<h3>Formatka operatora</h3>
<ul>
  <li>Poprawiono błąd uniemożliwiający przetwarzanie operacji z linii po przeliczeniu ilości na linii,
    która w ID zawiera znak <code>.</code>.</li>
  <li>Zmieniono określanie czy zlecenie jest wykonywane z prawidłowym taktem tak, aby pod uwagę brany był średni czas
    cyklu, a nie czas cyklu dla ostatniej sztuki.</li>
  <li>Zmieniono funkcjonalność 'Następne zlecenie' na 'Kolejka zleceń'.</li>
</ul>
<h3>Zlecenia reszty działów</h3>
<ul>
  <li>Zmieniono domyślny filtr, aby wyświetlane były dane tylko dla aktualnego dnia.</li>
  <li>Dodano filtr 'MRP'.</li>
</ul>
<h3>Plany godzinowe</h3>
<ul>
  <li>Dodano możliwość wklejenia do wybranego przepływu wszystkich 24 wartości na raz.</li>
</ul>
<h3>Wydajność godzinowa</h3>
<ul>
  <li>Dodano nowy moduł: <a href="/heff">Wydajność godzinowa</a>.</li>
</ul>
