<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>FAP</h3>
<ul>
  <li>Zmieniono przycisk wyświetlający aktualną ilość nieprzeczytanych zgłoszeń tak, aby po kliknięciu
    na niego, użytkownik był przeniesiony do strony ze szczegółami zgłoszenia a nie listą zgłoszeń, jeżeli
    jest tylko jedno nieprzeczytane zgłoszenie.</li>
  <li>Dodano uprawnienia do zmiany kategorii dla funkcji 'Inżynier procesu dystrybucji'.</li>
</ul>
<h3>Magazyn (stary)</h3>
<ul>
  <li>Zmieniono etap 'Kompletacja' na 'Buffor'.</li>
</ul>
