<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Baza testów > TRW</h3>
<ul>
  <li>Dodano możliwość przypisywania komunikatów do poszczególnych kroków programu.</li>
</ul>
<h3>Zlecenia produkcyjne</h3>
<ul>
  <li>Zmieniono wyświetlanie zagnieżdżonych list w historii zleceń na bardziej użyteczne.</li>
  <li>Dodano możliwość definiowania uwag dla zleceń. Uwagi wyświetlane są w aplikacji do dokumentacji.</li>
  <li>Dodano skróty klawiszowe do poszczególnych paneli na stronie ze szczegółami zlecenia.</li>
</ul>
<h3>Planowanie</h3>
<ul>
  <li>Poprawiono błąd powodujący ignorowanie flagi 'Wymuś dzień pracujący'.</li>
</ul>
