<h1>v0.111.3</h1>
<h2><%- time.format('2017-05-28', 'LL') %></h2>
<h3>Obserwacje zachowań</h3>
<ul>
  <li>Poprawiono błąd powodujący automatyczne wpisywanie wartości 'Stanowisko (KD)' danego użytkownika
    do pola 'Obserwowane stanowisko'.</li>
  <li>Zmieniono formularz tak, aby wszystkie kategorie zachowań zawsze były wyświetlane.</li>
  <li>Zmieniono wymagane pola w formularzu.</li>
  <li>Dodano możliwość definiowania nowych obserwacji zachowań z kategorii Inne.</li>
</ul>
<h3>Minuty dla Bezpieczeństwa</h3>
<ul>
  <li>Usunięto pola 'Kto?' i 'Kiedy?' z propozycji.</li>
</ul>
<h3>Wydajność godzinowa</h3>
<ul>
  <li>Dodano możliwość skanowania numerów seryjnych dla wszystkich zleceń rozpoczętych na danej zmianie, a nie tylko
    do aktualnie wykonywanego zlecenia.</li>
</ul>
<h3>Inne</h3>
<ul>
  <li>Zmieniono pola wyszukiwania użytkowników tak, aby pokazywał tylko jedną opcję o takim samym imieniu i nazwisku
    (jeżeli w bazie istnieje użytkownik Jan Kowalski trzy razy: w firmie PLP, APT oraz Pozostali, to na liście dostępny
    będzie Jan Kowalski z firmy PLP).</li>
  <li>Zmieniono strony błedów tak, aby w razie pilnej potrzeby można było poinformować administratora o błędzie.</li>
  <li>Dodano strony błędów podczas ładowania danych (wcześniej wyświetlała się tylko biała strona).</li>
</ul>
