<h1>v0.93.0</h1>
<h2><%- time.format('2016-08-21', 'LL') %></h2>
<h3>8D</h3>
<ul>
  <li>Dodano nowy moduł: 8D.</li>
</ul>
<h3>Użytkownicy</h3>
<ul>
  <li>Poprawiono błąd podczas logowania mogący powodować, że po zalogowaniu nadal wyświetlany jest formularz logowania.</li>
  <li>Zmieniono logowanie tak, aby wartość nazwy użytkownika nie rozróżniała wielkości liter.</li>
</ul>
<h3>Linie produkcyjne</h3>
<ul>
  <li>Zmieniono sortowanie na liście tak, aby linie posortowane były według nadrzędnych jednostek organizacyjnych.</li>
</ul>
<h3>Inne</h3>
<ul>
  <li>Zmieniono strony z formularzami tak, aby nie były automatycznie odświeżane po utracie i ponownym nawiązaniu połączenia
  z serwerem, w celu uniknięcia utraty wprowadzonych do formularza danych.</li>
  <li>Zaktualizowano pakiety zależne.</li>
</ul>
