<h1>v0.95.0</h1>
<h2><%- time.format('2016-10-19', 'LL') %></h2>
<h3>Inspekcja Jakości</h3>
<ul>
  <li>Zmieniono filtr 'Inspektorzy' na liście wyników tak, aby można było wybrać kilku inspektorów na raz.</li>
  <li>Zmieniono formularz wyniku tak, aby można było ręcznie zmienić wartość pola 'Wydział'.</li>
  <li>Dodano brakujący znak '*' do wymaganego pola 'Kategoria błędu'.</li>
  <li>Dodano kolumnę 'Akcje korygujące' do listy wyników.</li>
  <li>Dodano możliwość zmiany wyniku OK/NOK z poziomu formularza.</li>
  <li>Dodano historię zmian na stronie szczegółów wyniku inspekcji wraz z możliwością komentowania.</li>
  <li>Dodano nowe pole: 'Ilość w zleceniu'.</li>
  <li>Dodano filtr 'Status akcji' do listy wyników.</li>
  <li>Dodano eksportowanie akcji korygujących razem z resztą danych.</li>
  <li>Dodano nowy raport: % wyrobów zgodnych.</li>
</ul>
<h3>Zlecenia</h3>
<ul>
  <li>Dodano możliwość grupowania operacji. Operacje z tej samej grupy mają sumowane czasy we wskaźnikach.</li>
</ul>
