<h1>v0.111.0</h1>
<h2><%- time.format('2017-05-07', 'LL') %></h2>
<h3>Obserwacje zachowań</h3>
<ul>
  <li>Zmieniono pole 'Stanowisko' na 'Obserwowane stanowisko'.</li>
</ul>
<h3>Inspekcja jakości</h3>
<ul>
  <li>Poprawiono błąd wywalający serwer po dodaniu wyniku inspekcji z wybranym Właścicielem niezgodności.</li>
</ul>
<h3>Zlecenia reszty działów</h3>
<ul>
  <li>Zmieniono importowanie zleceń ZLF1 tak, aby zdarzenie pomyślnego importu było tworzone nawet wtedy, gdy lista
    zleceń do zaimportowania była pusta.</li>
</ul>
<h3>Dane produkcyjne > Zlecenia</h3>
<ul>
  <li>Usunięto filtr 'Operacja'.</li>
  <li>Zmieniono kolumnę 'Kontroler MRP' na liście tak, aby najpierw wyświetlany był MRP ze zlecenia
    (MRP w jakim znajduje się linia jest przekreślone, jeżeli różni się od MRP zlecenia).</li>
  <li>Dodano filtr 'Kontroler MRP zlecenia'.</li>
</ul>
<h3>Dokumentacja</h3>
<ul>
  <li>Dodano zarządzanie plikami dokumentacji z poziomu WMES.</li>
</ul>
