<h1>v0.127.0</h1>
<h2><%- time.format('2018-10-28', 'LL') %></h2>
<h3>Baza PFEP</h3>
<ul>
  <li>Zmieniono etykiety oraz wymagalność niektórych pól.</li>
  <li>Zmieniono wyświetlanie wartości liczbowych tak, aby wyświetlane były w formacie przeglądarki wybranym przez
    użytkownika.</li>
</ul>
<h3>Zlecenia reszty działów</h3>
<ul>
  <li>Dodano nowe pole importowane z SAP: Ostatnia zmiana przez - kto dokonał ostatniej zmiany w zleceniu.</li>
  <li>Dodano nowe pole: Status malarnii. Wartość jest kopiowana ze zlecenia nadrzędnego malarnii lub określana
    na podstawie wszystkich zleceń malarnii mających jako zlecenie nadrzędne dane zlecenie (np. w przypadku, gdy
    zlecenie malarnii ma inną datę niż zlecenie nadrzędne).</li>
</ul>
<h3>Plany godzinowe</h3>
<ul>
  <li>Poprawiono błąd mogący spowodować wywalenie się serwera.</li>
  <li>Zmieniono algorytm aktualizacji wartości poprzez formualrz edycji planu tak, aby wyeliminować sytuacje, gdy
    wartość wcześniejsza nadpisywała wartość późniejszą w przypadku szybkiej zmiany wartości.</li>
</ul>
<h3>Plany dzienne</h3>
<ul>
  <li>Dodano nagłówki do całkowitych statystyk planu.</li>
  <li>Dodano nowe ustawienie: Ignorowane WorkCentra.</li>
</ul>
<h3>Sprawdzanie komponentów</h3>
<ul>
  <li>Poprawiono błąd powodujący nieodświeżanie się użytej na linii strategii po dokonaniu w niej zmian.</li>
  <li>Zmieniono pole 'Wzorzec' na 'Wzorzec etykiety'.</li>
  <li>Zmieniono pole '12NC komponentu' na 'Wzorzec komponentu' - pole przyjmuje teraz wartość 12NC lub wyrażenie
    regularce dopasowujące po 12NC i nazwie komponentu.</li>
  <li>Dodano nowe pole: Aktywna?.</li>
  <li>Dodano możliwość sprawdzania wszystkich sztuk danego komponentu w każdej sztuce produktu.</li>
  <li>Dodano specjalne tagi do pól 'Opis' oraz 'Wzorzec etykiety':
    <ul>
      <li><code>@COMPONENT.ITEM@</code> - nr dopasowanego komponentu,</li>
      <li><code>@COMPONENT.12NC@</code> - 12NC dopasowanego komponentu,</li>
      <li><code>@COMPONENT.NAME@</code> - nazwa dopasowanego komponentu,</li>
      <li><code>@ORDER.NO@</code> - nr zlecenia,</li>
      <li><code>@ORDER.12NC@</code> - 12NC zlecenia,</li>
      <li><code>@HID.ID@</code> - ID oprawy HID przypisane do dopasowanego komponentu.</li>
    </ul>
  </li>
  <li>Dodano możliwość definiowania wirtualnych komponentów do sprawdzenia za pomocą pustego pola
    'Wzorzec komponentu'.</li>
  <li>Dodano możliwość ograniczenia strategii do konkretnych linii produkcyjnych.</li>
</ul>
<h3>Drukarki</h3>
<ul>
  <li>Dodano nowe tagi: Ogólna: Tekst oraz Oprawy HID.</li>
  <li>Dodano możliwość sprawdzania wszystkich sztuk danego komponentu w każdej sztuce produktu.</li>
  <li>Dodano specjalne ustawienie <code>Line:{ID linii}:{IP drukarki}:{port drukarki}</code> umożliwiający zdefiniowanie
    różnych drukarek ZPL po TCP/IP dla różnych linii produkcyjnych.</li>
</ul>
<h3>Powody opóźnień</h3>
<ul>
  <li>Dodano nowe pole: Kategoria DRM.</li>
</ul>
<h3>Raporty > CLIP</h3>
<ul>
  <li>Zmieniono ustawienie 'Przesunięcie godzinowe danych' tak, aby można było przypisać różne wartośsci do różnych MRP
    zleceń.</li>
  <li>Zmieniono ustalanie koloru tła zlecenia w tabeli zleceń tak, aby zlecenia, które są aktualnie potwierdzone miały
    zawsze kolor zielony.</li>
  <li>Zmieniono zachowanie pokazywania historii zlecenia po kliknięciu na wiersz w tabeli tak, aby automatycznie
    zaznaczane było pole 'Powód opóźnienia' w formularzu komentarza, jeżeli użytkownik kliknie na komórkę
    'Powód opóźnienia' w tabeli.</li>
  <li>Zmieniono wartości 'Produkcja' oraz 'End2End' tak, aby wyświetlane były do jednego miejsca po przecinku.</li>
  <li>Dodano nowe wykresy: 4M oraz Kategoria DRM.</li>
  <li>Dodano nową opcję wyświetlania: Zera - Uwzględniaj/Dziura/Ignoruj.</li>
</ul>
<h3>Zdarzenia</h3>
<ul>
  <li>Dodano brakujące tłumaczenia zdarzeń.</li>
</ul>
<h3>Baza testów</h3>
<ul>
  <li>Dodano funkcję drukowania etykiet po udanym teście na liniach AV.</li>
</ul>
<h3>Obserwacje zachowań</h3>
<ul>
  <li>Dodano nowe pola: Zmiana oraz Osoba obserwowana zatrudniona przez.</li>
</ul>
<h3>Inspekcja Jakości</h3>
<ul>
  <li>Poprawiono błąd powodujący niedziałanie formularza edycji dla niektórych ról użytkowników.</li>
</ul>
<h3>Dokumentacja > Dokumenty</h3>
<ul>
  <li>Zmieniono czcionkę 15NC dokumentu w trybie listy na czcionkę równej szerokości.</li>
  <li>Dodano specjalny dokument 'Layout', do którego odnośnik znajduje się w menu 'Produkcja'.</li>
  <li>Dodano możliwość obserwowania dokumentów. Użytkownicy obserwujący dokument zostaną powiadomieni e-mailem,
    jeżeli dany dokument zostanie zmodyfikowany.</li>
</ul>
<h3>Plan magazynu</h3>
<ul>
  <li>Poprawiono błąd mogący spowodować wywalenie się serwera podczas wydruku etykiet.</li>
</ul>
<h3>Formatka operatora</h3>
<ul>
  <li>Dodano wsparcie do zamykania wszystkich okien dialogowych po zeskanowaniu wartości `&lt;ESC>`
    lub `1337000027`.</li>
</ul>
<h3>Kanban</h3>
<ul>
  <li>Poprawiono brak odstępu między tabelą kolejki wydruków a paginacją.</li>
</ul>
<h3>Malarnia</h3>
<ul>
  <li>Poprawiono błąd powodujący niepojawianie się menu kontekstowego.</li>
  <li>Zmieniono menu kontekstowe w trybie wsadowym tak, aby było bardziej przyjazne dla dotyku: pozycje niepotrzebne
    są niewidoczne i całe menu jest większe.</li>
  <li>Dodano możliwość aktywacji menu kontekstowego przez przytrzymanie lewego przycisku myszy (lub dotyku) przez
    300ms.</li>
</ul>
<h3>Inne</h3>
<ul>
  <li>Zaktualizowano środowisko i pakiety zależne</li>
</ul>
