<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Planowanie</h3>
<ul>
  <li>Poprawiono błąd powodujący oznaczenie czasu rozpoczęcia zlecenia jako zaliczony na podsumowaniu realizacji
    sekwencji dla wybranego MRP, jeżeli czas rozpoczęcia różni się od czasu granicznego o przesunięcie lokalnej
    strefy czasowej.</li>
</ul>
<h3>Malarnia</h3>
<ul>
  <li>Dodano wsparcie dla dwóch nowych liczników obciążenia: Kabina 1 i Kabina 2.</li>
</ul>
<h3>Magazyn</h3>
<ul>
  <li>Poprawiono błąd uniemożliwiający zapisanie opcji 'W trakcie malowania (MSP)' dla ustawienia
    'Ignorowane statusy malarnii'.</li>
  <li>Poprawiono błąd powodujący dublowanie podsumowania Ilości oraz Czasu produkcji na ekranie Wysyłki, jeżeli
    jedno zlecenie skompletowane jest na więcej niż jednym wózku.</li>
  <li>Poprawiono błąd mogący spowodować desynchronizację statusu malarnii dla zlecenia wierconego niemalowanego.</li>
  <li>Zmieniono listę problemów tak, aby zamiast zaplanowanego czasu końca zlecenia wyświetlany był czas rozpoczęcia
    problemu.</li>
  <li>Dodano wsparcie dla drukowania wielostronicowych picklist malarnii.</li>
</ul>
<h3>Monitoring</h3>
<ul>
  <li>Zmieniono oznaczanie zleceń oraz linii tak, aby zielony kolor oznaczał wydajność >= 100%, żółty < 100%,
    a pomarańczowy < 90%.</li>
  <li>Zmieniono oznaczanie linii na liście linii produkcyjnych tak, aby tło oznaczało wydajność całej zmiany a nie
    aktualnie wykonywanego zlecenia.</li>
</ul>
<h3>Narzędzia</h3>
<ul>
  <li>Dodano do menu Narzędzia pozycje Sprawdzanie komponentów oraz Etykiety komponentów.</li>
  <li>Dodano dla Inżynierów procesu uprawnienia do Sprawdzania komponentów oraz Etykiet komponentów.</li>
</ul>
<h3>FAP</h3>
<ul>
  <li>Zmieniono powiadomienia e-mail tak, aby w treści znalazł się Czas zgłoszenia oraz informacja o zgłoszeniu
    starszym niż dwa dni (wysłane z powodu zmiany kategorii).</li>
</ul>
<h3>Usprawnienia</h3>
<ul>
  <li>Dodano do powiadomienia o niezakończonych zgłoszeniach wysyłane do Koordynatorów Kaizen nowy odnośnik
    'Otwarte zgłoszenia koordynowane przez Ciebie' oraz zmieniono opisy pozostałych odnośników na czytelniejsze.</li>
</ul>
