<h1>v0.106.0</h1>
<h2><%- time.format('2017-03-05', 'LL') %></h2>
<h3>Formatka operatora</h3>
<ul>
  <li>Dodano możliwość definiowania automatycznych przestojów dla grup linii produkcyjnych, a nie tylko na poziomie
    działu. Jeżeli dana linia ma zdefiniowane automatyczne przestoje, to przestoje zdefiniowane w jej dziale
    są ignorowane.</li>
</ul>
<h3>Monitoring > Lista linii produkcyjnych</h3>
<ul>
  <li>Usunięto wyświetlanie 12NC zlecenia.</li>
  <li>Zmieniono wyświetlanie personelu linii tak, aby wyświetlany był tylko nazwisko oraz iniciał imienia.</li>
  <li>Zmieniono wyświetlanie nr zlecenia tak, aby wyświetlana była także nazwa produktu.</li>
</ul>
<h3>Wydajność godzinowa</h3>
<ul>
  <li>Dodano możliwość skanowania kodów z numerami seryjnymi (tak jak na Formatce operatora).</li>
</ul>
<h3>FTE</h3>
<ul>
  <li>Dodano do menu pozycję 'Ustawienia' (widoczna tylko dla użytkownikó z uprawnieniem
    'Dane produkcyjne: zrządzanie').</li>
</ul>
<h3>Usprawnienia</h3>
<ul>
  <li>Dodano do raportu 'Ilość zgłoszeń' możliwość filtrowania po kategoriach.</li>
</ul>
