<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Dopuszczenia</h3>
<ul>
  <li>Poprawiono błąd umożliwiający dodanie wniosku bez zdefiniowania przynajmniej po jednym starym i nowym
    komponencie.</li>
</ul>
