<h1>v0.83.0</h1>
<h2><%- time.format('2016-02-21', 'LL') %></h2>
<h3>Dokumentacja</h3>
<ul>
  <li>Zmieniono pozycję 'Lista komponentów' tak, aby pokazywała się tylko wtedy, gdy zlecenie ma jakieś komponenty.</li>
</ul>
<h3>ZPW</h3>
<ul>
  <li>Poprawiono błąd powodujący nieprzeliczanie ilości dni realizacji zgłoszenia po zmianie 'Czasu zdarzenia'.</li>
  <li>Zmieniono formularz edycji zgłoszenia tak, aby użytkownik mógł wybrać status 'Anulowane', jeżeli jest osobą
    zatwierdzającą w tym zgłoszniu (wcześniej anulować zgłoszenie mógł tylko użytkownik, który dodał zgłoszenie
    i zgłoszenie to miało status 'Nowe').</li>
  <li>Dodano wymuszanie wybierania dat nie różniących się o więcej niż 60 dni od aktualnej daty. Użytkownicy
    z uprawnieniem 'ZPW: zarządzanie' nadal mogą wybrać dowolną datę.</li>
</ul>
<h3>Usprawnienia</h3>
<ul>
  <li>Poprawiono błąd powodujący nieprzeliczanie ilości dni realizacji zgłoszenia po zmianie 'Daty złożenia wniosku'.</li>
  <li>Zmieniono formularz edycji zgłoszenia tak, aby użytkownik mógł wybrać status 'Anulowane', jeżeli jest osobą
    zatwierdzającą w tym zgłoszniu (wcześniej anulować zgłoszenie mógł tylko użytkownik, który dodał zgłoszenie
    i zgłoszenie to musiało mieć status 'Nowe').</li>
  <li>Dodano wykres 'Ilość sugestii zgłoszonych w kategoriach' do raportu 'Zestawienie informacji'.</li>
  <li>Dodano przycisk 'Wersja do druku' do raportu 'Zestawienie informacji', po wciśnięciu którego raport zostanie
    przystosowany do wydruku na jednej stronie A4 (m.in. brak wykresu 'Ilość zgłoszeń' w poszczególnych tygodniach',
    wyświetlanie maksymalnie 10 pracowników i kategorii).</li>
  <li>Dodano wymuszanie wybierania dat nie różniących się o więcej niż 60 dni od aktualnej daty. Użytkownicy
    z uprawnieniem 'Usprawnienia: zarządzanie' nadal mogą wybrać dowolną datę.</li>
</ul>
<h3>Raport > Przestoje w obszarach</h3>
<ul>
  <li>Zmieniono pierwsze ładowanie danych raportu tak, aby odbywało się po załadowaniu strony, a nie w trakcie.
</ul>
<h3>Dane produkcyjne</h3>
<ul>
  <li>Poprawiono niedziałający indeks bazy danych dla wartości 'Kontroler MRP' w 'Zmianach produkcyjnych'.</li>
  <li>Przeniesiono dezaktywowane jednostki organizacyjne w 'KF9' do 'KF9~a', a aktywne jednostki w 'KF9~c' do 'KF9'.</li>
  <li>Dodano tymczasowe zamienianie ID jednostek produkcyjnych w 'KF9~c' tak, aby dane zaliczane były do 'KF9'.
</ul>
