<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>FAP</h3>
<ul>
  <li>Poprawiono błąd podczas aktualizacji indeksu tekstowego wyszukiwania zgłoszeń, jeżeli w danym zgłoszeniu
    w krótkim czasie zmieniono jedną z indeksowanych wartości oraz dodano komentarz na czacie.</li>
  <li>Zmieniono przycisk wyświetlający aktualną ilość nieprzeczytanych zgłoszeń tak, aby po kliknięciu
    na niego, użytkownik był przeniesiony do strony ze szczegółami zgłoszenia a nie listą zgłoszeń, jeżeli
    jest tylko jedno nieprzeczytane zgłoszenie.</li>
  <li>Dodano uprawnienia do zmiany kategorii dla funkcji 'Inżynier procesu dystrybucji'.</li>
</ul>
<h3>Magazyn (stary)</h3>
<ul>
  <li>Poprawiono błąd powodujący łączenie zleceń z tym samym numerem, ale na innych liniach, jeżeli
    występowały jedno po drugim w kolejce.</li>
  <li>Zmieniono etap 'Kompletacja' na 'Buffor'.</li>
</ul>
<h3>Narzędzia pomiarowe</h3>
<ul>
  <li>Poprawiono błąd powodujący niepojawianie się nowej zmiany w historii zmian urządzenia, jeżeli wcześniej
    nie było jeszcze żadnych pozycji w historii.</li>
  <li>Dodano możliwość załączenia pliku ze skanem certifikatu do każdego narzędzia.</li>
</ul>
<h3>Wiercenie</h3>
<ul>
  <li>Dodano możliwość otworzenia dokumentu po kliknięciu na 12NC komponentu. Otwierany jest dokument
    o 15NC równym <code>000<12NC komponentu></code>.</li>
</ul>
<h3>Planowanie</h3>
<ul>
  <li>Dodano do historii zmian planu dziennego akcje 'Rozwiń' oraz 'Zwiń' (wszystkie zmiany).</li>
</ul>
