<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Dopuszczenia</h3>
<ul>
  <li>Poprawiono błędy związane ze sprawdzaniem uprawnień.</li>
  <li>Dodano możliwość dopuszczania zleceń po planowanej dacie rozpoczęcia zlecenia.</li>
  <li>Dodano do listy komponentów w szczegółach zlecenia oraz w aplikacji do wyświetlania dokumentów podświetlanie
    komponentów dopuszczonych, które znajdują się już w BOM zlecenia.</li>
</ul>
<h3>Usprawnienia</h3>
<ul>
  <li>Zmieniono 'Sugestia' na 'Pomysł'.</li>
  <li>Zmieniono pole 'Osoba zatwierdzająca' na 'Koordynator Kaizen'. Dodatkowo, jeżeli wybrany dział zgłaszający
    ma zdefiniowaną listę koordynatorów, to użytkownik bez uprawnienia 'Usprawnienia: zarządzanie' nie może przypisać
    dowolnego innego użytkownika jako koordynatora.</li>
</ul>
<h3>Malarnia</h3>
<ul>
  <li>Dodano nowy status: W trakcie malowania (MSP). Status nadawany w momencie rozpoczęcia malowania zleceniom,
    które mają farbę MSP oraz ilość pomalowaną równą 0. Pędzel w Planowaniu i Kompletacji ma kolor fioletowy.</li>
</ul>
<h3>Magazyn</h3>
<ul>
  <li>Zmieniono przydzielanie do istniejących setów tak, aby pierwszeństwo miały sety utworzone przez wymuszenie
    kompletacji.</li>
  <li>Dodano eksportowanie zdarzeń.</li>
</ul>
<h3>Planowanie</h3>
<ul>
  <li>Dodano do formuły obliczania czasu sztuki oraz roboczogodzin Współczynnik operacji Takt Time.</li>
</ul>
<h3>Zlecenia produkcyjne</h3>
<ul>
  <li>Dodano przeliczanie statusu malarnii dla zleceń nadrzędnych po zmianie numeru zlecenia nadrzędnego w zleceniach
    podrzędnych.</li>
</ul>
