<h1>v0.98.0</h1>
<h2><%- time.format('2016-11-06', 'LL') %></h2>
<h3>Baza testów</h3>
<ul>
  <li>Zmieniono importowanie zleceń tak, aby ilości z pozycji o takim samym 12NC były sumowane, a nie nadpisywane.</li>
  <li>Dodano wsparcie dla opcji ważenia komponentów.</li>
</ul>
<h3>Dane produkcyjne > Zlecenia</h3>
<ul>
  <li>Dodano wyświetlanie zsumowanych wartości wybranej operacji na liście operacji w szczegółach zlecenia.</li>
</ul>
<h3>Dokumentacja</h3>
<ul>
  <li>Poprawiono błąd powodujący pojawianie się dodatkowego paska przewijania w tabelce na liście klientów.</li>
</ul>
<h3>Inne</h3>
<ul>
  <li>Dodano do wyszukiwarki szybkich akcji akcję otwierania pliku dokumentacji po wpisaniu 15NC.</li>
</ul>
