<h1>v0.14.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Dane produkcyjne > Zmiany</h3>
<ul>
  <li>Poprawiono błąd powodujący niewyświetlanie się dymków ze szczegółami zlecenia na osi czasu zmiany.</li>
  <li>Zmieniono określanie wykonanych MRP na zmianie tak, aby ignorowane były zlecenia, w których ilość wykonana
    jest równa 0 (MRP nie zostanie zaliczone do złego Działu w raporcie CLIP, gdy na linii produkcyjnej operator
    rozpoczął przez pomyłkę nieprawidłowe zlecenie).</li>
</ul>
<h3>FAP</h3>
<ul>
  <li>Dodano uprawnienia do zmiany kategorii dla funkcji 'Inżynier jakości'.</li>
</ul>
<h3>Malarnia</h3>
<ul>
  <li>Poprawiono błąd uniemożliwiający dostęp do modułu użytkownikom zalogowanym przez VPN i nie mającym
    uprawnienia 'Magazyn: przeglądanie'.</li>
  <li>Dodano wyświetlanie zleceń Magazynu przy zleceniach Malarnii.</li>
</ul>
<h3>Wiercenie</h3>
<ul>
  <li>Poprawiono błąd uniemożliwiający wyeksportowanie zleceń wszystkich przepływów.</li>
</ul>
<h3>Dokumentacja</h3>
<ul>
  <li>Dodano historię potwierdzeń dokumentów.</li>
  <li>Dodano możliwość przypisywania komponentów do plików dokumentów po nazwie.</li>
  <li>Dodano możliwość wyszukiwania wielu dokumentów po 15NC.</li>
</ul>
<h3>Minuty dla Bezpieczeństwa</h3>
<ul>
  <li>Usunięto pola: Status, Obserwacje, Propozycje rozwiązań organizacyjnych,
    Propozycje rozwiązań technicznych.</li>
  <li>Dodano nowe pola: Osoba zatwierdzająca, Ryzyko, Analiza przyczyn źródłowych.</li>
</ul>
<h3>Raport > Wskaźniki</h3>
<ul>
  <li>Zmieniono obliczanie Wydajności tak, aby brany był pod uwagę Współczynnik operacji (Takt Time).</li>
</ul>
<h3>Przewody</h3>
<ul>
  <li>Dodano nowy moduł.</li>
</ul>
