<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>FAP</h3>
<ul>
  <li>Zmieniono sprawdzanie uprawnień do zmiany kategorii zgłoszenia tak, aby lista uprawnionych Funkcji produkcyjnych
    była definiowana w ustawieniach.</li>
  <li>Zmieniono Kod komponentu tak, aby podany komponent nie musiał istnieć w bazie danych.</li>
  <li>Zmieniono określanie wymaganych pól przy dodawaniu zgłoszenia tak, aby były określane na podstawie wybranej
    kategorii. Każda kategoria/podkategoria może mieć własną kombinację pól.</li>
</ul>
