<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>FAP</h3>
<ul>
  <li>Poprawiono błąd powodujący nieprawidłową obsługę nieudanego dodania załącznika na stronie ze szczegółami
    zgłoszenia.</li>
  <li>Zmieniono wykresy tak, aby etykiety nad słupkami były wyświetlane, jeżeli całkowita ilość słupków na
    wykresie nie przekracza 40, jeżeli jest tylko jedna grupa słupków (wcześniej zawsze 35).</li>
</ul>
<h3>Zmiany produkcyjne</h3>
<ul>
  <li>Zmieniono obliczanie Wydajności dla całej zmiany tak, aby pod uwagę brany był Współczynnik operacji
    (Takt Time).</li>
</ul>
<h3>Zlecenia produkcyjne</h3>
<ul>
  <li>Zmieniono kolumnę 'Nazwa wyrobu' na liście zleceń tak, aby zawsze wyświetlała wartość 'Nazwa' zlecenia,
    a wartość 'Opis' w dymku po najechaniu kursorem (jeżeli istnieje i jest inna niż 'Nazwa'). Wcześniej
    zamiast 'Nazwy' wyświetlany był 'Opis' (jeżeli istniał).</li>
</ul>
<h3>Inspekcja Jakości</h3>
<ul>
  <li>Dodano do raportu Outgoing Quality nowe ustawienie: Rodzaje inspekcji.</li>
  <li>Dodano nowe opcję konfiguracyjną: Domyślna kategoria błędu podczas dodawania nowego wyniku.</li>
  <li>Dodano nowe pole: Trener.</li>
</ul>
<h3>ZPW</h3>
<ul>
  <li>Dodano filtr 'Miejsce zdarzeń' do raportu 'Ilość ZPW'.</li>
</ul>
<h3>Formatka operatora</h3>
<ul>
  <li>Poprawiono błąd powodujący, że zlecenia rozpoczęte przez wykorzystanie danych z planu dziennego, a nie
    przez ręczne wyszukanie po nr zlecenia, nie miały aplikowanego Współczynnika operacji (Takt Time).</li>
  <li>Zmieniono formularz aktywacji linii tak, aby:
    <ul>
      <li>wymagane było podanie numeru stanowiska pracy,</li>
      <li>na liście linii widoczne były tylko aktywne Linie produkcyjne z działów typu Montaż,</li>
      <li>dało się wypełnić formularz tylko za pomocą myszki lub ekranu dotykowego.</li>
    </ul>
</ul>
<h3>Wydajność godzinowa</h3>
<ul>
  <li>Dodano okno dialogowe aktywacji klienta Wydajności godzinowej wymagające wybrania ID linii oraz numeru
    stanowiska pracy.</li>
</ul>
<h3>Użytkownicy</h3>
<ul>
  <li>Poprawiono błąd uniemożliwiający zresetowanie hasła.</li>
  <li>Usunięto uprawnienia: 'Operator WMES: aktywacja klientów' oraz 'Dokumenty WMES: aktywacja klientów'.</li>
  <li>Dodano uprawnienie: Aktywacja klientów.</li>
</ul>
<h3>Dokumentacja</h3>
<ul>
  <li>Zmieniono potwierdzanie dokumentów tak, aby w przypadku niepowodzenia z powodu braku nr stanowiska pracy
    wyświetlany był odpowiedni komunikat oraz otwierało się okno dialogowe z ustawieniami.</li>
</ul>
<h3>Monitoring > Czas cyklu</h3>
<ul>
  <li>Dodano nowy moduł.</li>
</ul>
