<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Układ fabryki > Linie produkcyjne</h3>
<ul>
  <li>Dodano możliwość komentowania ilości godzinowych.</li>
</ul>
<h3>Czas cyklu</h3>
<ul>
  <li>Zmieniono obliczanie UPPH w raporcie Wyniki tak, aby pod uwagę brany był najdłuższy czas operacji a nie suma
    czasów trwania wszystkich operacji.</li>
</ul>
<h3>Formatka operatora</h3>
<ul>
  <li>Zmieniono blokadę rozpoczynania zakończonych zleceń tak, aby nie można było zakończyć zlecenia ze statusem
    CNF lub DLV bez względu na ilość zrobioną w wybranej operacji.</li>
  <li>Zmieniono pozycję sekcji Wykonane ilości tak, aby była zawsze widoczna bez przewijania ekranu.</li>
  <li>Zmieniono komunikat o przestoju tak, aby znajdował się w sekcji Sekwencja a nie Przestoje, dzięki czemu jest
    zawsze widoczny bez przewijania ekranu.</li>
</ul>
<h3>Reaguj</h3>
<ul>
  <li>Zmieniono tabele w raporcie Zaangażowanie tak, aby ich zawartość była przewijalna.</li>
  <li>Dodano Usprawnienia do raportu Zaangażowanie.</li>
  <li>Dodano wykres do raportu Zaangażowanie.</li>
</ul>
<h3>Planowanie</h3>
<ul>
  <li>Zmieniono oznaczanie rozplanowanych zleceń:
    <ul>
      <li>białe - rozplanowane w całości, nierozpoczęte na żadnej linii,</li>
      <li>jasno-pomarańczowe - rozplanowane częściowo, nierozpoczęte na żadnej linii,</li>
      <li>pomarańczowe - rozpoczęte, niezgodne z sekwencją,</li>
      <li>zielone - zrobione zgodnie z sekwencją,</li>
      <li>czerwone - problem podczas kompletacji magazynu.</li>
    </ul>
  </li>
</ul>
