<h1>v0.85.1</h1>
<h2><%- time.format('2016-04-17', 'LL') %></h2>
<h3>ZPW/Usprawnienia/Inspekcja Jakości</h3>
<ul>
  <li>Poprawiono błąd wywalający serwer podczas pobierania załączników, w nazwie których znajdują się specjalne znaki.</li>
</ul>
