<h1>v0.92.0</h1>
<h2><%- time.format('2016-07-31', 'LL') %></h2>
<h3>ZPW, Sugestie</h3>
<ul>
  <li>Zmieniono wykresy tygodniowe tak, aby na osi poziomej częściej wyświetlały się etykiety tygodni.</li>
</ul>
<h3>Inspekcja Jakości</h3>
<ul>
  <li>Poprawiono błąd mogący spowodować niekończącą się pętlę przeliczania ilości dziennych inspekcji.</li>
</ul>
<h3>PSCS</h3>
<ul>
  <li>Dodano nowy moduł: PSCS - test z wiedzy o Bezpieczeństwie Łańcucha Dostaw Philips.</li>
</ul>
