<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>FAP</h3>
<ul>
  <li>Poprawiono błąd powodujący nieprawidłową obsługę nieudanego dodania załącznika na stronie ze szczegółami
    zgłoszenia.</li>
</ul>
<h3>Zlecenia produkcyjne</h3>
<ul>
  <li>Zmieniono kolumnę 'Nazwa wyrobu' na liście zleceń tak, aby zawsze wyświetlała wartość 'Nazwa' zlecenia,
    a wartość 'Opis' w dymku po najechaniu kursorem (jeżeli istnieje i jest inna niż 'Nazwa'). Wcześniej
    zamiast 'Nazwy' wyświetlany był 'Opis' (jeżeli istniał).</li>
</ul>
