<h1>v0.116.1</h1>
<h2><%- time.format('2017-09-03', 'LL') %></h2>
<h3>Inspekcja Jakości</h3>
<ul>
  <li>Dodano nowe pola: Linia i Lider.</li>
</ul>
<h3>Monitoring</h3>
<ul>
  <li>Zmieniono wyświetlanie nazw linii tak, aby z nazwy usuwane były spacje, jeżeli nazwa ma więcej niż 10 znaków.</li>
</ul>
