<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Baza testów > TRW</h3>
<ul>
  <li>Dodano możliwość ukrycia etykiety grupy I/O.</li>
  <li>Dodano możliwość określenia złącza grupy I/O jako męskie (wtyk; niebieskie) lub żeńskie
    (gniazdo; różowe).</li>
</ul>
