<h1>v0.109.0</h1>
<h2><%- time.format('2017-04-17', 'LL') %></h2>
<h3>Formatka operatora</h3>
<ul>
  <li>Poprawiono błąd powodujący niewyświetlanie listy ostatnich pracowników podczas wyboru personelu linii, w przypadku
    gdy znaleziono tylko jedną osobę.</li>
  <li>Zmieniono wyszukiwanie personelu tak, aby wyszukiwanie po nazwisku ignorowało polskie znaki.</li>
  <li>Dodano wsparcie dla ekranów dotykowych na komputerach UP.</li>
</ul>
<h3>Plany dzienne MRP</h3>
<ul>
  <li>Poprawiono błąd powodujący niewyświetlanie dymków ze szczegółami niektórych zleceń.</li>
</ul>
<h3>Obserwacje zachowań</h3>
<ul>
  <li>Zmieniono stronę ze szczegółami karty tak, aby puste tabele nie były wyświetlane.</li>
  <li>Zmieniono tabelę 'Obserwacje zachowań' na formularzu tak, aby domyślnie była pusta, zamiast zawierać wszystkie
    dostępne kategorie zachowań.</li>
  <li>Zmieniono pole 'Co zaobserwowano?	Co aktywowało ryzykowne zachowanie?' na dwa oddzielne: 'Co zaobserwowano?' oraz
    'Co aktywowało ryzykowne zachowanie?'.</li>
  <li>Dodano napis 'wersja testowa' do przycisku 'Zarejestruj obserwację' dostępnym na Pulpicie.</li>
</ul>
<h3>Inspekcja jakości</h3>
<ul>
  <li>Dodano nowe pole: Właściciel niezgodności - mistrz'.</li>
</ul>
<h3>Inne</h3>
<ul>
  <li>Zmieniono filtry 'Linia produkcyjna' tak, aby dla użytkowników z przypisanym wydziałem innego typu niż 'Produkcja'
    wyświetlane były wszystkie linie produkcyjne.</li>
</ul>
