<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>FAP</h3>
<ul>
  <li>Zmieniono filtr kategorii w raporcie tak, aby można było wybierać także podkategorie.</li>
  <li>Zmieniono określanie powiadamianych działów tak, aby w przypadku gdy nie określono MRP (nie podano zlecenia)
    lub dane MRP nie jest zdefiniowane w Matrycy odpowiedzialności, brane były wszystkie Działy przypisanego
    do danych Kategorii.</li>
  <li>Zmieniono określanie powiadamianych działów tak, aby w przypadku gdy określono MRP (podano zlecenie)
    brane były pod uwagę Działy typu Tłocznia oraz Malarnia tylko z Wydziału, na którym ostatnio robiono
    dane MRP.</li>
</ul>
<h3>Baza testów > TRW</h3>
<ul>
  <li>Zmieniono wykonywanie kroków programu podczas testu tak, aby dany krok był zaliczany, jeżeli wszystkie
    wejścia mają prawidłową wartość przez przynajmniej 900ms, jeżeli w kroku występuje wejście analogowe lub
    450ms, jeżeli w kroku nie ma wejść analogowych. W drugiej turze (ponowne sprawdzenie wszystkich kroków) czasy
    są mniejsze 3x.</li>
</ul>
<h3>Magazyn</h3>
<ul>
  <li>Dodano nową opcję konfiguracyjną w ustawieniach: Ignoruj status malarnii podczas kompletacji.</li>
</ul>
<h3>Malarnia</h3>
<ul>
  <li>Dodano dymki z opisem statusów do sum ilości komponentów.</li>
</ul>
<h3>Wiercenie</h3>
<ul>
  <li>Poprawiono błąd uniemożliwiający kopiowanie nr zleceń w niektórych przypadkach.</li>
  <li>Dodano dymki z opisem statusów do sum ilości komponentów.</li>
</ul>
<h3>Planowanie</h3>
<ul>
  <li>Poprawiono błąd powodujący w niektórych przypadkach niekończącą się pętlę generowania jednego planu podczas
    fazy rozszerzania zleceń.</li>
  <li>Zmieniono ustawianie ilości pracowników na linii tak, aby można było podać wartość z dwoma miejscami po
    przecinku.</li>
</ul>
<h3>Inspekcja Jakości</h3>
<ul>
    <li>Poprawiono błąd uniemożliwiający edycję wyniku w niektórych przypadkach.</li>
</ul>
<h3>Formatka operatora</h3>
<ul>
  <li>Zmieniono limit oczekiwania na sprawdzenie unikalności skanowanego kodu komponentu z 6s na 20s.</li>
</ul>
<h3>Baza testów > SNF</h3>
<ul>
  <li>Poprawiono błąd uniemożliwiający załadowanie się strony ze szczegółami wyniku testu.</li>
</ul>
