<h1>v0.106.1</h1>
<h2><%- time.format('2017-03-13', 'LL') %></h2>
<h3>Baza testów</h3>
<ul>
  <li>Zmieniono wagi komponentów tak, że można zdefiniować minimalną i maksymalną wagę komponentu.</li>
</ul>
<h3>8D</h3>
<ul>
  <li>Zmieniono listę zgłoszeń tak, żeby zamiast kolumny 'Opis problemu' wyświetlana była kolumna 'Temat'. Opis problemu
    wyświetlany jest teraz w dymku po najechaniu na Temat.</li>
</ul>
