<h1>v0.107.0</h1>
<h2><%- time.format('2017-03-19', 'LL') %></h2>
<h3>Baza testów</h3>
<ul>
  <li>Poprawiono błąd powodujący nieprzeliczanie aktywnie wykonywanych zleceń po imporcie danych z SAP.</li>
</ul>
<h3>Zlecenia reszty działów</h3>
<ul>
  <li>Poprawiono błąd wywalający serwer importera danych z SAP, gdy nie otrzymano danych zleceń (tylko operacje).</li>
</ul>
<h3>Plany dzienne MRP</h3>
<ul>
  <li>Zmieniono edycję planów tak, aby nie można było edytować planów z przeszłości.</li>
  <li>Dodano aktualizację 'Ilości do zrobienia', 'Ilości zrobionej' oraz 'Statusów' zleceń po każdym imporcie zleceń z SAP.</li>
  <li>Dodano podświetlanie na pomarańczowo zleceń, w których 'Ilość zrobiona' jest większa od 'Ilości do zrobienia'.</li>
</ul>
<h3>Inspekcja Jakości</h3>
<ul>
  <li>Zmieniono kolumnę 'Akcje korygujące' na liście wyników tak, aby wyświetlana była akcja najbliższa do aktualnego
    dnia mająca status inny niż 'Zakończona'.</li>
  <li>Dodano nowe pole: Ilość niezgodnych w skontrolowanych.</li>
  <li>Dodano nowy raport: Jakość wyrobu gotowego.</li>
</ul>
