<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Dane produkcyjne > Zmiany</h3>
<ul>
  <li>Poprawiono błąd powodujący niewyświetlanie się dymków ze szczegółami zlecenia na osi czasu zmiany.</li>
</ul>
<h3>FAP</h3>
<ul>
  <li>Dodano uprawnienia do zmiany kategorii dla funkcji 'Inżynier jakości'.</li>
</ul>
