<h1>v0.153.0</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Zlecenia produkcyjne</h3>
<ul>
  <li>Zmieniono wyświetlanie komunikatu dopuszczenia na liście komponentów tak, aby pokazywał się zawsze przy
    komponencie dopuszczonym.</li>
</ul>
