<h1>v0.84.0</h1>
<h2><%- time.format('2016-03-20', 'LL') %></h2>
<h3>Pulpit</h3>
<ul>
  <li>Dodano wsparcie dla mniejszych rozdzielczości ekranów.</li>
</ul>
<h3>Dokumentacja</h3>
<ul>
  <li>Poprawiono zaokrąglanie części ułamkowej w ilości komponentów.</li>
  <li>Zmieniono automatyczne odświeżanie klienta tak, aby odbywało się tylko na przeglądarce Chrome w wersji mniejszej
    niż 49.</li>
  <li>Dodano funkcjonalność automatycznego pojawiania się na liście dokumentów pozycji ETO, jeżeli wcześniej ETO
    nie było dostępne a zostało zaimportowane.</li>
</ul>
<h3>Pola odkładcze</h3>
<ul>
  <li>Dodano nowy moduł.</li>
</ul>
<h3>Inne</h3>
<ul>
  <li>Poprawiono błąd powodujący wyświetlanie pełnej paginacji list na mniejszych ekranach
    (zamiast tylko aktualnej strony i przycisków poprzednia/następna).</li>
  <li>Poprawiono brakujące tłumaczenia na podstronach 'wersji do druku'.</li>
</ul>
