<h1>v0.115.1</h1>
<h2><%- time.format('2017-07-23', 'LL') %></h2>
<h3>Baza testów</h3>
<ul>
  <li>Usunięto z ekranu wizualizacji linii 'LM-Maxos_T' wyświetlanie wyniku ostatniej akcji.</li>
  <li>Zmieniono ekran wizualizacji linii 'LM-Maxos_T', tak aby walidacja przewodu 5-żyłowego sprawdzała podłączenie
    pinów 2, 3, 4, 5, i 6, a nie dowolnych pięciu.</li>
  <li>Dodano do ekranu wizualizacji linii 'LM-Maxos_T' wyświetlanie ilości pomyślnych testów po danej stronie,
    całkowitej ilości pomyślnych testów w zleceniu oraz wymaganą ilość testów do wykonania.</li>
</ul>
<h3>Dokumentacja</h3>
<ul>
  <li>Poprawiono błąd powodujący wywalenie się serwera, jeżeli zmodyfikowano plik dokumentu, który został wyświetlony
    w ciągu ostatnich 60 sekund.</li>
</ul>
<h3>Inspekcja Jakości</h3>
<ul>
  <li>Zmieniono pole 'Data inspekcji' tak, aby można było wybrać datę maksymalnie dwa tygodnie w przeszłości.</li>
</ul>
<h3>Przestoje</h3>
<ul>
  <li>Zmieniono czcionkę etykiety z rodziną produktu na liście przestojów na czcionkę ze stałą szerokością znaków.</li>
</ul>
<h3>ZPW</h3>
<ul>
  <li>Dodano nowy raport: Wskaźniki.</li>
</ul>
<h3>Dane produkcyjne</h3>
<ul>
  <li>Poprawiono błąd podczas przetwarzania operacji z Formatki operatora mogący spowodować podwójne wykonywanie
    operacji.</li>
</ul>
