<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>FAP</h3>
<ul>
  <li>Poprawiono błąd powodujący nieprawidłowe ustawianie filtra 'MRP' po wejściu na listę zgłoszeń
    z filtrem 'Kategoria'.</li>
  <li>Poprawiono błąd powodujący niedziałanie automatycznego dodawania uczestników do nowego zgłoszenia.</li>
  <li>Poprawiono błąd powodujący dodawanie do zgłoszenia plików załadowanych do modułu Dokumentów, jeżeli wcześniej
    użytkownik odwiedził stronę ze szczegółami zgłoszenia FAP.</li>
  <li>Zmieniono nazwy załączników na czacie tak, aby stawały się przekreślone, jeżeli załącznik został usunięty.</li>
  <li>Dodano filtr 'Wydział' do listy zgłoszeń.</li>
  <li>Dodano filtr 'Tekst' do listy zgłoszeń przeszukujący: Nazwa produktu, Problem, Rozwiązanie, Dlaczego?,
    Opis kroków rozwiązujących problem oraz czat.</li>
  <li>Dodano do listy kolumnę 'Nazwa produktu'.</li>
  <li>Dodano raport.</li>
  <li>Dodano możliwość dodawania obrazków znajdujących się w schowku przez skrót <kbd>CTRL+V</kbd>.</li>
</ul>
<h3>Raporty > CLIP</h3>
<ul>
  <li>Dodano wyświetlanie 'Opóźnionego komponentu' w kolumnie 'Powód opóźnienia' na liście zleceń.</li>
</ul>
<h3>Formatka operatora</h3>
<ul>
  <li>Usunięto przycisk umożliwiający przejście do Pulpitu.</li>
</ul>
<h3>Baza testów</h3>
<ul>
  <li>Poprawiono błąd powodujący wyświetlanie adresów IP klientów jako <code>127.0.0.1</code>.</li>
</ul>
<h3>Inne</h3>
<ul>
  <li>Poprawiono błąd uniemożliwiający 'przyklejenie' dymka z informacjami o użytkowniku po kliknięciu
    na nazwę użytkownika.</li>
  <li>Dodano do aplikacji uruchomionych w trybie wsadowym akcje resetowania przeglądarki, ponownego uruchomienia
    oraz uruchomienia przeglądarki bez trybu kioskowego. Akcje dostępne po trzykrotnym kliknięciu na przycisk
    menu akcji.</li>
</ul>
