<h1>v0.124.0</h1>
<h2><%- time.format('2018-07-01', 'LL') %></h2>
<h3>ZPW</h3>
<ul>
  <li>Poprawiono zliczanie całkowitych wartości wskaźników w raporcie Wskaźniki tak, aby były równe sumie poszczególnych
    wartości na wykresach.</li>
</ul>
<h3>Planowanie</h3>
<ul>
  <li>Zmieniono grupowanie linii tak, aby grupy bez komponentów nie były ignorowane.</li>
  <li>Dodano wskaźnik procentowego wykonania planu.</li>
</ul>
<h3>Zlecenia reszty działów</h3>
<ul>
  <li>Zmieniono importowanie zleceń tak, aby niekompletne zrzuty były ignorowane, dzięki czemu brakujące zlecenia nie
    będą usuwane z bazy.</li>
</ul>
<h3>Malarnia</h3>
<ul>
  <li>Poprawiono błąd powodujący nieprawidłowe wyświetlanie klawiatury ekranowej w trybie wsadowym.</li>
  <li>Dodano możliwość filtrowania listy wg farb.</li>
  <li>Dodano możliwość ustawiania drop zone dla farb.</li>
</ul>
<h3>Inspekcja Jakości</h3>
<ul>
  <li>Zmieniono pola z użytkownikami w formularzu wyniku tak, aby dezaktywowani użytkownicy nie byli wyświetlani.</li>
</ul>
<h3>Baza Kanban</h3>
<ul>
  <li>Dodano nowy moduł.</li>
</ul>
