<h1>v0.98.1</h1>
<h2><%- time.format('2016-11-11', 'LL') %></h2>
<h3>Inspekcja Jakości</h3>
<ul>
  <li>Zmieniono filtr 'Rodzina' tak, aby można było wybrać kilka opcji na raz.</li>
  <li>Zmieniono filtr 'Centrum' tak, aby pokazywał także wydziały typu 'Dystrybucja'.</li>
</ul>
<h3>Zlecenia</h3>
<ul>
  <li>Zmieniono wyświetlanie czasów operacji na bardziej czytelne. Teraz czasy wyświetlane są w formacie: <code><em>czas z SAP</em> -> <em>czas przeskalowany</em> (<em>czas zgrupowany</em>)</code>.</li>
</ul>
<h3>ZPW</h3>
<ul>
  <li>Dodano nowy słownik: Kategorie zachowania.</li>
</ul>
