<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Magazyn</h3>
<ul>
  <li>Poprawiono błąd powodujący oznaczenie statusu wysyłki opakowań dla zleceń, które nie mają skompletowanych
    opakowań, jeżeli ich wysyła została rozpoczęta razem ze zleceniami, które mają opakowania.</li>
  <li>Zmieniono zliczanie skompletowanych setów tak, aby sety, które mają problem były pomijane.</li>
  <li>Zmieniono dokładanie brakujących wózków FIFO do wywózki tak, aby brane pod uwagę były wszystkie kolejne
    sety z kwalifikujących się linii: do seta z jednym wózkiem może zostać dołożony kolejny set z tej samej linii,
    tylko, jeżeli mieści się w limicie wózków i następuje dokładnie po poprzednim secie.</li>
  <li>Zmieniono rozpoczynanie akcji kompletacji tak, aby nie były ograniczane do aktualnie wyświetlanego dnia.</li>
  <li>Dodano listę zdarzeń.</li>
  <li>Dodano nową funkcję kompletacji: Platformowy.</li>
</ul>
<h3>Czas cyklu</h3>
<ul>
  <li>Dodano uprawnienia do konfiguracji MRP i UPPH w raporcie Wyniki dla użytkowników z funkcją
    inżyniera produkcji.</li>
</ul>
<h3>Planowanie</h3>
<ul>
  <li>Zmieniono obliczanie % realizacji zaplanowanej sekwencji tak, aby pod uwagę brane były tylko zrobione zlecenia
    z zaplanowaną operacją.</li>
</ul>
<h3>Produkcja > Zlecenia</h3>
<ul>
  <li>Zmieniono sposób wyświetlania zeskanowanych numerów seryjnych na stronie ze szczegółami zlecenia:
    <ul>
      <li>panel widoczny jest tylko, gdy zlecenie ma zeskanowane numery seryjne,</li>
      <li>lista numerów seryjnych wyświetlana jest w jednym przewijalnym wierszu,</li>
      <li>dodano wykres prezentujący rzeczywiste czasy poszczególnych sztuk oraz cel,</li>
      <li>dodano obliczanie średniej, mediany, minimum oraz maksimum z dostępnym danych.</li>
    </ul>
  </li>
</ul>
<h3>Monitoring > Układ fabryki</h3>
<ul>
  <li>Zmieniono tytuł z 'Monitoring' na 'Układ fabryki' lub 'Wydajność godzinowa' (jeżeli ten tryb jest włączony).</li>
  <li>Dodano legendę objaśniającą statusy linii.</li>
  <li>Dodano nową opcję konfiguracyjną do trybu wydajności godzinowej: Próg odbiegania od planu [%] - linie, które
    odbiegają od planu o podany procent, są oznaczana innym kolorem.</li>
</ul>
