<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Magazyn</h3>
<ul>
  <li>Poprawiono błąd powodujący drukowanie nieprawidłowej ilości do skompletowania na pickliście malarnii, jeżeli
    w secie znajduje się kilka zleceń z takim samym numerem.</li>
  <li>Poprawiono błąd powodujący drukowanie picklisty malarnii z brakującymi zleceniami malarskimi, jeżeli były
    zaplanowane na inny dzień niż zlecenie nadrzędne.</li>
  <li>Poprawiono błąd powodujący wyświetlanie komunikatu o zawieraniu zakończonych zleceń po dodaniu dodatkowych
    wózków do wysyłki, nawet gdy takowych zleceń nie ma w żadnym z wózków.</li>
  <li>Zmieniono przypisywanie Malarnii do kompletowania seta tak, aby brane pod uwagę były sety, w których pomyślnie
    wykonano transakcję LP10 we wszystkich zleceniach malarskich, a nie tylko w przynajmniej jednym.</li>
  <li>Zmieniono warunek kwalifikujący wózki do realizacji tak, aby zaliczane były wózki na linie z dostępnym czasem
    poniżej limitu, bez względu na planowany czas rozpoczęcia zleceń z wózka.</li>
  <li>Zmieniono wysyłkę wózków tak, aby najpierw przydzielane były wózki dla linii, które mają najmniej dostępnego
    czasu.</li>
  <li>Zmieniono opcję konfiguracyjną Czas na wysyłkę tak, aby można było definiować różne czasy dla różnych MRP.</li>
  <li>Dodano zapisywanie nowego zdarzenia: Edycja dostarczonej ilości - generowane podczas edycji dostarczonego
    zdarzenia, jeżeli zmieniona została ilość. Nie dotyczy przenoszenia zleceń.</li>
  <li>Dodano do zdarzeń Rozpoczęcie nowego seta oraz Rozpoczęcie dostawy informacji o wymuszeniu.</li>
  <li>Dodano numery wózków do picklisty malarnii.</li>
  <li>Dodano zapisywanie wartości 'Plan?' oraz 'Pracuje?' w historii stanu linii.</li>
  <li>Dodano możliwość eksportowania historii stanu linii.</li>
  <li>Dodano możliwość przeniesienia zleceń na inną linię podczas wymuszenia kompletacji seta.</li>
  <li>Dodano możliwość wymuszenia dostawy podczas wymuszenia kompletacji seta.</li>
</ul>
<h3>Zmiany produkcyjne</h3>
<ul>
  <li>Zmieniono ekran aktualnej zmiany linii produkcyjnej tak, aby Wykonana ilość oraz Wydajność aktualizowała
    się na bierząco.</li>
</ul>
<h3>Zlecenia produkcyjne</h3>
<ul>
  <li>Poprawiono błąd powodujący pozostawienie nadrzędnego zlecenia z nieprawidłowym statusem malarnii,
    jeżeli wszystkie podzlecenia malarskie zostały usunięte i/lub odpięte od zlecenia nadrzędnego.</li>
  <li>Zmieniono wyświetlanie nazwy wyrobu tak, aby wartość brana była z pola Opis zamiast Nazwa, jeżeli zlecenie
    jest z konfiguratora (12NC zaczyna się od A-Z).</li>
  <li>Zmieniono wyświetlanie ETO w szczegółach zlecenia tak, aby tabela ETO dla nadrzędnego zlecenia była wyświetlana
    w podrzędnym zleceniu, jeżeli nie ma ono swojej tabeli ETO.</li>
</ul>
<h3>Usprawnienia</h3>
<ul>
  <li>Dodano nowy filtr: Data zakończenia.</li>
</ul>
<h3>Wydajność godzinowa</h3>
<ul>
  <li>Zmieniono widok Wydajność zmiany tak, aby Czas cyklu nie był pokazywany.</li>
</ul>
<h3>Sprawdzanie komponentów</h3>
<ul>
  <li>Dodano możliwość oznaczania komponentów jako opcjonalne. Opcjonalne komponenty nie muszą występować w BOM
    aby inne, wymagane komponenty z danej strategii były sprawdzane.</li>
  <li>Dodano możliwość definiowania wzorca komponentu jaki nie może pasować do 12NC lub nazwy komponentu,
    aby dany komponent był sprawdzany.</li>
  <li>Dodano możliwość oznaczania komponentu jako sprawdzany tylko przy pierwszej sztuce (komponent sprawdzany tylko
    w momencie gdy Formatka operatora pokazuje Wykonaną ilość równą zero).</li>
</ul>
<h3>Planowanie</h3>
<ul>
  <li>Zmieniono sposób liczenia realizacji sekwencji tak, aby zlecenie, którego zaplanowany czas rozpoczęcia+4 godz.
    przekracza zmianę produkcyjną, było zaliczane jako zrealizowane, jeżeli jego rzeczywisty czas rozpoczęcia jest przed
    planowanym czasem rozpoczęcia pierwszego zlecenia na kolejnej pracującej zmianie powiększonym o czas przekroczenia
    zmiany. Jeżeli zlecenie zaplanowano na piątek 12:00, to czas na realizację zlecenia jest do godziny 08:00
    w następny poniedziałek, zakładając, że II i III zmiana w piątek oraz cały weekend są niepracujące.</li>
</ul>
<h3>Raporty > Wskaźniki</h3>
<ul>
  <li>Zmieniono generowanie raportu tak, aby zlecenia aktualnie robione na liniach produkcyjnych były wliczane
    do wskaźników.</li>
</ul>
<h3>Raporty > Planowane obciążenie linii</h3>
<ul>
  <li>Poprawiono błąd mogący spowodować niezaładowanie się raportu.</li>
</ul>
<h3>Użytkownicy</h3>
<ul>
  <li>Poprawiono błąd powodujący nieaktualizowanie danych sesji zalogowanego użytkownika po edycji lub usunięciu,
    jeżeli w momencie wykonania akcji dany użytkownik nie był podłączony do serwera.</li>
</ul>
