<h1>v0.96.1</h1>
<h2><%- time.format('2016-10-24', 'LL') %></h2>
<h3>Przestoje</h3>
<ul>
  <li>Zmieniono kolumnę MRP na liście przestojów tak, aby pokazywała wartość 'MRP' ze zlecenia w SAP, a nie 'Kontroler
    MRP' linii, na której przestój został rozpoczęty (ta wartość dostępna jest w dymku po najechaniu myszką).</li>
  <li>Zmieniono eksportowanie przestojów tak, aby eksportowane były także: 12NC, ilość w zleceniu, rodzina produktu,
    nazwa produktu oraz MRP zlecenia.</li>
</ul>
<h3>Dokumentacja</h3>
<ul>
  <li>Zmieniono wyświetlanie numerów stron w nowej przeglądarce dokumentów, gdy dokument ma więcej niż 9 stron tak,
    aby zawsze wyświetlany był przycisk przejścia do pierwszej strony oraz przycisk otwierający formularz
    'Skocz do strony'.</li>
</ul>
