<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Malarnia</h3>
<ul>
  <li>Poprawiono błąd powodujący nieresetowanie nr kabiny po zresetowaniu zlecenia.</li>
  <li>Dodano nową opcję konfiguracyjną: Niemalowane MRP - lista MRP zleceń, które nie będą ignorowane nawet wtedy,
    gdy nie mają ani jednej farby.</li>
  <li>Dodano etykietę 'Wiercenie' do zakładki MRP 'KSJ'.</li>
  <li>Dodano komunikat 'UWAGA! Zlecenie bez malowania.' do zleceń, które nie mają żadnej farby.</li>
</ul>
<h3>Luca</h3>
<ul>
  <li>Zmieniono definicję zlecenia wysyłanego do serwera Luca.</li>
</ul>
