<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Planowanie</h3>
<ul>
  <li>Zmieniono zaliczanie zleceń do sekwencji tak, aby kontynuacja zlecenia była zaliczana jeżeli poprzednie zlecenie
    mieściło się w ramach czasowych.</li>
</ul>
<h3>Malarnia</h3>
<ul>
  <li>Zmieniono wykres strat czasu w raporcie Obciążenie tak, aby od czasu pomiaru odejmowana była granica
    opóźnienia.</li>
  <li>Dodano możliwość ustawnienia statusów oraz granicy opóźnienia dla każdego licznika obciążenia oddzielnie.</li>
</ul>
<h3>FAP</h3>
<ul>
  <li>Poprawiono błąd powodujący niepojawianie się podglądu załącznika po najechaniu na jego nazwę.</li>
</ul>
<h3>Inspecja Jakości</h3>
<ul>
  <li>Dodano możliwość przypisywania usprawnień do akcji korygujących.</li>
</ul>
<h3>Raporty > Operatorzy</h3>
<ul>
  <li>Poprawiono błąd uniemożliwiający załadowanie komentarzy z kart pracy.</li>
</ul>
