<h1>v0.114.1</h1>
<h2><%- time.format('2017-06-25', 'LL') %></h2>
<h3>ZPW</h3>
<ul>
  <li>Usunięto pole 'Kategoria zachowania'.</li>
</ul>
<h3>Inspekcja Jakości</h3>
<ul>
  <li>Zmieniono algorytm obliczania 'Jakości wyrobu gotowego'
    z <code>Ilość_niezgodnych_w_skontrolowanych / Ilość_niezgodnych</code> tylko wyników NOK
    na <code>Ilość_niezgodnych_w_skontrolowanych / Ilość_skontrolowana</code> wszystkich wyników.</li>
</ul>
<h3>Nieprawidłowe zlecenia IPT</h3>
<ul>
  <li>Poprawiono błąd powodujący nieusuwanie zleceń, których data startu została zmieniona na datę poza
    sprawdzanym zakresem.</li>
  <li>Zmieniono sprawdzanie zleceń tak, aby nieprawidłowe zlecenia, dla których zlecenie reszty działów nie istnieje
    było usuwane.</li>
  <li>Zmieniono sprawdzanie zleceń tak, aby odbywało się pomiędzy 05:00 a 21:00.</li>
  <li>Dodano powiadamianie wszystkich Konstruktorów ETO o nieprawidłowych zleceniach z 12NC zaczynającym
    się na <code>8</code>.</li>
</ul>
<h3>Formatka operatora</h3>
<ul>
  <li>Zmieniono rozpoczynanie nowego zlecenia tak, aby wymagane było podanie ilości osób.</li>
</ul>
<h3>Dane produkcyjne > Zlecenia</h3>
<ul>
  <li>Zmieniono eksportowanie danych tak, aby zawierało dodatkowo: Datę zmiany, Numer zmiany oraz Wydajność.</li>
  <li>Zmieniono filtr 'Linia produkcyjna' na uniwersalny filtr 'Jednostka organizacyjna'.</li>
</ul>
<h3>Dane produkcyjne > Historia operacji</h3>
<h3>Dane produkcyjne > Zmiany</h3>
<h3>Dane produkcyjne > Przestoje</h3>
<h3>Dane produkcyjne > Żądania zmian</h3>
<h3>Dane produkcyjne > Numery seryjne</h3>
<ul>
  <li>Zmieniono filtr 'Linia produkcyjna' na uniwersalny filtr 'Jednostka organizacyjna'.</li>
</ul>
<h3>Zlecenia reszty działów</h3>
<ul>
  <li>Zmieniono importowanie zleceń tak, aby usuwane były zlecenia, które nie znajdują się już w aktualnym zrzucie
    (bo data startu została zmieniona na datę poza importowanym zakresem).</li>
</ul>
<h3>Baza testów</h3>
<ul>
  <li>Dodano wsparcie dla importu ustawień klientów.</li>
</ul>
