<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Baza testów > TRW</h3>
<ul>
  <li>Poprawiono błąd uniemożliwiający zapisanie zmienionego sterownika podstawki.</li>
  <li>Dodano możliwość ukrycia etykiety grupy I/O.</li>
  <li>Dodano możliwość określenia złącza grupy I/O jako męskie (wtyk; niebieskie) lub żeńskie
    (gniazdo; różowe).</li>
  <li>Dodano możliwość podczepienia do grupy I/O obrazu.</li>
</ul>
<h3>Malarnia</h3>
<ul>
  <li>Zmieniono zakładkę 'KSJ Wiercenie' na 'Wiercenie'. Od teraz wszystkie zlecenia bez farby traktowane
    są jako zlecenia wiercenia.</li>
</ul>
<h3>Karty pracy</h3>
<ul>
  <li>Zmieniono pole 'Czas pracy operatora' tak, aby było automatycznie wyliczane, jeżeli 'Labor Time'
    wybranej operacji różni się od 'Machine Time'.</li>
</ul>
