<h1>v0.96.0</h1>
<h2><%- time.format('2016-10-19', 'LL') %></h2>
<h3>Inspekcja Jakości</h3>
<ul>
  <li>Poprawiono błąd mogący wywalić serwer podczas eksportu wyników.</li>
</ul>
<h3>Dokumentacja</h3>
<ul>
  <li>Dodano możliwość wyświetlania plików dokumentacji jako obrazów zamiast PDF.</li>
  <li>Dodano usprawnienia dla monitorów dotykowych do przeglądarki dokumentów, jeżeli do adresu strony dodany zostanie
    parametr <code>touch=1</code>.</li>
</ul>
