<h1>v0.93.3</h1>
<h2><%- time.format('2016-08-31', 'LL') %></h2>
<h3>Przestoje</h3>
<ul>
  <li>Dodano rodzinę wyrobu do kolumny 'Przepływ' na liście przestojów.
    Po najechaniu na rodzinę, w dymku pojawi się opis lub nazwa wyrobu.</li>
  <li>Dodano opis/nazwę wyrobu oraz nazwę operacji na stronie ze szczegółami przestoju.</li>
</ul>
<h3>FTE</h3>
<ul>
  <li>Poprawiono błąd mogący spowodować eksport niekompletynych danych.</li>
</ul>
