<div class="changelog">
  <h1>v0.80.0</h1>
  <h2><%- time.format('2016-01-17', 'LL') %></h2>
  <h3>Pulpit</h3>
  <ul>
    <li>Poprawiono brak tłumaczenia wartości kolumn 'Status' w tabelkach otwartych ZPW i Usprawnień.
    <li>Poprawiono nagłówek listy Top 10 dla poprzedniego miesiąca wyświetlający tekst 'Najaktywniejsi w miesiącu'
      zamiast 'Najaktywniejsci w grudniu', jeżeli aktualny miesiąc to styczeń.
  </ul>
  <h3>Badanie Opinia</h3>
  <ul>
    <li>Poprawiono błąd powodujący wywalanie się serwera, gdy dwóch użytkownik zażąda w tym samym momencie podglądu
      badania, dla którego plik PDF nie został jeszcze wygenerowany.
  </ul>
  <h3>SAP GUI</h3>
  <ul>
    <li>Zmieniono skrypt transakcji tak, aby SAP zrzucał wynik do lokalnego katalogu. Po zakończeniu transakcji, wynik
      kopiowany jest do ścieżki docelowej.
  </ul>
  <h3>ZPW</h3>
  <h3>Usprawnienia</h3>
  <ul>
    <li>Poprawiono błąd powodujący nieodświeżanie się historii zmian zgłoszenia po wysłaniu komentarza.
    <li>Poprawiono brak tłumaczeń w raporcie 'Zestawienie informacji'.
    <li>Dodano filtr 'Dział zgłaszający' do raportu 'Ilość zgłoszeń'.
    <li>Dodano paski przewijania do dymków w wykresach, gdzie ilość serii danych jest większa niż 10.
  </ul>
  <h3>Baza testów</h3>
  <ul>
    <li>Dodano importowanie do zleceń pozycji programów 'XT' ze zrzutu dokumentów 'Zleceń reszty działów'. Brane są pod
      uwagę dokumenty zaczynające się od 'SETTINGS XT'.
  </ul>
  <h3>Raporty</h3>
  <ul>
    <li>Zmieniono pierwsze ładowanie danych raportu tak, aby odbywało się po załadowaniu strony, a nie w trakcie.
  </ul>
  <h3>Raporty > Magazyn</h3>
  <ul>
    <li>Poprawiono błąd powodujący znikanie wykresów po ponownym wygenerowaniu strony (np. po utracie i odzyskaniu
      połączenia z serwerem).
  </ul>
  <h3>Raporty > Lean</h3>
  <ul>
    <li>Usunięto komunikat o wersji testowej raportu.
  </ul>
  <h3>Raporty > CLIP</h3>
  <ul>
    <li>Poprawiono odstępy między niektórymi polami w filtrze listy zleceń.
    <li>Poprawiono brak tłumaczeń kolumn listy zleceń.
  </ul>
  <h3>Raporty > Operatorzy</h3>
  <ul>
    <li>Poprawiono brak tłumaczeń kolumn listy zleceń.
  </ul>
  <h3>Raporty > OEE</h3>
  <ul>
    <li>Poprawiono błąd powodujący ignorowanie początkowych wartości filtru z adresu URL.
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Dodano listę zmian w systemie. Lista dostępna jest po kliknięciu na numer wersji w stopce.
    <li>Zoptymalizowano wysyłanie komunikatów od serwera do połączonych klientów.
    <li>Serwer dostępny jest teraz także na porcie 80, tzn.: <a href="http://161.87.64.46/">http://161.87.64.46/</a>
      lub <a href="http://192.168.21.60/">http://192.168.21.60/</a> (nie trzeba podawać w adresie portu 6080).
  </ul>
  <% include ./old.ejs %>
</div>
