<div class="changelog">
  <% include ./latest.ejs %>
  <% include ./2021.ejs %>
  <% include ./2020.ejs %>
  <% include ./2019.ejs %>
  <% include ./2018.ejs %>
  <% include ./2017.ejs %>
  <% include ./2016.ejs %>
  <% include ./2015.ejs %>
  <% include ./2014.ejs %>
  <p>
    <button id="<%- idPrefix %>-showMore" class="btn btn-link btn-lg btn-block"><%- t('changelog', 'showMore') %></button>
    <button id="<%- idPrefix %>-showAll" class="btn btn-link btn-lg btn-block hidden"><%- t('changelog', 'showAll') %></button>
  </p>
</div>
