<div class="oshAudits-report">
  <div id="<%- id('filter') %>" class="filter-container"></div>
  <% metrics.forEach(function(metric) { %>
  <h3><%- t('report:title:' + metric) %></h3>
  <div id="<%- id(metric) %>" class="oshAudits-report-<%- metric %>"></div>
  <% }) %>
</div>
