<div class="osh-entries-details-props">
  <div class="row">
    <div class="col-lg-8">
      <div class="panel panel-primary">
        <div class="panel-heading"><%- t('details:general') %></div>
        <div class="panel-details">
          <%- helpers.props(details, [
            {id: 'subject', nameClassName: unseen('subject', 1)},
            {id: 'division', nameClassName: unseen('division', 1)},
            {id: 'workplace', nameClassName: unseen('workplace', 1)},
            {id: 'department', nameClassName: unseen('department', 1)},
            {id: 'building', nameClassName: unseen('building', 1)},
            {id: 'location', nameClassName: unseen('location', 1)},
            {id: 'station', nameClassName: unseen('station', 1)},
            {id: 'eventDate', nameClassName: unseen('eventDate', 1)}
          ]) %>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading"><%- t('details:extra') %></div>
        <div class="panel-details">
          <%- helpers.props(details, [
            {id: '!creator', nameClassName: unseen('creator', 1)},
            {id: 'createdAt', nameClassName: unseen('createdAt', 1)}
          ]) %>
        </div>
      </div>
    </div>
  </div>
</div>
