<form class="well filter-form ct-report-pce-filter" autocomplete="off">
  <%- forms.dateTimeRange({
    idPrefix: idPrefix,
    startHour: 6
  }) %>
  <%- helpers.formGroup({
    name: 'mrps',
    type: 'select2',
    label: 'rearm:filter:mrps'
  }) %>
  <div class="form-group filter-actions">
    <button type="submit" class="btn btn-default"><i class="fa fa-filter"></i><span><%- t('filter:submit') %></span></button>
  </div>
</form>
