<div class="mfs-form-ridEditor">
  <div class="form-group">
    <label><%- helpers.t('FORM:ridEditor:rid') %></label>
    <input type="number" class="form-control no-controls" value="<%- rid %>">
  </div>
  <div>
    <button type="button" class="btn btn-default"><%- helpers.t('FORM:ridEditor:submit') %></button>
    <button type="button" class="btn btn-link"><%- helpers.t('FORM:ridEditor:cancel') %></button>
  </div>
</div>
