<div class="minutesForSafetyCards-report">
  <div class="filter-container"></div>
  <% metrics.forEach(function(metric) { %>
  <h3><%- t('minutesForSafetyCards', 'report:title:' + metric) %></h3>
  <div id="<%- idPrefix %>-<%- metric %>" class="minutesForSafetyCards-report-<%- metric %>"></div>
  <% }) %>
</div>
