<div class="minutesForSafetyCards-report-tableAndChart">
  <div id="<%- idPrefix %>-table" class="minutesForSafetyCards-report-table"></div>
  <div id="<%- idPrefix %>-chart" class="minutesForSafetyCards-report-chart"></div>
</div>
