<div class="orderDocumentTree-files-item orderDocumentTree-files-folder" data-id="<%- folder.id %>">
  <span class="orderDocumentTree-files-icon"><i class="fa <%- folder.icon %>"></i></span>
  <span class="orderDocumentTree-files-label"><%= folder.label %></span></span>
</div>
