<div>
  <%- t('orderDocumentTree', 'recoverFile:message', {nc15: nc15}) %>
  <div class="form-actions">
    <button class="btn btn-primary dialog-answer" type="button" data-answer="yes"><%- t('orderDocumentTree', 'recoverFile:yes') %></button>
    <button class="btn btn-link cancel" type="button"><%- t('orderDocumentTree', 'removeFile:cancel') %></button>
  </div>
</div>
