<form>
  <%- t('orderDocumentTree', 'removeFiles:message:' + (purge ? 'purge' : 'remove')) %>
  <div class="form-actions">
    <button id="<%- idPrefix %>-submit" class="btn btn-danger" type="submit">
      <i class="fa fa-spinner fa-spin hidden"></i><span><%- t('orderDocumentTree', 'removeFiles:submit') %></span>
    </button>
    <button class="btn btn-link cancel" type="button"><%- t('core', 'ACTION_FORM:BUTTON:cancel') %></button>
  </div>
</form>
