<form class="orderDocumentTree-searchAction" title="<%- t('orderDocumentTree', 'PAGE_ACTION:search:title') %>">
  <div class="input-group">
    <input id="<%- idPrefix %>-searchPhrase" name="searchPhrase" type="text" class="form-control" placeholder="<%- t('orderDocumentTree', 'PAGE_ACTION:search:placeholder') %>" autofocus pattern="^[0-9*#]{4,15}$" maxlength="15">
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
    </span>
  </div>
</form>
