.opinionSurveys-report > .panel {
  margin-top: 1em;
}
.opinionSurveys-report-columns {
  margin-top: 1em;
  display: flex;
}
.opinionSurveys-report-column {
  flex: 1 1 auto;
  width: 50%;
}
.opinionSurveys-report-column:first-child {
  margin-right: 7px;
}
.opinionSurveys-report-column:last-child {
  margin-left: 7px;
}
.opinionSurveys-report-answerCountTotal .highcharts-data-labels text {
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 6px #000, 0 0 3px #000;
}
