<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <base href="/">
  <title>Badanie Opinia</title>
  <link rel="stylesheet" href="app/opinionSurveys/assets/current.css">
</head>
<body class="closed">
<div id="container">
  <div id="hd">
    <img src="app/opinionSurveys/assets/ees.png" alt="EES">
    <h1>Badanie Opinia</h1>
    <h2>Philips Lighting Poland Sp. z o.o. Oddział w Kętrzynie</h2>
  </div>
  <div id="bd">
    <p>Aktualnie nie jest przeprowadzane żadne badanie.</p>
  </div>
  <div id="ft">
    <img src="app/opinionSurveys/assets/chosen.png" alt="Wybieram Philips Kętrzyn">
    <p>
      Wszelkie prawa zastrzeżone przez Philips Lighting Poland Sp. z o.o. Oddział w Kętrzynie.<br>
      Powielanie w całości lub w częściach bez zgody właściciela jest zabronione.
    </p>
  </div>
</div>
</body>
</html>
