.orderDocuments-page-bom {
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 1;
  background: #000;
  border: 1px solid #000;
  border-left: none;
  border-bottom: none;
  box-shadow: 0 4px 12px #666;
  z-index: 999;
  max-height: 100%;
  max-width: 80%;
  width: 689px;
}
.orderDocuments-page-bom[data-expand="0"] {
  width: 389px;
}
.orderDocuments-page-bom[data-expand="2"] {
  width: 989px;
}
.orderDocuments-page-bom[data-expand="3"] {
  width: 1289px;
}
.orderDocuments-page-bom[data-expand="4"] {
  width: 1589px;
}
.orderDocuments-bom {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.orderDocuments-bom-hd {
  display: flex;
  flex: 0 0 auto;
  height: 41px;
}
.is-touch .orderDocuments-bom-hd {
  height: 49px;
}
.orderDocuments-bom-documents {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
}
.orderDocuments-bom-documents::-webkit-scrollbar {
  display: none;
}
.orderDocuments-bom-document {
  flex: 0 0 auto;
  padding: 0 8px;
  width: 300px;
  color: #ddd;
  background: #333;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}
.orderDocuments-bom-document.is-highlighted {
  color: #000;
  background-color: #ffffd6;
}
.orderDocuments-bom-document:first-child {
  border-left: none;
}
.orderDocuments-bom-document-name {
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 2px;
  margin-bottom: 4px;
  white-space: nowrap;
}
.is-touch .orderDocuments-bom-document-name {
  margin-top: 6px;
}
.orderDocuments-bom-document-code {
  font-family: Consolas, "Lucida Console", Monaco, monospace;
}
.orderDocuments-bom-bd {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
}
.orderDocuments-bom-ft {
  display: flex;
  flex: 0 0 auto;
  height: 60px;
}
.orderDocuments-bom-ft .btn {
  flex: 0 0 auto;
  width: 75px;
  height: 60px;
  font-size: 28px;
}
.orderDocuments-bom-ft .btn + .btn {
  border-left: none;
}
.orderDocuments-bom-ft .btn:first-child {
  margin-left: 280px;
  margin-right: 17px;
}
.orderDocuments-page-bom[data-expand="0"] .orderDocuments-bom-ft .btn:first-child {
  margin-left: 0;
  margin-right: 146px;
}
.orderDocuments-page-bom[data-expand="0"] .btn[id$="prev"],
.orderDocuments-page-bom[data-expand="0"] .btn[id$="next"] {
  display: none;
}
.orderDocuments-bom-filter {
  flex: 0 0 auto;
  padding: 8px;
  width: 372px;
  font-family: FontAwesome, Verdana, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  border: none;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  background-color: #fff;
}
.orderDocuments-bom-filter:focus {
  background-color: #ffffd6;
  outline: 2px solid #66afe9;
  outline-offset: -2px;
}
.is-touch .orderDocuments-bom-filter {
  padding: 12px 8px;
}
.orderDocuments-bom-component {
  display: flex;
  padding: 8px;
  height: 52px;
  color: #ddd;
  background: #333;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}
.is-touch .orderDocuments-bom-component {
  padding: 12px 8px;
  height: 60px;
}
.orderDocuments-bom-component:hover,
.orderDocuments-bom-component.is-highlighted {
  color: #000;
  background-color: #ffffd6;
}
.orderDocuments-bom-component-label {
  flex: 0 0 auto;
  width: 300px;
}
.orderDocuments-bom-component-name {
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 4px;
  white-space: nowrap;
}
.orderDocuments-bom-component-code {
  font-family: Consolas, "Lucida Console", Monaco, monospace;
}
.orderDocuments-bom-component-qty {
  flex: 0 0 auto;
  width: 55px;
  text-align: right;
}
.orderDocuments-bom-component-qty-value {
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 4px;
}
.orderDocuments-bom-components {
  flex: 0 0 auto;
  width: 372px;
  overflow-y: scroll;
  scrollbar-width: none;
}
.orderDocuments-bom-components::-webkit-scrollbar {
  display: none;
}
.orderDocuments-bom-documentPages {
  flex: 1 1 auto;
  overflow: scroll;
}
.orderDocuments-bom-documentPages-component {
  display: flex;
}
.orderDocuments-bom-documentPages-document {
  display: flex;
  flex: 0 0 auto;
}
.orderDocuments-bom-documentPages-page {
  flex: 0 0 auto;
  width: 75px;
  font-size: 28px;
  line-height: 51px;
  height: 52px;
  text-align: center;
  background: #fff;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
}
.orderDocuments-bom-documentPages-page:hover {
  color: #000;
  background-color: #ffffd6;
  cursor: pointer;
}
.orderDocuments-bom-documentPages-document:first-child .orderDocuments-bom-documentPages-page:first-child {
  border-left: none;
}
.is-touch .orderDocuments-bom-documentPages-page {
  line-height: 59px;
  height: 60px;
}
.orderDocuments-bom-documentPages-more {

}
.orderDocuments-bom-documentPages-more-menu {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  min-width: auto;
  max-width: 302px;
  border: 1px solid #000;
  border-top: none;
  border-left: none;
}
.orderDocuments-bom-documentPages-more-menu > li {
  flex: 0 0 auto;
}
.orderDocuments-bom-documentPages-more-menu > li > a {
  padding: 0;
  width: 75px;
  height: 60px;
  line-height: 60px;
  font-size: 28px;
  text-align: center;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
}
.orderDocuments-bom-documentPages-more-menu > li > a:focus {
  background: #fff;
  color: #333;
  outline: none;
}
.orderDocuments-bom-documentPages-more-menu > li > a:hover {
  background: #ffffd6;
  color: #333;
}
.orderDocuments-bom-documentPages-empty {
  background: #ccc;
}
.orderDocuments-bom-documentPages-empty:hover {
  background: #ccc;
  cursor: default;
}
.orderDocuments-bom-documentPages-component-empty .orderDocuments-bom-documentPages-empty {
  border-left: none;
}
.orderDocuments-bom-filler {
  flex: 0 0 auto;
  font-size: 1px;
}
