@import url(../../production/assets/modal.css);
@import url(../../production/assets/taktTime.css);
@import url(../../production/assets/bomChecker.css);
@import url(./bom.css);

.orderDocuments {
  background-color: #ccc;
}
.orderDocuments.modal-open {
  padding-right: 0!important;
}
.orderDocuments-page {
  display: flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.orderDocuments-page-controls {
  flex: 0 0 auto;
  width: 225px;
  height: 100%;
  line-height: 1;
}
.orderDocuments-page-preview {
  flex: 1 1 auto;
}
.orderDocuments-controls {
  background: #333;
  border-right: 1px solid #000;
  overflow: hidden;
}
.orderDocuments-preview {
  position: relative;
}
.orderDocuments-preview-iframe {
  width: 100%;
  border: 0;
}
.orderDocuments-preview-loading {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -90px;
  width: 100%;
  text-align: center;
}
.orderDocuments-preview-loading.is-failure {
  color: #e00;
}
.orderDocuments-preview-loading.is-failure > .fa-spin {
  -webkit-animation: none;
  animation: none;
}
.orderDocuments-preview-loading > .fa {
  font-size: 140px;
}
.orderDocuments-preview-loading > span {
  display: block;
  font-size: 24px;
  font-weight: bold;
}
.orderDocuments-controls-components {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.orderDocuments-controls-numpad {
  position: absolute;
  top: 186px;
  left: 225px;
  z-index: 1000;
  width: 210px;
  box-shadow: 0 4px 12px #666;
}
.orderDocuments-prodLine {
  flex: 0 0 auto;
  padding: 7px 8px 8px 8px;
  height: 33px;
  overflow: hidden;
  white-space: nowrap;
  font-family: Verdana, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #333;
  text-overflow: ellipsis;
  text-align: center;
  color: #fff;
  background-color: #d9534f;
  background-image: linear-gradient(#e00, rgba(205, 0, 0, 0.95));
  border-bottom: 1px solid #000;
}
.is-connected .orderDocuments-prodLine {
  background-color: #5cb85c;
  background-image: linear-gradient(#5cb85c, rgba(59, 151, 59, 0.95));
}
.orderDocuments-order {
  flex: 0 0 auto;
  min-height: 122px;
  padding: 8px;
  color: #fff;
  background: #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.fileSource-search .orderDocuments-order {
  background-image: radial-gradient(ellipse at center, #0af 50%, #0091E6 100%);
  text-shadow: 1px 1px 1px #333;
}
.fileSource-remote .orderDocuments-order {
  background-image: radial-gradient(ellipse at center, #5bb75b 50%, #3d9a3d 100%);
  text-shadow: 1px 1px 1px #333;
}
.fileSource-local .orderDocuments-order {
  background-image: radial-gradient(ellipse at center, #e00 50%, #a00 100%);
  text-shadow: 1px 1px 1px #333;
}
.orderDocuments-order-no {
  display: block;
  font-family: Verdana, sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.orderDocuments-order-name {
  display: block;
  margin-top: 6px;
  font-size: 12px;
}
.orderDocuments-order-name + .orderDocuments-order-no {
  margin-top: 8px;
}
.orderDocuments-buttons {
  display: flex;
  margin-left: 1px;
}
.orderDocuments-buttons > .btn {
  flex: 1 1 auto;
  margin-left: -1px;
  width: 16.666%;
  border-top: 0;
  border-bottom: 0;
  border-color: #000;
}
.orderDocuments-buttons > .active {
  background-color: #ec971f;
  color: #fff;
  text-shadow: 1px 1px 1px #333;
}
.orderDocuments-buttons > .btn[disabled] {
  color: #ccc;
  background-color: #fff;
  opacity: 1;
}
.orderDocuments-buttons > .btn:first-child {
  border-left: 0;
}
.orderDocuments-buttons > .btn:last-child {
  border-right: 0;
}
.orderDocuments-buttons > .btn-default:focus {
  outline: 2px solid #66afe9;
  outline-offset: -2px;
  background-color: #ffffd6;
  color: #333;
  text-shadow: none;
}
.orderDocuments-buttons > .btn-default:hover {
  background-color: #ffffd6;
  color: #333;
  text-shadow: none;
}
.orderDocuments-buttons-container {
  position: relative;
}
.orderDocuments-embedded-actions {
  flex: 0 0 auto;
  height: 50px;
  border-top: 1px solid #000;
}
.orderDocuments-embedded-actions .embedded-actions {
  width: 224px;
}
.orderDocuments-buttons-container.is-enlarged {
  position: absolute;
  top: 33px;
  left: 0;
  z-index: 3000;
  box-shadow: 0 4px 12px #666;
}
.is-enlarged > .orderDocuments-buttons > .btn {
  width: 80px;
  height: 70px;
  font-size: 28px;
}
.is-enlarged + .orderDocuments-order {
  margin-top: 32px;
}
.is-enlarged > .orderDocuments-buttons-addImprovement {
  top: 70px;
  right: 79px;
  box-shadow: 0 4px 12px #666;
}
.orderDocuments-buttons-lockUi {
  display: none;
}
.is-enlarged .orderDocuments-buttons-lockUi {
  display: block;
}
.orderDocuments-buttons-addImprovement {
  flex-direction: column;
  position: absolute;
  top: 32px;
  right: 0;
  margin: 0;
}
.orderDocuments-buttons-addImprovement > .btn {
  width: 45.59px;
  border-right: none;
  border-left: 1px solid #000!important;
}
.is-enlarged > .orderDocuments-buttons-addImprovement > .btn {
  border-right: 1px solid #000!important;
}
.orderDocuments-buttons-addImprovement > .btn:last-child {
  border-bottom: 1px solid #000;
}
.orderDocuments-documents {
  flex: 1 1 auto;
  margin: 0;
  padding: 0 0 50px 0;
  overflow-y: scroll;
  background: #000;
}
.orderDocuments-documents:focus {
  outline: 0;
}
.orderDocuments-document {
  position: relative;
  display: block;
  padding: 8px;
  color: #ddd;
  cursor: pointer;
  background: #333;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}
.is-touch .orderDocuments-document {
  padding: 12px 8px;
}
.orderDocuments-document.is-active {
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  color: #333;
  cursor: default;
}
.orderDocuments-document:hover {
  color: #aaa;
  text-decoration: none;
}
.orderDocuments-document:focus {
  color: #000;
  background-color: #ffffd6;
  outline: 2px solid #66afe9;
  outline-offset: -2px;
  text-decoration: none;
}
.orderDocuments-document.is-expanded {
  min-width: 225px;
  color: #000;
  border-right: 0;
  box-shadow: 0 4px 12px #333;
  background-color: #ffffd6;
  z-index: 1001;
}
.orderDocuments-document.is-active:hover {
  background-color: #fff;
}
.orderDocuments-document-name {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 4px;
  white-space: nowrap;
}
.orderDocuments-document-nc15 {
  display: block;
  font-family: Consolas, "Lucida Console", Monaco, monospace;
}
.orderDocuments-document-remove,
.orderDocuments-document-search {
  position: absolute;
  bottom: 0;
  right: 0;
}
.orderDocuments-document-search {
  padding: 8px 8px;
}
.orderDocuments-filter > input {
  padding: 8px;
  font-family: FontAwesome, Verdana, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  border: 0;
  border-bottom: 1px solid #000;
  background-color: #fff;
  width: 100%;
}
.orderDocuments-filter > input:focus {
  background-color: #ffffd6;
  outline: 2px solid #66afe9;
  outline-offset: -2px;
}
.is-touch .orderDocuments-filter > input {
  padding: 12px 8px;
}
.orderDocuments-localFile {
  position: absolute;
  top: 0;
  left: -200px;
  width: 100px;
}
.orderDocuments-settings .message {
  margin-bottom: 15px;
}
.orderDocuments-settings input[name="prefixFilter"] {
  margin-top: 5px;
}
@media (min-width: 768px) {
  .orderDocuments-localOrderPicker-dialog .modal-dialog {
    width: 700px;
  }
}
.orderDocuments-localOrderPicker .form-control {
  font-family: Consolas, "Lucida Console", Monaco, monospace;
  font-size: 1.8em;
  height: auto;
}
.orderDocuments-localOrderPicker-numpad {
  padding-right: 7px;
}
.orderDocuments-localOrderPicker-plannedOrders {
  padding: 0 7px;
}
.orderDocuments-localOrderPicker-lastOrders {
  padding-left: 7px;
}
.orderDocuments-numpad {
  display: flex;
  flex-wrap: wrap;
}
.orderDocuments-numpad > .btn {
  flex: 1 1 33%;
  margin: 0;
  width: 33%;
  height: 60px;
  font-family: Consolas, "Lucida Console", Monaco, monospace;
  font-size: 1.8em;
}
.orderDocuments-localOrderPicker .btn-block {
  margin-top: -1px;
  height: 56px;
  font-family: Consolas, "Lucida Console", Monaco, monospace;
  font-size: 1.8em;
}
.orderDocuments-localOrderPicker .btn-block:first-child {
  margin-top: 0;
}
.orderDocuments-uiLock {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  user-select: none;
}
.orderDocuments-uiLock-inner {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  background: #e00;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #333;
  cursor: pointer;
}
.orderDocuments-uiLock-inner .fa-unlock {
  font-size: 42px;
  margin-right: 15px;
}

.orderDocuments .production-snMessage-text {
  width: 800px;
}
