.orderDocuments-notes-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  z-index: 4100;
}
.orderDocuments-notes-content {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 4101;
  font-size: 42px;
  line-height: 1;
  background: #F9EDBE;
  border: 5px solid #F0C36D;
  box-shadow: 0 0 100px #666;
}
.orderDocuments-notes-hd {
  padding: 10px 15px;
  background: #F0C36D;
}
.orderDocuments-notes-bd {
  padding: 8px 20px 15px 20px;
  line-height: 1.6;
}
.orderDocuments-notes-bd > ul {
  list-style-type: none;
  list-style-position: inside;
  padding-left: 0;
}
.orderDocuments-notes-ft {
  text-align: center;
  font-size: 14px;
  padding: 0 15px 15px 15px;
}
