<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <span><%- t('PAGE_ACTION:dictionaries') %></span> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu pull-right">
    <% ['codes', 'paints', 'families'].forEach(function(dictionary) { %>
    <li><a href="#dummyPaint/<%- dictionary %>"><%- t('PAGE_ACTION:dictionaries:' + dictionary) %></a></li>
    <% }) %>
  </ul>
</div>
