<div class="panel panel-primary">
  <div class="panel-heading">
    <%- t('hourlyPlans', 'current:panel:title') %>
  </div>
  <div class="message message-inline message-warning">
    <%- t('hourlyPlans', 'current:panel:warning') %>
  </div>
  <div class="panel-body orgUnitDropdowns-container"></div>
  <div class="panel-footer">
    <button class="btn btn-primary">
      <i class="fa fa-edit"></i>
      <span><%= t('hourlyPlans', 'current:submit') %></span>
    </button>
  </div>
</div>
