<div>
  <div id="<%- idPrefix%>-list" class="heffLineStates-list"></div>
  <div class="heffLineStates-message message message-info message-inline">
    Dla każdej linii można ustawić planowaną ilość wyświetlaną na ekranie <a href="/heff">Wydajność godzinowa</a>.<br>
    Jeżeli zostanie podana tylko jedna liczba, to zostanie ona podzielona na 8 godzin.
    Na przykład <code>100</code> ustawi następujący plan godzinowy: <code>13, 13, 13, 13, 12, 12, 12, 12</code>.<br>
    Jeżeli zostanie podanych więcej liczb (maks. 8) to kolejne liczby zostaną przypisane do kolejnej godziny zmiany.
    Wartości dla brakujących godzin ustawiane są na 0.
    Na przykład <code>10 10 15</code> ustawi następujący plan godzinowy: <code>10, 10, 15, 0, 0, 0, 0, 0</code>.<br>
    Jeżeli żadna wartość nie zostanie podana, to wartości brane są ze szczegółowych danych planu godzinowego
    (jeżeli istnieje).
  </div>
</div>
