<div class="heffLineStates-item well">
  <h3 class="heffLineStates-item-hd"><span class="heffLineStates-item-title"><%= prodLine %></span></h3>
  <input class="form-control no-controls" type="text" autocomplete="new-password" value="<%= plan %>" data-line="<%= prodLine %>">
</div>
