<div>
  <%- helpers.t('restartDialog:message', {client: client}) %>
  <div class="form-actions">
    <button class="btn btn-danger dialog-answer" type="button" autofocus data-answer="yes"><%- helpers.t('restartDialog:yes') %></button>
    <button class="btn btn-link cancel" type="button"><%- helpers.t('restartDialog:no') %></button>
  </div>
</div>
