<div>
  <%- helpers.t('updateAllDialog:message') %>
  <div class="form-actions">
    <button class="btn btn-danger dialog-answer" type="button" autofocus data-answer="yes"><%- helpers.t('updateAllDialog:yes') %></button>
    <button class="btn btn-link cancel" type="button"><%- helpers.t('updateAllDialog:no') %></button>
  </div>
</div>
