<div>
  <%- t('xiconfClients', 'updateAllDialog:message') %>
  <div class="form-actions">
    <button class="btn btn-danger dialog-answer" type="button" autofocus data-answer="yes"><%- t('xiconfClients', 'updateAllDialog:yes') %></button>
    <button class="btn btn-link cancel" type="button"><%- t('xiconfClients', 'updateAllDialog:no') %></button>
  </div>
</div>
