<div>
  <%- t('xiconfClients', 'updateDialog:message', {client: client}) %>
  <div class="form-actions">
    <button class="btn btn-danger dialog-answer" type="button" autofocus data-answer="yes"><%- t('xiconfClients', 'updateDialog:yes') %></button>
    <button class="btn btn-link cancel" type="button"><%- t('xiconfClients', 'updateDialog:no') %></button>
  </div>
</div>
