<form class="wh-problems-editor wh-problems-editor-cancelOrder">
  <textarea class="form-control" rows="3" placeholder="<%- helpers.t('problem:editor:comment') %>"><%= comment %></textarea>
  <div class="wh-problems-editor-actions">
    <button class="btn btn-lg btn-primary" type="button"><%- helpers.t('problem:editor:cancelOrder:yes') %></button>
    <button class="btn btn-lg btn-default" type="button"><%- helpers.t('problem:editor:cancelOrder:no') %></button>
  </div>
</form>
