<div class="opinionSurveys-report">
  <div class="filter-container"></div>
  <div class="opinionSurveys-report-responseCount-container"></div>
  <div class="opinionSurveys-report-columns">
    <div class="opinionSurveys-report-column">
      <div class="opinionSurveys-report-responseCountByDivision-container panel panel-default"></div>
    </div>
    <div class="opinionSurveys-report-column">
      <div class="opinionSurveys-report-responseCountBySuperior-container panel panel-default"></div>
    </div>
  </div>
  <div class="opinionSurveys-report-columns">
    <div class="opinionSurveys-report-column">
      <div class="opinionSurveys-report-responsePercentBySurvey-container panel panel-default"></div>
    </div>
    <div class="opinionSurveys-report-column">
      <div class="opinionSurveys-report-responsePercentByDivision-container panel panel-default"></div>
    </div>
  </div>
  <div class="opinionSurveys-report-answerCountBySurvey-container panel panel-default"></div>
  <div class="opinionSurveys-report-answerCountBySuperior-container panel panel-default"></div>
  <div class="opinionSurveys-report-columns">
    <div class="opinionSurveys-report-column">
      <div class="opinionSurveys-report-positiveAnswerPercentBySurvey-container panel panel-default"></div>
    </div>
    <div class="opinionSurveys-report-column">
      <div class="opinionSurveys-report-positiveAnswerPercentByDivision-container panel panel-default"></div>
    </div>
  </div>
</div>
