.osh-kaizens-details-kom {
  margin-bottom: 15px;
  padding: 10px;
  display: flex;
  justify-content: center;
  background: #ffd700;
  border: 1px solid #daa520;
  font-size: 28px;
  line-height: 1;
  text-transform: uppercase;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  text-shadow: 0 0 3px #daa520;
}
.osh-kaizens-details-kom > span {
  margin: 0 15px;
}
