@import "./settings.css";
@import "./list.css";
@import "./plan.css";
@import "./icons.css";
@import "./plan.darker.css";
@import "./wh.css";
@import "./changes.css";

.planning-mrpSelector-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background: rgba(0, 0, 0, .5);
}
.planning-mrpSelector-row + .planning-mrpSelector-row {
  margin-top: 15px;
}
.planning-mrpSelector-row > .btn {
  position: relative;
  width: 75px;
  margin-left: -1px;
}
.planning-mrpSelector-row > .btn > kbd {
  position: absolute;
  bottom: -1px;
  right: -1px;
  padding: 0 2px;
  font-size: 12px;
  border-bottom-right-radius: 0;
}
