.planning-plan .dropdown-menu > li > a:hover {
  color: #333;
  background-color: #ffffa6;
}
.planning-mrp {
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px dotted #ccc;
  line-height: 1;
}
.planning-mrp:first-child {
  margin-top: 0;
  padding-top: 0;
  border-top: 0;
}
.planning-mrp-toolbar {
  float: right;
}
.planning-mrp:first-child .planning-mrp-toolbar {
  margin-top: -5px;
}
.planning-mrp-toolbar .btn {
  min-width: 40px;
}
.planning-mrp-toolbar .dropdown-menu {
  min-width: 100px;
}
.planning-mrp-toolbar-showTimes {
  padding-right: 10px!important;
}
.planning-mrp-toolbar-showTimes > .fa {
  margin-left: 10px;
  width: 14px;
}
.planning-mrp-toolbar-setHourlyPlans > .popover-content {
  display: flex;
  padding: 0;
}
.planning-mrp-hd {
  margin-top: 5px;
  margin-bottom: 5px;
}
.planning-mrp-hd-id {
  font-size: 24px;
}
.planning-mrp-hd-name {
  font-size: 12px;
}
.planning-mrp-hd .fa-lock {
  display: none;
  color: #e00;
}
.is-locked .planning-mrp-hd .fa-lock {
  display: inline-block;
}
.planning-mrp-messages {
  padding: 5px 0 10px 0;
}
.planning-mrp-messages:empty {
  display: none;
}
.planning-mrp-message {
  font-size: 12px;
}
.planning-mrp-message + .planning-mrp-message {
  margin-top: -1px;
}
.planning-mrp-bd + .planning-mrp-bd {
  margin-top: -1px;
}
.planning-mrp-list-container {
  position: relative;
  display: flex;
  font-size: 16px;
}
.planning-mrp-list-container + .planning-mrp-list-container {
  margin-top: -1px;
}
.planning-mrp-list-hd {
  padding: 0 5px;
  line-height: 24px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-right: 0;
  flex: 0 0 auto;
  width: 100px;
  height: 26px;
  box-shadow: inset -3px -3px 24px #ccc;
  overflow: hidden;
}
.planning-mrp-list-hd.is-offline {
  opacity: 0.5;
}
.planning-mrp-list {
  position: relative;
  display: flex;
  overflow-x: auto;
  border: 1px solid #ccc;
  border-bottom: 0;
}
.wrap .planning-mrp-list {
  flex-wrap: wrap;
  overflow: hidden;
}
.wrap .planning-mrp-orders .planning-mrp-list {
  max-height: 130px;
  overflow-y: auto;
}
.wrap .planning-mrp-list-action {
  border-right: 0;
  width: 31px;
}
.wrap .planning-mrp-list-action + .planning-mrp-list {
  border-left: 1px solid #ccc;
}
.planning-mrp-list-item {
  height: 25px;
  line-height: 25px;
  font-size: 14px;
  background-color: #fff;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.planning-mrp-list-item:hover {
  background: #ffffa6;
}
.planning-mrp-list-item.is-selectable {
  cursor: pointer;
}
.planning-mrp-list-item.is-started {
  background-color: #eee;
  border-color: #999;
}
.planning-mrp-list-item.is-incomplete {
  background-color: #fcf8e3;
}
.planning-mrp-list-item.is-unplanned {
  background-color: #fbf2c0;
  border-color: #999;
}
.planning-mrp-list-item.is-completed {
  background-color: #dff0d8;
  border-color: #999;
}
.planning-mrp-list-item.is-surplus {
  background-color: #ffe8e8;
}
.planning-mrp-list-item.is-teco {
  background: #333;
  color: #fff;
}
.planning-mrp-list-item.is-selected {
  background-color: #d9edf7;
}
.planning-mrp-list-item.is-highlighted {
  background-color: #ffffa6!important;
  color: #333;
}
.planning-mrp-list-item-label {
  height: 24px;
}
.is-ignored .planning-mrp-list-item-label {
  text-decoration: line-through;
}
.is-invalid .planning-mrp-list-item-label {
  color: #E00;
}
.planning-mrp-list-item-inner {
  padding: 0 5px;
}
.planning-mrp-list-item.is-order {
  min-width: 72px;
}
.planning-mrp-list-item.is-order.with-icons {
  min-width: 90px;
}
.is-order > .planning-mrp-list-item-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.planning-mrp-list-item-inner.is-cnf {
  height: 24px;
  line-height: 24px;
  border-top: 1px solid #AA00FF;
}
.planning-mrp-list-item-inner.is-dlv {
  height: 24px;
  line-height: 24px;
  border-bottom: 1px solid #FF007F;
}
.is-selected > .is-cnf,
.is-selected > .is-dlv,
.is-selected > .is-cnf.is-dlv {
  line-height: 25px;
  height: 25px;
  border-top: 0;
  border-bottom: 0;
}
.planning-mrp-list-ending {
  width: 15px;
  flex: 1 0 auto;
  box-shadow: inset -3px -3px 24px #ccc;
  border-bottom: 1px solid #ccc;
}
.planning-mrp-list-action {
  flex: 0 0 auto;
  height: 26px;
  width: 32px;
  padding: 0;
  line-height: 24px;
  border: 1px solid #ccc;
}
.planning-mrp-list-action + .planning-mrp-list {
  border-left: 0;
}
.planning-mrp-list-scrollIndicator {
  position: absolute;
  top: 1px;
  left: 132px;
  width: 80px;
  height: 24px;
  background: linear-gradient(to right, #ccc, rgba(204,204,204,0.1));
}
.planning-mrp-list-container > .select2-container {
  flex: 1 1 auto;
  min-height: 24px;
  z-index: 1;
}
.planning-mrp-list-container > .select2-dropdown-open {
  z-index: 10000;
}
.planning-mrp-list-container > input[tabindex="-1"] + .planning-mrp-list {
  flex: 0 0 auto;
  width: 16px;
  border-left: 0;
}
.planning-mrp-list-container > .select2-container .select2-choices {
  height: 24px;
  min-height: 24px;
}
.planning-mrp-list-container .select2-input {
  padding: 3px 5px!important;
  font-size: 14px!important;
}
.planning-mrp-list-container .select2-search-choice {
  padding: 2px 5px 2px 18px!important;
  font-size: 12px!important;
  line-height: 1!important;
}
.planning-mrp-list-container .select2-search-choice-close {
  top: 1px!important;
}
.planning-mrp-list-property {
  margin-left: 4px;
  font-size: 14px;
  line-height: 1;
}
.planning-mrp-list-property.is-invalid {
  color: #E00;
}
.planning-mrp-list-property > span {
  margin-left: 3px;
}
.planning-mrp-list-item.is-line:hover {
  background-color: #FFFFA6;
  color: #333;
}
.planning-mrp-orders .planning-mrp-list-item {
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
}
.planning-mrp-lineOrders-container + .planning-mrp-lineOrders-container {
  margin-top: -1px;
}
.planning-mrp-lineOrders-container > hr {
  margin: 0 0 0 100px;
  height: 4px;
  background: #ccc;
  border: 0;
}
.planning-mrp-lineOrders-container:last-child > hr {
  display: none;
}
.planning-mrp-lineOrders-container .planning-mrp-popover th,
.planning-mrp-lineOrders-container .planning-mrp-popover td {
  height: 18px;
}
.planning-mrp-lineOrders {
  height: 26px;
}
.planning-mrp-lineOrders .planning-mrp-list {
  width: 100%;
  background-color: #ccc;
}
.wrap .planning-mrp-lineOrders .planning-mrp-list {
  flex-wrap: nowrap;
}
.planning-mrp-lineOrders-dropZone {
  cursor: pointer;
}
.planning-mrp-lineOrders-comment {
  cursor: help;
}
.planning-mrp-list-item.is-lineOrder {
  overflow: hidden;
}
.planning-mrp-list-item.is-external {
  opacity: 0.75;
}
.planning-mrp-list-item.is-downtime {
  position: absolute;
  top: 0;
  overflow: hidden;
  border-right: 0;
  background-color: #FFE8E8;
  opacity: 0.5;
}
.planning-mrp-list-item.is-downtime:hover {
  opacity: 0.75;
  background-color: #FFD1D1;
}
.is-lineOrder > .planning-mrp-list-item-inner,
.is-downtime > .planning-mrp-list-item-inner {
  font-size: 12px;
  white-space: nowrap;
}
.planning-mrp-lineOrders-shift {
  flex: 0 0 auto;
  height: 26px;
  width: 32px;
  padding: 0;
  line-height: 24px;
  font-family: "Times New Roman", serif;
  text-align: center;
  background: #FFF;
  border: 1px solid #ccc;
}
.planning-mrp-lineOrders-shift:first-child {
  margin-left: 100px;
}
.planning-mrp-lineOrders-shift + .planning-mrp-list {
  border-left: 0;
}
.planning-mrp-lineOrders-shift[data-state="idle"] {
  background: #000;
  color: #fff;
}
.planning-mrp-lineOrders-shift[data-state="working"] {
  background: #5cb85c;
  color: #fff;
}
.planning-mrp-lineOrders-shift[data-state="downtime"] {
  background: #d9534f;
  color: #fff;
}
.planning-mrp-popover {
  max-width: none;
  font-size: 12px;
  pointer-events: none;
}
.planning-mrp-popover-preview {
  pointer-events: auto;
  z-index: 1061;
}
.planning-mrp-popover-editable {
  pointer-events: auto;
}
.planning-mrp-popover .popover-content {
  padding: 5px 10px;
}
.planning-mrp-popover th,
.planning-mrp-popover td {
  padding: 2px 5px 1px 0;
  vertical-align: middle;
  border-top: 1px solid #eee;
}
.planning-mrp-popover tr:first-child th,
.planning-mrp-popover tr:first-child td {
  padding-top: 0;
  border-top: 0;
}
.planning-mrp-popover th {
  white-space: nowrap;
}
.planning-mrp-popover-value {
  display: block;
  max-width: 225px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.planning-mrp-popover-statuses {
  white-space: normal;
}
.planning-mrp-popover .is-incomplete {
  color: darkorange;
}
.planning-mrp-popover .is-completed {
  color: #00af00;
}
.planning-mrp-popover .is-surplus,
.planning-mrp-popover .is-invalid {
  color: #e00;
}
.planning-mrp-popover .planning-mrp-popover-input {
  line-height: 1;
}
.planning-mrp-popover .orderStatus {
  margin-left: 0!important;
  padding: 1px 3px;
  font-weight: normal;
}
.planning-mrp-popover label,
.planning-mrp-popover input {
  margin: 0;
  vertical-align: top;
  font-weight: normal;
}
.planning-mrp-popover label + label {
  margin-left: 10px;
}
.planning-mrp-timeline {
  position: relative;
  display: flex;
  margin-left: 131px;
  height: 7px;
  border: 1px solid #ccc;
  border-top: 0;
  border-left: 0;
  margin-bottom: 30px;
}
.planning-mrp-timeline-h {
  flex: 0 0 auto;
  padding-top: 7px;
  width: 12.5%;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  border-left: 1px solid #ccc;
}
.planning-mrp-timeline-time {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100px;
  text-align: center;
  font-size: 12px;
  background: linear-gradient(to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 25%,
    rgba(255, 255, 255, 1) 75%,
    rgba(255, 255, 255, 0) 100%
  );
}
.planning-mrp-crosshair {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  pointer-events: none;
  background: #E00;
}
.planning-orderAddDialog-details {
  margin-top: 15px;
}
.planning-mrp-stats th {
  padding: 0 0 5px 0;
  text-transform: uppercase;
  font-size: 10px;
}
.planning-mrp-stats-bd th {
  padding: 0;
  text-align: right;
  vertical-align: middle;
}
.planning-mrp-stats-bd:first-child th:last-child {
  text-align: center;
}
.planning-mrp-stats-bd td {
  padding-left: 7px;
  padding-right: 7px;
  line-height: 1;
  font-size: 14px;
  text-align: right;
  vertical-align: middle;
  border-right: 1px solid #eee;
}
.planning-mrp-stats-bd td:last-child {
  border-right: none;
}
.planning-mrp-filter .planning-mrp-stats {
  margin-top: 8px;
}
.planning-mrp-filter .planning-mrp-stats-bd td {
  border-right-color: #ddd;
}
.planning-mrp-filter .planning-mrp-stats-bd td:last-child {
  padding-right: 0;
}
.planning-mrp-stats-bd td[data-group="execution"] {
  font-size: 32px;
}
.planning-mrp-stats-bd td[data-group^="execution"]:after {
  content: "%";
}
.planning-legend-popover {
  position: fixed;
  top: 4px!important;
  left: auto!important;
  right: 4px;
  max-width: 550px;
}
.planning-legend {
  padding: 0;
}
.planning-legend li {
  margin-top: 5px;
  list-style: none;
}
.planning-legend .fa {
  width: 30px;
  text-align: center;
}
.planning-legend-order {
  display: inline-block;
  width: 30px;
  height: 20px;
  border: 1px solid #999;
  background: #fff;
  text-align: center;
  vertical-align: top;
}
.planning-legend-order > span {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.planning-mrp-bd > .planning-mrp-lineOrders-list {
  overflow-y: scroll;
  max-height: 270px;
  border: 1px solid #ccc;
}
.planning-mrp-lineOrders-list.is-expanded {
  max-height: none;
}
.planning-mrp-lineOrders-table {
  width: 100%;
}
.planning-mrp-lineOrders-table > thead > tr > th {
  padding: 0 5px;
  line-height: 24px;
  font-size: 14px;
  font-weight: normal;
  border: 1px solid #ccc;
  border-top: none;
  height: 26px;
  box-shadow: inset -3px -3px 24px #ccc;
  background-color: #fff;
}
.planning-mrp-lineOrders-table > thead > tr > th:first-child {
  border-left: none;
}
.planning-mrp-lineOrders-table > thead > tr > th:last-child {
  border-right: none;
}
.planning-mrp-lineOrders-table > tbody > tr > td {
  padding: 5px;
  font-size: 12px;
  line-height: 1;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #f5f5f5;
}
.planning-mrp-lineOrders-table > tbody > tr:hover > td,
.planning-mrp-lineOrders-table > tbody > tr.is-highlighted > td {
  background-color: #ffffa6;
  border-left-color: #ccc;
}
.planning-mrp-lineOrders-table > tbody > tr > td:first-child {
  border-left: none;
}
.planning-mrp-lineOrders-table > tbody > tr:last-child > td {
  border-bottom: none;
}
.planning-mrp-lineOrders-table .planning-mrp-list-property:first-child {
  margin-left: 0;
}
.planning-mrp-list-property + .orderStatus {
  margin-left: 0.25em;
}
.planning-mrp-lineOrders-table .orderStatus {
  padding: 1px 3px;
  font-weight: normal;
}
.planning-mrp-lineOrders-status[data-status="incomplete"] {
  background-color: #fcf8e3;
}
.planning-mrp-lineOrders-status[data-status="unplanned"] {
  background-color: #fbf2c0;
}
.planning-mrp-lineOrders-status[data-status="started"] {
  background-color: #eee;
}
.planning-mrp-lineOrders-status[data-status="completed"] {
  background-color: #dff0d8;
}
.planning-mrp-lineOrders-status[data-status="surplus"] {
  background-color: #ffe8e8;
}
.planning-mrp-comment-popover {
  max-width: 500px;
}
.planning-mrp-comment {
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px dotted #eee;
  font-size: 12px;
  line-height: 12px;
}
.planning-mrp-comment:first-child {
  margin-top: 0;
  padding-top: 0;
  border-top: none;
}
.planning-mrp-comment-hd {
  color: #999;
  font-size: 10px;
  line-height: 1;
}
.planning-mrp-comment-bd {
  margin-top: 3px;
  white-space: pre-line;
}

.planning-freezeOrders .table > thead > tr > th {
  padding-top: 0;
}
.planning-freezeOrders-quantity {
  padding: 0 3px;
  min-width: 35px;
  height: auto;
  text-align: center;
}
.planning-freezeOrders-order small {
  font-size: 80%;
}
.planning-freezeOrders .col-md-8:last-child {
  text-align: right;
}

.planning-lineSettings-workerCount {
  display: flex;
}
.planning-lineSettings-workerCount-label {
  margin-right: 7px;
  line-height: 34px;
  font-weight: normal;
}
.planning-lineSettings-workerCount-input {
  width: 70px;
  margin-right: 15px
}
