.planning-wh-list .planning-mrp-bd {
  margin-top: 10px;
}
.planning-wh-list .planning-mrp-lineOrders-list {
  overflow-y: hidden;
}
.planning-mrp-lineOrders-table .success {
  background: #dff0d8;
}
.planning-wh-list .planning-mrp-lineOrders-table > tbody > tr > td {
  border-color: #ccc;
}
.planning-wh-list {
  border: 1px solid #ccc;
}
.planning-wh-newGroup {
  background: #ccc!important;
}
.planning-wh-newLine {
  padding: 0!important;
  height: 3px;
  background: #ccc!important;
}
.planning-darker .planning-wh-list,
.planning-darker .planning-wh-list .planning-mrp-lineOrders-table > tbody > tr > td {
  border-color: #000;
}
.planning-darker .planning-wh-newGroup,
.planning-darker .planning-wh-newLine {
  background: #000!important;
}
.planning-darker .planning-mrp-lineOrders-table .success {
  background: #00e600;
}
