<div>
  <div id="<%- id('details') %>" class="prodShifts-details-container"></div>
  <div>
    <h3 class="prodShifts-timeline-title"><%- t('timeline:title') %></h3>
    <div id="<%- id('timeline') %>" class="prodShifts-timeline-container"></div>
  </div>
  <div id="<%- id('quantitiesDone') %>" class="prodShifts-quantitiesDone-container"></div>
</div>
