<div>
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitle %></div>
    <div class="panel-details">
      <%- helpers.props(model, [
        'active',
        '!division',
        'shortName',
        'longName',
        '!manager'
      ]) %>
    </div>
  </div>
</div>
