<li data-online class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown">
    <%- t('NAVBAR:DICTIONARIES') %>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <% [
        'companies',
        'workplaces',
        'divisions',
        'buildings',
        'locations',
        'stations',
        'kinds',
        'activityKinds',
        'observationKinds',
        'observationCategories',
        'eventCategories',
        'reasonCategories',
        'rootCauseCategories'
      ].forEach(d => { %>
    <li data-privilege="OSH:DICTIONARIES:VIEW" data-module="wmes-osh"><a href="#osh/<%- d %>"><%- t('wmes-osh-common', `navbar:${d}`) %></a>
    <% }) %>
  </ul>
