<div class="navbar-inner">
  <% include ../left.ejs %>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li data-online><a href="#"><%- t('core', 'NAVBAR:DASHBOARD') %></a>
      <% include nearMisses.ejs %>
      <% include kaizens.ejs %>
      <% include actions.ejs %>
      <% include observations.ejs %>
      <% include reports.ejs %>
      <% include ../opinionSurveys.ejs %>
      <% include hr.ejs %>
      <% include dictionaries.ejs %>
      <% include tools.ejs %>
    </ul>
    <% include ../right.ejs %>
    <% if (user.isAllowedTo('USER')) { %>
    <% include ../search.ejs %>
    <% } %>
  </div>
</div>
