<li data-privilege="USER" data-module="wmes-osh" data-online class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown">
    <%- t('wmes-osh-common', 'navbar:reports') %>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <% [
        'metrics',
        'engagement',
        'observers',
        'count/nearMiss',
        'count/kaizen',
        'count/action',
        'count/observation'
      ].forEach(report => { %>
    <li><a href="#osh/reports/<%- report %>"><%- t('wmes-osh-common', `navbar:reports:${report}`) %></a>
    <% }) %>
    <li data-privilege="OSH:ACCIDENTS:VIEW"><a href="#osh/reports/count/accident"><%- t('wmes-osh-common', `navbar:reports:count/accident`) %></a>
  </ul>
