<li data-online class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown">
    <%- t('NAVBAR:TOOLS') %>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li data-privilege="EVENTS:VIEW" data-module><a href="#events"><%- t('NAVBAR:EVENTS') %></a>
    <li data-privilege="SUPER" data-module><a href="#logs/browserErrors"><%- t('NAVBAR:logs:browserErrors') %></a>
  </ul>
</li>
