<div class="paintShop-orderChanges-change">
  <%- t('paintShop', 'orderChanges:change', {
    type: change.type,
    user: change.user,
    timeLong: change.time.long,
    timeShort: time.format(change.time.iso, 'L LT')
  }) %>
  <% if (change.comment) { %>
  <p class="text-lines"><%= change.comment %></p>
  <% } %>
</div>
