<div class="paintShop" style="height: <%- height %>">
  <div id="<%- idPrefix %>-queue" class="paintShop-queue-container"></div>
  <div id="<%- idPrefix %>-list" class="paintShop-list-container"></div>
</div>
