<div class="paintShop-queue">
  <% if (!orders.length) { %>
  <p id="<%- idPrefix %>-empty" class="paintShop-queue-empty"><%- t('paintShop', 'empty') %></p>
  <% } else { %>
  <table id="<%- idPrefix %>-orders" class="paintShop-orders">
    <% orders.forEach(function(order) { %>
    <%- renderQueueOrder(order) %>
    <% }) %>
  </table>
  <hr>
  <% } %>
</div>
