<li class="fap-addForm-upload" data-upload-id="<%- upload._id %>">
  <a class="fap-addForm-upload-icon" href="#" data-action="removeUpload"><i class="fa <%- uploaded ? 'fa-times' : 'fa-spinner fa-spin' %>"></i></a>
  <span class="fap-addForm-upload-name"><%= upload.name %></span>
</li>
