<div class="fap-attachments fap-details-panel">
  <div class="fap-details-panel-hd"><%- helpers.t('PROPERTY:attachments') %></div>
  <div id="<%- idPrefix %>-attachments" class="fap-details-panel-bd fap-details-list">
    <div style="border-top: 1px solid #ddd">&nbsp;</div>
  </div>
  <div id="<%- idPrefix %>-preview" class="fap-attachment-preview hidden">
    <span class="fap-attachment-preview-label"></span>
    <img class="fap-attachment-preview-image">
  </div>
</div>
