.xiconfOrders-filter .form-control[name="orderNo"] {
  width: 100px;
}
.xiconfOrders-filter .form-control[name="nc12"] {
  width: 120px;
}
.xiconfOrders-list-item {
  cursor: pointer;
}
.xiconfOrders-orderDetailsContainer {
  margin-top: 1em;
}
.xiconfOrders-orderDetailsContainer {
  margin-top: 1em;
}
.xiconfOrders-orderDetails {
  margin-top: 1em;
  margin-bottom: 0;
}
.xiconfOrders-itemDetailsContainer {
  margin-left: -1em;
  display: flex;
  flex-wrap: wrap;
}
.xiconfOrders-itemDetails {
  margin: 1em 0 0 1em;
  flex: 1;
  min-width: 400px;
}
