@import url(./logInForm.css);
@import url(./userInfoPopover.css);

.page[data-id="logInForm"] .page-breadcrumbs {
  text-align: center;
}
.page[data-id="logInForm"] .logInForm {
  max-width: 600px;
  margin: 0 auto;
}
.users-form-choicesRow > .form-group {
  width: auto;
}
.users-form-aor {
  margin-bottom: 15px!important;
}
.users-form-mobile {
  display: flex;
  align-items: center;
}
.users-form-mobile-hours {
  width: 55px;
  text-align: center;
}
.users-form-mobile-number {
  display: inline-block;
  width: 125px;
  text-align: center;
}
.users-form-mobile-list {
  padding: 7px 0;
  list-style-position: inside;
}
.users-form-mobile > span {
  margin: 0 7px;
}
.users-form .col-lg-3 + .col-lg-3 {
  border-left: 1px dotted #ddd;
}
.form-group.users-form-active {
  margin-bottom: 15px;
}
@media (max-width: 1199px) {
  .users-form .col-lg-3 + .col-lg-3 {
    margin-top: 15px;
    border-left: 0;
  }
}
.users-details-privileges {
  margin-top: 15px;
}
.users-details-privileges .panel-body {
  padding-top: 8px;
}
.users-details-privileges .label {
  display: inline-block;
  margin-top: 7px;
  font-size: 1em;
}
