<div>
  <%- t('anonymize:message') %>
  <div class="form-actions">
    <button class="btn btn-danger dialog-answer" type="button" autofocus data-answer="yes"><%- helpers.t('anonymize:yes') %></button>
    <button class="btn btn-link cancel" type="button"><%- helpers.t('anonymize:no') %></button>
  </div>
</div>
