<div>
  <%- t('users', 'anonymize:message') %>
  <div class="form-actions">
    <button class="btn btn-danger dialog-answer" type="button" autofocus data-answer="yes"><%- t('users', 'anonymize:yes') %></button>
    <button class="btn btn-link cancel" type="button"><%- t('users', 'anonymize:no') %></button>
  </div>
</div>
