<div id="<%- idPrefix %>-numpad" class="orderDocuments-numpad">
  <button type="button" class="btn btn-default" tabindex="-1" data-key="1">1</button>
  <button type="button" class="btn btn-default" tabindex="-1" data-key="2">2</button>
  <button type="button" class="btn btn-default" tabindex="-1" data-key="3">3</button>
  <button type="button" class="btn btn-default" tabindex="-1" data-key="4">4</button>
  <button type="button" class="btn btn-default" tabindex="-1" data-key="5">5</button>
  <button type="button" class="btn btn-default" tabindex="-1" data-key="6">6</button>
  <button type="button" class="btn btn-default" tabindex="-1" data-key="7">7</button>
  <button type="button" class="btn btn-default" tabindex="-1" data-key="8">8</button>
  <button type="button" class="btn btn-default" tabindex="-1" data-key="9">9</button>
  <button type="button" class="btn btn-default" tabindex="-1" data-key="LEFT">&lt;</button>
  <button type="button" class="btn btn-default" tabindex="-1" data-key="0">0</button>
  <button type="button" class="btn btn-default" tabindex="-1" data-key="RIGHT">&gt;</button>
  <button type="button" class="btn btn-default" tabindex="-1" data-key="BACKSPACE"><i class="fa fa-long-arrow-left"></i></button>
  <button type="button" class="btn btn-default" tabindex="-1" disabled></button>
  <button type="button" class="btn btn-default" tabindex="-1" data-key="CLEAR"><i class="fa fa-eraser"></i></button>
</div>
