<div class="orderDocuments-bomAndViewer">
  <div id="<%- id('bom') %>" class="orderDocuments-bomAndViewer-bom"><i class="fa fa-spinner fa-spin"></i></div>
  <div class="orderDocuments-bomAndViewer-viewer">
    <iframe id="<%- id('iframe') %>" src=""></iframe>
  </div>
  <div class="cancel"><i class="fa fa-times"></i></div>
</div>
