<a class="orderDocuments-document <%- search ? 'is-search' : '' %>" tabindex="0" data-nc15="<%- nc15 %>">
  <span class="orderDocuments-document-name"><%- name %></span>
  <span class="orderDocuments-document-nc15"><%- nc15 === 'ORDER' ? '&nbsp;' : nc15 %></span>
  <% if (external) { %>
  <button type="button" class="btn btn-link orderDocuments-document-remove" tabindex="-1"><i class="fa fa-remove"></i></button>
  <% } %>
  <% if (search) { %>
  <i class="fa fa-search orderDocuments-document-search"></i>
  <% } %>
</a>
