<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <base href="/">
  <title><%- title %></title>
  <style>
  body {
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
  }
  </style>
</head>
<body>
<iframe src="about:blank"></iframe>
<script>
var iframeEl = document.body.getElementsByTagName('iframe')[0];

function resizeIframe()
{
  iframeEl.width = window.innerWidth;
  iframeEl.height = window.innerHeight;
}

window.onresize = resizeIframe;

window.onload = function()
{
  setTimeout(function()
  {
    resizeIframe();

    iframeEl.src = '<%- src %>';
  }, 1);
};
</script>
</body>
</html>
