<div class="orderDocuments-page">
  <div id="<%- idPrefix %>-controls" class="orderDocuments-page-controls"></div>
  <div id="<%- idPrefix %>-preview" class="orderDocuments-page-preview"></div>
  <div id="<%- idPrefix %>-bom" class="orderDocuments-page-bom hidden" data-expand="1"></div>
</div>
