<div class="orderDocuments-page">
  <div id="<%- idPrefix %>-controls" class="orderDocuments-page-controls"></div>
  <div id="<%- idPrefix %>-preview" class="orderDocuments-page-preview"></div>
</div>