<div class="orderDocuments-preview">
  <iframe id="<%- idPrefix %>-iframe" class="orderDocuments-preview-iframe" src=""></iframe>
  <div id="<%- idPrefix %>-loading" class="orderDocuments-preview-loading hidden">
    <i class="fa fa-spinner fa-spin"></i>
    <span id="<%- idPrefix %>-message"></span>
  </div>
</div>