<div id="<%- idPrefix %>-uiLock" class="orderDocuments-uiLock">
  <div class="orderDocuments-uiLock-inner">
    <i class="fa fa-unlock"></i>
    <p><%- t('orderDocuments', 'uiLocked') %></p>
  </div>
</div>
