<div class="panel panel-primary">
  <div class="panel-heading"><%- panelTitle %></div>
  <div class="panel-details">
    <%- helpers.props(model, [
      '_id',
      'label',
      'type',
      'subdivisionTypes',
      'defaultAor',
      {
        id: '!aors',
        value: function(aors)
        {
          if (!aors.length)
          {
            return helpers.t('aors:all');
          }

          if (aors.length === 1)
          {
            return _.escape(aors[0]);
          }

          return '<ul>' + aors.map(function(aor) { return '<li>' + _.escape(aor); }) + '</ul>';
        }
      },
      'opticsPosition',
      'pressPosition',
      'auto',
      '!color',
      '!refColor',
      'refValue'
    ]) %>
  </div>
</div>
