<div class="updater-restart updater-restart-backend">
  <i class="fa fa-exclamation-triangle updater-restart-icon"></i><span class="updater-restart-message"><%- t('updater', 'restart:backend') %></span>
</div>
