<div class="updater-restart updater-restart-frontend">
  <i class="fa fa-exclamation-circle updater-restart-icon"></i><span class="updater-restart-message"><%- t('updater', 'restart:frontend') %></span>
</div>
