@import "./workstationPicker.css";
@import "./orderPicker.css";
@import "./programPicker.css";

.trw-testing-page {
  background: #fff;
  overflow: hidden;
  user-select: none;
}
.trw-testing {
  line-height: 1;
}
.trw-testing-hd {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 10px 0;
  height: 94px;
  background: #111;
  color: #fff;
  border-bottom: 4px solid #00E487;
  z-index: 1;
}
.trw-testing-app {
  margin-left: 15px;
  font-size: 70px;
  font-weight: bold;
  color: #00E487;
}
.trw-testing-ft .trw-testing-app {
  margin-left: 0;
}
.trw-testing-prop {
  margin-left: 15px;
  padding-left: 15px;
  border-left: 2px solid #00E487;
  cursor: pointer;
}
.trw-testing-prop.is-unclickable {
  cursor: default;
}
.trw-testing-prop-name {
  font-size: 21px;
  color: #1ACEC7;
}
.trw-testing-prop-value {
  white-space: nowrap;
  font-size: 35px;
  line-height: 1.4;
}
.trw-testing-prop[data-prop="program"] {
  min-width: 200px;
}
.trw-testing-hd-action {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  width: 600px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), #111 80%);
  pointer-events: none;
}
.trw-testing-hd-action .fa {
  padding: 10px 30px;
  font-size: 56px;
  line-height: 70px;
  pointer-events: auto;
}
.trw-testing-hd-action .fa:hover {
  cursor: pointer;
  color: #00E487;
}
.trw-testing-ft {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 0;
  min-height: 94px;
  background: #111;
  color: #fff;
  border-top: 4px solid #00E487;
  z-index: 1;
}
.trw-testing[data-state="error"] .trw-testing-ft {
  background: #E00;
  border-top-color: #111;
}
.trw-testing[data-state="test-teardown"] .trw-testing-ft {
  background: #ea0;
  border-top-color: #111;
  color: #111;
}
.trw-testing[data-state="test-success"] .trw-testing-ft {
  background: #00E600;
  border-top-color: #111;
  color: #111;
}
.trw-testing-message {
  font-size: 42px;
}
.trw-testing .trw-testing-ft .trw-testing-app,
.trw-testing .trw-testing-ft .trw-testing-prop {
  display: none;
}
.trw-testing[data-state="test"] .trw-testing-ft .trw-testing-app,
.trw-testing[data-state="test"] .trw-testing-ft .trw-testing-prop {
  display: block;
}
.trw-testing .trw-base-canvas-outer {
  margin-top: 94px;
  overflow: auto;
  text-align: center;
  border: none;
}
.trw-testing .trw-base-canvas-outer::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.trw-testing .trw-base-canvas-outer::-webkit-scrollbar-thumb {
  background: #111;
  border: 2px solid #fff;
}
.trw-testing .trw-base-canvas-outer::-webkit-scrollbar-track {
  background: transparent;
}
.trw-testing-list {
  overflow-y: scroll;
  border: 1px solid #ccc;
}
.trw-testing-list > .btn-lg {
  margin: 0;
  font-size: 35px;
  text-align: left;
  border-left: none;
  border-bottom: none;
}
.trw-testing-list > .btn-lg:first-child {
  border-top: none;
}
.trw-testing-list > .trw-testing-list-last {
  border-top: 1px solid #ccc;
  height: 64px;
}
.trw-testing-list-last:only-child {
  display: none;
}
.trw-testing-list .fa-spinner {
  padding: 10px;
  font-size: 42px;
}
.trw-testing-menu > li > a {
  font-size: 35px;
  line-height: 64px;
}
