<div class="panel-body" data-tab="manHours">
  <%- renderColorPicker({
    idPrefix: idPrefix,
    property: 'reports.mmh.color',
    label: t('reports', 'settings:color:mmh'),
    value: colors.mmh
  }) %>
</div>
