<div class="panel-body" data-tab="quantityDone">
  <%- renderColorPicker({
    idPrefix: idPrefix,
    property: 'reports.quantityDone.color',
    label: t('reports', 'settings:color'),
    value: colors.quantityDone
  }) %>
</div>
