<div class="panel panel-primary">
  <div class="panel-heading"><%- panelTitle %></div>
  <div class="panel-details">
    <%- helpers.props(model, ['nc12', 'target', '!priority', 'text']) %>
  </div>
</div>
