.licenses-id {
  font-family: Consolas, monospace;
}
.licenses-id[title],
.licenses-version[title] {
  cursor: help;
}
.licenses-invalid {
  font-weight: bold;
  color: #e00;
}
.licensePicker-dialog .modal-header {
  border-bottom: 0;
}
.licensePicker-dialog .modal-body {
  padding: 0;
}
.licensePicker-list {
  overflow: auto;
  max-height: 500px;
}
.licensePicker-list > .table {
  border-top: 0;
}
.licensePicker-list tr {
  cursor: pointer;
}
