.ct-orderGroups-form-conditions {
  width: 100%;
}
.ct-orderGroups-form-conditions tbody td {
  padding-bottom: 7px;
}
.ct-orderGroups-form-conditions tbody tr:first-child td:first-child {
  visibility: hidden;
}
