.pressWorksheets-form-dateAndShift > .form-group {
  display: inline-block;
}
.pressWorksheets-form-dateAndShift > .form-group:first-child {
  margin-right: 6px;
}
.pressWorksheets-form-dateAndShift input[type="date"] {
  width: 100%;
}
.pressWorksheets-form-group-shift-checkboxes {
  margin-top: 5px;
}
.pressWorksheets-form-min {
  width: 1%;
}
.pressWorksheets-form-time {
  text-align: center;
  min-width: 3.6em;
}
.pressWorksheets-form-count {
  text-align: center;
  min-width: 3.3em;
}
.pressWorksheets-form-orders {
  margin-bottom: 0;
}
.pressWorksheets-form-orders > thead > tr > th {
  text-align: center;
}
.pressWorksheets-form-orders > tbody > tr > td {
  border-top-width: 0;
}
.pressWorksheets-form-orders > tfoot > tr > td {
  vertical-align: middle;
}
.pressWorksheets-form .select2-offscreen,
.pressWorksheets-form .select2-offscreen:focus
{
  top: auto!important;
  left: 50%!important;
}
.pressWorksheets-form-losses > th {
  vertical-align: middle;
}
.pressWorksheets-form-loss {
  font-weight: normal;
  font-size: 0.8em;
  text-align: center;
  display: block;
}
.pressWorksheets-form-quantityDone {
  text-align: center;
}
.pressWorksheets-form .table-responsive {
  overflow-x: scroll;
  border: 1px solid #ccc;
}
.pressWorksheets-form .table-responsive .table-bordered {
  border: 0;
}
.pressWorksheets-form .table-responsive > .table-bordered > thead > tr > th:first-child,
.pressWorksheets-form .table-responsive > .table-bordered > tbody > tr > th:first-child,
.pressWorksheets-form .table-responsive > .table-bordered > thead > tr > td:first-child,
.pressWorksheets-form .table-responsive > .table-bordered > tbody > tr > td:first-child {
  border-left: 0;
}
.pressWorksheets-form .table-responsive > .table-bordered > thead > tr > th:last-child,
.pressWorksheets-form .table-responsive > .table-bordered > tbody > tr > th:last-child,
.pressWorksheets-form .table-responsive > .table-bordered > thead > tr > td:last-child,
.pressWorksheets-form .table-responsive > .table-bordered > tbody > tr > td:last-child {
  border-right: 0;
}
.pressWorksheets-form-separator {
  border-left: 2px solid #ddd!important;
}
.pressWorksheets-form-paintShop .pressWorksheets-form-timeCell,
.pressWorksheets-form-group-paintShop {
  display: none;
}
.pressWorksheets-form-paintShop .pressWorksheets-form-group-paintShop {
  display: flex;
}
.pressWorksheets-form-group-paintShop > .form-group {
  display: inline-block;
  width: 7em;
}
.pressWorksheets-form-group-paintShop .form-control {
  text-align: left;
}
.is-overlapping .pressWorksheets-form-time {
  background-color: rgba(255, 0, 0, .25);
}
.pressWorksheets-form .message-warning {
  display: none;
  margin-bottom: 15px;
}
.pressWorksheets-form-orders .is-even {
  background: rgba(0, 0, 0, .075);
}
.pressWorksheets-form-orders .is-focused {
  background: #FFFFD6!important;
}
.pressWorksheets-form-order > td {
  position: relative;
}
.pressWorksheets-form .pressWorksheets-form-part.select2-offscreen,
.pressWorksheets-form .pressWorksheets-form-prodLine.select2-offscreen {
  bottom: 5px!important;
}
.pressWorksheets-form-no {
  font-weight: bold;
  text-align: right;
  width: 1%;
}
.pressWorksheets-form-lossCell {
  background: rgba(0, 255, 255, .1);
  border-color: #ccc!important;
}
.pressWorksheets-form-downtimeCell {
  background: rgba(255, 0, 0, .1);
  border-color: #bbb!important;
}
.pressWorksheets-form-downtimeCell[data-type="otherWorks"] {
  background: rgba(255, 0, 255, .1);
}
.pressWorksheets-form-focusLastPart {
  font-weight: normal;
  font-size: 0.8em;
  display: block;
}
.pressWorksheets-form .btn-danger {
  display: none;
}
.prodWorksheets-orders-lossesTable {
  padding: 0!important;
  vertical-align: top!important;
}
.prodWorksheets-orders-lossesTable > .table {
  border: 0!important;
  font-size: 0.8em;
  margin-bottom: 0;
  background: transparent!important;
}
.prodWorksheets-orders-lossesTable th,
.prodWorksheets-orders-lossesTable td {
  border-right: 0!important;
  border-bottom: 0!important;
  text-align: center;
}
.prodWorksheets-orders-lossesTable th:first-child,
.prodWorksheets-orders-lossesTable td:first-child {
 border-left: 0!important;
}
.pressWorksheets-orders-table > tbody > tr > td[rowspan="2"] {
  border-bottom: 0;
}
.pressWorksheets-orders-table > tbody > tr.is-odd {
  background-color: #fafafa;
}
.pressWorksheets-orders-notes > td {
  white-space: pre-line;
}
.pressWorksheets-form th[data-column="part"] {
  min-width: 430px;
}
.pressWorksheets-form th[data-column="operation"] {
  min-width: 300px;
}
