<div id="<%- idPrefix %>-jumpList" class="list-group orders-jumpList">
  <% ['details', 'fap', 'downtimes', 'childOrders', 'operations', 'documents', 'messages', 'bom', 'eto', 'changes'].forEach(function(section) { %>
  <a href="#orders-<%- section %>" class="list-group-item" data-section="<%- section %>"><%- t('orders', 'jumpList:' + section) %></a>
  <% }) %>
</div>
