<div class="panel panel-default orders-downtimes">
  <div class="panel-heading" style="display: flex">
    <span><%- t('orders', 'PANEL:TITLE:downtimes') %></span>
    <span id="<%- idPrefix %>-totals" style="margin-left: auto; font-weight: normal"></span>
  </div>
</div>
