<div class="panel panel-default is-with-actions orders-downtimes <%- empty ? 'hidden' : '' %>">
  <div class="panel-heading">
    <div class="panel-heading-title"><%- t('orders', 'PANEL:TITLE:downtimes') %></div>
    <div class="panel-heading-actions">
      <div id="<%- idPrefix %>-totals" style="margin-right: 12px"></div>
    </div>
  </div>
</div>
