<div class="panel panel-default orders-eto">
  <div class="panel-heading is-with-actions">
    <%- t('orders', 'PANEL:TITLE:eto') %>
    <div class="panel-actions">
      <button id="<%- idPrefix %>-external" class="btn btn-default" type="button" data-action="external"><i class="fa fa-external-link"></i></button>
      <button id="<%- idPrefix %>-toggle" class="btn btn-default" type="button" data-action="toggle"><i class="fa fa-chevron-down"></i></button>
    </div>
  </div>
  <div class="panel-body">
    <p><i class="fa fa-spinner fa-spin"></i></p>
  </div>
</div>
