<div>
  <%- t('documents:reload:message') %>
  <div class="form-actions">
    <button class="btn btn-primary dialog-answer" type="button" autofocus data-answer="yes"><%- t('documents:reload:yes') %></button>
    <button class="btn btn-link cancel" type="button"><%- t('documents:reload:no') %></button>
  </div>
</div>
