<div class="factoryLayout-canvas-container">
  <div class="factoryLayout-toolbar" role="toolbar">
    <div class="btn-group-vertical">
      <button type="button" class="btn btn-default" data-action="pan"><span class="shortcut">P</span><i class="fa fa-hand-o-up"></i></button>
    </div>
    <div class="btn-group-vertical">
      <button type="button" class="btn btn-default" data-action="drag"><span class="shortcut">M</span><i class="fa fa-arrows"></i></button>
      <button type="button" class="btn btn-default" data-action="resize"><span class="shortcut">R</span><i class="fa fa-expand"></i></button>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
      <linearGradient id="factoryLayout-prodLine-bg" x1="0" x2="0" y1="0" y2="1">
        <stop offset="0%" stop-color="#ddd"/>
        <stop offset="100%" stop-color="#999"/>
      </linearGradient>
      <linearGradient id="factoryLayout-prodLine-bg-idle" x1="0" x2="0" y1="0" y2="1">
        <stop offset="0%" stop-color="#555"/>
        <stop offset="100%" stop-color="#000"/>
      </linearGradient>
      <linearGradient id="factoryLayout-prodLine-bg-working" x1="0" x2="0" y1="0" y2="1">
        <stop offset="0%" stop-color="#82DC82"/>
        <stop offset="100%" stop-color="#5CB85C"/>
      </linearGradient>
      <linearGradient id="factoryLayout-prodLine-bg-working-nok" x1="0" x2="0" y1="0" y2="1">
        <stop offset="0%" stop-color="#FFC864"/>
        <stop offset="100%" stop-color="#F0AD4E"/>
      </linearGradient>
      <linearGradient id="factoryLayout-prodLine-bg-downtime" x1="0" x2="0" y1="0" y2="1">
        <stop offset="0%" stop-color="#FF7672"/>
        <stop offset="100%" stop-color="#D9534F"/>
      </linearGradient>
      <linearGradient id="factoryLayout-prodLine-bg-break" x1="0" x2="0" y1="0" y2="1">
        <stop offset="0%" stop-color="#CD00CD"/>
        <stop offset="100%" stop-color="#B300B3"/>
      </linearGradient>
      <linearGradient id="factoryLayout-metric-bg" x1="0" x2="0" y1="0" y2="1">
        <stop offset="0" stop-color="#fff"/>
        <stop offset="100%" stop-color="#ddd"/>
      </linearGradient>
      <linearGradient id="factoryLayout-metric-bg" x1="0" x2="0" y1="0" y2="1">
        <stop offset="0" stop-color="#fff"/>
        <stop offset="100%" stop-color="#ddd"/>
      </linearGradient>
    </defs>
  </svg>
</div>
