<table class="factoryLayout-prodLineList">
  <thead>
    <tr>
      <td class="factoryLayout-prodLineList-noProdLines" colspan="999"><%- t('factoryLayout', 'noProdLines') %></td>
    </tr>
  </thead>
</table>
