<div>
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitle %></div>
    <div class="panel-details">
      <%- helpers.props(model, [
        'active',
        '!workplace',
        'shortName',
        'longName',
        {id: '!managers', value: users =>
        {
          if (!users.length)
          {
            return '';
          }

          if (users.length === 1)
          {
            return users[0];
          }

          return `<ul><li>${users.join('<li>')}</ul>`;
        }},
        {id: '!coordinators', value: users =>
        {
          if (!users.length)
          {
            return '';
          }

          if (users.length === 1)
          {
            return users[0];
          }

          return `<ul><li>${users.join('<li>')}</ul>`;
        }},
        {id: '!syncPatterns', value: v => `<pre>${v}</pre>`}
      ]) %>
    </div>
  </div>
</div>
