.filter-container {
  margin-bottom: 15px;
}
.filter-container > .well {
  padding: 15px 15px 0 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.filter-form .form-group {
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 15px;
  vertical-align: top;
}
.filter-form.is-vertical {
  flex-direction: column;
  align-items: flex-start;
}
.filter-form input {
  margin-bottom: 0;
}
.filter-form input[name="limit"] {
  width: 5em;
  text-align: right;
}
.filter-form .filter-actions {
  margin-left: 15px;
  vertical-align: bottom;
  align-self: flex-end;
}
.filter-form.is-vertical .filter-actions {
  padding-left: 0;
  margin-left: 15px;
  border-left: 0;
  align-self: flex-start;
}
.filter-actions .dropdown-menu a {
  cursor: pointer;
}
.filter-actions > hr {
  display: inline-block;
  margin: 0 15px;
  padding: 0;
  width: 1px;
  height: 35px;
  border-left: 1px solid #e3e3e3;
  vertical-align: bottom;
}
.filter-actions > hr:first-child {
  margin-left: 0;
}
.filter-actions > hr:last-child {
  margin-right: 0;
}
.filter-label.radio {
  margin-top: 0;
  margin-bottom: 5px;
}
.filter-form .orgUnitDropdowns-container {
  display: inline-block;
}
.filter-form .orgUnitDropdowns .form-group {
  min-width: 150px;
}
.filter-btn-group {
  display: block;
}
.filter-form .filter-dateRange {
  margin-bottom: 0;
}
.filter-dateRange .control-label {
  margin-top: .5em;
  margin-bottom: 0;
  vertical-align: top;
  font-weight: normal;
}
.filter-dateRange label + label {
  margin-left: .5em;
}
.filter-dateRange .form-control {
  display: inline-block;
  margin-bottom: 15px;
  width: 12em;
}
.filter-dateRange input[type=radio] {
  margin-top: 0;
}
input[type=checkbox].filter-inLabel {
  margin-top: -2px;
  vertical-align: middle;
}
.filter-radio-group {
  margin-top: 5px;
  height: 29px;
}
.filter-radioLabels {
  display: flex;
}
.filter-radioLabels > label {
  margin-left: 15px;
  margin-bottom: 5px;
}
.filter-radioLabels > label:first-child {
  margin-left: 0;
}
.filter-radioLabels input {
  vertical-align: top;
}
.form-control.is-expanded {
  height: auto!important;
  position: absolute;
  z-index: 110;
}
.form-control.is-expandable {
  max-width: 300px;
}
.filter-form .filter-toggle {
  display: none;
}
.filter-inlineInputLabels > .control-label {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
}
.filter-inlineInputLabels > .btn-group {
  vertical-align: top;
}
.filter-inlineInputLabels > .control-label + .control-label {
  margin-left: 10px;
}
.filter-inlineInputLabels .form-control {
  display: inline;
}
.filter-form .no-label {
  align-self: flex-end;
}
@media (max-width: 767px) {
  .filter-container > .well {
    align-items: flex-start;
    padding: 15px;
  }
  .filter-form {
    flex-direction: column;
    align-items: flex-start;
  }
  .filter-form .filter-actions,
  .filter-form.is-vertical .filter-actions {
    padding-left: 0;
    margin-left: 0;
    border-left: 0;
  }
  .filter-form .form-group {
    display: block;
    width: 100%;
    margin-left: 0;
  }
  .filter-form .no-label {
    padding-top: 0;
  }
  .filter-actions .btn {
    display: block;
    width: 100%;
  }
  .filter-form.is-collapsed {
    padding: 0;
    border: 0;
  }
  .filter-form.is-collapsed > .form-group {
    display: none;
  }
  .filter-form .filter-toggle {
    display: block;
  }
  .filter-radioLabels {
    display: block;
  }
  .filter-radioLabels > label {
    margin-left: 0;
    display: block;
  }
  .filter-inlineInputLabels > .control-label {
    display: block;
  }
  .filter-inlineInputLabels > .control-label + .control-label,
  .filter-inlineInputLabels > .control-label + .btn-group {
    margin-top: 5px;
    margin-left: 0;
  }
  .filter-inlineInputLabels span {
    display: block;
  }
  .filter-inlineInputLabels .form-control {
    width: 100%;
  }
  .filter-form input[name="limit"] {
    width: 100%;
  }
  .filter-form .btn[type="submit"] {
    font-size: 21px;
  }
  .filter-actions > hr {
    display: block;
    opacity: 0;
    height: 15px;
  }
  .filter-actions > .btn-group {
    display: block;
    width: 100%;
  }
  .filter-actions > .btn-group > .btn[type="submit"] {
    width: 90%;
  }
  .btn[type="submit"] + .dropdown-toggle {
    width: 10%;
    font-size: 21px;
    margin-left: 0;
    border-left: none;
  }
}
