.form-group:last-child {
  margin-bottom: 0;
}
.row > .form-group:last-child {
  margin-bottom: 15px;
}
.control-label {
  font-weight: bold;
}
.form-control {
  padding: 6px;
  background-color: #fcfcfc;
}
.form-control:focus {
  background-color: #fff;
}
.form-control[readonly]:focus,
.form-control[disabled]:focus {
  background-color: #eee;
}
.form-control[type="date"] {
  width: 11em;
}
.form-actions {
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
}
.form-actions:last-child {
  margin-bottom: 0;
}
.form-actions a.cancel {
  margin-left: 1em;
}
.checkbox,
.radio {
  margin-bottom: 0;
}
.checkbox + .checkbox,
.radio + .radio {
  margin-top: .25em;
}
.control-label + .checkbox,
.control-label + .radio {
  margin-top: 0;
}
