@import "./dateTimeRange.css";

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  padding-top: 0;
  padding-bottom: 0;
}
.form-group:last-child {
  margin-bottom: 0;
}
.form-group.not-last:last-child,
.row > .form-group:last-child {
  margin-bottom: 15px;
}
.control-label,
.checkbox > .control-label,
.radio > .control-label {
  font-weight: bold;
}
.control-label.is-required:after,
.control-label.is-required.is-required-first-child > span:first-child:after {
  content: "*";
  font-family: Consolas, "Lucida Console", Monaco, monospace;
  color: #f00;
  vertical-align: top;
}
.control-label.is-required-first-child:after {
  content: none;
}
.control-label + .form-control-static {
  padding: 0;
}
.form-control {
  padding: 6px;
  background-color: #fcfcfc;
}
.form-control:focus {
  background-color: #fff;
}
.form-control[readonly]:focus,
.form-control[disabled]:focus {
  background-color: #eee;
}
.form-control[type="date"] {
  width: 11em;
}
.form-control[type="number"].small {
  width: 8em;
}
.form-actions {
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
}
.form-actions:last-child {
  margin-bottom: 0;
}
.form-actions a.cancel {
  margin-left: 15px;
}
.checkbox,
.radio {
  margin-bottom: 0;
}
.checkbox:first-child,
.radio:first-child {
  margin-top: 0;
}
.radio-inline > label,
.checkbox-inline > label {
  font-weight: normal;
  cursor: pointer;
}
.checkbox + .checkbox,
.radio + .radio {
  margin-top: .25em;
}
.control-label + .checkbox,
.control-label + .radio {
  margin-top: 0;
}
.checkbox + .form-group {
  margin-top: 15px;
}
.form-group-datetime {
  display: flex;
}
.form-group-datetime > input[type="date"] {
  width: 145px;
  margin-right: 1px;
}
.form-group-datetime > input[type="time"],
.form-group-datetime > input[type="text"] {
  width: 120px;
}
.form-group-datetime > label {
  margin: 0 4px;
  line-height: 34px;
}
.form-group-dateRange a {
  text-decoration: none;
  cursor: pointer;
}
.form-group-dateRange > div:first-child > .radio-inline {
  font-weight: bold;
  margin-bottom: 5px;
}
.form-group-dateRange > div:last-child > .radio-inline {
  font-weight: normal;
}
.form-group-dateRange > div:last-child > input {
  display: inline-block;
}
.form-group.has-required-select2 {
  position: relative;
}
.form-group.has-required-select2 > input[tabindex="-1"] {
  position: absolute;
  display: block!important;
  top: 25px!important;
  left: 50%!important;
  z-index: 0;
  outline: none!important;
  width: 1px;
  height: 34px;
  opacity: 0;
}
.form-group.has-required-select2 > .select2-container {
  z-index: 1;
}
.form-group.has-required-select2 > .select2-dropdown-open {
  z-index: 10000;
}
input::-webkit-datetime-edit {
  font-size: 12px;
}
input:enabled:read-write::-webkit-calendar-picker-indicator,
input:enabled:read-write::-webkit-inner-spin-button,
input:enabled:read-write::-webkit-clear-button {
  opacity: 1;
}
input[type="number"]::-webkit-inner-spin-button {
  margin-left: 6px;
}
input[type="date"]::-webkit-inner-spin-button {
  margin-top: 6px;
}
input.no-controls::-webkit-clear-button,
input.no-controls::-webkit-inner-spin-button {
  display: none;
}
input.no-controls[type="number"] {
  -moz-appearance: textfield;
}
.form-group-horizontal > .form-group {
  vertical-align: top;
  display: inline-block;
  margin-right: 15px;
}
.form-group-horizontal > .form-group:last-child {
  margin-bottom: 15px;
}
.form-group-horizontal + .checkbox {
  margin-top: 0;
}
.form-control[size="1"] {
  height: 34px;
  padding-top: 8px;
}
.btn-group-radio > .btn:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.btn-group-radio > .btn:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.btn-group > .btn:focus,
.btn-group-vertical > .btn:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
}
.select2-result-with-description > h3 {
  font-size: 1em;
  font-weight: bold;
  margin: 0 0 2px 0;
}
.select2-result-with-description > p {
  font-size: .8em;
  margin: 0;
}
label + .help-block {
  margin-top: 0;
}
.form-row {
  display: flex;
}
.form-row > .form-group {
  margin-left: 15px;
}
.form-row > .form-group:first-child {
  margin-left: 0;
}
.form-row + .checkbox,
.form-row + .radio {
  margin-top: 0;
}
