.logInForm-submit-spinner {
  display: none;
}
.logInForm-submit-label {
  display: inline-block;
  margin: 0!important;
}
.logInForm-loading .logInForm-submit-spinner {
  display: inline-block;
}
.logInForm-loading .logInForm-submit-label {
  display: none;
}
.logInForm > .message {
  font-size: 1.2em;
  line-height: 1.4;
}
.logInForm-links {
  margin: 0;
  text-align: right;
}

