.planning-menu {
  display: block;
  margin-top: -1px;
  z-index: 1042;
  user-select: none;
}
.planning-menu-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1041;
}
.planning-menu > .dropdown-header {
  padding: 3px 10px;
  font-weight: bold;
}
.planning-menu > li > a {
  padding: 3px 10px;
  font-size: 12px;
  cursor: pointer;
  line-height: 18px;
}
.planning-menu > li > a:hover {
  background-color: #ffffa6;
  color: #333;
}
.planning-menu > li > a > .fa {
  min-width: 14px;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
}
.planning-menu > li > a > .fa + span {
  vertical-align: middle;
}
.planning-menu-disabled {
  cursor: default!important;
  color: #777!important;
  background-color: #fff!important;
}
.planning-menu-loading {
  cursor: wait!important;
  color: #777!important;
  background-color: #fff!important;
}
.planning-menu .divider {
  margin: 5px 0;
}

.is-embedded .planning-menu > .dropdown-header {
  font-size: 20px;
}
.is-embedded .planning-menu > li > a {
  padding: 3px 15px;
  font-size: 28px;
  line-height: 41px;
}
.is-embedded .planning-menu > li > a > .fa {
  margin-right: 7px;
  min-width: 28px;
  font-size: 28px;
  line-height: 41px;
}
