.messages {
  position: fixed;
  top: 1.5em;
  display: inline-block;
}
.is-loading > .message {
  display: none;
}
.message {
  z-index: 1050;
  display: inline-block;
  position: fixed;
  top: 1.5em;
  left: 50%;
  margin: 0;
  padding: .25em .5em;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
  background-color: #FFF;
  border: 1px solid transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  opacity: 0;
}
.message.text-left {
  text-align: left;
}
.message-inline {
  position: static;
  display: block;
  z-index: 0;
  opacity: 1;
  text-align: left;
  font-weight: normal;
}
.message.text-justify {
  text-align: justify;
}
.panel > .message-inline {
  box-shadow: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.message-default {
  background-color: #eee;
  border-color: #ddd;
}
.message-info {
  background-color: #E8F6FF;
  border-color: #B8E2FB;
}
.message-warning {
  background-color: #F9EDBE;
  border-color: #F0C36D;
}
.message-success {
  background-color: #EAF7D9;
  border-color: #BBDF8D;
}
.message-error {
  background-color: #FFD1D1;
  border-color: #F8ACAC;
}
