.table {
  margin-bottom: 15px;
}
.table-responsive {
  margin-bottom: 15px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.panel > .list > .table-responsive {
  margin-bottom: 0;
}
.table-responsive > .table-bordered {
  border-left: 0;
  border-right: 0;
}
.table-responsive > .table-bordered > thead > tr > th:first-child,
.table-responsive > .table-bordered > tbody > tr > td:first-child {
  border-left: 0;
}
.table-responsive > .table-bordered > thead > tr > th:last-child,
.table-responsive > .table-bordered > tbody > tr > td:last-child {
  border-right: 0;
}
.table-bordered > thead > tr > th.sortable:hover {
  border-bottom-color: #428BCA;
}
.table > tbody > tr > td {
  vertical-align: middle;
}
td.is-number {
  font-family: Consolas, Menlo, Monaco, monospace;
  text-align: right;
}
td.text-center {
  text-align: center;
}
.table .actions {
  white-space: nowrap;
  width: 1%;
}
.table td.actions {
  padding: 0;
  height: 34px;
  background: #ccc!important;
  vertical-align: top;
}
.is-colored td.actions {
  background: #bbb!important;
}
.table .actions-group {
  display: inline-flex;
  width: 100%;
  height: 100%;
}
.table .actions-group .btn {
  min-width: 40px;
  border-top-width: 0;
  border-bottom-width: 0;
  border-right-width: 0;
  line-height: 1;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.table-bordered .actions-group .btn:first-child {
  border-left-width: 0;
}
.table .actions-group .btn:last-child {
  border-right-width: 1px;
}
.table-bordered .actions-group .btn:last-child {
  border-right-width: 0;
}
.table tr:last-child .actions-group .btn {
  border-bottom-width: 1px;
}
.table-bordered tr:last-child .actions-group .btn,
.table-with-tfoot tr:last-child .actions-group .btn {
  border-bottom-width: 0;
}
.table .actions-group .btn:only-child {
  width: 100%;
}
.table .actions-group .btn:hover {
  border-color: #ccc;
}
.is-colored .actions-group .btn:hover {
  border-color: #bbb;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th,
.table-hover > tbody > tr.is-hovered > td {
  background-color: #FFFFD6;
}
.is-shrinked > .table > tbody > tr > td {
  white-space: nowrap;
  width: 1px;
}
.is-shrinked > .table > tbody > tr > td:nth-last-child(2) {
  width: auto;
}
th.is-min,
td.is-min {
  width: 1px;
  white-space: nowrap;
}
.is-colored .table,
.is-colored .table tr th,
.is-colored .table tr td,
.is-colored > .table-responsive,
.is-colored .actions .btn {
  border-color: #bbb;
}
@media print {
  th.actions,
  td.actions {
    display: none;
  }
  th.is-min,
  td.is-min {
    width: auto;
    white-space: normal;
  }
}

.panel > .list > .table-responsive > .table {
  margin-bottom: 0;
}
.panel > .list > .table-responsive > .table caption {
  padding-left: 15px;
  padding-right: 15px;
}
.panel > .panel-body + .list > .table-responsive > .table {
  border-top: 1px solid #dddddd;
}
.panel > .list > .table-responsive > .table > tbody:first-child > tr:first-child th,
.panel > .list > .table-responsive > .table > tbody:first-child > tr:first-child td {
  border-top: 0;
}
.panel > .list > .table-responsive > .table-bordered {
  border: 0;
}
.panel > .list > .table-responsive > .table-bordered > thead > tr > th:first-child,
.panel > .list > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.panel > .list > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.panel > .list > .table-responsive > .table-bordered > thead > tr > td:first-child,
.panel > .list > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.panel > .list > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
  border-left: 0;
}
.panel > .list > .table-responsive > .table-bordered > thead > tr > th:last-child,
.panel > .list > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.panel > .list > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.panel > .list > .table-responsive > .table-bordered > thead > tr > td:last-child,
.panel > .list > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.panel > .list > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
  border-right: 0;
}
.panel > .list > .table-responsive > .table-bordered > thead > tr:first-child > td,
.panel > .list > .table-responsive > .table-bordered > tbody > tr:first-child > td,
.panel > .list > .table-responsive > .table-bordered > thead > tr:first-child > th,
.panel > .list > .table-responsive > .table-bordered > tbody > tr:first-child > th {
  border-bottom: 0;
}
.panel > .list > .table-responsive > .table-bordered > tbody > tr:last-child > td,
.panel > .list > .table-responsive > .table-bordered > tfoot > tr:last-child > td,
.panel > .list > .table-responsive > .table-bordered > tbody > tr:last-child > th,
.panel > .list > .table-responsive > .table-bordered > tfoot > tr:last-child > th {
  border-bottom: 0;
}
.panel > .list > .table-responsive {
  border: 0;
  margin-bottom: 0;
}
