.table {
  margin-bottom: 15px;
}
.table-responsive {
  margin-bottom: 15px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.panel > .list > .table-responsive {
  margin-bottom: 0;
}
.table-responsive > .table-bordered {
  border-left: 0;
  border-right: 0;
}
.table-responsive > .table-bordered > thead > tr > th:first-child,
.table-responsive > .table-bordered > tbody > tr > td:first-child {
  border-left: 0;
}
.table-responsive > .table-bordered > thead > tr > th:last-child,
.table-responsive > .table-bordered > tbody > tr > td:last-child {
  border-right: 0;
}
.table-bordered > thead > tr > th.sortable:hover {
  border-bottom-color: #428BCA;
}
.table > tbody > tr > td {
  vertical-align: middle;
}
td.is-number {
  font-family: Consolas, Menlo, Monaco, monospace;
  text-align: right;
}
.table .actions {
  white-space: nowrap;
  width: 1%;
}
.table .actions .btn {
  min-width: 40px;
  box-sizing: border-box;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th,
.table-hover > tbody > tr.is-hovered > td {
  background-color: #FFFFD6;
}
.is-shrinked > .table > tbody > tr > td {
  white-space: nowrap;
  width: 1px;
}
.is-shrinked > .table > tbody > tr > td:nth-last-child(2) {
  width: auto;
}
th.is-min,
td.is-min {
  width: 1px;
  white-space: nowrap;
}
.is-colored .table,
.is-colored .table tr th,
.is-colored .table tr td,
.is-colored > .table-responsive,
.is-colored .actions .btn {
  border-color: #bbb;
}
@media print {
  th.actions,
  td.actions {
    display: none;
  }
  th.is-min,
  td.is-min {
    width: auto;
    white-space: normal;
  }
}
