.qiResults-details .panel {
  margin-bottom: 15px;
}
.qiResults-details-attachment {
  padding: 0;
  text-align: center;
}
.qiResults-details-attachment > a:hover {
  text-decoration: none;
}
.qiResults-details-attachment .fa {
  display: block;
  max-width: 100%;
  line-height: 175px;
  font-size: 154px;
}
.qiResults-details-attachment img {
  display: block;
  width: 100%;
  border: 1px solid #666;
}
.qiResults-details-attachment span {
  margin: 15px auto;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2em;
}
