.qiResults-details .panel {
  margin-bottom: 15px;
}
.qiResults-details-attachments {
  padding: 0;
  text-align: center;
}
.qiResults-details-attachment {
  display: inline-block;
  margin: auto;
  padding: 15px;
  text-align: center;
  vertical-align: top;
}
.qiResults-details-attachment > h3 {
  margin: 0;
}
.qiResults-details-attachment > a:hover {
  text-decoration: none;
}
.qiResults-details-attachment .fa {
  display: block;
  width: 175px;
  height: 175px;
  line-height: 175px;
  font-size: 154px;
}
.qiResults-details-attachment img {
  display: block;
  width: 175px;
  max-height: 175px;
  box-shadow: 3px 3px 12px #999;
  border: 1px solid #666;
}
.qiResults-details-attachment span {
  display: block;
  max-width: 175px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
