@import "./filter.css";
@import "./list.css";
@import "./form.css";
@import "./details.css";
@import "./history.css";
@import "./reports.css";
@import "./reports.css";

.qi-counter {
  padding: 3px;
  background-color: #d9534f;
  color: #fff;
}
.qi-counter.success {
  background-color: #5cb85c;
  color: #fff;
}
