.qi-oqlReport h3 {
  margin: 20px 0 0 0;
  text-align: center;
}
.qi-oqlReport .row {
  display: flex;
  margin-top: 10px;
}
.qi-oqlReport-table-container {
  text-align: center;
}
.qi-oqlReport-table-container .table {
  margin: 0 auto;
  width: auto;
}
.qi-oqlReport-table-ppm td[data-key] {
  position: relative;
  cursor: pointer;
  color: #337ab7;
}
.qi-oqlReport-table-ppm td[data-key]:hover {
  color: #23527c;
}
.qi-oqlReport-table-ppm form {
  position: absolute;
  top: -2px;
  left: -1px;
  display: flex;
  z-index: 1;
}
.qi-oqlReport-table-ppm input {
  width: 75px;
}
.qi-oqlReport-results-editor {
  display: flex;
  text-align: left;
}
.qi-oqlReport-results-editor select {
  width: 150px;
}
.qi-oqlReport-printable {
  margin: auto;
  width: 715px;
  text-align: center;
}
.qi-oqlReport-printable .filter-container {
  display: none;
}
.qi-oqlReport-printable h3 {
  font-size: 18px;
}
.qi-oqlReport-printable .table {
  font-size: 11px;
}
.qi-oqlReport-printable th,
.qi-oqlReport-printable td {
  padding: 2px!important;
}
.qi-oqlReport-printable .is-number {
  font-family: Arial, "Helvetic Neue", Helvetica, sans-serif;
}
.qi-oqlReport-printable .row {
  margin-top: 0;
}
.qi-oqlReport-printable .row + h3 {
  margin-top: 0;
}
