.qi-countReport-clipSelect2 .select2-search-choice > div {
  max-width: 165px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
.qi-clickableXAxis .highcharts-xaxis-labels > text {
  cursor: pointer!important;
}
