@import "./oql.css";

.qi-countReport-clipSelect2 .select2-search-choice > div {
  max-width: 165px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
.qi-clickableXAxis .highcharts-xaxis-labels > text {
  cursor: pointer!important;
}
.qiResults-okRatioReport-tableContainer {
  display: inline-block;
  vertical-align: top;
}
.qiResults-okRatioReport-tableContainer + .qiResults-okRatioReport-tableContainer {
  margin-left: 15px;
}
.qiResults-okRatioReport-table .is-low {
  background-color: rgba(255, 0, 0, .25)!important;
}
.qiResults-okRatioReport-table .is-clickable {
  color: #337ab7;
  cursor: pointer;
}
.qiResults-okRatioReport-table .is-selected {
  background-color: #337ab7!important;
  color: #FFF!important;
}
