.qi-countReport-clipSelect2 .select2-search-choice > div {
  max-width: 165px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
.qi-clickableXAxis .highcharts-xaxis-labels > text {
  cursor: pointer!important;
}
.qiResults-okRatioReport-tableContainer {
  display: inline-block;
  vertical-align: top;
}
.qiResults-okRatioReport-tableContainer + .qiResults-okRatioReport-tableContainer {
  margin-left: 15px;
}
.qiResults-okRatioReport-table .is-low {
  background-color: rgba(255, 0, 0, .25)!important;
}
.qiResults-okRatioReport-table .is-clickable {
  color: #337ab7;
  cursor: pointer;
}
.qiResults-okRatioReport-table .is-selected {
  background-color: #337ab7!important;
  color: #FFF!important;
}
.qi-oqlReport h3 {
  margin: 20px 0 0 0;
  text-align: center;
}
.qi-oqlReport .row {
  margin-top: 10px;
}
.qi-oqlReport-table-container {
  text-align: center;
}
.qi-oqlReport-table-container .table {
  margin: 0 auto;
  width: auto;
}
.qi-oqlReport-table-ppm td[data-key] {
  position: relative;
  cursor: pointer;
  color: #337ab7;
}
.qi-oqlReport-table-ppm td[data-key]:hover {
  color: #23527c;
}
.qi-oqlReport-table-ppm form {
  position: absolute;
  top: -2px;
  left: -1px;
  display: flex;
  z-index: 1;
}
.qi-oqlReport-table-ppm input {
  width: 75px;
}
.qi-oqlReport-results-editor {
  display: flex;
  text-align: left;
}
.qi-oqlReport-results-editor select {
  width: 150px;
}
