<div>
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitle %></div>
    <div class="panel-details">
      <%- helpers.props(model, [
        'active',
        {id: '!kinds', value: v => v.length ? `<ul><li>${v.join('<li>')}</ul>` : ''},
        'shortName',
        'longName',
        {id: 'description', className: 'text-lines'},
        'nearMiss',
        'rootCauses',
        'implementers',
        'participants'
      ]) %>
    </div>
  </div>
</div>
