<form class="settings compRel-settings" autocomplete="off">
  <div class="list-group">
    <a class="list-group-item" href="#compRel/settings?tab=general" data-tab="general"><%- t('settings:tab:general') %></a>
  </div>
  <div class="panel panel-primary">
    <div class="panel-body" data-tab="general">

    </div>
  </div>
</form>
