<div class="suggestions-report-tableAndChart">
  <div id="<%- idPrefix %>-table" class="suggestions-report-table"></div>
  <div id="<%- idPrefix %>-chart" class="suggestions-report-chart"></div>
</div>
