<div class="suggestions-thanks">
  <p class="suggestions-thanks-message"><%- t('suggestions', 'thanks:message') %></p>
  <i class="fa fa-thumbs-up"></i>
  <p class="suggestions-thanks-footnote"><%- t('suggestions', 'thanks:footnote') %></p>
</div>
