<div class="suggestions-thanks">
  <p class="suggestions-thanks-message"><%- helpers.t('thanks:message') %></p>
  <i class="fa fa-thumbs-up"></i>
  <p class="suggestions-thanks-footnote"><%- helpers.t('thanks:footnote') %></p>
</div>
