.suggestions-details-types {
  margin-left: -15px;
  margin-right: -15px;
}
.suggestions-details-types .panel {
  margin-bottom: 20px;
}
.suggestions-details-types .props,
.suggestions-details-types .prop,
.suggestions-details-types .prop-name,
.suggestions-details-types .prop-value {
  display: block;
  width: 100%;
}
.suggestions-details-types .prop-name {
  padding-bottom: 0;
  white-space: normal;
}
.suggestions-details-types .prop-value {
  padding-top: 0;
}
.suggestions-detailsPage-history,
.suggestions-details-tabs {
  margin-top: 20px;
}
.suggestions-details .has-description {
  cursor: help;
}
.suggestions-details .fa-info-circle {
  display: none;
}
.suggestions-details .has-description .fa-info-circle {
  display: inline-block;
}
.suggestions-details-popover {
  max-width: 350px;
  white-space: pre-line;
  text-align: left;
  font-size: .9em;
}
.suggestions-details .panel-details.is-changed {
  color: inherit;
}
.suggestions-details .panel-details.is-changed .prop-name {
  color: #e00;
}
.suggestions-details-tabs .nav-tabs,
.suggestions-details-tabs .nav-tabs > li > a,
.suggestions-details-tabs .nav-tabs > li.active > a {
  border-bottom: 0;
}
.suggestions-details-tabs .nav-tabs > li {
  margin-bottom: 0;
}
.suggestions-thanks {
  text-align: center;
}
.suggestions-thanks-message {
  margin: 0;
  font-size: 32px;
}
.suggestions-thanks > .fa {
  margin: 16px 0;
  color: #5cb85c;
  font-size: 112px;
}
.suggestions-thanks-footnote {
  margin: 0;
  font-style: oblique;
}
.suggestions-details-coordSections {
  display: flex;
  overflow-x: auto;
  padding: 0;
}
.suggestions-details-coordSection {
  position: relative;
  flex: 0 0 auto;
  padding: 15px;
  width: 300px;
  border-right: 1px dotted #ccc;
}
.suggestions-details-coordSection[data-status="accepted"] {
  background-color: #dff0d8;
}
.suggestions-details-coordSection[data-status="rejected"] {
  background-color: #f2dede;
}
.suggestions-details-coordSection .control-label {
  margin-bottom: 0;
}
.suggestions-details-coordSection .form-group {
  margin-bottom: 10px;
}
.suggestions-details-coordSection .form-group:last-child {
  margin-bottom: 0;
}
.suggestions-details-coordSection ul {
  margin-bottom: 0;
  padding-left: 17px;
}
.suggestions-details-coordSection-coordinate {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 28px;
}
@media print {
  .suggestions-details-tabs > .tab-content > .tab-pane {
    display: block!important;
    opacity: 1!important;
    visibility: visible!important;
  }
}
