.suggestions-form .btn-primary > .fa-spinner {
  display: none;
}
.suggestions-form .btn-primary > span {
  margin-left: 0;
}
.suggestions-form.is-uploading .btn-primary .fa-spinner {
  display: inline-block;
}
.suggestions-form.is-uploading .btn-primary > span {
  margin-left: 7px;
}
.suggestions-form-typePanel {
  margin: 0 -16px;
  border-left-color: #337ab7;
  border-right-color: #337ab7;
}
.suggestions-form-typePanel + .suggestions-form-typePanel {
  margin-top: -1px;
}
.suggestions-form-typePanel.panel-warning > .panel-body {
  background-color: #FDF8F1;
}
.suggestions-form-typePanel.panel-success > .panel-body {
  background-color: #F2F9F2;
}
.suggestions-form .form-control[type="date"] {
  width: 100%;
}
.suggestions-form-statusBtnGroup {
  display: block;
}
.suggestions-select2 > h3 {
  font-size: 1em;
  font-weight: bold;
  margin: 0 0 2px 0;
}
.suggestions-select2 > p {
  font-size: .8em;
  margin: 0;
}
.suggestions-form .help-block {
  font-size: 0.9em;
}
@media (min-width: 768px) {
  .suggestions-form-dialog .modal-dialog {
    width: auto;
    margin: 10px;
  }
}
@media (min-width: 1360px) {
  .suggestions-form-dialog .modal-dialog {
    width: 1280px;
    margin: 30px auto;
  }
}
.suggestions-form-resolutions-actions {
  width: 160px;
}
.suggestions-form-dialog .modal-content {
  border: none;
}
.suggestions-form-dialog .modal-body {
  padding: 0;
}
.suggestions-form-dialog .panel-primary {
  margin: 0;
}
.suggestions-form-owner .control-label {
  font-weight: bold;
  margin-bottom: 5px;
}
.suggestions-form-owner .form-group:last-child .control-label {
  display: block;
}
.suggestions-form-owner:only-child .form-group:last-child {
  display: none;
}
