.suggestions-filter select {
  max-width: 200px;
}
.suggestions-filter .form-control[type="date"] {
  width: 10em;
}
.suggestions-list-popover ul {
  padding: 0 0 0 14px;
  list-style-position: outside;
}
.suggestions-list-popover-opinions {
  max-width: 55%;
  z-index: 1039;
}
.suggestions-list-popover-opinions .panel {
  margin-bottom: 0!important;
}
.suggestions-list-popover-opinions > .popover-content {
  padding: 0;
}
.suggestions-list-popover-opinions .panel-heading {
  display: none;
}
.suggestions-list-coordSections {
  display: flex;
  overflow: auto;
}
.suggestions-list-coordSections .suggestions-details-coordSection {
  padding: 10px;
  font-size: 12px;
}
.suggestions-list-coordSections .suggestions-details-coordSection:last-child {
  border-right: none;
}
.suggestions-list td[data-id="opinions"] {
  cursor: help;
}
.suggestions-list td[data-id="opinions"]:empty {
  cursor: default;
}
.suggestions-list td[data-id="opinions"] > span {
  margin-left: 4px;
  margin-right: 4px;
}
.suggestions-list td[data-id="status"] {
  min-width: 105px;
}
