<div class="reports-drillingReportPage">
  <div id="<%- idPrefix %>-header" class="reports-drillingHeader-container"></div>
  <div id="<%- idPrefix %>-filter" class="filter-container"></div>
  <div id="<%- idPrefix %>-displayOptions" class="filter-container reports-displayOptions-container hidden"></div>
  <div id="<%- idPrefix %>-charts" class="reports-drillingCharts-container"></div>
</div>
