<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-cogs"></i><span><%- t('reports', '9:actions:dictionaries') %></span> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu pull-right">
    <li><a href="#cags"><%- t('reports', '9:actions:cags') %></a></li>
    <li><a href="#cagGroups"><%- t('reports', '9:actions:groups') %></a></li>
    <li><a href="#cagPlans"><i class="fa fa-upload"></i><span><%- t('reports', '9:actions:plans') %></span></a></li>
  </ul>
</div>
