<div class="reports-7">
  <div class="filter-container"></div>
  <div class="reports-7-container">
    <div class="row">
      <div class="col-lg-4 reports-7-clip-container"></div>
      <div class="col-lg-8 reports-7-downtimes-container"></div>
    </div>
    <div class="row">
      <div class="col-lg-6 reports-7-downtimeTimes-container"></div>
      <div class="col-lg-6 reports-7-downtimeCounts-container"></div>
    </div>
  </div>
</div>
