<div class="panel panel-primary reports-panel">
  <div class="panel-heading">
    ML
  </div>
  <div class="reports-panel-body">
    <div class="reports-loading-spinner"><i class="fa fa-spinner fa-spin"></i></div>
    <div class="reports-1-coeffs-container"></div>
    <div class="reports-1-downtimesByAor-container"></div>
    <div class="reports-1-downtimesByReason-container"></div>
  </div>
</div>
