<div class="reports-drillingChartsPage">
  <div class="reports-drillingHeader-container"></div>
  <div class="filter-container"></div>
  <div class="options-container hidden"></div>
  <div class="reports-drillingCharts-container"></div>
</div>
