<div>
  <a class="reports-8-warning message message-inline message-warning" href="http://miracle.systems/p/WMES_LEAN">
    Uwaga! Wersja testowa raportu. Niektóre wskaźniki mogą mieć nieprawidłowe wartości. Aby obliczyć sumę DIR/IND kliknij na komórkę w kolumnie DIR/IND. Aby wybrać wartości do pokazania na wykresach, kliknij na komórkę w kolumnach Plan lub Real.
  </a>
  <div class="reports-8">
    <div class="filter-container"></div>
    <div class="reports-8-tableAndChart">
      <div class="reports-8-dirIndirTable-container"></div>
      <div class="reports-8-dirIndirChart-container">.reports-8-dirIndirChart-container</div>
    </div>
    <div class="reports-8-tableAndChart">
      <div class="reports-8-timesTable-container"></div>
      <div class="reports-8-timesChart-container">.reports-8-timesChart-container</div>
    </div>
  </div>
</div>
