<div class="reports-1-charts">
    <div class="reports-1-coeffs-container"></div>
    <div class="reports-1-downtimesByAor-container"></div>
    <div class="reports-1-downtimesByReason-container"></div>
</div>
