<div class="reports-6-page">
  <div class="filter-container"></div>
  <div class="reports-6-container">
    <div class="reports-6-column" data-parent="absence">
      <div class="reports-6-effAndFte-container reports-6-totalAndAbsence-total is-clickable"></div>
      <div class="reports-6-category-container reports-6-category-totalAbsence"></div>
    </div>
    <div class="reports-6-column" data-child="absence">
      <div class="reports-6-effAndFte-container reports-6-totalAndAbsence-comp"></div>
      <div class="reports-6-category-container reports-6-category-compAbsence"></div>
    </div>
    <div class="reports-6-column" data-child="absence">
      <div class="reports-6-effAndFte-container reports-6-totalAndAbsence-finGoods"></div>
      <div class="reports-6-category-container reports-6-category-finGoodsAbsence"></div>
    </div>
    <div class="reports-6-column" data-parent="exTransactions">
      <div class="reports-6-effAndFte-container reports-6-effAndFte-exTransactions is-clickable"></div>
      <div class="reports-6-category-container reports-6-category-exTransactions"></div>
    </div>
    <div class="reports-6-column" data-child="exTransactions">
      <div class="reports-6-effAndFte-container reports-6-effAndFte-inComp"></div>
    </div>
    <div class="reports-6-column" data-child="exTransactions">
      <div class="reports-6-effAndFte-container reports-6-effAndFte-coopComp"></div>
      <div class="reports-6-category-container reports-6-category-coopComp"></div>
    </div>
    <div class="reports-6-column" data-child="exTransactions">
      <div class="reports-6-effAndFte-container reports-6-effAndFte-exStorage"></div>
      <div class="reports-6-category-container reports-6-category-exStorage"></div>
    </div>
    <div class="reports-6-column">
      <div class="reports-6-effAndFte-container reports-6-effAndFte-fifo"></div>
      <div class="reports-6-category-container reports-6-category-fifo"></div>
    </div>
    <div class="reports-6-column">
      <div class="reports-6-effAndFte-container reports-6-effAndFte-staging"></div>
      <div class="reports-6-effAndFte-container reports-6-effAndFte-paint"></div>
    </div>
    <div class="reports-6-column">
      <div class="reports-6-effAndFte-container reports-6-effAndFte-sm"></div>
      <div class="reports-6-effAndFte-container reports-6-effAndFte-fixBin"></div>
    </div>
    <div class="reports-6-column">
      <div class="reports-6-effAndFte-container reports-6-effAndFte-finGoodsIn"></div>
      <div class="reports-6-effAndFte-container reports-6-effAndFte-finGoodsOut"></div>
    </div>
  </div>
</div>
