<div class="reports-3">
  <div class="filter-container"></div>
  <div class="reports-3-container">
    <div class="reports-3-tableSummary-container"></div>
    <div class="reports-3-charts">
      <div class="reports-3-oeeChart-container"></div>
      <div class="reports-3-downtimeChart-container"></div>
    </div>
  </div>
</div>
