<form class="settings reports-settings">
  <div class="list-group">
    <% [
      ['quantityDone', [1]],
      ['manHours', [1]],
      ['efficiency', [1]],
      ['productivity', [1, 2]],
      ['productivityNoWh', [1, 2]],
      ['scheduledDowntime', [1]],
      ['unscheduledDowntime', [1]],
      ['aors', [1]],
      ['reasons', [1]],
      ['clip', [2]],
      ['dirIndir', [5]],
      ['effIneff', [5]],
      ['hr', [5]],
      ['wh', [6]],
      ['downtimesInAors', [7]],
      ['lean', [8]],
      ['rearm', ['REARM']]
    ].forEach(function(tab) { %>
    <a class="list-group-item" href="#reports;settings?tab=<%- tab[0] %>" data-tab="<%- tab[0] %>" data-privileges="<%- tab[1].join(',') %>"><%- t('settings:tab:' + tab[0]) %></a>
    <% }) %>
  </div>
  <div class="panel panel-primary">
    <% include settings/quantityDone.ejs %>
    <% include settings/manHours.ejs %>
    <% include settings/efficiency.ejs %>
    <% include settings/productivity.ejs %>
    <% include settings/productivityNoWh.ejs %>
    <% include settings/scheduledDowntime.ejs %>
    <% include settings/unscheduledDowntime.ejs %>
    <% include settings/aors.ejs %>
    <% include settings/reasons.ejs %>
    <% include settings/clip.ejs %>
    <% include settings/dirIndir.ejs %>
    <% include settings/effIneff.ejs %>
    <% include settings/hr.ejs %>
    <% include settings/wh.ejs %>
    <% include settings/downtimesInAors.ejs %>
    <% include settings/lean.ejs %>
    <% include settings/rearm.ejs %>
  </div>
</form>
