<form class="reports-settings">
  <div class="list-group">
    <% [
      'quantityDone',
      'efficiency',
      'productivity',
      'productivityNoWh',
      'scheduledDowntime',
      'unscheduledDowntime',
      'aors',
      'reasons',
      'clip',
      'dirIndir',
      'effIneff',
      'hr',
      'wh'
    ].forEach(function(tab) { %>
    <a class="list-group-item" href="#reports;settings?tab=<%- tab %>" data-tab="<%- tab %>"><%- t('reports', 'settings:tab:' + tab) %></a>
    <% }) %>
  </div>
  <div class="panel panel-primary">
    <% include settings/quantityDone.ejs %>
    <% include settings/efficiency.ejs %>
    <% include settings/productivity.ejs %>
    <% include settings/productivityNoWh.ejs %>
    <% include settings/scheduledDowntime.ejs %>
    <% include settings/unscheduledDowntime.ejs %>
    <% include settings/aors.ejs %>
    <% include settings/reasons.ejs %>
    <% include settings/clip.ejs %>
    <% include settings/dirIndir.ejs %>
    <% include settings/effIneff.ejs %>
    <% include settings/hr.ejs %>
    <% include settings/wh.ejs %>
  </div>
</form>
