<div class="panel panel-primary">
  <div class="panel-heading"><%- panelTitle %></div>
  <div class="panel-details">
    <%- helpers.props(model, [
      'code',
      'family',
      'nc12',
      'name'
    ]) %>
  </div>
</div>
