.production-controls {
  position: fixed;
  left: 5px;
  top: 5px;
  text-align: center;
  font-size: 20px;
}
.production-controls-group > .fa {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
}
.production-controls-group > a.fa {
  cursor: pointer;
}
.production.is-locked .production-controls-lock,
.production.is-unlocked .production-controls-unlock {
  display: none;
}
.production-controls-sync.is-syncing {
  color: #0af!important;
}
.is-embedded .production-controls {
  top: auto;
  left: auto;
  right: 175px;
  bottom: -1px;
  display: flex;
  z-index: 4;
}
.is-embedded .production-controls-group {
  display: flex;
  box-shadow: 0 3px 6px #666;
}
.is-embedded .production-controls-group + .production-controls-group {
  margin-top: 0;
  margin-left: 15px;
}
.is-embedded .production-controls-group > .fa {
  margin-right: -1px;
  margin-bottom: 0;
  padding: 12px 12px;
  width: 80px;
  height: 50px;
  font-size: 24px;
  background: #fff;
  color: #333;
  border: 1px solid #ccc;
}
.is-embedded .production-controls-group > a.fa:hover {
  background: #e6e6e6;
  border-color: #adadad;
}
.production-componentLabels-form .btn-group-vertical {
  max-height: 200px;
}
.production-componentLabels-form .btn-group-vertical em {
  font-style: normal;
  font-weight: bold;
  margin-right: 15px;
  font-family: Consolas, "Lucida Console", Monaco, monospace;
}
.production-componentLabels-form .btn-group-vertical span {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 390px;
  vertical-align: middle;
}
@media (max-width: 1680px) {
  .production-controls {
    top: 19px;
  }
  .production-controls-group > .fa {
    margin-bottom: 0;
  }
}
@media (max-width: 1440px) {
  .production-controls-group > .fa {
    margin-bottom: 6px;
  }
}
.is-embedded.modal-open .embedded-actions.embedded-right {
  right: 17px;
}
.is-embedded.modal-open .production-controls {
  margin-right: 17px;
}
