.production-execution {
  margin-top: 30px;
  display: flex;
}
.production-execution-popover {
  max-width: 400px;
}
.production-execution-popover th {
  white-space: nowrap;
  padding-right: 10px;
}
.production-execution-popover .popover-content {
  padding: 5px 10px;
}
.production-execution-popover th,
.production-execution-popover td {
  padding: 2px 5px 1px 0;
  vertical-align: middle;
  border-top: 1px solid #eee;
}
.production-execution-popover tr:first-child th,
.production-execution-popover tr:first-child td {
  padding-top: 0;
  border-top: 0;
}
.production-execution-popover th {
  white-space: nowrap;
}
.production-execution-popover-value {
  display: block;
  max-width: 225px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.production-execution-labels .production-execution-label {
  line-height: 46px!important;
  font-size: 24px;
  text-shadow: 1px 1px 3px #ddd;
  margin-right: 15px;
  text-align: right;
}
.production-execution-timelines {
  flex: 1 1 auto;
}
.production-execution-done {
  margin-top: -1px;
}
.production-timeline {
  position: relative;
  height: 48px;
  background: #555;
  border: 1px solid #000;
  border-right: none;
}
.production-timeline-item {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
}
.production-timeline-item[data-type="order"] {
  top: 0;
  height: 46px;
  border-right: 1px solid #000;
  background: #fff;
  font-size: 18px;
}
.production-timeline-item[data-takt-time="ok"] {
  background: #5CB85C;
  color: #fff;
}
.production-timeline-item[data-takt-time="nok"] {
  background: #F0AD4E;
  color: #fff;
}
.production-timeline-item[data-type="downtime"] {
  bottom: 0;
  background: #D9534F;
  color: #fff;
  font-size: 12px;
}
.production-timeline-item:hover {
  background: #ffffa6;
  color: #333;
}
.production-timeline-item-inner {
  pointer-events: none;
  padding: 4px;
}
.production-execution-legend {
  position: relative;
  display: flex;
  height: 7px;
  border: 1px solid #000;
  border-top: 0;
  border-left: 0;
  margin-bottom: 15px;
}
.production-execution-legend .production-execution-legend-h {
  flex: 0 0 auto;
  padding-top: 7px;
  width: 12.5%;
  text-align: center;
  font-size: 12px;
  line-height: 18px!important;
  border-left: 1px solid #000;
}
.production-execution-legend-time {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100px;
  text-align: center;
  font-size: 12px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 25%,
    rgba(255, 255, 255, 1) 75%,
    rgba(255, 255, 255, 0) 100%
  );
}
.production-execution-crosshair {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  pointer-events: none;
  background: #E00;
}
