@import "isa.css";
@import "taktTime.css";
@import "bomChecker.css";
@import "vkb.css";
@import "modal.css";
@import "execution.css";
@import "multiPersonnelPicker.css";
@import "message.css";
@import "unlock.css";
@import "controls.css";

.is-production {
  overflow: auto;
}
.is-production.is-embedded {
  margin-bottom: 75px;
}
.production {
  margin: 0 30px 30px;
}
.production * {
  line-height: 1!important;
}
.production-duplicate {
  margin: 15px;
}
.production-duplicate h1 {
  color: #e00;
}
.production-duplicate p {
  font-size: 1.2em;
}
.production .btn-warning,
.production-modal .btn-warning {
  background-color: #555;
  border-color: #000;
}
.production .btn-warning:hover,
.production-modal .btn-warning:hover {
  background-color: #333;
  border-color: #000;
}
.production-pageHeader,
.production-sectionHeader,
.production-subsectionHeader {
  margin: 30px 0 15px;
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.production-pageHeader {
  background: linear-gradient(to right, #fff, #f6f6f6, #fff);
  text-shadow: 1px 1px 3px #999;
}
.production.is-working .production-pageHeader {
  background: linear-gradient(to right, #fff, #5cb85c, #fff);
  border-color: #4cae4c;
  color: #fff;
}
.is-tt-nok .production.is-working .production-pageHeader {
  background: linear-gradient(to right, #fff, #f0ad4e, #fff);
  border-color: #eea236;
  color: #fff;
}
.production.is-idle .production-pageHeader {
  background: linear-gradient(to right, #fff, #666, #fff);
  border-color: #000;
  color: #fff;
}
.production.is-downtime .production-pageHeader {
  background: linear-gradient(to right, #fff, #d9534f, #fff);
  border-color: #d43f3a;
  color: #fff;
}
.production-sectionHeader {
  background: linear-gradient(to right, #fff, #f6f6f6, #fff);
  text-shadow: 1px 1px 3px #ddd;
}
.production-subsectionHeader {
  border: 0;
  margin: 0;
  text-shadow: 1px 1px 3px #ddd;
}
.production-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}
.production-action {
  flex: 1 1 auto;
  margin: 0 15px;
  padding: 15px;
  font-size: 28px;
  text-transform: uppercase;
}
.production-action:first-child {
  margin-left: 0;
}
.production-action:last-child {
  margin-right: 0;
}
.production .table,
.production .table-responsive {
  margin-bottom: 0;
  background: #fff;
}
.production-header {
  text-align: center;
}
.production-properties {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.production-property {
  margin: 15px 0 auto;
  padding: 0 15px;
  text-align: left;
}
.production-property + .production-property {
  border-left: 1px dotted #ddd;
}
.is-tt-ok .production-property + .production-property,
.is-tt-nok .production-property + .production-property {
  border-left: 1px solid #ccc;
}
.production-property-name {
  font-size: 18px;
  font-variant: small-caps;
  text-transform: lowercase;
}
.production-property-value {
  font-size: 24px;
}
.production.is-unlocked .is-editable .btn-link {
  color: #428bca;
}
.production.is-unlocked .is-editable .btn-link:hover {
  color: #2a6496;
  cursor: pointer;
}
.production .btn-link {
  padding: 0;
  text-decoration: none;
}
.production.is-mechOrder .production-property-orderNo {
  display: none;
}
.production.is-mechOrder .production-property-nc12 {
  border-left: 0;
}
.production-property-createdAt,
.production-property-quantityDone,
.production-property-workerCount {
  display: none;
}
.production-property + .production-property-workerCountSap {
  border-left: 0;
}
.production-data.has-order .production-property-workerCountSap {
  border-left: 1px dotted #DDD;
}
.production-data.has-order .production-property-createdAt,
.production-data.has-order .production-property-quantityDone,
.production-data.has-order .production-property-workerCount {
  display: block;
}
.production-quantities-actual .btn-link {
  padding: 0;
  border: 0;
  vertical-align: top;
}
.production-newOrderPickerDialog .modal-header {
  background-color: #E8F6FF;
  border-bottom: 1px solid #B8E2FB;
}
.production-newOrderPickerDialog.is-replacing .modal-header {
  background-color: #F9EDBE;
  border-bottom-color: #F0C36D;
}
.production-newOrderPickerDialog.is-correcting .modal-header {
  background-color: #fff;
  border-bottom-color: #E5E5E5;
}
.production-newOrderPickerDialog .modal-body .modal-header {
  border-top: 1px solid #B8E2FB;
  border-bottom: 1px solid #B8E2FB;
  background-color: #E8F6FF;
}
.production-newOrderPicker > .message {
  margin-top: 0;
  padding-top: 15px;
  padding-bottom: 0;
  background-color: transparent;
  border: 0;
}
.production-question > p {
  margin: 15px;
}
.production-dropdown {
  margin-top: 0;
}
.production-property-quantityDone .production-property-value,
.production-property-workerCount .production-property-value {
  position: relative;
}
.production-property-quantityDone .form-control,
.production-property-workerCount .form-control {
  position: absolute;
  top: 0;
  left: 0;
}
.production-downtimePicker-now {
  min-width: 100px;
}
.production-downtimes .list-item.warning {
  cursor: pointer;
}
.production-downtimes-popover {
  white-space: pre-line;
  text-align: justify;
  min-width: 350px;
}
.production-ft {
  display: flex;
}
.production-ft .production-sectionHeader {
  margin-bottom: 0;
  border-bottom: 0;
}
.production-downtimes {
  flex: 1 1 auto;
  margin-right: 30px;
}
.production-quantities {
  flex: 0 0 auto;
  width: 300px;
  margin-right: 30px;
}
.production-quantities-actual {
  position: relative;
}
.production-quantities-editor {
  position: absolute;
  top: -4px;
  left: -1px;
  width: 75px;
  text-align: right;
  z-index: 10;
}
.production-spigotChecker-modal .cancel {
  display: none;
}
.production-currentDowntime {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 15px;
  min-height: 226px;
  z-index: 3;
  width: 100%;
  color: #fff;
  font-size: 36px;
  text-align: center;
  text-shadow: 1px 1px 1px #333;
  box-shadow: 0 .5em 1em rgba(0, 0, 0, .5);
  background: #d9534f;
  cursor: pointer;
}
.production-currentDowntime.is-incoming {
  background: #eea236;
  cursor: default;
}
.production-currentDowntime-message {
  padding: 15px;
}
.production-currentDowntime-aor {
  margin: 15px 0;
  font-size: 28px;
}
.production-currentDowntime-duration {
  margin: 15px 0;
}

.production-select2 > h3 {
  font-size: 1em;
  font-weight: bold;
  margin: 0 0 2px 0;
}
.production-select2 > p {
  font-size: .8em;
  margin: 0;
}

.production-form-btn-group > label {
  margin-left: 15px;
}
.production-form-btn-group > .btn-group-vertical {
  display: block;
  margin: 0 15px 15px 15px;
  border: 1px solid #ccc;
  overflow: auto;
  max-height: 310px;
}
.production-form-btn-group > .btn-group-vertical > p {
  padding: 6px 12px;
}
.production-form-btn-group > .btn-group-vertical > .btn-default {
  text-align: left;
  border-left: 0;
  border-right: 0;
}
.production-form-btn-group > .btn-group-vertical > .btn-default:first-child {
  border-top: 0;
}
.production-form-btn-group > .btn-group-vertical > .btn-default:last-child {
  border-bottom: 0;
}
.production-form-btn-group > .btn-group-vertical > .btn-default > strong {
  display: inline-block;
  min-width: 45px;
}
.production-form-btn-group-item {
  display: flex;
}
.production-form-btn-group-item > .btn {
  border-top: 0;
  border-left: 0;
}
.production-form-btn-group-item:last-child > .btn {
  border-bottom: 0;
}
.production-form-btn-group-item > .btn:first-child {
  flex: 1 1 auto;
  text-align: left;
}
.production-form-btn-group-item > .btn:last-child {
  flex: 0;
  margin-left: auto;
  border-right: 0;
}

.production-action {
  height: 60px;
}
.production-nextOrder {
  flex: 0 0 auto;
  margin-left: -75px;
  width: 60px;
  padding-left: 18px;
}

.production-orderQueue .form-group + .message {
  margin-bottom: 10px;
}
.production-orderQueue-no {
  padding: 0 10px 0 15px!important;
  border-right: 0!important;
  font-size: 24px;
}
.production-orderQueue-order {
  border-left: 0!important;
}

.production-quantityEditor .btn-group {
  display: flex;
}
.production-quantityEditor .btn-group > .btn {
  position: static;
  float: none;
  flex: 1 1 auto;
}

.is-embedded .modal-body .btn-lg {
  padding: 0 24px;
  line-height: 55px;
}
.is-production .form-control.is-embedded {
  cursor: default;
  background: #fff!important;
  height: auto;
  padding: 4px 12px;
  line-height: 1;
  font-family: Consolas, "Lucida Console", Monaco, monospace;
  font-size: 40px;
  text-transform: uppercase;
}
.is-production .form-control.is-vkb-focused {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.production-quantityEditor input.form-control.is-embedded,
.production-newOrderPicker input.form-control.is-embedded {
  padding: 3px 6px 4px 6px;
}
.production-newOrderPicker .btn-group-vertical {
  max-height: 200px;
}
.production-newOrderPicker .btn-group-vertical em {
  font-style: normal;
  font-weight: bold;
  margin-right: 15px;
  font-family: Consolas, "Lucida Console", Monaco, monospace;
}
.production-spigotChecker .is-embedded {
  padding: 10px 12px;
  font-size: 32px;
  height: auto;
}
.production-spigot-nc12.is-embedded::-webkit-input-placeholder {
  font-family: Arial, "Helvetic Neue", Helvetica, sans-serif;
  font-size: 28px;
  text-transform: none;
}
.production-downtimePicker .btn-block {
  text-align: left;
}
.production-downtimePicker-btn-group {
  display: flex;
}
.production-downtimePicker-btn-group > .btn:first-child {
  flex: 1 1 auto;
}
.production-downtimePicker-btn-group > .btn:first-child > span {
  display: block;
  max-width: 410px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.production-downtimePicker-btn-group > .btn:last-child {
  margin-top: 0;
  flex: 0 0 auto;
  width: 100px;
  height: 57px;
  text-align: center;
  border-left: 0;
}
.production-downtimePicker .production-form-btn-group > label {
  margin-left: 0;
}
.production-downtimePicker .btn-group-vertical {
  margin: 0;
  height: 360px;
  max-height: none;
  overflow-y: auto;
}
.production-downtimePicker .btn-group-vertical > .btn {
  white-space: normal;
}

.production-newOrderPicker-row {
  display: flex;
}
.production-newOrderPicker-row > .form-group:first-child {
  margin-top: 0;
  margin-right: 0;
}
.production-newOrderPicker-row > .form-group:last-child {
  width: 200px;
}

.form-control.is-embedded[data-vkb~="alpha"]::-webkit-input-placeholder {
  font-family: Arial, "Helvetic Neue", Helvetica, sans-serif;
  font-size: 28px;
  text-transform: none;
}

@media (max-width: 1680px) {
  .production {
    margin: 0 15px;
  }
  .production-controls {
    top: 19px;
  }
  .production-controls > .fa {
    margin-bottom: 0;
  }
  .production-pageHeader,
  .production-sectionHeader,
  .production-subsectionHeader {
    margin-top: 15px;
    margin-bottom: 0;
  }
  .production-actions {
    margin: 15px 0 0 0;
  }
  .production-action {
    margin: 0 7px;
  }
  .production-nextOrder {
    margin-left: -67px;
  }
  .production-subsectionHeader {
    margin-top: 0;
  }
  .production-property-value {
    font-size: 20px;
  }
  .production-ft {
    padding: 0 0 15px 0;
  }
  .production-taktTime,
  .production-downtimes,
  .production-quantities {
    margin-right: 15px;
  }
  .production-downtimes .list-item > td:nth-child(2) {
    width: auto;
    white-space: normal;
  }
  .production-execution {
    margin-top: 15px;
  }
}
@media (max-width: 1440px) {
  .production-pageHeader {
    font-size: 30px;
    padding: 10px 0;
  }
  .production-sectionHeader {
    font-size: 24px;
    padding: 10px 0;
  }
  .production-subsectionHeader {
    font-size: 18px;
    padding: 10px 0;
  }
  .production-property-value {
    font-size: 18px;
  }
  .production-controls > .fa {
    margin-bottom: 6px;
  }
  .production-currentDowntime {
    font-size: 32px;
  }
}
@media (max-width: 1300px) {
  .production-actions {
    display: block;
  }
  .production-action {
    width: 100%;
    margin: 0;
  }
  .production-ft {
    flex-wrap: wrap;
  }
  .production-downtimes {
    margin-right: 0;
    order: 2;
    width: 100%;
  }
  .production-quantities {
    flex-grow: 1;
  }
  .production-currentDowntime {
    font-size: 36px;
  }
}
@media (max-width: 880px) {
  .production-taktTime,
  .production-quantities,
  .production-isa {
    width: 100%;
  }
  .production-currentDowntime {
    font-size: 32px;
  }
}
@media (min-width: 880px) {
  .production-orderQueueDialog .modal-dialog {
    width: 700px;
  }
  .production-orderQueue .actions .btn {
    min-width: 60px;
  }
}
