.production-multiPersonnelPicker-picker {
  display: none;
}
.production-multiPersonnelPicker-picked {
  margin-top: 15px;
}
.is-picking .production-multiPersonnelPicker-picked {
  display: none;
}
.is-picking .production-multiPersonnelPicker-picker {
  display: block;
}
.production-multiPersonnelPicker .production-form-btn-group > .btn-group-vertical {
  max-height: 407px;
}
