.production-vkb {
  position: fixed;
  left: 50%;
  bottom: 30px;
  z-index: 1500;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.production-vkb.is-numeric {
  margin-left: -135px;
}
.production-vkb.is-alpha,
.production-vkb.is-alpha.is-numeric {
  margin-left: -450px;
}
.production-vkb.is-repositioned {
  margin-left: 0!important;
  left: auto;
  right: 30px;
}
.production-vkb-row {
  display: flex;
  justify-content: center;
  margin-bottom: -1px;
}
.production-vkb-row > .btn {
  font-size: 32px;
  width: 90px;
  height: 70px;
  font-family: Consolas, "Lucida Console", Monaco, monospace;
  border-bottom: 0;
  border-right: 0;
}
.production-vkb-row > .btn:first-child {
  margin-left: 0;
}
.production-vkb-row > .btn[data-key="SPACE"] {
  width: 20%;
}
.production-vkb-row > .btn:focus {
  outline: 0;
}
.production-vkb-row > .btn[disabled] {
  opacity: 1;
  background: #eee;
}
.production-vkb-row > .btn[data-key="EXTENDED"] {
  font-family: inherit;
  font-size: 28px;
}
